
<%= form_for(
      story,
      url: story_path(story.id),
      authenticity_token: true,  # https://github.com/rails/rails/issues/22807
      html: {
        id: 'story-content-form',
        method: 'PUT',
        remote: true,
        class: 'directUpload',
        data: {
          type: 'script',
          'form-data' => (@s3_direct_post.fields),
          url: @s3_direct_post.url,
          host: URI.parse(@s3_direct_post.url).host
        }
      }
    ) do |story_form| %>

  <%= hidden_field_tag('story[form]', 'content') %>

  <!-- a buffer input for uploading story images to AWS; see the summernote onImageUpload callback -->
  <input type="file" id="narrative__img-upload" style="display: none">

  <div class="row">

    <div class="col-lg-6">

      <div class="form-group">
        <%= story_form.label(:quote, 'Customer Quote') %>
        <%= story_form.text_area(:quote, rows: 6, class: 'form-control', placeholder: 'Add a quote from a happy customer') %>
      </div>

      <div class="form-group">
        <%= story_form.label(:quote_attr_name, 'Customer Name') %>
        <%= story_form.text_field(:quote_attr_name, class: 'form-control') %>
      </div>

      <div class="form-group">
        <%= story_form.label(:quote_attr_title, 'Customer Job Title') %>
        <%= story_form.text_field(:quote_attr_title, class: 'form-control') %>
      </div>

    </div>

    <div class="col-lg-6">

      <%= render 'stories/edit/content/video', { story: story, story_form: story_form } %>

    </div>

  </div>

  <div class="row">

    <div class="col-sm-6 form-group summary has-feedback">

      <label for="story_summary">Summary</label>
      <%= story_form.text_area(:summary, class: 'form-control', rows: 8,
              placeholder: 'Provide a brief story summary that will appear in a preview window along with the Customer Quote',
              data: { 'summary-range': '50-150' }) %>

      <!-- bootstrap validator -->
<!--       <div style='height:20px' class="help-block with-errors">
        Minimum 50 words, Maximum 150 words
      </div> -->

    </div>

    <div class="col-sm-6 success-results">

      <%= render 'stories/edit/content/results', { story: story, story_form: story_form } %>

    </div>

  </div>

  <% if story.contributions.submissions.present? %>
    <%#= render('stories/edit/content/contributions',
            { contributions: story.contributions }) %>
  <% end %>

  <div class="form-group narrative" style="width: 624px">

    <%= story_form.label(:narrative, 'Narrative') %>

    <%= story_form.text_area(:narrative, id: 'narrative-editor',
            data: { provider: 'summernote' }) %>
  </div>



<% end %>

<div id='story-content-submit' class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3 layout-sidebar"></div>
    <div class="col-sm-8 col-md-9 layout-main">
      <div class="tab-content stacked-content">
        <p class="pull-left"><%= truncate(story.title, length: 80, separator: ' ') %></p>
      <!--   <button type="reset" form="story-content-form" class="btn btn-default">
          Clear changes
        </button> -->
        <button type="submit" form="story-content-form" class="btn btn-success text-center" style='width: 114px'>
          <span>Save changes</span>
          <i class='fa fa-spin fa-circle-o-notch' style='display:none'></i>
          <i class='fa fa-check' style='display:none'></i>
        </button>

      </div>
    </div>
  </div>
</div>


