
<%= form_for(story, url: story_path(story.id),
      html: { id: 'story-content-form', method: :put, remote: true }) do |story_form| %>

  <%= hidden_field_tag('story[form]', 'content') %>

  <div class="row">

    <div class="col-lg-6" style='margin-bottom:10px'>

      <div class="form-group" style='margin-bottom:23px'>
        <%= story_form.label(:quote, 'Customer Testimonial') %>
        <%= story_form.text_area(:quote, rows: 6, class: 'form-control', placeholder: 'Add a quote from a happy customer...') %>
      </div>

      <div class="form-group" style='margin-bottom:23px'>
        <%= story_form.label(:quote_attr_name, 'Customer Name') %>
        <%= story_form.text_field(:quote_attr_name, class: 'form-control') %>
      </div>

      <div class="form-group">
        <%= story_form.label(:quote_attr_title, 'Customer Position') %>
        <%= story_form.text_field(:quote_attr_title, class: 'form-control') %>
      </div>

    </div>

    <div class="col-lg-6">

      <%= render 'stories/edit/content/video', { story: story, story_form: story_form } %>

    </div>

  </div>

  <div class="row">

    <div class="col-sm-6 form-group has-feedback" style='margin-bottom: 15px'>

      <label for="story_summary">Summary</label>
      <%= story_form.text_area(:summary, class: 'form-control', rows: 10,
              placeholder: 'Provide a brief story summary that will appear in a preview window along with the Customer Testimonial',
              data: { 'summary-range': '50-150' }) %>

      <!-- bootstrap validator -->
      <div style='height:20px' class="help-block with-errors">
        Minimum 50 words, Maximum 150 words
      </div>

    </div>

    <div class="col-sm-6 success-results">

      <%= render 'stories/edit/content/results', { story: story, story_form: story_form } %>

    </div>

  </div>

  <div class="row">

    <div class="col-lg-8">

      <%= render('stories/edit/content/contributions', { contributions: story.contributions }) %>

      <div class="form-group">

        <%= story_form.label(:content, 'Main Content') %>

        <label class='contributions-collapse pull-right'>
          <a href="#contributions-carousel" data-toggle='collapse'>
            <span>Show Contributions</span><span style='display:none'>Hide Contributions</span>
          </a>&nbsp;&nbsp;
          <i class='pull-right fa fa-info-circle' data-toggle='tooltip' data-container='body' title='Contributions are not published. They are provided here for your reference.'></i>
        </label>

        <%= story_form.text_area(:content, id: 'story-content-editor',
                data: { provider: 'summernote' }) %>
      </div>

    </div>

    <div class="col-lg-4 text-center">

      <hr>

      <button type="reset" class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-success text-center" style='width: 136px'>
        <span>Save all changes</span>
        <i class='fa fa-spinner fa-pulse' style='display:none'></i>
        <i class='fa fa-check' style='display:none'></i>
      </button>

    </div>

  </div>


<!--   <div class="row">
    <div class="col-sm-12 text-right">
      <div class="form-group">

        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-success text-center" style='width: 114px'>
          <span>Save changes</span>
          <i class='fa fa-spinner fa-pulse' style='display:none'></i>
          <i class='fa fa-check' style='display:none'></i>
        </button>

      </div>
    </div>
  </div> -->

<% end %>


