
<div id='contributions-carousel' class="carousel slide collapse" data-ride='carousel' data-interval='false'>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <% contributions.each_with_index do |contribution, index| %>

      <!-- the image is necessary; its size dicatates size of the carousel -->
      <div class="item <%= index == 0 ? 'active' : '' %>">
        <img src="//s3-us-west-1.amazonaws.com/csp-development-assets/carousel_background.png" alt="...">

        <div class="contributor-name">
          <p><%= contribution.contributor.full_name %></p>
        </div>

        <div class="contribution-content">
          <%= contribution.contribution.html_safe %>
        </div>

      </div>

    <% end %>

    <!-- Controls -->
    <a class="left carousel-control" href="#contributions-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#contributions-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>

    </a>

    <ol class="carousel-indicators">

      <% contributions.each_with_index do |contribution, index|%>

        <li data-target="#contributions-carousel" class="<%= index == 0 ? 'active' : '' %>" data-slide-to="<%= index %>"></li>

      <% end %>

    </ol>

  </div>
</div>