<!-- <span class="visible-xs">xs</span><span class="visible-sm">sm</span><span class='visible-md'>md</span><span class="visible-lg">lg</span> -->

<div class='row'>
  <div class="col-xs-12">
    <div class="accordion" id="accordion-guidance">
      <div class="accordion-group">

        <div class="accordion-heading">
          <p>Thank you for contributing to the success story. Here are some prompts to get you started:</p>
<!--           <a class="accordion-toggle" data-toggle="collapse"
             data-parent="#accordion-guidance"
             href="#collapse-guidance">helpful pointers</a></p> -->
        </div>

<!--         <div id="collapse-guidance" class="accordion-body collapse">
          <div class="accordion-inner"> -->
          <ul class=''>
            <% @prompts.each do |prompt|  %>
            <li>
              <i class="icon-li"></i>&nbsp;
              <%= prompt.description %>
            </li>
            <% end %>
          </ul>
    <!--       </div> <br>
        </div> -->

      </div>  <!-- accordian-group -->
    </div>  <!-- accordian -->
  </div>
</div>

<div class="row" style='margin-top: -20px'>
  <%= form_for contribution,
        url: "/contributions/#{contribution.access_token}",
        method: "put", html: { id: 'contribution-submission-form'} do |f| %>

    <%= hidden_field_tag "contribution[status]", response_type %>

    <div class="form-group col-xs-12">
      <%= f.text_area :contribution, rows:"11",
          class: 'form-control', autofocus: true,
          placeholder: 'Add your notes here ...' %>
    </div>

    <div class="form-group">

      <div class='col-xs-2 col-md-2 text-center'>
        <i class="fa fa-2x fa-linkedin-square" style="margin-top:-3px"></i>
      </div>
      <div class='col-xs-10 col-md-10 checkbox' style='margin-top: 0'>
        <%= f.check_box :linkedin, style:'margin-top:6px;' %>
        Check here if you want your LinkedIn profile included in the success story. <br style='line-height: 25px'>Not sure? We'll notify you at time of publishing and you can add or remove your profile then.
      </div>

    </div>

    <div class="form-group">
      <div class='col-xs-8 col-xs-offset-2'>
        <%= f.submit 'Submit', class: 'btn btn-primary btn-block' %> <br>
      </div>
    </div>

    <div class='col-xs-12 text-center'>
      <p class='tos'>By submitting you are agreeing to the <%= link_to 'Terms of Service', "#{ request.protocol + request.domain + request.port_string + '/tos' }", target: '_blank' %></p>
    </div>

  <% end %>
</div> <br>

<p>Your story curator</p>
<!-- http://www.no-margin-for-errors.com/blog/2009/12/10/css-tip-float-an-image-without-text-wrapping-under-it/ -->
<div id='curator-info' class='col-xs-12 col-sm-7'>

  <img id='curator-photo' src="<%= contribution.success.curator.photo_url %>"
        alt="curator photo">
  <%= curator.full_name %> <br>
  <%= curator.title %> <br>
  <%= curator.company.name %> <br>
  <a href="mailto:<%= curator.email %>"><%= curator.email %></a> <br>
  <%= curator.phone %>
</div>
<div class="col-sm-5 hidden-xs text-right" style="position:relative; min-height:105px">
  <%= image_tag CS_POWERED_LOGO_URL, alt:'powered-by-csp', style:"position:absolute; right:0; bottom:0" %>
</div>
<div class="col-xs-12 visible-xs text-center">
  <br>
  <%= image_tag CS_POWERED_LOGO_URL, alt:'powered-by-csp' %>
</div>
<br>



