<p>Thank you for your feedback.</p>

<div class="row" style='margin-top: -20px'>
  <%= form_for contribution, url: "/contributions/#{contribution.access_token}",
          method: "put", html: { id: 'feedback-submission-form'} do |f| %>

    <%= hidden_field_tag "contribution[status]", response_type %>

    <div class="form-group col-xs-12">
      <%= f.text_area :feedback, rows:"11",
          class: 'form-control', autofocus: true,
          placeholder: 'Add your notes here ...' %>
    </div>

    <div class="form-group">
      <!-- <div class="row"> -->
        <div class='col-xs-8 col-xs-offset-2'>
          <%= f.submit 'Submit', class: 'btn btn-success btn-block' %> <br>
        </div>
      <!-- </div> -->
    </div>

    <div class='col-xs-12 text-center'>
      <p class='tos'>By submitting you are agreeing to the <%= link_to 'Terms of Service', "#{ request.protocol + request.domain + request.port_string + '/tos' }", target: '_blank' %></p>
    </div>

  <% end %>
</div> <br>

<p>Your story curator</p>
<!-- http://www.no-margin-for-errors.com/blog/2009/12/10/css-tip-float-an-image-without-text-wrapping-under-it/ -->
<div id='curator-info' class='col-xs-12 col-sm-7'>

  <img id='curator-photo' src="<%= contribution.success.curator.photo_url %>"
        alt="curator photo">
  <%= curator.full_name %> <br>
  <%= curator.title %> <br>
  <%= curator.company.name %> <br>
  <a href="mailto:<%= curator.email %>"><%= curator.email %></a> <br>
  <%= curator.phone %>
</div>
<div class="col-sm-5 hidden-xs text-right" style="position:relative; min-height:105px">
  <%= image_tag CS_POWERED_LOGO_URL, alt:'powered-by-csp', style:"position:absolute; right:0; bottom:0" %>
</div>
<div class="col-xs-12 visible-xs text-center">
  <br>
  <%= image_tag CS_POWERED_LOGO_URL, alt:'powered-by-csp' %>
</div>
<br>