
<% if type == 'pre-request' %>
  <%= link_to request_contribution_path(contribution),
        method: 'put', remote: true, tabindex:'-1' do %>
      <i class='glyphicon glyphicon-envelope bip-clickable'></i><% end %>
<% end %>

<% if ['contribution', 'feedback'].include? contribution.status %>
  <a class="accordion-toggle" data-toggle="collapse"
     data-parent="#<%= type %>-accordion-<%= index %>"
     href="#collapse-<%= type %>-submission-<%= index %>" tabindex='-1'>
    <span class='glyphicon glyphicon-comment bip-clickable'></span></a>
<% end %>

<a class="accordion-toggle" data-toggle="collapse"
   data-parent="#<%= type %>-accordion-<%= index %>"
   href="#collapse-<%= type %>-info-<%= index %>" tabindex='-1'>
  <span class='glyphicon glyphicon-info-sign bip-clickable'></span></a>

<a target="_blank" tabindex='-1' href="http://google.com/search?q=
  <%= contribution.role == 'customer' ?
      research_user_query_string(contribution.contributor,
        @story.success.customer.name) :
      research_user_query_string(contribution.contributor) %>">
  <span class='glyphicon glyphicon-user bip-clickable'></span></a>