
<% cache("#{company.subdomain}/curator-story-tile-#{story.id}-" +
         "memcache-iterator-#{company.story_tile_fragments_memcache_iterator}",
         skip_digest: true) do %>

  <a href="<%= story.published ? story.csp_story_path : edit_story_path(story.id) %>">

    <div class="grid-item thumbnail">

      <div class='thumbnail-view'>
        <p class="thumbnail-view-hover"><%= story.title %></p>
        <img src="<%= customer.logo_url || image_path('company-logo-missing.png') %>">
      </div>

      <div class="caption"
           style="background-color:<%= story.published ? company.header_color_1 : '#f5f5f5' %>;color:<%= story.published ? company.header_text_color : '' %>">
        <%= story.published ? 'Read story' : (story.logo_published ? 'Logo published' : 'Pending curation') %>
      </div>

    </div>

  </a>

<% end %>