
  <!-- <a href="<%#= story.published ? story.csp_story_path : edit_story_path(story.id) %>" -->


<% cache("#{company.subdomain}/curator-story-tile-#{story.id}-" +
         "memcache-iterator-#{company.story_tile_fragments_memcache_iterator}",
         skip_digest: true) do %>

<li class='grid-item'>

  <a href=""
     class="thumbnail curator <%= story.published ? 'published' : (story.logo_published ? 'logo-published' : 'pending-curation') %>"
     data-logosrc="<%= story.customer.logo_url %>"
     data-summary="<%= FFaker::Lorem.paragraphs %>"
     data-quote="<%= FFaker::Lorem.paragraph %>">

    <div class='thumbnail-view'>
      <!-- <p class="thumbnail-view-hover"><%#= story.title %></p> -->
      <img src="<%= customer.logo_url || image_path('company-logo-missing.png') %>">
    </div>

    <div class="caption"
         style="<%= story.published || story.logo_published ? 'background-color:' + company.header_color_1 + ';color:' + company.header_text_color : '' %>">
      <%= story.published ? 'Read story' : (story.logo_published ? 'Logo published' : 'Pending curation') %>
    </div>

  </a>



</li>


<% end %>