
  <!-- <a href="<%#= story.published ? story.csp_story_path : edit_story_path(story.id) %>" -->


<% cache("#{company.subdomain}/curator-story-tile-#{story.id}-" +
         "memcache-iterator-#{company.story_tile_fragments_memcache_iterator}",
         skip_digest: true) do %>

<li class='grid-item'>

  <a href=""
     class="thumbnail curator <%= story.published ? 'published' : (story.logo_published ? 'logo-published' : 'pending-curation') %>"
     data-title="<%= FFaker::Lorem.sentence %>"
     data-description="<%= FFaker::Lorem.paragraphs %>">

    <div class='thumbnail-view'>
      <!-- <p class="thumbnail-view-hover"><%#= story.title %></p> -->
      <img src="<%= customer.logo_url || image_path('company-logo-missing.png') %>">
    </div>

    <div class="caption"
         style="<%= story.published || story.logo_published ? 'background-color:' + company.header_color_1 + ';color:' + company.header_text_color : '' %>">
      <%= story.published ? 'Read story' : (story.logo_published ? 'Logo published' : 'Pending curation') %>
    </div>

  </a>

  <div class="og-expander">
    <div class="og-expander-inner">
      <span class="og-close"></span>
      <div class="og-fullimg">
        <div class="og-loading"></div>
        <img src="images/2.jpg" alt='image'>
      </div>
      <div class="og-details">
        <h3>Veggies sunt bona vobis</h3>
        <p>Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.</p>
        <a href="http://cargocollective.com/jaimemartinez/">Visit website</a>
      </div>
    </div>
  </div>

</li>


<% end %>