
<% cache("#{company.subdomain}/curator-story-tile-#{story.id}-" +
         "memcache-iterator-#{company.story_tile_fragments_memcache_iterator}",
         skip_digest: true) do %>

  <li class='grid-item' data-story-id="<%= story.id %>" data-story-slug="<%= story.slug %>">

    <a href="<%= story.published ? story.csp_story_path : (story.preview_published ? 'javascript:;' : edit_story_path(story.id)) %>"
       class="thumbnail curator <%= story.published ? 'published' : (story.preview_published ? 'preview-published' : (story.logo_published ? 'logo-published' : 'pending-curation')) %>"
       data-logosrc="<%= story.customer.logo_url %>"
       data-company-name="<%= story.customer.name.to_json %>"
       data-summary="<%= story.summary.try(:to_json) %>"
       data-quote="<%= story.quote.try(:to_json) %>"
       data-quote-attr-name="<%= story.quote_attr_name.try(:to_json) %>"
       data-quote-attr-title="<%= story.quote_attr_title.try(:to_json) %>"
       data-preview-contributor="<%= story.preview_contributor %>">

      <div class='thumbnail-view'>
        <% if story.published? %>
          <p class="thumbnail-view-hover"><%= story.title %></p>
        <% end %>
        <img src="<%= story.customer.logo_url || image_path('company-logo-missing.png') %>">
      </div>

      <div class="caption"
           style="<%= story.published || story.preview_published || story.logo_published ? 'background-color:' + company.header_color_1 + ';color:' + company.header_text_color : '' %>">
        <%= story.published ? 'Published' : (story.preview_published ? 'Preview published' : (story.logo_published ? 'Logo published' : 'Pending curation')) %>
      </div>

    </a>

  </li>

<% end %>