
<div id='stories-filters-xs' class="form-horizontal visible-xs-block">

  <% if category_select_options.length > 2 %>  <!-- includes 'All' (hence 2) -->

    <div class='form-group'>
      <%= label_tag :category_select, "Category", class: 'col-xs-3 control-label' %>
      <div class='col-xs-6'>
       <%= select_tag :category_select,
              options_for_select(category_select_options, category_pre_selected_options),
              { class: 'stories-filter form-control' } %>
      </div>
    </div>

  <% end %>

  <% if product_select_options.length > 2 %>

    <div class="form-group">
      <%= label_tag :product_select, "Product", class: 'col-xs-3 control-label' %>
      <div class="col-xs-6">
        <%= select_tag :product_select, options_for_select(product_select_options, product_pre_selected_options),
             { class: 'stories-filter form-control' } %>
      </div>
    </div>

  <% end %>

</div>

<div id="stories-filters"
    class="form-inline hidden-xs <%= company_curator?(company.id) ? 'curator' : 'reader' %>">

  <% if category_select_options.length > 2 %>  <!-- includes 'All' (hence 2) -->

    <div class='form-group'>
      <%= label_tag :category_select, "Category" %>&nbsp;
      <%= select_tag :category_select, options_for_select(category_select_options, category_pre_selected_options),
            { class: 'stories-filter form-control' } %>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;

  <% end %>

  <% if product_select_options.length > 2 %>

    <div class="form-group">
      <%= label_tag :product_select, "Product" %>&nbsp;
      <%= select_tag :product_select, options_for_select(product_select_options, product_pre_selected_options),
            { class: 'stories-filter form-control' } %>
    </div>

  <% end %>

</div>


