
<div id='learn-more' class='well' style='margin-top:15px!important;padding-left:30px'>
  <h3 class='text-center'>Learn More</h3>
  <ul class='list-unstyled' style='line-height:26px'>

    <% story.ctas.each do |cta| %>

      <li>
        <% if cta.type == 'CTALink' %>

          <a class="cta-link" href="<%= cta.link_url %>" target='_blank'>
            <%= cta.display_text %>
          </a>

        <% else %>

          <a href="#cta-form-<%= cta.id %>-modal"
             class="cta-form" data-toggle='modal'
             data-target="#cta-form-<%= cta.id %>-modal">
            <%= cta.display_text %>
          </a>

        <% end %>
       </li>

    <% end %>

  </ul>
</div>