
<!-- NOTE tabIndex = -1 must be removed for select2 to work in the modal -->
<div id="new-story-modal" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">New Customer Story</h4>
      </div>

      <div class="modal-body">

        <%= form_for(Story.new, url: company_stories_path(company),
              html: { id: 'new-story-form', remote: true,
                      class: 'form-horizontal' }) do |story_form| %>

          <div class='form-group required-input'>

            <label for="story_title" class='col-sm-3 control-label'>
              Story Title
            </label>
            <div class='col-sm-9'>
              <%= story_form.text_field(:title, class: 'form-control', autofocus: true) %>
            </div>

          </div>

        <%= story_form.fields_for(:success,
              story_form.object.build_success) do |success_form| %>

          <%= success_form.hidden_field(:id) %>

          <div class='form-group required-input'>

            <label class='col-sm-3 control-label' for="story_success_attributes_customer_id">
              Customer
            </label>
            <div class='col-md-9'>

              <%= success_form.collection_select(:customer_id,
                    company.customers.sort_by do |customer|
                      customer.name
                    end,
                    :id, :name, { include_blank: true },
                    { class: 'new-story customer form-control',
                      style: 'width:100%' }
                  ) %>

            </div>
          </div>

          <div class="form-group">

            <label class='col-sm-3 control-label' for='story_success_attributes_story_category_ids'>
              Category Tags
            </label>
            <div class="col-sm-9">
              <%= success_form.collection_select(:story_category_ids,
                    company.story_categories, :id, :name, {},
                    { class: 'story-tags form-control',
                      multiple: true, style: 'width:100%' }
                  ) %>
            </div>

          </div>

          <div class="form-group">

            <label class='col-sm-3 control-label' for='story_success_attributes_product_ids'>
              Product Tags
            </label>
            <div class="col-sm-9">
              <%= success_form.collection_select(:product_ids, company.products,
                    :id, :name, {},
                    { class: 'story-tags form-control',
                      multiple: true, style: 'width:100%' }
                  ) %>
            </div>

          </div>

        <% end %>  <!-- success form -->

        <% end %>  <!-- story form -->

      </div>

      <div class="modal-footer">

        <button class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>

        <button type='submit' form='new-story-form' class='fart btn btn-success'>
          Create Story
        </button>

      </div>

    </div>  <!-- /.modal-content -->
  </div>  <!-- /.modal-dialog -->
</div>  <!-- /.modal -->