<!-- new contributor modal -->
<!-- NOTE tabIndex = -1 must be removed for select2 to work in the modal -->
<div class="modal fade" id="new-contributor-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Contributor</h4>
      </div>
      <div class="modal-body">

        <!-- Note: all form inputs name-spaced under 'story' -->
        <%= form_tag story_contributions_path, class: 'form-horizontal', remote: true do %>

          <div class='form-group required-input'>
            <%= label_tag 'First name', nil, class: 'col-md-3 control-label' %>
            <div class='col-md-9'>
              <%= text_field_tag 'contributor[first_name]', nil, class: 'form-control' %>
            </div>
          </div>

          <div class='form-group required-input'>
            <%= label_tag 'Last name', nil, class: 'col-md-3 control-label' %>
            <div class='col-md-9'>
              <%= text_field_tag 'contributor[last_name]', nil, class: 'form-control' %>
            </div>
          </div>

          <div class='form-group required-input'>
            <%= label_tag 'Email', nil, class: 'col-md-3 control-label' %>
            <div class='col-md-9'>
              <%= email_field_tag 'contributor[email]', nil, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group required-input">
            <%= label_tag 'Role', nil, class: 'col-md-3 control-label' %>
            <div class='col-md-9'>
              <%= select_tag "contributor[role]",
                  options_for_select([ ['Customer', 'customer'],
                                       ['Partner', 'partner'],
                                       ['Sales', 'sales'] ]),
                  { class: 'new-contributor-role form-control',
                    style: 'width:100%' } %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag 'Referred by', nil, class: 'col-md-3 control-label' %>
            <div class='col-md-9'>
              <%= select_tag "contributor[referrer]",
                  options_for_select(@referrer_select),
                  { class: 'new-contributor-referrer form-control',
                    style: 'width:100%' } %>
            </div>
          </div>

      </div>
      <div class="modal-footer">

        <button class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>

          <%= submit_tag 'Add Contributor', class: 'btn btn-primary' %>

        <% end %>  <!-- form_for -->

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
