
<% cache("#{company.subdomain}/public-story-tile-#{story.id}-" +
         "memcache-iterator-#{company.story_tile_fragments_memcache_iterator}",
         skip_digest: true) do %>

  <a href="<%= story.published ? story.csp_story_path : 'javascript:;' %>"
     class="grid-item thumbnail public <%= story.published ? 'published' : 'logo-published' %>">

    <div class="thumbnail-view">
      <p class='thumbnail-view-hover'><%= story.title %></p>
      <img src="<%= customer.logo_url || image_path('company-logo-missing.png') %>">
    </div>

    <% if story.published? %>
      <div class="caption"
           style="<%= 'background-color:' + company.header_color_1 + ';color:' + company.header_text_color %>">
        Read story
      </div>
    <% end %>

  </a>

<% end %>