
<% cache("#{company.subdomain}/public-story-tile-#{story.id}-\
          memcache-iterator-#{company.story_tile_fragments_memcache_iterator}",
         skip_digest: true) do %>

  <a href="<%= story.published ? story.csp_story_path : 'javascript:;' %>"
     style="<%= story.published ? '' : 'pointer-events:none' %>">

    <div class="grid-item thumbnail <%= story.published ? '' : 'no-caption' %>">

      <img src="<%= customer.logo_url || image_path('company-logo-missing.png') %>">

      <% if story.logo_published? %>
        <div class="caption"
            style="<%= story.published ? 'background-color:' + company.nav_color_1 + ';color:' + company.nav_text_color : 'visibility:hidden' %>">
          <%= story.published ? 'Read story' : '' %>
        </div>
      <% end %>

    </div>

  </a>

<% end %>