
<% cache("#{company.subdomain}/public-story-tile-#{story.id}-" +
         "memcache-iterator-#{company.story_tile_fragments_memcache_iterator}",
         skip_digest: true) do %>

  <a href="<%= story.published ? story.csp_story_path : 'javascript:;' %>"
     class="grid-item thumbnail <%= story.published ? 'published' : 'logo-published' %>"
     style="<%= story.published ? '' : 'pointer-events:none' %>">

    <div class="thumbnail-view">
      <% if story.published? %>
        <p class='thumbnail-view-hover'><%= story.title %></p>
      <% end %>
      <img src="<%= customer.logo_url || image_path('company-logo-missing.png') %>">
    </div>

    <% if story.published? %>
      <div class="caption"
           style="<%= story.published ? 'background-color:' + company.header_color_1 + ';color:' + company.header_text_color : 'visibility:hidden' %>">
        <%= story.published ? 'Read story' : '' %>
      </div>
    <% end %>

  </a>

<% end %>