
<% cache("#{company.subdomain}/public-story-tile-#{story.id}-" +
         "memcache-iterator-#{company.story_tile_fragments_memcache_iterator}",
         skip_digest: true) do %>

  <li class="grid-item">

    <a href="<%= story.published ? story.csp_story_path : 'javascript:;' %>"
       class="thumbnail public <%= story.published ? 'published' : (story.preview_published ? 'preview-published' : 'logo-published') %>"
       data-logosrc="<%= story.customer.logo_url %>"
       data-summary="<%= FFaker::Lorem.paragraphs %>"
       data-quote="<%= FFaker::Lorem.paragraph %>"
       data-preview-contributor="<%= story.preview_contributor %>">

      <div class="thumbnail-view">
        <% if story.published? %>
          <p class='thumbnail-view-hover'><%= story.title %></p>
        <% end %>
        <img src="<%= story.customer.logo_url || image_path('company-logo-missing.png') %>">
      </div>

      <% if story.published? || story.preview_published? %>
        <div class="caption"
             style="<%= 'background-color:' + company.header_color_1 + ';color:' + company.header_text_color %>">
          <%= story.published ? 'Read story' : 'Read preview' %>
        </div>
      <% end %>

    </a>

  </li>

<% end %>