
<%= form_tag(
      search_path, 
      { 
        method: :get, 
        remote: true, 
        class: 'search-stories',
        data: { type: :json }
      }
    ) do %>

  <%= hidden_field_tag(:q, '') %>

  <div class="input-group">
    <%= text_field_tag(
          nil, 
          action_name == 'search' ? @search_string : nil, 
          { 
            type: 'search',
            class: 'search-stories__input form-control', 
            placeholder: 'Search'
          }
        ) %>
    <i class="fa fa-remove fa-fw search-stories__clear"
        style="<%= action_name == 'search' ? 'display: inline' : '' %>"></i>
    <span class="input-group-btn">
      <button class="btn btn-default form-control" type="submit">
        <i class="fa fa-search fa-fw"></i>
      </button>
    </span>
  </div>
  <div class="text-right">
    <span class="search-stories__results help-block">
      <%= action_name == 'search' ? "#{ pluralize(storiesCount, 'story') } found" : '' %>
    </span>
  </div>

<% end %>

<% if include_category_filter?(company) && include_product_filter?(company) %>

  <hr class="visible-md-block visible-lg-block">

<% end %>