
<div class="search-and-filters visible-xs-block <%= company.category_tags.blank? && company.product_tags.blank? ? '' : 'visible-sm-block' %>">
  
  <%= render('stories/shared/search_form', { company: company, storiesCount: @stories.length }) %>

  <% if include_category_filter?(company) && include_product_filter?(company) %>

    <div class="stories-filter form-group">

      <%= label_tag(:filter_select, "Filter") %>
      <%= select_tag(
            :filter_select,
            grouped_options_for_select(
              company.stories_filter_public_grouped_options,
              [
                pre_selected_filters.try(:[], 'category') ? "c#{pre_selected_filters['category']}" : '',
                pre_selected_filters.try(:[], 'product') ? "p#{pre_selected_filters['product']}" : ''
              ].delete_if { |item| item.blank? }
            ),
            {
              include_blank: true,
              class: 'stories-filter__select stories-filter__select--grouped',
              multiple: true,
              style: 'width: 100%'
            }
          ) %>

      <div class="text-right">
        <span class="stories-filter__results--grouped help-block">
          <% if pre_selected_filters.try(:[], 'category') || pre_selected_filters.try(:[], 'product') %>
            <%= applied_filters_results %>
          <% end %>
        </span>
      </div>

    </div>

  <% elsif include_category_filter?(company) %>

    <div class="form-group">

      <%= label_tag(:category_select, "Category") %>
      <%= select_tag(
            nil,
            options_for_select(
              company.story_categories.public_select_options,
              pre_selected_filters.try(:[], 'category') ? pre_selected_filters['category'] : ''
            ),
            {
              include_blank: true,
              class: 'stories-filter__select stories-filter__select--category',
              style: 'width: 100%'
            }
          ) %>

      <div class="text-right">
        <span class="stories-filter__results--category help-block">
          <% if pre_selected_filters.try(:[], category) %>
            <%= category_results %>
          <% end %>
        </span>
      </div>

    </div>

  <% elsif include_product_filter?(company) %>

    <div class="form-group">

      <%= label_tag(:product_select, "Product") %>
      <%= select_tag(
            nil,
            options_for_select(
              company.products.public_select_options,
              pre_selected_filters.try(:[], 'product') ? [pre_selected_filters['product']] : []
            ),
            {
              include_blank: true,
              class: 'stories-filter__select stories-filter__select--product',
              style: 'width: 100%'
            }
          ) %>

      <div class="text-right">
        <span class="stories-filter__results--product help-block">
          <% if pre_selected_filters.try('product') %>
            <%= product_results %>
          <% end %>
        </span>
      </div>

    </div>

  <% end %>

</div>