
<div class="social-buttons text-right">

  <a href="<%= FACEBOOK_SHARE_URL + url_encode(story.csp_story_url) %>"
     class="icon-button facebook-share <%= company.color_contrast %>">
    <i class="fa fa-facebook" style="color:<%= company.color_contrast == 'dark-background' ? company.header_color_2 : '#fff' %>"></i>
    <span></span>
  </a>

  <a href="<%= TWITTER_SHARE_URL + url_encode(story.csp_story_url) %>"
     class="icon-button twitter-share <%= company.color_contrast %>">
    <i class="fa fa-twitter" style="color:<%= company.color_contrast == 'dark-background' ? company.header_color_2 : '#fff' %>"></i>
    <span></span>
  </a>

  <!-- <a href="/stories/<%#= story.id %>/share_on_linkedin" class="icon-button linkedin-share <%= company.color_contrast %>" data-turbolinks="false">
    <i class="fa fa-linkedin" style="color:<%#= company.color_contrast == 'dark-background' ? company.header_color_2 : '#fff' %>"></i>
    <span></span>
  </a> -->

  <a href="<%= LINKEDIN_SHARE_URL + url_encode(story.csp_story_url) %>"
     class="icon-button linkedin-share <%= company.color_contrast %>">
    <i class="fa fa-linkedin" style="color:<%#= company.color_contrast == 'dark-background' ? company.header_color_2 : '#fff' %>"></i>
    <span></span>
  </a>

  <a href="mailto:?subject=<%= story.title %>&body=<%= story.csp_story_url %>" class="icon-button mailto">
    <i class="fa fa-envelope"></i>
    <span></span>
  </a>

</div>