<!--
  locals: @company
          @story
-->

<!--
  data-no-turbolink attribute is necessary for linkedin widgets
  to properly load
  http://stackoverflow.com/questions/17600093/rails-javascript-not-loading-after-clicking-through-link-to-helper
-->
<div id='story-nav-col' class="col-xs-12">

  <div data-no-turbolink class='story-nav'>
    <%= render 'stories/shared/story_nav' %>
  </div>

</div>

<div id='story-testimonial-col'
    class="col-xs-12 <%= @story.embed_url.present? ? 'col-md-7' : '' %>">

  <!-- logo -->
  <div id='story-customer-logo-col' class='col-xs-3
      <%= @story.embed_url.present? ? 'col-md-12' : '' %> text-center'>
    <img id='story-customer-logo'
      src="<%= @story.success.customer.logo_url || asset_path('company-logo-missing.png') %>">
  </div>

  <!-- quote -->
  <div id='story-quote-col' class='col-xs-9 <%= @story.embed_url.present? ?
              'col-md-12' : 'col-md-8' %> story-text'>
    <p id='story-quote' class='lead story-text'>
      <em>"<%= @story.quote %>"</em>
    </p>
    <div class='row'>
      <div class='col-xs-12 col-lg-11 text-right'>
        <p id='story-quote-attr'>
          - <%= @story.quote_attr %>
        </p>
      </div>
    </div>
  </div>

  <!-- video (xs and sm only) -->
  <div id='story-video-col-xs-sm'
      class="col-xs-12 col-sm-10 col-sm-offset-1
        <%= @story.embed_url.blank? ? 'hidden' : 'visible-xs-block visible-sm-block' %>">

    <div class='embed-responsive embed-responsive-16by9'>
      <iframe class='embed-responsive-item'
          src="<%= @story.embed_url %>" allowfullscreen>
      </iframe>
    </div>

  </div>

</div>

<div id='story-video-col-md-lg'
     class="<%= @story.embed_url.blank? ? 'hidden' : '' %>
             hidden-xs hidden-sm col-md-5">

  <!-- <div class="video-container embed-responsive embed-responsive-16by9"> -->
    <div class="video-thumb-container"
         data-provider="<%= @story.video_info[:provider] %>"
         data-id="<%= @story.video_info[:id] %>"
         data-toggle='modal' data-target='#story-video-modal'
         data-video-url="<%= @story.embed_url %>">
    </div>
  <!-- </div> -->

  <!-- <div class='embed-responsive embed-responsive-16by9'>
    <iframe class='embed-responsive-item'
        src="<%#= @story.embed_url %>" allowfullscreen>
    </iframe>
  </div> -->

</div>



