
<!-- these things only affect plugins -->
<% plugin_type = plugin_type || nil %>
<% background = background || nil %>
<% logo_only = logo_only || nil %>
<% grayscale = grayscale || nil %>
<% is_pre_selected = is_pre_selected || nil %>

<li class="story-card grid-item" data-story-id="<%= story.id %>">

  <!-- grid__item is for the overlays; not implemented internally -->
  <a href="<%= story.csp_story_link(is_curator, is_plugin, is_external, plugin_type) %>"
    class="public grid__item <%= plugin_type === 'gallery' ? 'grid__item--gallery' : (plugin_type === 'carousel' ? 'grid__item--carousel' : '') %> <%= story.status %> <%= story.video_url.present? ? 'has-video' : '' %> <%= background ? 'bg-' + background : '' %> <%= logo_only ? 'logo-only' : '' %> <%= is_pre_selected ? 'cs-loaded' : '' %>"
    target="<%= is_external ? '_blank' : '' %>"
    data-customer="<%= is_external ? '' : story.customer.name.to_json %>"
    data-logosrc="<%= is_external ? '' : story.customer.logo_url %>"
    data-summary="<%= is_external ? '' : story.summary.try(:to_json) %>"
    data-quote="<%= is_external ? '' : story.quote.try(:to_json) %>"
    data-quote-attr-name="<%= is_external ? '' : story.quote_attr_name.try(:to_json) %>"
    data-quote-attr-title="<%= is_external ? '' : story.quote_attr_title.try(:to_json) %>"
    data-preview-contributor="<%#= is_external ? '' : story.preview_contributor %>">

    <div class="story-card__content thumbnail-view">
      <% if story.title.present? && !logo_only %>
        <div class="story-card__title thumbnail-view-hover">
          <p><%= story.title %></p>
        </div>
      <% end %>
      <div class="story-card__logo">
        <img class="<%= grayscale ? 'grayscale' : '' %>" src="<%= story.customer.logo_url || LOGO_PLACEHOLDER_URL %>">
      </div>
    </div>

    <div class="story-card__caption caption">
      <% unless logo_only %>
        <span class="story-card__customer customer-name"><%= story.customer.name %></span>
      <% end %>
      <span class="story-card__cta click-action"></span>
    </div>

    <div class="story-card__loading icon-container">
      <i class="fa fa-spin fa-circle-o-notch"></i>
    </div>

  </a>

</li>

