
<div class="container">

  <div class='col-sm-6 col-md-7'>

    <div id='story-narration' class='well'>

      <% cache("#{company.subdomain}/story-#{story.id}-narration",
               skip_digest: true) do %>
        <h3><%= story.title %></h3>

        <div class="visible-md-block visible-lg-block">
          <%= simple_format story.content %>
        </div>
        <div class="hidden-md hidden-lg">
          <%= simple_format story.content %>
        </div>
      <% end %>

    </div>


    <% if @related_stories.length >= 2 %>

      <div id='related-stories' class='well hidden-xs'>

        <div class="row">
          <div class="col-xs-12">
            <h3>Related Stories</h3>
            <a href='/'>All Stories</a>
          </div>
        </div>

        <div class="grid">
          <% @related_stories.each do |story| %>

            <%= render 'stories/shared/public_story_tile',
                        { company: @company, story: story,
                          customer: story.success.customer } %>

          <% end %>
        </div>

      </div>

    <% end %>

  </div>

  <div class='col-sm-6 col-md-5'>

    <% cache("#{company.subdomain}/story-#{story.id}-results",
             skip_digest: true) do %>

      <div id='story-results' class="well">
        <h3 class='text-center'>Results</h3>

        <% story.success.results.each do |result| %>

          <div class="row">
            <div class='col-xs-1'>
              <i class='fa fa-check story-icon'></i>
            </div>
            <div class='col-xs-11'>
              <p><%= result.description %></p>
            </div>
          </div>

        <% end %>

      </div>

    <% end %>

    <% if @story.outbound_actions.present? %>

      <%= render 'stories/shared/learn_more', { story: @story } %>

    <% end %>

    <% cache("#{company.subdomain}/story-#{story.id}-contributors",
             skip_digest: true) do %>

      <div class="linkedin-widgets text-center">

        <% if contributors.present? %>

          <h3>Contributing Team</h3>

          <% contributors.each do |contributor| %>

            <% cache("#{company.subdomain}/story-#{story.id}-contributor-#{contributor.id}", skip_digest: true) do %>

              <div class="linkedin-widget linkedin-widget-wide" data-contributor="<%= contributor.id %>">
                <script type="IN/MemberProfile"
                        data-id="<%= contributor.linkedin_url %>"
                        data-format="inline"
                        data-related="true"
                        data-width='420'></script>
              </div>

              <div class="linkedin-widget" data-contributor="<%= contributor.id %>">
                <script type="IN/MemberProfile"
                        data-id="<%= contributor.linkedin_url %>"
                        data-format="inline"
                        data-related="true"
                        data-width='340'></script>
              </div>

            <% end %>

          <% end %>

        <% end %>
      </div>
    <% end %>

    <% if @related_stories.length >= 2 %>

      <div id='related-stories' class='well visible-xs'>

        <div class="row">
          <div class="col-xs-12">
            <h3>Related Stories</h3>
            <a href='/'>All Stories</a>
          </div>
        </div>

        <div class="grid">
          <% @related_stories.each do |story| %>

            <%= render 'stories/shared/public_story_tile',
                        { company: @company, story: story,
                          customer: story.success.customer } %>

          <% end %>
        </div>

      </div>

    <% end %>

  </div>

</div>