<div id='story-publish-settings' class='row' style='padding-top:5px'>

  <!-- resources: http://stackoverflow.com/questions/13311574
                  http://jsfiddle.net/cSSUA/209/ -->
  <%= form_for @story, url: story_path(@story.id),
                    method: 'put',
                    remote: true,
                      html: { class: "form-horizontal",
                                 id: 'story-publish-form' } do |f| %>

    <div class="form-group">
      <%= f.label 'Publish Story', class: 'col-sm-4 control-label' %>
      <div class="col-sm-3">
        <%= f.check_box :published, class: "bs-switch form-control" %>
      </div>

      <!-- the data-no-turbolink attribute is necessary for linkedin widgets to properly load
  http://stackoverflow.com/questions/17600093/rails-javascript-not-loading-after-clicking-through-link-to-helper -->
      <div class="col-sm-4 text-center" data-no-turbolink>
          <%= link_to 'Preview', @story.csp_story_path,
                          class: 'btn btn-primary' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label 'Publish Logo', class: 'col-sm-4 control-label' %>
      <div class="col-sm-3">
        <%= f.check_box :logo_published, class: "bs-switch form-control" %>
      </div>

      <div class="col-sm-4 text-center" data-no-turbolink>
        <%= link_to 'Approval PDF', story_approval_path(@story.id, format: :pdf),
              class: 'btn btn-primary', id: 'approval-pdf-btn',
              data: { missing_curator_info: @story.success.curator.missing_info.to_json },
              target: '_blank' %>
      </div>

    </div>

  <% end %>

</div>

<div id='#story-edit-logo' class='row'>
<!--
  Note the absence of method:put and remote:true
  We are only using this form for the S3 upload (necessary data attributes)
  Submission must be triggered by file select, however calling $.submit()
    messes with the response type called for by remote:true (instead of
    javascript it gets changed to HTML, resulting in server error: unknown format)
  So, submission is done via AJAX. See stories.js
  UPDATE: ajax upload happens in the S3 config function (application.js)
  -->
  <%= form_tag story_path(@story.id), class: 'directUpload', id: 'customer-logo-form',
        data: { 'form-data' => (@s3_direct_post.fields),
                      'url' => @s3_direct_post.url,
                     'host' => URI.parse(@s3_direct_post.url).host
               } do %>
    <div class="col-sm-12 fileinput <%= @customer.logo_url.present? ? 'fileinput-exists' : 'fileinput-new' %>" data-provides="fileinput">

      <div class="fileinput-new thumbnail col-sm-7">
        <%= image_tag "company-logo-missing.png", alt: 'photo missing' %>
      </div>

      <div class="fileinput-preview fileinput-exists thumbnail col-sm-7"
          data-trigger="fileinput">
        <img src="<%= @customer.logo_url %>" alt="Avatar">
      </div>

      <div class="col-sm-5 text-center">
        <span id='story-edit-logo-buttons' class="btn btn-default btn-file">
          <span class="fileinput-new">
            Select
          </span>
          <span class="fileinput-exists">
            Change
          </span>
          <%= file_field_tag :customer_logo_url %>
        </span>
        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">
          Remove
        </a>
      </div>

    </div>  <!-- /.fileupload -->
  <% end %>
</div>


