<div class='row'>

  <div class='col-md-4 text-center'>
    <img src="https://logo.clearbit.com/<%= @story.success.customer.name.downcase %>.com"
        style="height:100px">
  </div>

  <div class='col-md-8 text-center'>

    <%= link_to 'Preview Story Page', story_path(@story),
          class: 'btn btn-secondary' %> <br><br>

    <!-- publish logo/story -->
    <%= form_for @story, url: story_path(@story),
                      method: 'put',
                      remote: true,
                        html: { class: "form-horizontal" } do |f| %>

      <div class="form-group">
        <%= f.label 'Publish Story', class: 'col-md-6 control-label' %>
        <div class="col-md-6 text-left" style='padding-left:0'>
          <%= f.check_box :published,
                class: 'bs-switch form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label 'Publish Logo', class: 'col-md-6 control-label' %>
        <div class="col-md-6 text-left" style='padding-left:0'>
          <%= f.check_box :logo_published,
                class: 'bs-switch form-control'  %>
        </div>
      </div>

    <% end %>

  </div>
</div>