<!-- feedback -->
<div class="tab-pane fade" id="feedback">

  <div class="heading-block">
    <h4>Feedback from Contributors</h4>
  </div> <!-- /.heading-block -->

  <div id='feedback-contributors'>

    <% @contributions.select { |c| c.status == 'feedback' }
        .each_with_index do |contribution, index| %>

      <div class="well">

        <div class="row">
          <div class='col-md-12'>
            <%= contribution.contributor.full_name %> <br>
            <%= contribution.contributor.email %> <br>
            <%= contribution.role %> <br>
          </div>
        </div> <br>

        <div class="accordion" id="accordion-feedback-<%= index %>">
          <div class="accordion-group">

            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse"
                 data-parent="#accordion-feedback-<%= index %>" href="#collapse-feedback-<%= index %>">
                Read Feedback
              </a>
            </div>

            <div id="collapse-feedback-<%= index %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= contribution.feedback %>
              </div>
            </div>

          </div>  <!-- accordian-group -->
        </div>  <!-- accordian -->
      </div>  <!-- well -->

    <% end %>

  </div>  <!-- feedback contributors -->
</div> <!-- feedback -->