<!-- pre-request contributors -->
<div class="tab-pane fade in active" id="pre-request">

  <div class="heading-block" style="position:relative">
    <h4 style="display:inline-block">Contributors Awaiting Request</h4><br><br><!-- &nbsp;&nbsp; -->
    <button type="button" id="new-contributor-button"
        class="btn btn-secondary btn-sm"
        data-toggle="modal" data-target="#new-contributor-modal">
      Add Contributor
    </button>
    <!-- <span class='glyphicon glyphicon-plus bip-clickable'
       style="position:absolute; top:-5px; left:230px"
       id="new-contributor-button" data-toggle="modal"
       data-target="#new-contributor-modal"></span> -->
  </div>

  <div id='pre-request-contributors'>

    <% @contributions.order(created_at: :desc)
                     .select { |c| c.status == 'pre_request' }
                     .each_with_index do |contribution, index| %>

      <div class="well contribution-card accordion"
          id="pre-request-accordion-<%= index %>"
          data-contribution-id="<%= contribution.id %>">

        <div class="row">
          <div class='col-sm-7'>
            <%= contribution.contributor.full_name %> <br>
            <%= contribution.contributor.email %>
          </div>
          <div class="col-sm-5 text-right">

            <%= link_to request_contribution_path(contribution),
                method: 'put', remote: true, tabindex:'-1' do %>
              <i class='glyphicon glyphicon-envelope bip-clickable'></i><% end %>

            <a class="accordion-toggle" data-toggle="collapse"
               data-parent="#pre-request-accordion-<%= index %>"
               href="#collapse-pre-request-info-<%= index %>" tabindex='-1'>
              <i class='glyphicon glyphicon-info-sign bip-clickable'></i></a>

            <a target="_blank" tabindex='-1' href="http://google.com/search?q=
              <%= contribution.role == 'customer' ?
                  research_user_query_string(contribution.contributor.id,
                    @story.success.customer.name) :
                  research_user_query_string(contribution.contributor) %>">
              <span class='glyphicon glyphicon-user bip-clickable'></span></a>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div id="collapse-pre-request-info-<%= index %>"
                class="accordion-body collapse">
              <div class="accordion-inner">
                <hr>

                Role:&nbsp;&nbsp;<%= contribution.role %> <br style='line-height:20px'>
                Referred by:&nbsp;&nbsp;<%= contribution.referrer_id.present? ? contribution.referrer.full_name : "n/a" %> <br style='line-height:20px'>
                Added:&nbsp;&nbsp;<%= contribution.created_at.strftime('%-m/%-d/%Y') %> <br style='line-height:20px'>
                Notes: <br style='line-height:20px'>

                <div class="row">

                  <div id='pr-edit-contribution-notes-<%= index %>'
                      class='col-sm-2 text-center pull-right'
                      style='padding:0; margin-top:-2px'>
                    <i class='glyphicon glyphicon-pencil bip-clickable'></i>
                  </div>

                  <div id='pr-contribution-notes-<%= index %>' class='col-sm-10'
                      style='padding-right:0'>
                    <%= best_in_place contribution, :notes, as: :textarea,
                              url: "/contributions/#{contribution.access_token}",
                       html_attrs: { style:'width:100%' },
                        activator: "#pr-edit-contribution-notes-#{index}",
                     place_holder: "<i>add notes ...</i>" %>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>