<!-- pre-request contributors -->
<div class="tab-pane fade in active" id="pre-request">

  <div class="heading-block" style="position:relative">
    <h4 style="display:inline-block">Contributors Awaiting Request</h4><br><br><!-- &nbsp;&nbsp; -->
    <button type="button" class="btn btn-secondary btn-sm"
        data-toggle="modal" data-target="#new-contributor-modal">
      Add Contributor
    </button>
    <!-- <span class='glyphicon glyphicon-plus bip-clickable'
       style="position:absolute; top:-5px; left:230px"
       id="new-contributor-button" data-toggle="modal"
       data-target="#new-contributor-modal"></span> -->
  </div>

  <div id='pre-request-contributors'>

    <% @contributions.order(created_at: :desc)
                     .select { |c| c.status == 'pre_request' }
                     .each do |contribution| %>

      <div class="well" data-contribution-id="<%= contribution.id %>">

        <div class="row">
          <div class='col-sm-7'>
            <%= contribution.contributor.full_name %> <br>
            <%= contribution.contributor.email %> <br>
            <%= contribution.role %>
          </div>
          <div class="col-sm-5 text-right">
            <%= button_to 'Send Request',
                request_contribution_path(contribution),
                class: 'btn btn-sm btn-secondary',
                method: 'put', remote: true %>
          </div>
        </div>

        <% if contribution.referrer_id.present? %>
          <br>
          <div class="row">
            <div class="col-sm-12">
              Referred by <%= contribution.referrer.full_name %>
            </div>
          </div>
        <% end %>
      </div>

    <% end %>

  </div>
</div>