
<div class='well' id='story-embed-well' style='position:relative; margin-bottom:10px'>

  <!-- http://stackoverflow.com/questions/13725683 -->

  <div class="video-container">

    <% if @story.video_info[:provider] == 'wistia' %>

      <script src="<%= @story.embed_url %>" async></script>
      <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
      <div class="wistia_embed wistia_async_<%= @story.video_info[:id] %>"
           style="height:180px;width:320px">&nbsp;</div>

    <% elsif @story.video_info[:provider] == 'youtube' %>  <!-- youtube or vimeo -->

      <iframe id='youtube-iframe' width="320" height="180"
              src="<%= @story.embed_url + '/?autohide=2&&enablejsapi=1&controls=0&showinfo=0&rel=0' %>"
              frameborder="0"></iframe>

    <% elsif @story.video_info[:provider] == 'vimeo' %>

      <iframe id='vimeo-iframe' width="320" height="180"
              src="<%= @story.embed_url %>" frameborder="0"></iframe>

    <% else %>

      <img id='video-placeholder' src="<%= asset_path('video_placeholder.jpg') %>"
           class="<%= @story.embed_url.present? ? 'hidden' : '' %>" alt="video placeholder">

    <% end %>

  </div> <br>

  <div class="container-fluid">
    <div class="row">
      <div id='edit-story-embed'
          style='position:absolute; right:20px; margin-top:-3px'>
        <span class='glyphicon glyphicon-pencil bip-clickable'></span>
      </div>

      <div id='story-embed' class='col-md-10' style='overflow:auto'>
        <%= best_in_place @story, :embed_url, url: story_path(@story.id),
            activator: '#edit-story-embed',
            place_holder: 'Video URL (YouTube, Vimeo, or Wistia)',
            html_attrs: { style: 'width:100%' } %>
      </div>
    </div>
  </div>
</div>  <!-- well -->