
<%= form_tag story_path(story.id), remote: true, method: "put",
                id: 'story-tags-form', class: 'form-inline' do %>

  <!-- need this in the event all tag fields are empty ... -->
  <%= hidden_field_tag :story_tags %>

  <div class="form-group col-md-6" style='margin-bottom:10px'>
    <%= label_tag "story[category_tags][]", 'Categories', class: 'control-label' %>
    <!-- Note the necessary '[]' notation below  -->
    <!-- if not present, will only return a single value  -->
    <%= select_tag "story[category_tags][]",
        options_for_select(categories, categories_pre_select),
        { multiple: 'true', class: 'story-tags form-control',
          style: 'width:100%'} %>
  </div>

  <div class="form-group col-md-6" style='margin-bottom:10px'>
    <%= label_tag "story[product_tags][]", 'Products', class: 'control-label' %>
    <%= select_tag "story[product_tags][]",
        options_for_select(products, products_pre_select),
        { multiple: 'true', class: 'story-tags form-control',
          style: 'width:100%'} %>
  </div>

<% end %>