
<div class="container">

  <div class='col-sm-6 col-md-7'>

    <div id='story-narration' class='well'>

      <% cache("#{company.subdomain}/story-#{story.id}-narration",
               skip_digest: true) do %>
        <h3><%= story.title %></h3>

        <div class="visible-md-block visible-lg-block">
          <%= simple_format story.content %>
        </div>
        <div class="hidden-md hidden-lg">
          <%= simple_format story.content %>
        </div>
      <% end %>

    </div>

<!--
    <div id='story-footer' class='well' style='min-height:200px;padding:0'>
      <h3>Related Stories</h3>
      <div class="col-xs-12">
        <div class="grid-related">

          <%# @story.related_stories.each do |story| %>

            <%#= render 'stories/shared/public_story_tile',
                        { company: @company, story: story,
                          customer: story.success.customer } %>

          <%# end %>

        </div>
      </div>
    </div> -->

  </div>

  <div class='col-sm-6 col-md-5'>

    <% cache("#{company.subdomain}/story-#{story.id}-results",
             skip_digest: true) do %>

      <div id='story-results' class="well">
        <h3 class='text-center'>Results</h3>

        <% story.success.results.each do |result| %>

          <div class="row">
            <div class='col-xs-1'>
              <i class='fa fa-check'></i>
            </div>
            <div class='col-xs-11'>
              <p><%= result.description %></p>
            </div>
          </div>

        <% end %>

      </div>

    <% end %>

    <% unless @company.subdomain != 'varmour' &&
              (@story.outbound_links[0].try(:url).blank? &&
               @story.outbound_links[1].try(:url).blank?) %>

      <div id='learn-more' class='well' style='margin-top:15px!important'>
        <h3 class='text-center'>Learn More</h3>

        <% if @company.subdomain == 'varmour' %>

          <div class="row">
            <div class='col-xs-1'>
              <i class='fa fa-hand-o-right'></i>
            </div>
            <div class='col-xs-11'>
              <p>
                <a href='' data-toggle='modal' data-target='#varmour-modal'>
                  Contact us
                </a>
              </p>
            </div>
          </div>

        <% end %>

        <% @story.outbound_links.each do |link| %>

          <% if link.url.present? %>

            <div class="row">
              <div class='col-xs-1'>
                <i class='fa fa-hand-o-right'></i>
              </div>
              <div class='col-xs-11'>
                <p>
                  <a href="<%= link.url %>" target='_blank'>
                    <%= link.link_text %>
                  </a>
                </p>
              </div>
            </div>

          <% end %>

        <% end %>
        <!-- <div class='row'>

          <div class="col-sm-8 col-sm-offset-2">
            <button id='cta-btn' type="button" class="btn btn-info" style='width:100%'>
              Contact Us
            </button>

            <button type="button" class="btn btn-info" style='width:80%'>Product Pages</button>
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='width:20%'>
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" style='width:100%'>
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>

          </div>
        </div> -->

      </div>

    <% end %>

    <% cache("#{company.subdomain}/story-#{story.id}-contributors",
             skip_digest: true) do %>

      <div class="linkedin-widgets text-center">

        <% if contributors.present? %>

          <h3>Contributing Team</h3>

          <% contributors.each do |contributor| %>

            <% cache("#{company.subdomain}/story-#{story.id}-contributor-#{contributor.id}", skip_digest: true) do %>

              <div class="linkedin-widget linkedin-widget-wide">
                <script type="IN/MemberProfile"
                        data-id="<%= contributor.linkedin_url %>"
                        data-format="inline"
                        data-related="true"
                        data-width='420'></script>
              </div>

              <div class="linkedin-widget">
                <script type="IN/MemberProfile"
                        data-id="<%= contributor.linkedin_url %>"
                        data-format="inline"
                        data-related="true"
                        data-width='340'></script>
              </div>

            <% end %>

          <% end %>

        <% end %>
      </div>
    <% end %>
  </div>
</div>