<!-- Resend Confirmation emails -->

<main>
  <div class="masthead">

  <div class="content">

    <div class="container">

      <hr class="spacer-sm">

      <div class="account-wrapper">

        <div class="account-body">

<h2>Resend confirmation</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>



  <div class="form group">
  <%= f.email_field :email, { autofocus: true,
  class: 'form-control', id: 'login-username',
  placeholder: 'email', tabindex: '1' } %>
  </div>
<br>
  <div class="form-group">
              <%= button_tag(type: 'Resend Confirmation', tabindex: '4',
                  class: "btn btn-success btn-block btn-lg") do %>
                Resend Confirmation &nbsp; <i class="fa fa-play-circle"></i>
              <% end %>
            </div>
<% end %>

        </div> <!-- /.account-body -->

        <div class="account-footer">
          <p>
          Don't have an account? &nbsp;
          <%= link_to 'Sign up', new_user_registration_path %>
          </p>
         <p>Already confirmed? &nbsp;
          <%= link_to 'Sign in', new_user_session_path %>
          </p>
        </div> <!-- /.account-footer -->

      </div> <!-- /.account-wrapper -->




    </div> <!-- /.container -->
  </div> <!-- /.content -->
 </div> <!-- /.masthead -->
</div> <!-- /#wrapper -->


