
<%= form_for(company, form_options) do |f| %>

  <div class="form-group required-input">
    <%= f.label(:name, class: 'col-sm-3 control-label') %>
    <div class="col-sm-9 col-md-8 col-lg-6">
      <%= f.text_field(:name, class: 'form-control') %>
    </div>
  </div>

  <div class="form-group required-input">
    <%= f.label(:subdomain, class: 'col-sm-3 control-label') %>
    <div class="col-sm-9 col-md-8 col-lg-6">
      <% if company.persisted? %>
        <%= f.text_field(:subdomain, class: 'form-control', disabled: true) %>
      <% else %>
        <%= f.text_field(:subdomain, class: 'form-control') %>
      <% end %>
    </div>
  </div>

  <div class="form-group required-input">
    <%= f.label(:website, class: 'col-sm-3 control-label') %>
    <div class="col-sm-9 col-md-8 col-lg-6">
      <%= f.text_field(:website, class: 'form-control') %>
    </div>
  </div>

  <div class="form-group">

    <label class="col-sm-3 control-label">Header Logo</label>
    <div class="col-sm-9 col-md-8 col-lg-6">

      <div class="company-logo-upload">

        <div>
          <button type="button" class="company-logo-upload__button btn">
            <i class="fa fa-fw fa-upload"></i>&nbsp;
            Upload a logo
          </button>
        </div>

        <div class="company-logo-upload__company-header fileinput <%= company.logo_url.present? ? 'fileinput-exists' : 'fileinput-new' %>" data-provides="fileinput"
              style="background-color: <%= company.header_color_1 %>">
          <div class="fileinput-new thumbnail company-logo-upload__logo company-logo-upload__logo--placeholder" 
                data-trigger="fileinput">
            <%= image_tag(LOGO_PLACEHOLDER_URL, alt: 'logo') %>
          </div>
          <div class="fileinput-preview fileinput-exists thumbnail company-logo-upload__logo company-logo-upload__logo--exists"
                data-trigger="fileinput">
            <%= image_tag(company.logo_url || LOGO_PLACEHOLDER_URL, alt: 'company logo') %>
          </div>
          <div class="btn-file">
            <%= f.file_field(:logo_url) %>
          </div>
        </div>

        <div class="company-logo-upload__stories-header company-logo-upload__stories-header--<%= background_color_contrast(company.header_color_2) %>"
            style="<%= stories_header_custom_colors(company) %>"%>
          <h3>Customer Stories</h3>
        </div>

      </div>

    </div>
  </div>

  <div class="headers-color-picker form-group">
    <%= f.label(nil, 'Header Colors', class: 'col-sm-3 control-label') %>
    <div class="col-sm-9 col-md-8 col-lg-6">
      <div>
        <%= f.label(:header_color_1, 'Upper', class: 'control-label') %>
        <%= f.text_field(:header_color_1, class: 'form-control mini-colors upper') %>
      </div>
      <div>
        <%= f.label(:header_color_2, 'Lower', class: 'control-label') %>
        <%= f.text_field(:header_color_2, class: 'form-control mini-colors lower') %>
      </div>
      <div>
        <%= f.label(:header_text_color, 'Text', class: 'control-label') %>
        <%= f.text_field(:header_text_color, class: 'form-control mini-colors text') %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label(:gtm_id, 'Google Tag Manager ID', class: 'col-sm-3 control-label') %>
    <div class="col-sm-9 col-md-8 col-lg-6">
      <%= f.text_field(:gtm_id, class: 'form-control') %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12 col-md-offset-3 col-md-8 col-lg-6 text-right">

      <button type="submit" class="btn btn-success" form="company-profile-form" style="width: 114px">
        <span><%= company.new_record? ? 'Register' : 'Save changes' %></span>
        <i class='fa fa-spin fa-circle-o-notch' style="display: none"></i>
        <i class='fa fa-check' style="display: none"></i>
      </button>

    </div>
  </div>

<% end %> 

