
<%= form_for(company, form_options) do |f| %>

  <div class="row">

    <div class="col-sm-6">

      <div class="form-group required-input">
        <%= f.label :name, class: 'control-label' %>
        <%= f.text_field :name, class: 'form-control'%>
      </div>

      <div class="form-group required-input">
        <%= f.label :subdomain, class: 'control-label' %>

        <% if company.persisted? %>
          <%= f.text_field :subdomain, class: 'form-control', disabled: true %>
        <% else %>
          <%= f.text_field :subdomain, class: 'form-control' %>
        <% end %>
      </div>

      <div class="form-group required-input">
        <%= f.label :website, class: 'control-label' %>
        <%= f.text_field :website, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= f.label :gtm_id, 'Google Tag Manager ID', class: 'control-label' %>
        <%= f.text_field :gtm_id, class: 'form-control' %>
      </div>

    </div>  <!-- col -->

    <div class="col-sm-6">

      <div class="form-group logo-upload">

        <label>Header Logo</label>
        <div class="fileinput <%= company.logo_url.present? ? 'fileinput-exists' : 'fileinput-new' %>" data-provides="fileinput">

          <div class="fileinput-new thumbnail" style="background:<%= company.new_record? ? '#fff' : company.header_color_1 %>" data-trigger="fileinput">
            <%= image_tag(LOGO_PLACEHOLDER_URL, alt: 'logo') %>
          </div>
          <div class="fileinput-preview fileinput-exists thumbnail"
               style="background-color:<%= company.new_record? ? 'Company::CSP.header_color_1' : company.header_color_1 %>"
               data-trigger="fileinput">
            <%= image_tag(company.logo_url, alt: 'logo') if company.logo_url.present? %>
          </div>
          <div class="btn-file">
            <%= f.file_field(:logo_url) %>
          </div>
          <button type="button" class="btn btn-default">
            <i class="glyphicon glyphicon-pencil"></i>
          </button>

        </div>

        <div class="stories-header" style="background-color:<%= company.header_color_2 %>">
          <h4 class="<%= company.color_contrast %>">Customer Stories</h3>
          <!-- <div style="display:inline-block">

          <span class="social-buttons pull-right">
            <a href="javascript:;" class="icon-button linkedin-share <%= company.color_contrast %>">
              <i class="fa fa-linkedin" style="color:<%#= company.color_contrast == 'light' ? company.header_color_2 : '#fff' %>"></i><span></span>
            </a>
            <a href="javascript:;" class="icon-button twitter-share <%= company.color_contrast %>">
              <i class="fa fa-twitter" style="color:<%#= company.color_contrast == 'light' ? company.header_color_2 : '#fff' %>"></i><span></span>
            </a>
            <a href="javascript:;" class="icon-button facebook-share <%= company.color_contrast %>">
              <i class="fa fa-facebook" style="color:<%#= company.color_contrast == 'light' ? company.header_color_2 : '#fff' %>"></i><span></span>
            </a>
          </span>
          </div> -->
        </div>

      </div>  <!-- form-group -->

      <div class="form-group color-picker">
        <div class="row">
          <div class="col-sm-12">
          <%= f.label(nil, 'Header Colors', class: 'control-label') %>

          </div>
          <div class="col-sm-4">
            <%= f.label(:header_color_1, 'Upper', class: 'control-label') %>
            <%= f.text_field(:header_color_1, class: 'form-control mini-colors upper') %>
          </div>
          <div class="col-sm-4">
            <%= f.label(:header_color_2, 'Lower', class: 'control-label') %>
            <%= f.text_field(:header_color_2, class: 'form-control mini-colors lower') %>
          </div>
          <div class="col-sm-4">
              <%= f.label(:header_text_color, 'Text', class: 'control-label') %>
            <%= f.text_field(:header_text_color, class: 'form-control mini-colors text') %>

          </div>
<!--             <div class="col-sm-12">
              <p class="help-block">Text color is selected automatically to provide sufficient contrast. You may override the selection below.</p>

            </div>
            <div class="col-sm-6 col-sm-offset-6">

            </div> -->
        </div>
      </div>

    </div>  <!-- col -->
  </div>

  <div class="row">
    <div class="col-sm-12">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-right">
      <!-- <div class="form-group"> -->

<!--         <button type="reset" id='profile-form-reset' class="btn btn-default">
          Cancel
        </button> -->
        <button type="submit" class="btn btn-success" form="company-profile-form" style="width:114px">
          <span><%= company.new_record? ? 'Register' : 'Save changes' %></span>
          <i class='fa fa-spin fa-circle-o-notch' style='display:none'></i>
          <i class='fa fa-check' style='display:none'></i>
        </button>

      <!-- </div> -->
    </div>
  </div>

<% end %>  <!-- form_for -->