
<%= content_for(:underscore_templates) { render('ctas/cta_template') } %>

<%= render('companies/settings/new_cta_modal', { company: @company, }) %>

<div class="row" style="margin-bottom: 25px">

  <div class="section-header col-sm-12">

    <p class="lead" style="margin-bottom: 5px;">Manage CTAs, inlcuding web forms and links to conversion actions or other resources.&nbsp;&nbsp;<span class="help-block" style="display: inline-block; font-size: 13px; font-weight: 500; margin: 0"><a href="javascript:;">Show more</a><a href="javascript:;" style="display: none;">Show less</a></span></p>

    <p class="help-block" style="display: none">The Primary CTA will appear with all published stories as a header button (desktop and tablet devices) or a footer button (mobile devices). Other links will appear adjacent to the story to which they've been assigned. You can also include links (but not forms) directly in your story narrative.</p>

  </div>

</div>

<div class="row">
  <div id="configure-ctas" class="form-horizontal">

    <div class="col-sm-3 col-md-2">
    </div>

    <div class="col-sm-9 col-md-10">

      <div class="cta-actions">
        <button type="button" class="cta-actions__new new-item" data-toggle='modal' data-target='#new-cta-modal'>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-plus fa-stack-1x"></i>
          </span>&nbsp;&nbsp;
          <span>New CTA</span>
        </button>
        <button class="cta-actions__params" data-toggle="collapse" data-target="#cta-url-params">
          <i class="fa fa-fw fa-chevron-down"></i>
          <i class="fa fa-fw fa-chevron-up" style="display: none;"></i>
          <span>URL Parameters</span>
        </button>
      </div>

      <div id="cta-url-params" class="collapse">

        <div>



          <!-- existing params will be rendered in the client here -->

          <div style="display: flex; justify-content: space-between; align-items: center">

            <button type="button" class="cta-url-params__new new-item">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle-o fa-stack-2x"></i>
                <i class="fa fa-plus fa-stack-1x"></i>
              </span>&nbsp;&nbsp;
              <span>New Parameter</span>
            </button>

            <button type="button" class="cta-url-params__apply btn btn-sm btn-success text-center">
              <span>Apply</span>
              <i class="fa fa-fw fa-check" style="display:none"></i>
            </button>


          </div>


        </div>

      </div>
    </div>


    <label class="col-sm-3 col-md-2 control-label">
      Primary
    </label>
    <div class="col-sm-9 col-md-10">

      <ul id="primary-cta" class="list-group">
        <li class="list-group-item" data-cta-id="<%= company.ctas.primary.try(:id) || '' %>">

        <% if company.ctas.primary %>

          <%= render 'ctas/cta', { company: company, cta: company.ctas.primary, make_primary: true } %>

        <% else %>

          <a href="javascript:;" data-toggle="modal" data-target="#new-cta-modal"><em>Add a Primary CTA</em></a>

        <% end %>

        </li>
      </ul>


    </div>

    <label class="col-sm-3 col-md-2 control-label">
      Additional
    </label>
    <div class="col-sm-9 col-md-10">

      <ul id='secondary-ctas' class='list-group'>

      <% company.ctas.secondary.order(created_at: :desc).each do |cta| %>

        <li class="list-group-item" data-cta-id="<%= cta.id %>">

          <%= render 'ctas/cta', { company: company, cta: cta } %>

        </li>

      <% end %>

      </ul>

    </div>

  </div>
</div>


