
<%= content_for(:underscore_templates) { render('ctas/cta_template') } %>

<%= render('companies/settings/new_cta_modal', { company: @company, }) %>

<div class="section-header row" style="margin-bottom: 25px">
  <div class="col-sm-12 col-lg-10 col-lg-offset-1">
    <p class="lead" style="color: #666; margin-bottom: 5px;">
      Manage <strong>Call-to-action</strong> (CTA) elements, inlcuding web forms and links to conversion actions or other resources.&nbsp;&nbsp;<span class="help-block" style="display: inline-block; font-size: 13px; font-weight: 500; margin: 0"><a href="javascript:;">Show more</a><a href="javascript:;" style="display: none;">Show less</a></span>
    </p>
    <p class="help-block" style="display: none">The Primary CTA will appear with all published stories as a header button (desktop and tablet devices) or a footer button (mobile devices). Other links will appear adjacent to the story to which they've been assigned. You can also include links (but not forms) directly in a story narrative.</p>
  </div>
  <div class="visible-lg-block col-lg-1"></div>
</div>

<div class="form-horizontal cta-list">

  <div class="form-group">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <button id="new-cta-button" type='button' class='btn btn-secondary' data-toggle='modal' data-target='#new-cta-modal'>
          <i class='fa fa-plus-circle fa-fw'></i>&nbsp;New CTA&nbsp;
      </button>
    </div>
    <div class="col-sm-3"></div>
  </div>
    
  <div class="form-group">
    <label class="col-sm-3 control-label">
      Primary
    </label>
    <div class="col-sm-6">

      <ul id="primary-cta" class="list-group">
        <li class="list-group-item" data-cta-id="<%= company.ctas.primary.try(:id) %>">

        <% if company.ctas.primary %>

          <%= render 'ctas/cta', { company: company, cta: company.ctas.primary, make_primary: true } %>

        <% else %>

          <a href="javascript:;" data-toggle="modal" data-target="#new-cta-modal"><em>Add a Primary CTA</em></a>

        <% end %>

        </li>
      </ul>


    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="form-group">

    <label class="col-sm-3 control-label">
      Additional
    </label>
    <div class="col-sm-6">

      <ul id='secondary-ctas' class='list-group'>

      <% company.ctas.secondary.order(created_at: :desc).each do |cta| %>

        <li class="list-group-item" data-cta-id="<%= cta.id %>">

          <%= render 'ctas/cta', { company: company, cta: cta } %>

        </li>

      <% end %>

      </ul>

    </div>
    <div class="col-sm-3"></div>

  </div>
  
</div>

<!--
<div class="row">
  <div class="col-sm-6">


    <div class="form-group cta-links" style='margin-bottom:20px'>

      <%#= label_tag nil, 'Primary', class: 'control-label' %>

      <ul id="primary-cta" class="list-group">
        <li class="list-group-item" data-cta-id="<%#= company.ctas.primary.try(:id) %>">

        <%# if company.ctas.primary %>

          <%#= render 'ctas/cta', { company: company, cta: company.ctas.primary, make_primary: true } %>

        <%# else %>

          <em>Add a Primary CTA</em>

        <%# end %>

        </li>
      </ul>

    </div>

    <div>
      <label>Additional</label>
      <ul id='secondary-ctas' class='list-group'>

      <%# company.ctas.secondary.order(created_at: :desc).each do |cta| %>

        <li class="list-group-item" data-cta-id="<%#= cta.id %>">

          <%#= render 'ctas/cta', { company: company, cta: cta } %>

        </li>

      <%# end %>

      </ul>
    </div>

  </div>

  <div class="col-sm-6">

    <p class="lead">New CTA</p>

    <%#= render 'ctas/new_cta_form', { company: company } %>

  </div>


</div>
-->

