
<%= content_for(:underscore_templates) { render('ctas/cta_template') } %>

<div class="row" style="margin-bottom: 25px">

  <div class="section-header col-sm-12">

    <p class="lead" style="margin-bottom: 6px;">Manage CTAs, web forms, and links to further information...&nbsp;<span class="help-block" style="display: inline-block; font-size: 13px; font-weight: 500; margin: 0"><a href="javascript:;">Show more</a><a href="javascript:;" style="display: none;">Show less</a></span></p>

    <p class="help-block" style="display: none">The Primary CTA will appear as a button in the header of your main gallery and all published stories. Other links will appear adjacent to the story to which they've been assigned. You can also include links (not forms) directly in your story narrative.</p>

  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    <div class="form-horizontal">

      <label class="col-sm-2 control-label">New</label>
      <div class="col-sm-10">

        <span data-toggle="modal" data-target="#new-cta-modal">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-plus fa-stack-1x"></i>
          </span>
        </span>

      </div>

      <label class="col-sm-2 control-label">Primary</label>
      <div class="col-sm-10">

    <!-- primary CTA -->
    <div class="form-group cta-links" style='margin-bottom:20px'>

      <ul id="primary-cta" class="list-group">
        <li class="list-group-item" data-cta-id="<%= company.ctas.primary.try(:id) %>">

        <% if company.ctas.primary %>

          <%= render 'ctas/cta', { company: company, cta: company.ctas.primary, make_primary: true } %>

        <% else %>

          <em>Add a Primary CTA</em>

        <% end %>

        </li>
      </ul>

    </div>

      </div>

      <label class="col-sm-2 control-label">Additional</label>
      <div class="col-sm-10">


      </div>



    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">


    <!-- primary CTA -->
    <div class="form-group cta-links" style='margin-bottom:20px'>

      <%= label_tag nil, 'Primary', class: 'control-label' %>

      <ul id="primary-cta" class="list-group">
        <li class="list-group-item" data-cta-id="<%= company.ctas.primary.try(:id) %>">

        <% if company.ctas.primary %>

          <%= render 'ctas/cta', { company: company, cta: company.ctas.primary, make_primary: true } %>

        <% else %>

          <em>Add a Primary CTA</em>

        <% end %>

        </li>
      </ul>

    </div>

    <!-- additional CTAs -->
    <div>
      <label>Additional</label>
      <ul id='secondary-ctas' class='list-group'>

      <% company.ctas.secondary.order(created_at: :desc).each do |cta| %>

        <li class="list-group-item" data-cta-id="<%= cta.id %>">

          <%= render 'ctas/cta', { company: company, cta: cta } %>

        </li>

      <% end %>

      </ul>
    </div>

  </div>

  <div class="col-sm-6">

    <p class="lead">New CTA</p>

    <%= render 'ctas/new_cta_form', { company: company } %>

  </div>


</div>

