
<%= content_for(:underscore_templates) { render('ctas/cta_template') } %>

<div class="row">
  <div class="col-sm-6">

    <p class="lead">Saved CTAs</p>

    <!-- primary CTA -->
    <div class="form-group cta-links" style='margin-bottom:20px'>

      <%= label_tag nil, 'Primary', class: 'control-label' %>

      <ul id="primary-cta" class="list-group">
        <li class="list-group-item" data-cta-id="<%= company.ctas.primary.try(:id) %>">

        <% if company.ctas.primary %>

          <%= render 'ctas/cta', { company: company, cta: company.ctas.primary, make_primary: true } %>

        <% else %>

          <em>Add a Primary CTA</em>

        <% end %>

        </li>
      </ul>

    </div>

    <!-- additional CTAs -->
    <div>
      <label>Additional</label>
      <ul id='secondary-ctas' class='list-group'>

      <% company.ctas.secondary.order(created_at: :desc).each do |cta| %>

        <li class="list-group-item" data-cta-id="<%= cta.id %>">

          <%= render 'ctas/cta', { cta: cta } %>

        </li>

      <% end %>

      </ul>
    </div>

  </div>

  <div class="col-sm-6">

    <p class="lead">New CTA</p>

    <%= render 'ctas/new_cta_form', { company: company } %>

  </div>


</div>

