
<div class="cta-description">
  <i class="fa fa-fw fa-<%= cta.type == 'CTALink' ? 'link' : 'wpforms' %>"></i>
  <span><%= cta.description %></span>
  <a href="javascript:;" class="remove">
    <i class="fa fa-fw fa-remove"></i>
  </a>
</div>

<div id="edit-cta-<%= cta.id %>" class='collapse edit-cta'>

  <hr style="margin-bottom: 15px;border-top: 1px solid #ddd">

  <%= form_tag(cta_path(cta), id: "cta-#{cta.id}-form", method: 'PUT', remote: true) do %>

    <%= hidden_field_tag('cta[type]', cta.type) %>

    <% if cta.primary? %>

      <div id="primary-cta-colors" class="form-group row" data-toggle="tooltip" data-placement="top" data-container="body" data-title="Contact Customer Stories">
        <%= label_tag 'primary_cta[background_color]', 'Button',
              class: 'col-sm-2 control-label' %>
        <div class='col-sm-4'>
          <%= text_field_tag 'primary_cta[background_color]',
                company.primary_cta_background_color,
                class: 'form-control mini-colors' %>
        </div>
        <%= label_tag 'primary_cta[text_color]', 'Text',
              class: 'col-sm-2 control-label text-right' %>
        <div class='col-sm-4'>
          <%= text_field_tag 'primary_cta[text_color]',
                company.primary_cta_text_color,
                class: 'form-control mini-colors' %>
        </div>
      </div>

    <% end %>

  <!-- note: the inline styling is necessary to prevent jerky collapse behavior -->

    <div class="form-group" style='margin-bottom: 15px'>
      <%= label_tag 'cta[description]', 'Description' %>
      <%= text_field_tag 'cta[description]', cta.description,
            placeholder: 'description', class: 'form-control' %>
    </div>

    <div class="form-group" style='margin-bottom: 15px'>
      <%= label_tag 'cta[display_text]', 'Display text' %>
      <%= text_field_tag 'cta[display_text]', cta.display_text,
            placeholder: 'display text', class: 'form-control' %>
    </div>

    <% if cta.type == 'CTALink' %>

      <div class="form-group" style='margin-bottom: 15px'>
        <%= label_tag 'cta[link_url]', 'Website address' %>
        <%= text_field_tag 'cta[link_url]', cta.link_url,
              placeholder: 'website address', class: 'form-control' %>
      </div>

    <% elsif cta.type == 'CTAForm' %>

      <div class="form-group" style='margin-bottom: 15px'>
        <%= label_tag 'cta[form_html]', 'HTML' %>
        <%= text_area_tag 'cta[form_html]', cta.form_html, rows: 3,
              placeholder: 'html, e.g. <script> and <form> tags',
              class: 'form-control' %>
      </div>

    <% end %>

    <div class="checkbox text-right">
      <label>
        <!--
        note that an input to represent the false value would be necesseary here if we wanted to
        see the parameter with false value on the server. however in this case we're only interested
        if the value is true
        -->
        <%= check_box_tag(cta.primary ? 'cta[remove_primary]' : 'cta[make_primary]', true, false) %>
        <span><%= cta.primary ? 'Remove primary' : 'Make primary' %></span>
      </label>
    </div>

    <div class="form-group text-right">
      <button type="submit" class="btn btn-sm btn-success" form="cta-<%= cta.id %>-form" style="width: 98px">
        <span>Save changes</span>
        <i class='fa fa-spin fa-circle-o-notch' style='display:none'></i>
        <i class='fa fa-check' style='display:none'></i>
      </button>
    </div>

  <% end %>
</div>

