
<div class="cta-header">

  <span class="icon">
    <i class="fa fa-fw fa-<%= cta.type == 'CTALink' ? 'link' : 'wpforms' %>"></i>
  </span>
  <span class="description">
    <%= cta.description %>
  </span>
  <button type="button">
    <i class="fa fa-fw fa-chevron-down"></i>
    <i class="fa fa-fw fa-chevron-up" style="display: none;"></i>
  </button>
  <button type="button" class="remove"">
    <i class="fa fa-fw fa-remove"></i>
  </button>

  <div class="confirm-removal">
    <span>Are you sure?</span>
    <button class="confirm-removal__button">
      <i class="fa fa-fw fa-remove"></i>
    </button>
  </div>

</div>

<div id="edit-cta-<%= cta.id %>" class="collapse" style="padding: 0 15px 15px 15px">

  <hr>

  <%= form_tag(cta_path(cta), id: "cta-#{cta.id}-form", method: 'PUT', remote: true) do %>

    <%= hidden_field_tag("cta_#{cta.id}[type]", cta.type) %>

    <% if cta.primary? %>

<% prevent_changes = ['varmour', 'retailnext', 'centerforcustomerengagement', 'compas'].include?(company.subdomain)%>
<% if prevent_changes %>
<div style="margin-bottom: 10px; background: transparent; opacity: 0.5" data-toggle="tooltip" data-placement="top" data-container="body" data-title="Contact Customer Stories">
<% end %>

      <div id="primary-cta-colors" class="form-group row" style="<%= prevent_changes ? 'pointer-events: none;' : '' %>">
        <%= label_tag(
              'primary_cta[background_color]',
              'Button',
              class: 'col-sm-2 control-label'
            ) %>
        <div class='col-sm-4'>
          <%= text_field_tag(
                'primary_cta[background_color]',
                company.primary_cta_background_color,
                class: 'form-control mini-colors'
              ) %>
        </div>
        <%= label_tag 'primary_cta[text_color]', 'Text',
              class: 'col-sm-2 control-label text-right' %>
        <div class='col-sm-4'>
          <%= text_field_tag(
                'primary_cta[text_color]',
                company.primary_cta_text_color,
                class: 'form-control mini-colors'
              ) %>
        </div>
      </div>

<% if prevent_changes %>
</div>
<% end %>


    <% end %>

  <!-- note: the inline styling is necessary to prevent jerky collapse behavior -->

    <div class="form-group" style="margin: 0 0 20px 0">
      <%= label_tag "cta_#{cta.id}[description]", 'Description' %>
      <%= text_field_tag "cta_#{cta.id}[description]", cta.description,
            placeholder: 'description', class: 'form-control' %>
    </div>

    <div class="form-group" style="margin: 0 0 20px 0">
      <%= label_tag "cta_#{cta.id}[display_text]", 'Display text' %>
      <%= text_field_tag "cta_#{cta.id}[display_text]", cta.display_text,
            placeholder: 'display text', class: 'form-control' %>
    </div>

    <% if cta.type == 'CTALink' %>

      <div class="form-group" style="margin: 0 0 20px 0">
        <%= label_tag "cta_#{cta.id}[link_url]", 'URL' %>
        <%= text_field_tag "cta_#{cta.id}[link_url]", cta.link_url,
              placeholder: 'website address', class: 'form-control' %>
      </div>

    <% elsif cta.type == 'CTAForm' %>

      <div class="form-group" style="margin: 0 0 20px 0">
        <%= label_tag "cta_#{cta.id}[form_html]", 'HTML' %>
        <%= text_area_tag "cta_#{cta.id}[form_html]", cta.form_html, rows: 3,
              placeholder: 'html, e.g. <script> and <form> tags',
              class: 'form-control' %>
      </div>

    <% end %>

    <div class="checkbox text-right">
      <label>
        <!--
        note that an input to represent the false value would be necesseary here if we wanted to
        see the parameter with false value on the server. however in this case we're only interested
        if the value is true
        -->
        <%= check_box_tag(
              cta.primary ?
                "cta_#{cta.id}[remove_primary]" :
                "cta_#{cta.id}[make_primary]",
              true,
              false
            ) %>
        <span><%= cta.primary ? 'Remove primary' : 'Make primary' %></span>
      </label>
    </div>

    <!-- note: the inline styling is necessary to prevent jerky collapse behavior -->
    <div class="form-group text-right" style="margin: 0">
      <button type="submit" class="btn btn-sm btn-success" form="cta-<%= cta.id %>-form" style="width: 98px">
        <span>Save changes</span>
        <i class="fa fa-spin fa-circle-o-notch" style="display:none"></i>
        <i class="fa fa-check" style="display:none"></i>
      </button>
    </div>

  <% end %>
</div>

