
<%= form_tag(company_ctas_path(company), id: 'new-cta-form', remote: true) do %>

  <%= hidden_field_tag('cta[is_primary]', false) %>

  <div class="form-group">

    <div class='btn-group' data-toggle="buttons">
      <label>New CTA</label>
      <span class='pull-right'>
        <label id='link-radio' class="active radio-inline">
          <%= radio_button_tag('cta[type]', 'link', true) %>
          Web link
        </label>
        <label id='html-radio' class="radio-inline">
          <%= radio_button_tag('cta[type]', 'form', false) %>
          Web form
        </label>
      </span>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <%= text_field_tag 'cta[link_description]', nil,
              class: 'form-control link-input', autocomplete: 'off',
              placeholder: 'description' %>
        <%= text_field_tag 'cta[link_display_text]', nil,
              class: 'form-control link-input', autocomplete: 'off',
              placeholder: 'display text' %>
        <%= text_field_tag 'cta[link_url]', nil,
              class: 'form-control link-input', autocomplete: 'off',
              placeholder: 'website address' %>
        <%= text_field_tag 'cta[form_description]', nil,
              class: 'form-control html-input', autocomplete: 'off',
              placeholder: 'description' %>
        <%= text_field_tag 'cta[form_display_text]', nil,
              class: 'form-control html-input', autocomplete: 'off',
              placeholder: 'display text' %>
        <%= text_area_tag 'cta[form_html]', nil,
              class: 'form-control html-input', rows: 3,
              placeholder: 'html, e.g. <script> and <form> tags' %>
      </div>
    </div>

  </div>

  <div class="row text-right">
    <div class="col-sm-12">
      <div class="checkbox">
        <label>
          <%= check_box_tag('cta[is_primary]', true, false) %>
          Make primary
        </label>
      </div>
    </div>
  </div>

  <div class="row text-right">
    <div class="col-sm-12">
      <!-- <button type="reset" class="btn btn-default">Clear</button> -->
      <button type="submit" class="btn btn-success pull-right" form="new-cta-form" style="width:82px">
        <span>Add CTA</span>
        <i class='fa fa-spin fa-circle-o-notch' style='display:none'></i>
        <i class='fa fa-check' style='display:none'></i>
      </button>
    </div>
  </div>

<% end %>