
<%= form_tag(
      company_ctas_path(company),
      { id: 'new-cta-form', class: 'form-horizontal', remote: true }
    ) do %>

  <div class="form-group">

    <label class="col-sm-3 control-label">Type</label>
    <div class="col-sm-9">
      <div class="btn-group">
        <label class="active radio-inline">
          <%= radio_button_tag('new_cta[type]', 'link', true) %>
          Web link
        </label>
        <label class="radio-inline">
          <%= radio_button_tag('new_cta[type]', 'form', false) %>
          Web form
        </label>
      </div>
    </div>

  </div>

  <% [
       { type: 'link', label: 'Description', name: 'link_description' },
       { type: 'form', label: 'Description', name: 'form_description' },
       { type: 'link', label: 'Display Text', name: 'link_display_text' },
       { type: 'form', label: 'Display Text', name: 'form-display_text' },
       { type: 'link', label: 'Link URL', name: 'link_url' }
     ].each do |input_field| %>

    <div class="form-group cta-<%= input_field[:type] %>">
      <%= label_tag(
            "new_cta[#{input_field[:name]}]",
            input_field[:label],
            class: 'col-sm-3 control-label'
          ) %>
      <div class="col-sm-9">
        <%= text_field_tag(
              "new_cta[#{input_field[:name]}]",
              nil,
              {
                class: "form-control",
                autocomplete: 'off',
              }
            ) %>
      </div>
    </div>

  <% end %>

  <div class="form-group cta-form">
    <%= label_tag(
          'new_cta[form_html]',
          'Form HTML',
          class: 'col-sm-3 control-label'
        ) %>
    <div class="col-sm-9">
      <%= text_area_tag(
            'new_cta[form_html]',
            nil,
            { class: 'form-control', rows: 3, placeholder: 'html, e.g. <script> and <form> tags' }
          ) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <div class="checkbox">
        <label>
          <!--
        note that an input to represent the false value would be necesseary here if we wanted to
        see the parameter with false value on the server. however in this case we're only interested
        if the value is true
        -->
          <%= check_box_tag('new_cta[make_primary]', true, false) %>
          Make this the Primary CTA
        </label>
      </div>
    </div>
  </div>

<% end %>