(function () {

  // need the subdomain in order to determine whether to allow changes to primary cta colors
  var company = <%= raw @company.to_json({ only: [:subdomain, :primary_cta_background_color, :primary_cta_text_color] }) %>;
      template = _.template($('#cta-template').html()),
      cta = <%= raw @cta.to_json({ methods: [:type] }) %>,
      oldPrimaryCta = <%= @old_primary_cta.present? %> && <%= raw @old_primary_cta.to_json({ methods: [:type] }) %>,
      makePrimary = <%= @make_primary %>,
      removePrimary = <%= @remove_primary %>;

  if (makePrimary || removePrimary) {
    window.scrollTo(0, 0);

    // move old primary (if it exists) to the secondary list
    if (oldPrimaryCta) {
      $('#secondary-ctas').prepend(
        _.template($('#cta-template').html())({
          company: company,
          cta: oldPrimaryCta,
          isPrimary: false
        })
      );
    }

    if (removePrimary) {
      $('#primary-cta li')
        .attr('data-cta-id', '')
        .empty()
        .append(
          '<a href="javascript:;" data-toggle="modal" data-target="#new-cta-modal"><em>Add a Primary CTA</em></a>'
        );
    }

    if (makePrimary) {
      $('#secondary-ctas').find('[data-cta-id="' + cta.id + '"]').remove();
      $.when(
        $('#primary-cta').empty().append(template({ company: company, cta: cta, isPrimary: true }))
      )
        .done(function () {
          // init minicolors
          $('#primary-cta .mini-colors').minicolors({ theme: 'bootstrap' });
          $('[data-toggle="tooltip"]').tooltip();
        });
    }

  } else {
    // update the description field (not tied to the form)
    $('li[data-cta-id="' + cta.id + '"] span.description').text(cta.description);
    toggleFormDone($('#cta-' + cta.id + '-form'), true);
  }

}());