
<div id='curate' role='tabpanel' class="<%= workflow_stage == 'curate' ? 'active tab-pane fade in' : 'tab-pane fade' %>">

  <div class='container clip'>

    <div class="hidden">
      <ul class="nav nav-tabs">
        <li class="<%= curate_view == 'stories' ? 'active' : '' %>">
          <a href="#curate-stories" data-toggle='tab' data-target='#curate-stories'></a>
        </li>
        <li class="<%= curate_view == 'story' ? 'active' : '' %>">
          <a href="#curate-story" data-toggle='tab' data-target='#curate-story'></a>
        </li>
      </ul>
    </div>

    <div class="tab-content">

      <div id='curate-stories'
          class="tab-pane fade <%= curate_view == 'stories' ? 'active in' : '' %>">

        <div class="layout">

          <div class="col-md-3 col-sm-4 layout-sidebar">

            <div class='sidebar-contents'>

              <h4 class='lead' style='margin-bottom:0'>Customer Stories</h4>
              <span><a href='/'>Public View</a></span>

              <hr style='margin-bottom: 0'>

              <button type='button' style='width:160px; height:32px; margin:25px 0;' class='btn btn-secondary btn-sm' data-toggle='modal' data-target='#new-story-modal'><i class='glyphicon glyphicon-plus-sign' style='font-size:15px;top:2px'></i>&nbsp;&nbsp;&nbsp;Add New Story&nbsp;</button>

              <%= render 'companies/curate/filters', { company: company } %>

            </div>

          </div>

          <div class="col-md-9 col-sm-8 layout-main">

            <ul id="curate-gallery" class='grid list-unstyled text-center'>
            </ul>

          </div>

        </div>

      </div>

      <div id='curate-story'
          class="tab-pane fade <%= curate_view == 'story' ? 'active in' : '' %>">

        <% if curate_view == 'story' %>

          <%= render(
                partial: 'stories/edit',
                locals: { company: company, story: story, tab_select: tab_select }
              ) %>

        <% end %>

      </div>

    </div>
  </div>

</div>


