
<div id='edit-story-ctas' class="col-sm-6">

  <p class='lead'>CTAs</p>

  <div class="well">
    <div class="container-fluid">

      <div class="row">
        <div class="col-sm-10">
          <%= select_tag 'cta', options_for_select(company.ctas_select_options),
              id: 'ctas-select', class: 'form-control' %>
        </div>
        <div class="col-sm-2">
          <%= button_tag class: 'btn btn-secondary btn-sm',
                id: 'cta-add', disabled: true do %>
            <i class='glyphicon glyphicon-plus'></i>
          <% end %>
        </div>
      </div>

      <hr>

      <div id='ctas-list'>

      <% story.ctas.each_with_index do |action, index| %>

        <div class='ctas-list-item'>
          <div class="modify-cta">
            <div class='delete-cta' id="delete-cta-<%= index %>"
                 data-action="<%= cta_path(action) %>">
              <i class='glyphicon glyphicon-remove bip-clickable'></i>
            </div>
          </div>

          <div class="row cta">
            <div class="col-sm-1">
              <i class="fa fa-<%= action.type == 'CTALink' ? 'link' : 'wpforms' %>"></i>
            </div>
            <div class="col-sm-11">
              <span><%= action.description %></span>
            </div>
          </div>
        </div>

      <% end %>

      </div>

    </div>
  </div>
</div>