
<div id='edit-outbound-actions' class="col-sm-6">

  <p class='lead'>Outbound Actions</p>

  <div class="well">
    <div class="container-fluid">

      <%= form_tag new_outbound_action_path(story.id), remote: true,
            id: 'outbound-actions-form' do %>

        <div class='row btn-group' data-toggle="buttons">
          <div class="col-sm-12">
            <label class="radio-inline active">
              <input id='link-radio' name='outbound-options' type="radio"
                     autocomplete="off" checked>Link
            </label>
            <label class="radio-inline">
              <input id='source-radio' name='outbound-options' type="radio"
                     autocomplete="off">Web form
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <%= text_field_tag 'outbound_action[link_description]', nil,
                  class: 'form-control link-input',
                  placeholder: 'description' %>
            <%= text_field_tag 'outbound_action[link_display_text]', nil,
                  class: 'form-control link-input',
                  placeholder: 'display text' %>
            <%= text_field_tag 'outbound_action[link_url]', nil,
                  class: 'form-control link-input',
                  placeholder: 'website address' %>
            <%= text_field_tag 'outbound_action[form_description]', nil,
                  class: 'form-control html-input',
                  placeholder: 'description' %>
            <%= text_field_tag 'outbound_action[form_display_text]', nil,
                  class: 'form-control html-input',
                  placeholder: 'display text' %>
            <%= text_area_tag 'outbound_action[form_html]', nil,
                  class: 'form-control html-input', rows: 3,
                  placeholder: 'html, e.g. <script> and <form> tags' %>
          </div>
          <div>
            <%= button_tag type: 'submit', class: 'btn btn-secondary btn-sm',
                  id: 'outbound-links-submit', disabled: true do %>
              <i class='glyphicon glyphicon-plus'></i>
            <% end %>
          </div>
        </div>

      <% end %>

      <hr>

      <div id='outbound-actions-list'>

        <% story.outbound_actions.each_with_index do |action, index| %>

        <div class='outbound-actions-list-item'>
          <div class="modify-outbound-action">
            <div class='delete-outbound-action' id="delete-outbound-action-<%= index %>"
                 data-action="<%= outbound_action_path(action) %>">
              <i class='glyphicon glyphicon-remove bip-clickable'></i>
            </div>
          </div>

          <div class="row outbound-action">
            <div class="col-sm-1">
              <i class="fa fa-<%= action.type == 'OutboundLink' ? 'link' : 'wpforms' %>"></i>
            </div>
            <div class="col-sm-11">
              <span><%= action.description %></span>
            </div>
          </div>
        </div>

        <% end %>
      </div>


    </div>
  </div>
</div>