
<div id='edit-story-tags'>

  <p class='lead'>Tags</p>
  <div class="well">
    <div class="container-fluid">

      <%= form_tag(tags_story_path(story), method: "put", remote: true,
                   id: 'story-tags-form') do %>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <%= label_tag "category_tags[]", 'Categories' %>
            <!-- Note the necessary '[]' notation below  -->
            <!-- if not present, will only return a single value  -->
            <%= select_tag "category_tags[]",
                options_for_select(
                  company.story_categories.present? ? company.story_categories.select_options : ['none available'],
                  { selected: story.category_tags.pluck(:id),
                    disabled: ['none available'] }
                ),
                { multiple: 'true', class: 'story-tags form-control', tabIndex: '-1',
                  style: 'width:100%' } %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">

          <div class="form-group">
            <%= label_tag "product_tags[]", 'Products' %>
            <%= select_tag "product_tags[]",
                options_for_select(
                  company.products.present? ? company.products.select_options : ['none available'],
                  { selected: story.product_tags.pluck(:id),
                    disabled: ['none available'] }
                ),
                { multiple: 'true', class: 'story-tags form-control', tabIndex: '-1',
                  style: 'width:100%' } %>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">

          <div class="form-group text-right">
            <span class='ajax-confirm' style='display:none;color:green'>
              <i class='fa fa-check'></i>
            </span>&nbsp;
            <input type='submit' id='story-tags-submit'
                   class='btn btn-sm btn-primary' value="Save" disabled>&nbsp;
            <button type="reset" id='story-tags-reset'
                    class="btn btn-sm btn-default" disabled>Cancel</button>
          </div>

        </div>
      </div>

      <% end %>

    </div>
  </div>

</div>