
<!-- <section class="story-contributors" style="visibility: hidden"> -->
<section class="story-contributors">

  <div class="section-title text-center">
    <h4><%= company.subdomain == 'varmour' ? 'Success Team' : 'Story Profiles' %></h4>
  </div>

<!--   <div class="hidden-xs <%#= is_plugin ? 'cs-well' : 'well' %> contributors">
    <div class="section-title">
      <h4><%#= company.subdomain == 'varmour' ? 'Success Team' : 'Story Profiles' %></h4>
    </div>
  </div>

  <div class="visible-xs">
    <div class="section-title">
      <h4><%#= company.subdomain == 'varmour' ? 'Success Team' : 'Story Profiles' %></h4>
    </div>
  </div> -->

  <!-- TODO http://jsfiddle.net/ashkyd/6ut8qf45/ (iframe related) -->
  <% contributors.each do |contributor| %>


    <% if is_plugin %>

      <!-- <div class="linkedin-widget" data-linkedin-url="<%#= contributor.linkedin_url %>" data-width="<%= linkedin_widget_width(window_width) %>"> -->

      <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="<%= contributor.linkedin_url.match(/in\/((\w|-)+)(\/|$)/).try(:[], 1) %>">
        <a class="LI-simple-link" href="<%= contributor.linkedin_url %>?trk=profile-badge"></a>

        <% if window_width.to_i < 768 %>
        <!-- this div helps to manage the overscroll behavior of the overlays' .scroll-wrap -->
          <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; cursor:pointer"></div>
        <% end %>

      </div>

    <% else %>

      <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="<%= contributor.linkedin_url.match(/in\/((\w|-)+)(\/|$)/).try(:[], 1) %>">
        <a class="LI-simple-link" href="<%= contributor.linkedin_url %>?trk=profile-badge"></a>
      </div>

    <% end %>

  <% end %>

</section>