
<section class="story-contributors text-center hidden">

  <div class="hidden-xs <%= is_widget ? 'cs-well' : 'well' %>">
    <div class="section-title-container">
      <h4>Success Team</h4>
    </div>
  </div>

  <div class="visible-xs">
    <div class="section-title-container">
      <h4>Success Team</h4>
    </div>
  </div>

  <% contributors.each do |contributor, index| %>

    <% if is_widget %>

      <div class="linkedin-widget" data-linkedin-url="<%= contributor.linkedin_url %>">
        <!-- <script src="//platform.linkedin.com/in.js" type="text/javascript"></script> -->
        <script type="IN/MemberProfile"
                data-id="<%= contributor.linkedin_url %>"
                data-format="inline"
                data-related="true"
                data-width="<%= linkedin_widget_width(window_width) %>"></script>
      </div>

    <% else %>

      <div class="linkedin-widget linkedin-widget-wide" data-linkedin-url="<%= contributor.linkedin_url %>">
        <!-- <script src="//platform.linkedin.com/in.js" type="text/javascript"></script> -->
        <script type="IN/MemberProfile"
                data-id="<%= contributor.linkedin_url %>"
                data-format="inline"
                data-related="true"
                data-width="420"></script>
      </div>

      <div class="linkedin-widget" data-linkedin-url="<%= contributor.linkedin_url %>">
        <!-- <script src="//platform.linkedin.com/in.js" type="text/javascript"></script> -->
        <script type="IN/MemberProfile"
                data-id="<%= contributor.linkedin_url %>"
                data-format="inline"
                data-related="true"
                data-width="340"></script>
      </div>

    <% end %>

  <% end %>

</section>