
<div class="hidden-xs">

  <section class="story-narration <%= is_widget ? 'cs-well' : 'well' %>">

      <!-- need the container for providing inherited styling -->
      <div class="section-title-container">
        <h4><%= story.title %></h4>
      </div>

      <div>
        <%= story.content.html_safe %>
      </div>

  <!--     <div class="hidden-md hidden-lg">
        <%#= story.content.html_safe %>
      </div> -->


  </section>

</div>

<div class="story-narration visible-xs-block">

  <section>

      <!-- need the container for providing inherited styling -->
      <div class="section-title-container">
        <h4><%= story.title %></h4>
      </div>

      <div>
        <%= story.content.html_safe %>
      </div>

  </section>

</div>