
<div class="<%= is_plugin ? 'cs-preview-wrapper' : 'preview-wrapper' %>">

  <article>

  <% if is_plugin %>

    <div class="cs-story-header hidden-xs">

      <button type="button" class="cs-close">
        <i class="fa fa-fw fa-arrow-left-thin fa-2x"></i>
      </button>
      <button type="button" class="cs-close">
        <i class="fa fa-fw fa-times-thin fa-2x"></i>
      </button>

    </div>

  <% end %>

    <div class="<%= is_plugin ? 'cs-container' : 'container' %>">

      <div class="<%= is_plugin ? 'cs-row' : 'row' %>">
        <div class="col-xs-12">

          <div class="cs-customer-logo">
            <div class="text-center">
              <%= image_tag(story.customer.logo_url || LOGO_PLACEHOLDER, class: 'img-responsive') %>
              <div class="cs-customer-name">
                <span><%= story.customer.name %></span>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="visible-xs-block">
        <div class="<%= is_plugin ? 'cs-row' : 'row' %>">
          <div class="col-xs-12">

            <section class="cs-customer-quote">

              <blockquote>
                <p><%= story.quote %></p>
                <div class="<%= story.quote_attr_name.blank? ? 'hidden' : '' %>">
                  <cite class="text-right">
                    <p class="cite-name"><%= story.quote_attr_name %></p>
                    <p class="cite-title"><%= story.quote_attr_title %></p>
                  </cite>
                </div>
              </blockquote>

            </section>

            <section class="cs-story-summary">

              <p><%= story.summary&.html_safe %></p>

            </section>

          </div>
        </div>

      </div>

      <div class="hidden-xs">
        <div class="<%= is_plugin ? 'cs-row' : 'row' %>">

          <section class="col-sm-6 cs-story-summary">

            <p><%= story.summary&.html_safe %></p>

          </section>

          <div class="col-sm-6 cs-customer-quote">

          <% if story.quote.present? %>

            <blockquote>
              <p><%= story.quote %></p>
              <div class="<%= story.quote_attr_name.blank? ? 'hidden' : '' %>">
                <cite class="text-right">
                  <p class="cite-name"><%= story.quote_attr_name %></p>
                  <p class="cite-title"><%= story.quote_attr_title %></p>
                </cite>
              </div>
            </blockquote>

          <% end %>

          </div>

        </div>
      </div>

    </div>

  </article>

</div>