
<!-- <div class="story-wrapper hidden"> -->
<article class="<%= is_widget ? 'cs-story-wrapper' : 'story-wrapper' %>">

  <!-- includes video -->
  <section class="<%= is_widget ? 'cs-testimonial' : 'testimonial' %> <%= story.video_url.present? ? '' : 'no-video' %>">

    <% cache("#{company.subdomain}/story-#{story.id}-testimonial", skip_digest: true) do %>

      <%= render(
            'stories/show/testimonial',
            {
              story: story,
              video_present: story.video_url.present?,
              long_customer_name: story.customer.name.length > 20,
              is_widget: is_widget
            }
          ) %>

    <% end %>

  </section>

  <section class="<%= story.video_url.present? ? 'visible-xs-block' : 'hidden' %> <%= is_widget ? 'cs-video-xs' : 'video-xs' %>">

    <% cache("#{company.subdomain}/stories/#{story.id}/video-xs", skip_digest: true) do %>

      <%= render(
            'stories/show/video_xs',
            {
              story: story,
              video_present: story.video_url.present?
            }
          ) %>

    <% end %>

  </section>

  <div class="visible-xs-block <%= is_widget ? 'cs-social-buttons-xs' : 'social-buttons-xs' %>">

    <%= render 'stories/shared/social_buttons_xs', { story: story } %>

  </div>

  <div class="<%= is_widget ? 'cs-story-content' : 'story-content' %>">

    <%= render(
          'stories/show/story_content',
          {
            company: company,
            story: story,
            contributors: contributors,
            related_stories: related_stories,
            is_widget: is_widget,
          }
        ) %>

  </div>

  <% unless is_widget || user_signed_in? %>

    <%= render('stories/shared/sign_in_footer') %>

  <% end %>

</article>