
<div class="<%= is_plugin ? 'cs-container' : 'container' %>">

  <div class="<%= is_plugin ? 'cs-row' : 'row' %>">

    <div class="col-xs-12 col-sm-6 col-md-7">

      <% cache("#{company.subdomain}/stories/#{story.id}/#{is_plugin ? 'cs-' : ''}narrative", skip_digest: true) do %>

        <%= render(
              'stories/show/narrative',
              { company: company, story: story, is_plugin: is_plugin }
            ) %>

      <% end %>

      <div class="visible-xs-block">

        <hr>

        <% cache("#{company.subdomain}/stories/#{story.id}/#{is_plugin ? 'cs-' : ''}results", skip_digest: true) do %>

          <%= render(
                'stories/show/results',
                { company: company, story: story, is_plugin: is_plugin }
              ) %>

        <% end %>

        <% if story.ctas.present? %>

          <hr>

          <%= render('stories/show/ctas', { story: story, is_plugin: is_plugin }) %>

        <% end %>

        <% if related_stories.present? && related_stories.length >= 2 %>

          <hr>

          <%= render(
                'stories/show/related_stories',
                { company: company, related_stories: related_stories }
              ) %>

        <% end %>

        <% if contributors.present? && (window_width.nil? || window_width.to_i < 768) %>

          <hr>

          <%= render(
              'stories/show/contributors',
              { company: company, contributors: contributors, is_plugin: is_plugin, window_width: window_width }
            ) unless company.subdomain == 'pixlee' %>

        <% end %>

      </div>

      <div class="hidden-xs">

        <% if related_stories.present? && related_stories.length >= 2 %>

          <%= render(
                'stories/show/related_stories',
                { company: company, related_stories: related_stories }
              ) %>

        <% end %>

      </div>

    </div>

    <div class="story-sidebar hidden-xs col-sm-6 col-md-5">

      <% cache("#{company.subdomain}/stories/#{story.id}/#{is_plugin ? 'cs-' : ''}results", skip_digest: true) do %>

        <%= render('stories/show/results', { company: company, story: story, is_plugin: is_plugin }) %>

      <% end %>


      <% if story.ctas.present? %>

        <%= render('stories/show/ctas', { story: story, is_plugin: is_plugin }) %>

      <% end %>

      <% if company.subdomain == 'pixlee' %>

        <div class="pixlee-cta">
<!-- <div> -->

          <div class="cta__image"></div>

          <div class="cta__wrapper">
            <div class="cta__text">
              <div>
                <img src="https://s3-us-west-1.amazonaws.com/csp-production-assets/pixlee/square_20logo_2_3_1.png" alt="">
                <span>Inspire purchases with real customer stories.</span>
              </div>
            </div>

            <div class="cta__button">
              <div>
                <div class="primary-cta">

                  <a href="https://www.pixlee.com/request-demo" class="btn">
                    <span>REQUEST DEMO</span>
                  </a>

                  <div>
                    <span>REQUEST DEMO</span>
                  </div>

                </div>

              </div>
            </div>

            <div class="cta__topography">

            </div>
          </div>
<!-- </div> -->
        </div>


      <% end %>


      <% if contributors.present? && (window_width.nil? || window_width.to_i >= 768) %>

        <%# cache("#{company.subdomain}/stories/#{story.id}/contributors", skip_digest: true) do %>

          <%= render(
                'stories/show/contributors',
                { company: company, contributors: contributors, is_plugin: is_plugin, window_width: window_width }
              ) %>

        <%# end %>

      <% end %>

    </div>

  </div>
</div>