
<div class="<%= is_widget ? 'cs-container' : 'container' %>">

  <div class="<%= is_widget ? 'cs-row' : 'row' %>">

    <div class='col-sm-6 col-md-7'>

      <div class="<%= is_widget ? 'cs-well' : 'well' %>">

        <% cache("#{company.subdomain}/story-#{story.id}-narration", skip_digest: true) do %>

          <h4><%= story.title %></h4>

          <div class="visible-md-block visible-lg-block">
            <%= story.content.html_safe %>
          </div>

          <div class="hidden-md hidden-lg">
            <%= story.content.html_safe %>
          </div>

        <% end %>

      </div>


      <% if related_stories.present? && related_stories.length >= 2 %>

        <div class="related-stories hidden-xs <%= is_widget ? 'cs-well' : 'well' %>">

          <div class="<%= is_widget ? 'cs-row' : 'row' %>">
            <div class="col-sm-12">
              <h4>Related Stories</h4>
              <a href='/'>All Stories</a>
            </div>
          </div>

          <div class="grid-container">
            <ul class="grid list-unstyled text-center">

              <% related_stories.each do |story| %>
                <li>
                  <%= render(
                        'stories/shared/story_card',
                        {
                          story: story,
                          is_curator: false,
                          is_widget: false,
                          is_external: false
                        }
                      ) %>
                </li>
              <% end %>

            </ul>
          </div>

        </div>

      <% end %>

    </div>

    <div class="col-sm-6 col-md-5">

      <% cache("#{company.subdomain}/story-#{story.id}-results", skip_digest: true) do %>

        <div class="story-results <%= is_widget ? 'cs-well' : 'well' %>">
          <h4 class="text-center">Results</h4>

          <% story.success.results.each do |result| %>

            <div class="<%= is_widget ? 'cs-row' : 'row' %>">
              <div class="col-xs-1">
                <i class="fa fa-check"></i>
              </div>
              <div class="col-xs-11">
                <p><%= result.description %></p>
              </div>
            </div>

          <% end %>

        </div>

      <% end %>

      <% if story.ctas.present? %>

        <%= render 'stories/show/learn_more', { story: story } %>

      <% end %>

      <%# cache("#{company.subdomain}/story-#{story.id}-contributors", skip_digest: true) do %>

        <div class="linkedin-widgets text-center hidden">

          <% if contributors.present? %>

          <div class="<%= is_widget ? 'cs-well' : 'well' %>">
            <h4>Success Team</h4>
          </div>

            <% contributors.each do |contributor| %>

              <div class="linkedin-widget linkedin-widget-wide" data-linkedin-url="<%= contributor.linkedin_url %>">
                <script type="IN/MemberProfile"
                        data-id="<%= contributor.linkedin_url %>"
                        data-format="inline"
                        data-related="true"
                        data-width="420"></script>
              </div>

              <div class="linkedin-widget" data-linkedin-url="<%= contributor.linkedin_url %>">
                <script type="IN/MemberProfile"
                        data-id="<%= contributor.linkedin_url %>"
                        data-format="inline"
                        data-related="true"
                        data-width="340"></script>
              </div>

            <% end %>

          <% end %>
        </div>
      <%# end %>

      <% if related_stories.present? && related_stories.length >= 2 %>

        <div class="related-stories visible-xs <%= is_widget ? 'cs-well' : 'well' %>">

          <div class="<%= is_widget ? 'cs-row' : 'row' %>">
            <div class="col-xs-12">
              <h4>Related Stories</h4>
              <a href='/'>All Stories</a>
            </div>
          </div>

          <div class="grid-container">
            <ul class="grid list-unstyled text-center">

              <% related_stories.each do |story| %>
                <li>
                  <%= render(
                        'stories/shared/story_card',
                        {
                          company: company,
                          story: story,
                          is_curator: false,
                          is_widget: false,
                          is_external: false
                        }
                      ) %>
                </li>
              <% end %>

            </ul>
          </div>

        </div>

      <% end %>

    </div>

  </div>
</div>