
<%= render 'stories/show/video_modal' %>

<!-- <div class="story-wrapper hidden"> -->
<div class="<%= is_overlay ? 'cs-story-wrapper' : 'story-wrapper' %>">

  <!-- includes video -->
  <div class="<%= is_overlay ? 'cs-testimonial' : 'testimonial' %> <%= story.video_url.present? ? '' : 'no-video' %>">

    <% cache("#{company.subdomain}/story-#{story.id}-testimonial", skip_digest: true) do %>

      <%= render(
            'stories/show/testimonial',
            {
              story: story,
              video_present: story.video_url.present?,
              long_customer_name: story.customer.name.length > 20,
              is_overlay: is_overlay
            }
          ) %>

    <% end %>

  </div>

  <!-- video (xs only) -->
  <div class="visible-xs-block <%= is_overlay ? 'cs-video-xs' : 'video-xs' %> <%= story.video_url.present? ? '' : 'hidden' %>">

    <% cache("#{company.subdomain}/story-#{story.id}-video-xs",
             skip_digest: true) do %>
      <%= render 'stories/show/video_xs',
            { story: story, video_present: story.video_url.present? } %>
    <% end %>

  </div>

  <div class="visible-xs-block text-right <%= is_overlay ? 'cs-social-buttons-xs' : 'social-buttons-xs' %>">

    <% cache("story-social-buttons-xs", skip_digest: true) do %>
      <%= render 'stories/shared/social_buttons_xs', { story: story } %>
    <% end %>

  </div>

  <!-- story content, results, contributing team -->
  <div class="<%= is_overlay ? 'cs-story-content' : 'story-content' %>">

    <%= render(
          'stories/show/story_content',
          {
            company: company,
            story: story,
            contributors: contributors,
            related_stories: related_stories,
            is_overlay: is_overlay
          }
        ) %>

  </div>

  <% unless is_overlay || user_signed_in? %>

    <%= render('stories/shared/sign_in_footer') %>

  <% end %>

</div>