
<div class="<%= is_widget ? 'cs-story-wrapper' : 'story-wrapper hidden' %>">

  <article>

    <% if is_widget %>

      <div class="cs-story-header hidden-xs">

        <button type="button" class="cs-close">
          <i class="fa fa-fw fa-arrow-left-thin fa-2x"></i>
        </button>

        <button type="button" class="cs-close">
          <i class="fa fa-fw fa-times-thin fa-2x"></i>
        </button>

      </div>

    <% end %>

    <!-- includes video -->
    <section class="<%= is_widget ? 'cs-testimonial' : 'testimonial' %> <%= story.video_url.present? ? '' : 'no-video' %>">

      <% cache("#{company.subdomain}/story-#{story.id}-#{is_widget ? 'cs-' : ''}testimonial", skip_digest: true) do %>

        <%= render(
              'stories/show/testimonial',
              {
                story: story,
                long_customer_name: story.customer.name.length > 20,
  # include_video necessary in the event video fails and must be removed; see stories#show
                include_video: story.video_url.present?,
                is_widget: is_widget
              }
            ) %>

      <% end %>

    </section>

    <section class="<%= story.video_url.present? ? 'visible-xs-block' : 'hidden' %> <%= is_widget ? 'cs-story-video-xs' : 'story-video-xs' %>">

      <% cache("#{company.subdomain}/stories/#{story.id}/#{is_widget ? 'cs-' : ''}video-xs", skip_digest: true) do %>

        <%= render(
              'stories/show/video_xs',
              {
                story: story,
                is_widget: is_widget
              }
            ) %>

      <% end %>

    </section>

<!--     <div class="visible-xs-block <%#= is_widget ? 'cs-social-buttons-xs' : 'social-buttons-xs' %>">

      <%#= render 'stories/shared/social_buttons_xs', { story: story, is_widget: is_widget } %>

    </div> -->

    <!-- <div class="visible-xs-block">

    <%# if @company.ctas.primary.present? %>

      <button type="button" class="primary-cta btn btn-default" style="<%#= primary_cta_style(@company) %>">
        <%#= link_to(
              @company.ctas.primary.link_url,
              target: '_blank'
            ) do %>
          <span><%#= @company.ctas.primary.display_text %></span>
        <%# end %>
      </button>

    <%# end %>

    </div> -->

    <div class="<%= is_widget ? 'cs-story-content' : 'story-content' %>">

      <%= render(
            'stories/show/story_content',
            {
              company: company,
              story: story,
              contributors: contributors,
              related_stories: related_stories,
              is_widget: is_widget,
              window_width: is_widget ? window_width : nil
            }
          ) %>

    </div>

    <% unless is_widget || user_signed_in? %>

      <%= render('stories/shared/sign_in_footer') %>

    <% end %>

  </article>

</div>