
<%= render 'stories/show/video_modal' %>

<!-- <div class="story-wrapper hidden"> -->
<div class="story-wrapper <%= is_overlay ? 'overlay' : '' %>">

  <!-- includes video -->
  <div class="testimonial <%= story.video_url.present? ? '' : 'no-video' %>">

    <% cache("#{company.subdomain}/story-#{story.id}-testimonial", skip_digest: true) do %>

      <%= render(
            'stories/show/testimonial',
            {
              story: story,
              video_present: story.video_url.present?,
              long_customer_name: story.customer.name.length > 20
            }
          ) %>

    <% end %>

  </div>

  <!-- video (xs only) -->
  <div class="video-xs visible-xs-block <%= story.video_url.present? ? '' : 'hidden' %>">

    <% cache("#{company.subdomain}/story-#{story.id}-video-xs",
             skip_digest: true) do %>
      <%= render 'stories/show/video_xs',
            { story: story, video_present: story.video_url.present? } %>
    <% end %>

  </div>

  <div class="social-buttons-xs visible-xs-block text-right">

    <% cache("story-social-buttons-xs", skip_digest: true) do %>
      <%= render 'stories/shared/social_buttons_xs', { story: story } %>
    <% end %>

  </div>

  <!-- story content, results, contributing team -->
  <div class='story-content'>

    <%= render(
          'stories/show/story_content',
          {
            company: company,
            story: story,
            contributors: contributors,
            related_stories: related_stories
          }
        ) %>

  </div>

  <% unless is_overlay || user_signed_in? %>

    <%= render('stories/shared/sign_in_footer') %>

  <% end %>

</div>