
<div class="<%= is_plugin ? 'cs-container' : 'container' %>">

  <div class="<%= is_plugin ? 'cs-row' : 'row' %>">

    <div class="col-xs-12 col-sm-6 col-md-7">

      <% cache("#{company.subdomain}/stories/#{story.id}/#{is_plugin ? 'cs-' : ''}narrative", skip_digest: true) do %>

        <%= render(
              'stories/show/narrative',
              { company: company, story: story, is_plugin: is_plugin }
            ) %>

      <% end %>

      <div class="visible-xs-block">

        <hr>

        <% cache("#{company.subdomain}/stories/#{story.id}/#{is_plugin ? 'cs-' : ''}results", skip_digest: true) do %>

          <%= render(
                'stories/show/results',
                { company: company, story: story, is_plugin: is_plugin }
              ) %>

        <% end %>

        <% if story.ctas.present? %>

          <hr>

          <%= render('stories/show/ctas', { story: story, is_plugin: is_plugin }) %>

        <% end %>

        <% if related_stories.present? && related_stories.length >= 2 %>

          <hr>

          <%= render(
                'stories/show/related_stories',
                { company: company, related_stories: related_stories }
              ) %>

        <% end %>

        <% if contributors.present? && (window_width.nil? || window_width.to_i < 768) %>

          <hr>

          <%= render(
              'stories/show/contributors',
              { company: company, contributors: contributors, is_plugin: is_plugin, window_width: window_width }
            ) %>

        <% end %>

      </div>

      <div class="hidden-xs">

        <% if related_stories.present? && related_stories.length >= 2 %>

          <%= render(
                'stories/show/related_stories',
                { company: company, related_stories: related_stories }
              ) %>

        <% end %>

      </div>

    </div>

    <div class="hidden-xs col-sm-6 col-md-5">

      <% cache("#{company.subdomain}/stories/#{story.id}/#{is_plugin ? 'cs-' : ''}results", skip_digest: true) do %>

        <%= render('stories/show/results', { company: company, story: story, is_plugin: is_plugin }) %>

      <% end %>

      <% if story.ctas.present? %>

        <%= render('stories/show/ctas', { story: story, is_plugin: is_plugin }) %>

      <% end %>


      <% if contributors.present? && (window_width.nil? || window_width.to_i >= 768) %>

        <%# cache("#{company.subdomain}/stories/#{story.id}/contributors", skip_digest: true) do %>

          <%= render(
                'stories/show/contributors',
                { company: company, contributors: contributors, is_plugin: is_plugin, window_width: window_width }
              ) %>

        <%# end %>

      <% end %>

    </div>

  </div>
</div>