


<%# content_for(:underscore_templates) do %>
  <%#= render 'companies/crowdsource/contributors/csp_linkedin_widget_template' %>
<%# end %>

<%# @story.ctas.forms.each do |form| %>
  <%#= render 'ctas/cta_form_modal', { form: form } %>
<%# end %>

<div class="story-wrapper">

  <!-- includes video -->
  <div id="testimonial" class="<%= story.video_url.present? ? '' : 'no-video' %>">

    <% cache("#{@company.subdomain}/story-#{@story.id}-testimonial", skip_digest: true) do %>

      <%= render(
            'stories/show/testimonial',
            {
              story: story,
              video_present: story.video_url.present?,
              long_customer_name: story.customer.name.length > 20
            }
          ) %>

    <% end %>

  </div>

  <div id='story-section-video-xs' class="visible-xs-block <%= story.video_url.present? ? '' : 'hidden' %>">

    <% cache("#{@company.subdomain}/story-#{@story.id}-video-xs", skip_digest: true) do %>

      <%= render(
            'stories/show/video_xs',
            { story: story, video_present: story.video_url.present? }
          ) %>

    <% end %>

  </div>

  <div id='social-buttons-xs' class="visible-xs-block text-right">

    <% cache("story-social-buttons-xs", skip_digest: true) do %>
      <%= render 'stories/shared/social_buttons_xs', { story: story } %>
    <% end %>

  </div>

  <!-- story content, results, contributing team -->
  <div id='story-section-content'>

    <%= render(
          'stories/show/story_content',
          { company: company, story: story, contributors: contributors, related_stories: story.related_stories }
        ) %>

  </div>

</div>  <!-- story wrapper -->

<%= javascript_include_tag('lib/video') %>

