
<div class="<%= is_widget ? 'cs-container' : 'container' %>">

  <div class="<%= is_widget ? 'cs-row' : 'row' %>">

    <div class="col-xs-12 <%= video_present ? 'col-sm-6 col-md-7' : 'no-video' %>">

      <div class="customer-logo-quote row hidden-xs">

        <div class="text-center <%= video_present ? 'col-sm-12' : (long_customer_name ? 'col-sm-4' : 'col-sm-4 col-lg-3') %>">
          <div class="customer-logo">
            <%= image_tag (story.customer.logo_url || LOGO_PLACEHOLDER_URL), class: 'img-responsive' %>
          </div>
          <div class="customer-name">
            <span><%= story.customer.name %></span>
          </div>
        </div>


        <div class="customer-quote <%= video_present ? 'col-sm-12' : (long_customer_name ? 'col-sm-8' : 'col-sm-8 col-lg-8') %>">

          <blockquote>
            <p><%= story.quote %></p>
            <div class="<%= story.quote_attr_name.blank? ? 'hidden' : '' %>">
              <cite class="text-right">
                <p class="cite-name"><%= story.quote_attr_name %></p>
                <p class="cite-title"><%= story.quote_attr_title %></p>
              </cite>
            </div>
          </blockquote>


        </div>

        <!-- filler -->
        <div class="<%= video_present ? 'hidden' : 'col-lg-1' %>"></div>

      </div>

      <div class="customer-logo-quote visible-xs-block">

        <div class="customer-logo" style="display:flex; align-items: center;">
            <%= image_tag (story.customer.logo_url || LOGO_PLACEHOLDER_URL), class: 'img-responsive', style: 'display: inline-block; mix-blend-mode: multiply' %>
          <!-- </div> -->
          <!-- <div class="col-xs-7"> -->
            <span><%= story.customer.name %></span>
        </div>

        <div class="customer-quote">
          <p><em>"<%= story.quote %>"</em></p>
        </div>

        <div class="customer-quote-attr">
          <div class="text-right">
            <span><%= story.quote_attr_name %></span>
          </div>
          <div class="text-right">
            <span><%= story.quote_attr_title %></span>
          </div>
        </div>

      </div>
    </div>

    <div class="<%= is_widget ? 'cs-story-video' : 'story-video' %> <%= video_present ? 'hidden-xs col-sm-6 col-md-5' : 'hidden' %>">

      <!-- <div itemprop='video' itemscope itemtype='//schema.org/VideoObject'> -->
        <!-- <meta itemprop='' content='' -->

        <% if story.video_info[:provider] == 'wistia' %>

          <script src="//fast.wistia.com/embed/medias/<%= story.video_info[:id] %>.jsonp" async></script>
          <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
          <div class="wistia_responsive_padding"
               style="padding:56.25% 0 0 0; position:relative;">
            <div class="wistia_responsive_wrapper"
                 style="height:100%;left:0;position:absolute;top:0;width:100%;">
              <div class="wistia_embed wistia_async_<%= story.video_info[:id] %>
                    popover=true popoverAnimateThumbnail=true videoFoam=true"
                   style="display:inline-block; width:100%; height:100%">&nbsp;
              </div>
            </div>
          </div>

        <% else %>

          <div class="video-thumb-container"
               data-toggle='modal' data-target='#video-modal'
               data-provider="<%= story.video_info[:provider] %>"
               data-video-id="<%= story.video_info[:id] %>"
               data-video-url="<%= story.video_url %>">
          </div>

        <% end %>

      <!-- </div> -->  <!-- meta VideoObject -->
    </div>

  </div>

</div>



