
<div class="<%= is_plugin ? 'cs-container' : 'container' %>">

  <div class="<%= is_plugin ? 'cs-row' : 'row' %>">

    <div class="col-xs-12 <%= include_video ? 'col-sm-6 col-md-7' : 'no-video' %>">

      <div class="customer-logo-quote visible-xs-block">

        <div class="<%= is_plugin ? 'cs-customer-logo' : 'customer-logo' %>">
          <div class="text-center">
            <%= image_tag(story.customer.logo_url || LOGO_PLACEHOLDER_URL, class: 'img-responsive') %>

            <% if story.customer.show_name_with_logo? %>
              <div class="customer-name">
                <span><%= story.customer.name %></span>
              </div>
            <% end %>

          </div>
        </div>

        <div class="<%= is_plugin ? 'cs-customer-quote' : 'customer-quote' %>">

        <% if story.quote.present? %>

          <blockquote>
            <p><%= story.quote.chars.delete_if { |char| [34, 39, 8220, 8221].include? char.ord }.join('') %></p>
            <div class="<%= story.quote_attr_name.blank? ? 'hidden' : '' %>">
              <cite class="text-right">
                <p class="cite-name"><%= story.quote_attr_name %></p>
                <p class="cite-title"><%= story.quote_attr_title %></p>
              </cite>
            </div>
          </blockquote>

        <% end %>

        </div>

      </div>

      <div class="customer-logo-quote hidden-xs <%= is_plugin ? 'cs-row' : 'row' %>">

        <div>

          <div class="text-center <%= include_video ? 'col-sm-12' : (long_customer_name ? 'col-sm-4' : 'col-sm-4 col-lg-3') %>">
            <div class="customer-logo">
              <%= image_tag (story.customer.logo_url || LOGO_PLACEHOLDER_URL), class: 'img-responsive' %>

              <% if story.customer.show_name_with_logo? %>
                <div class="customer-name <%= include_video ? '' : 'no-video' %>">
                  <span><%= story.customer.name %></span>
                </div>
              <% end %>

            </div>
          </div>

          <div class="<%= is_plugin ? 'cs-customer-quote' : 'customer-quote' %> <%= include_video ? 'col-sm-12' : (long_customer_name ? 'col-sm-8' : 'col-sm-8 col-lg-9') %>">

          <% if story.quote.present? %>

            <blockquote>
              <p><%= story.quote.chars.delete_if { |char| [34, 39, 8220, 8221].include? char.ord }.join('') %></p>
              <div class="<%= story.quote_attr_name.blank? ? 'hidden' : '' %>">
                <cite class="text-right">
                  <p class="cite-name"><%= story.quote_attr_name %></p>
                  <p class="cite-title"><%= story.quote_attr_title %></p>
                </cite>
              </div>
            </blockquote>

          <% end %>

          </div>

          <!-- filler -->
          <div class="<%= include_video ? 'hidden' : 'col-lg-1' %>"></div>

        </div>

      </div>

    </div>

    <div class="<%= is_plugin ? 'cs-story-video' : 'story-video' %> <%= include_video ? 'hidden-xs col-sm-6 col-md-5' : 'hidden' %>">

        <% if story.video_info[:provider] == 'wistia' %>

          <script src="//fast.wistia.com/embed/medias/<%= story.video_info[:id] %>.jsonp" async></script>
          <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
          <div class="wistia_responsive_padding"
               style="padding:56.25% 0 0 0; position:relative;">
            <div class="wistia_responsive_wrapper"
                 style="height:100%;left:0;position:absolute;top:0;width:100%;">
              <div class="wistia_embed wistia_async_<%= story.video_info[:id] %>
                    popover=true popoverAnimateThumbnail=true videoFoam=true"
                   style="display:inline-block; width:100%; height:100%">&nbsp;
              </div>
            </div>
          </div>

        <% else %>

          <div class="video-thumb-container embed-responsive embed-responsive-16by9"
               data-toggle="modal" data-target="<%= is_plugin ? '#cs-video-modal' : '#video-modal' %>"
               data-provider="<%= story.video_info[:provider] %>"
               data-video-id="<%= story.video_info[:id] %>"
               data-video-url="<%= story.video_url %>">

            <% if is_plugin %>
              <iframe class="embed-responsive-item hidden" src=""></iframe>
            <% end %>

          </div>

        <% end %>

    </div>

  </div>

</div>



