
<div class="section-title-container story-title text-center">
  <h4><%= story.title %></h4>
</div>

<div class="social-share-buttons">

  <a href="<%= FACEBOOK_SHARE_URL + story.csp_story_url %>" target="_blank"
     class="icon-button-xs facebook-share">
    <i class="fa fa-facebook"></i>
    <span></span>
  </a>

  <a href="<%= TWITTER_SHARE_URL + story.csp_story_url %>" target="_blank"
     class="icon-button-xs twitter-share">
    <i class="fa fa-twitter"></i>
    <span></span>
  </a>

  <a href="<%= LINKEDIN_SHARE_URL + story.csp_story_url %>" target="_blank"
     class="icon-button-xs linkedin-share">
    <i class="fa fa-linkedin"></i>
    <span></span>
  </a>

  <a href="mailto:<%= LINKEDIN_SHARE_URL + story.csp_story_url %>" target="_blank"
     class="icon-button-xs mailto">
    <i class="fa fa-envelope"></i>
    <span></span>
  </a>

</div>
