
<div class="<%= is_plugin ? 'cs-container' : 'container' %>">
  <div class="<%= is_plugin ? 'cs-row' : 'row' %>">
    <div class="col-xs-12">

      <% if story.video_info[:provider] == 'wistia' %>

        <script src="//fast.wistia.com/embed/medias/<%= story.video_info[:provider] %>.jsonp" async></script>
        <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
        <div class="wistia_responsive_padding"
             style="padding:56.25% 0 0 0;position:relative;">
          <div class="wistia_responsive_wrapper"
               style="height:100%;left:0;position:absolute;top:0;width:100%;">
            <div class="wistia_embed wistia_async_<%= story.video_info[:id] %> videoFoam=true"
                 style="height:100%;width:100%">&nbsp;
            </div>
          </div>
        </div>

      <% else %>

        <div class="video-thumb-container embed-responsive embed-responsive-16by9"
           data-provider="<%= story.video_info[:provider] %>"
           data-video-id="<%= story.video_info[:id] %>"
           data-video-url="<%= story.video_url %>">
          <iframe class="embed-responsive-item hidden" src="" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

      <% end %>

    </div>
  </div>
</div>