<!-- New user/admin signup -->

<div id="wrapper">

  <div class="masthead" style='border-bottom:0'>
    <div class="container">
      <!-- <hr class="spacer-sm"> -->
      <div class="row text-center masthead-text animated fadeInDownBig"
          style='margin-top:15px'>
        <% if request.path == '/users/sign_up' || request.path == '/users' %>
          <h6 class="masthead-title">
            Customer Stories is in beta.  For more information please <a href="mailto:info@customerstories.net">contact us.</a>
          </h6>
        <% end %>
      </div>
    </div> <!-- /.container -->
  </div>

  <div class="content" style='padding-top:5px; background-color:#85CEE6'>
    <div class="container">
      <!-- <hr class="spacer-sm"> -->
      <div class="account-wrapper">
        <div class="account-body">

          <% if request.path == '/users/sign_up' || request.path == '/users' %>
            <h3 style='margin-bottom:5px'>Get Started with a Free Account.</h3>
          <% elsif request.path == '/admins/sign_up' || request.path == '/admins' %>
            <h3 style='margin-bottom:5px'>Admin Registration</h3>
          <% end %>

          <%= form_for(resource, as: resource_name,
                      url: registration_path(resource_name),
                     html: { class: 'form form-horizontal account-form',
                            style: 'margin-top:23px' }) do |f| %>

            <%= devise_error_messages! %>
        <!--     <div class="row">
              <div class="col-md-6"> -->
                <div class="form-group" style='margin-bottom:5px'>
                  <%= f.label :email, class: 'control-label col-md-3' %>
                  <div class='col-md-9'>
                  <%= f.email_field :email, { class: 'form-control',
                      id: 'signup-email', tabindex: '1', autofocus: true } %>
                  </div>
                </div>

                <div class="form-group" style='margin-bottom:5px'>
                  <%= f.label :first_name, class: 'control-label col-md-3' %>
                  <div class='col-md-9'>
                    <%= f.text_field :first_name, { class: 'form-control',
                        id: 'signup-first-name', tabindex: '2' } %>
                  </div>
                </div>

                <div class="form-group" style='margin-bottom:5px'>
                  <%= f.label :last_name, class: 'control-label col-md-3' %>
                  <div class='col-md-9'>
                    <%= f.text_field :last_name, { class: 'form-control',
                        id: 'signup-last-name', tabindex: '3' } %>
                  </div>
                </div>
             <!--  </div>

              <div class="col-md-6"> -->

                <div class="form-group" style='margin-bottom:5px'>
                  <%= f.label :password, class: 'control-label col-md-3' %>
                  <div class='col-md-9'>
                    <%= f.password_field :password, { class: 'form-control',
                        id: 'signup-pw', tabindex: '4', autocomplete: "off" } %>
                  </div>
                  <% if @validatable %>
                    <span class="help-block">
                      <%= @minimum_password_length %> characters minimum
                    </span>
                  <% end %>
                </div>

               <!--  <div class="form-group" style='margin-bottom:5px'>
                  <%#= f.label :password_confirmation, class: 'control-label col-md-3' %>
                  <div class='col-md-9'>
                    <%#= f.password_field :password, { class: 'form-control',
                        id: 'signup-pw-conf', tabindex: '5', autocomplete: "off" } %>
                  </div>
                </div> -->

              <% if request.path == '/users/sign_up' || request.path == '/users' %>
                <div class="form-group" style='margin-bottom:5px'>
                  <%= f.label :sign_up_code, class: 'control-label col-md-3' %>
                  <div class='col-md-9'>
                    <%= f.text_field :sign_up_code, { class: 'form-control',
                        id: 'sign_up_code', tabindex: '5' } %>
                  </div>
                </div>
              <% elsif request.path == '/admins/sign_up' || request.path == '/admins' %>
                <div class="form-group" style='margin-bottom:5px'>
                  <%= f.label :admin_access_code, "Admin code", class: 'control-label col-md-3' %>
                  <div class='col-md-9'>
                    <%= f.text_field :admin_access_code, { class: 'form-control',
                        id: 'sign_up_code', tabindex: '5' } %>
                  </div>
                </div>
              <% end %>

            <div class="form-group">
              <%= button_tag(type: 'submit', tabindex: '6',
                  class: "btn btn-success btn-block btn-lg") do %>
                Create My Account &nbsp; <i class="fa fa-play-circle"></i>
              <% end %>
            </div>

            <% if request.path == '/users/sign_up' %>
              <div class="form-group text-center">
                <p>Please review the <a href="/tos">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>.</p>
                <p>By creating an account you are agreeing to these terms and conditions.</p>
              </div>
            <% end %>

          <% end %>

        </div> <!-- /.account-body -->

        <div class="account-footer">
          <p>Already have an account? &nbsp;
            <% if request.path == '/users/sign_up' %>
              <%= link_to 'Sign in', new_user_session_path %>
            <% elsif request.path == '/admins/sign_up' %>
              <%= link_to 'Sign in', new_admin_session_path %>
            <% end %>
          </p>
          <p>Forgot password? &nbsp;
            <% if request.path == '/users/sign_up' %>
              <%= link_to 'Reset', new_user_password_path %>
            <% elsif request.path == '/admins/sign_up' %>
              <%= link_to 'Reset', new_admin_password_path %>
            <% end %>
          </p>
       <%#    <p>
          Didn't get confirmation? &nbsp;
          <%= link_to 'Resend email', new_user_confirmation_path %>
         <%#  </p>%>
        </div> <!-- /.account-footer -->

      </div> <!-- /.account-wrapper -->
    </div> <!-- /.container -->
  </div> <!-- /.content -->

</div> <!-- /#wrapper -->