
<div class="modal fade" id="contribution-request-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="send modal-title">Send Contribution Request</h4>
        <h4 class="readonly modal-title">
          <span>Contribution Request&nbsp;&#8211;&nbsp;sent </span>
          <span></span>
        </h4>
        <div class="progress hidden">
          <div class="progress-bar progress-bar-info progress-bar-striped active"
                role='progressbar' style='width:100%'
                aria-valuenow='80' aria-valuemin="0" aria-valuemax='100'>
          </div>
        </div>
        <span style='color:#333;font-weight:600;'>To</span>&nbsp;&nbsp;&nbsp;
        <span id='request-recipient'></span>
      </div>

      <div class="modal-body">

        <%= form_tag('', id: 'contribution-request-form',
                      remote: true, method: :put) do  %>

          <%= hidden_field_tag(:send_request, value: true) %>

          <div class="form-inline">
            <div class="form-group subject">

              <%= label_tag('contribution_request_subject', 'Subject') %><!--
           --><%= text_field_tag('contribution[request_subject]', nil,
                    class: 'form-control') %>

            </div>
          </div>

          <%= text_area_tag('contribution[request_body]', nil,
              id: 'contribution-request-editor',
              data: { provider: 'summernote' }, class: 'form-control') %>

        <% end %>

      </div>

      <div class="modal-footer">
        <button type="button" class="readonly btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="send btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <button type="submit" form='contribution-request-form' class="send btn btn-success">
          Send
        </button>
      </div>

    </div>
  </div>
</div>
