
<!-- this will be submitted via javascript (see companies/show.js)  -->
<%= form_tag form_path,
      { method: :GET, remote: true, id: form_id, class: 'form-inline' } do %>

  <div class="form-group">
    <%= label_tag :story_id, 'Story' %>
    <%= select_tag :story_id, options_for_select(story_select_options),
        { id: story_input_id, class: 'form-control', style: 'width:360px' } %>
  </div>&nbsp;&nbsp;

  <div class="form-group">
    <%= label_tag :date_range, 'Date(s)' %>
    <%= text_field_tag :date_range, nil, id: date_range_input_id,
        class: 'daterange form-control', style: 'width: 200px' %>
  </div>

  <%= submit_tag 'Submit', class: 'btn btn-primary' %>

<% end %>