
<table id='measure-stories-table' width='100%'
       class="datatables table table-striped table-bordered">

  <thead>
    <tr>
      <th>Customer</th>
      <th>Story title</th>
      <th>Publish date</th>
      <th>Unique visitors</th>
      <th>Total views</th>
      <th>Landing</th>
    </tr>
  </thead>

  <tbody>

    <% @stories_analytics.each do |story| %>

      <tr>
        <td><%= story[:customer] %></td>
        <td><%= story[:title] %></td>
        <td><%= story[:publish_date].present? ? local_time(story[:publish_date], "%m/%d/%y") : '' %></td>
        <td><%= story[:visitors] %></td>
        <td><%= story[:views] %></td>

        <% if story[:title] == 'Logo Page' %>
          <td><%= "#{((PageView.company_index_views(company.id).count.to_f / company.page_views.count.to_f) * 100).round(1)}%" %></td>
        <% else %>
          <td><%= "#{((Story.find_by(title: story[:title]).page_views.count.to_f / company.page_views.count.to_f) * 100).round(1)}%" %></td>
        <% end %>
      </tr>

    <% end %>

  </tbody>

</table>