

function storiesShow () {

  $(document)
    .on('click', '.a', function () {
      $('meta[property="og:image"]').attr('content', 'https://csp-development-assets.s3-us-west-1.amazonaws.com/temp/400x400.png')

    })
    .on('click', '.b', function () {
      $('meta[property="og:image"]').attr('content', 'https://csp-development-assets.s3-us-west-1.amazonaws.com/temp/600x600.png')
    })
    .on('click', '.c', function () {
      $('meta[property="og:image"]').attr('content', 'https://csp-development-assets.s3-us-west-1.amazonaws.com/temp/1200x1200.png')
    })
    .on('click', '.d', function () {
      $('meta[property="og:image"]').attr('content', 'https://csp-development-assets.s3-us-west-1.amazonaws.com/temp/600x314.png')
    })
    .on('click', '.e', function () {
      $('meta[property="og:image"]').attr('content', 'https://csp-development-assets.s3-us-west-1.amazonaws.com/temp/1200x628.png')
    })


  var socialShareRedirectURI = (new URL(location)).searchParams.get('redirect_uri');
  if (socialShareRedirectURI) location.href = socialShareRedirectURI;

  // story is initially hidden in case video failure prompts removal
  loadVideoThumbnail(function () { $('.story-wrapper').removeClass('hidden'); });

  initMoreStories();

  setTimeout(function () {
    $('#primary-cta-xs').addClass('open');
  }, 3000);

  $(document)
    .on('click touchend', '#primary-cta-xs.open', function (e) {
      if ($(e.target).is('[class*="remove"]')) {  // target might be the icon
        $(this).remove();
      } else if (!$(e.target).is('a')) {  // any part of the buttion that isn't the <a> or X
        $(this).find('a')[0].click();
      }
    })
    .on('click', '.edit-story a', function () {
      Cookies.set('csp-edit-story-tab', '#story-content');
    })
    .on('scroll', _.throttle(function () {
      if (CSP.screenSize === 'xs') return false;
      if ($('body').hasClass('stories show')) {
        // prevent More Stories from covering curator sign in
        if (!CSP.current_user) {
          var scrollBottom = $(document).height() - $(window).height() - $(window).scrollTop();
          if (scrollBottom < $('#sign-in-footer').height()) {
            $('#cs-tabbed-carousel').hide();
          }
          else if (!Cookies.get('cs-tabbed-carousel-removed')) {
            $('#cs-tabbed-carousel').show();
          }
        }
      }
    }))

    // ref: https://codepen.io/patrickkahl/pen/DxmfG
    // ref: http://stackoverflow.com/questions/4068373
    // ref: http://stackoverflow.com/questions/24046807
    .on('click', '.share-button', function (e) {
      var width = $(this).is('[class*="facebook"]') ? <%= FACEBOOK_SHARE_WINDOW_WIDTH %> :
                    $(this).is('[class*="twitter"]') ? <%= TWITTER_SHARE_WINDOW_WIDTH %> :
                      <%= LINKEDIN_SHARE_WINDOW_WIDTH %>,
          height = $(this).is('[class*="facebook"]') ? <%= FACEBOOK_SHARE_WINDOW_HEIGHT %> :
                    $(this).is('[class*="twitter"]') ? <%= TWITTER_SHARE_WINDOW_HEIGHT %> :
                      <%= LINKEDIN_SHARE_WINDOW_HEIGHT %>;
      CSP.screenSize === 'xs' ? 
        $(this).popupWindow(e) : 
        $(this).popupWindow(e, width, height);
    })

}

function initMoreStories () {
  var minStories = 4;
  var delay = 5;
  var shouldInit = $('body').is(':not(.pixlee):not(.varmour)') && 
        $(window).width() >= 768 &&
        CSP.stories.filter(function (story) {
            return story.logo_published || story.preview_published || story.published;
          })
          .length >= minStories;
          
  // TODO make data-title the first data attribute => why is $script.data('title') undefined??
  if (shouldInit) {
    $('body').append(
      '<div id="cs-tabbed-carousel" class="cs-plugin"></div>' + 
      '<script src="' + location.protocol + '//' + location.host + '/plugins/tabbed_carousel/cs.js"' + 
          'data-delay="' + delay + '"' +  
          'data-title="More Stories"' +  
          'data-skip="' + location.pathname.slice(location.pathname.lastIndexOf('/') + 1, location.pathname.length) + '"></script>'
    )
  } 
}

// NOTE: the contributor data must be passed to the callback as shown;
// if passed via argument, with a 'contributor' parameter in the callback
// and callback returning a function, then $(window).off() won't correctly
// turn off the event listener
function clickyListeners () {

  var clickyLog = function (e) {
    if (typeof clicky !== 'undefined') {
      var href = '';
      if (e.data.type === 'cta-form') {
        href = $(this).data('target');
      } else if (e.data.type === 'social-share') {
        href = 'http:' + $(this).attr('href').split('http')[0];
        clicky.log(href, e.data.title, 'outbound');
        return;
      } else if (e.data.type === 'linkedin') {
        href = e.data.href;
        // for linkedin widget listeners
        // (window won't focus if this is executed synchronously ...)
        window.setTimeout(function () { this.focus(); }, 200);
      } else {
        href = $(this).attr('href');
      }
      clicky.log(href, $('title').text(), 'outbound');
    }
  };
}
