
<div class="layout layout-main-right layout-stack-sm">

  <div class="col-md-3 col-sm-4 layout-sidebar">

    <%= render 'stories/edit/tabs', { tab_select: tab_select } %>

  </div>

  <div class="col-md-9 col-sm-8 layout-main">
    <div class="tab-content stacked-content">

      <div class='row' style='margin-top: -5px;'>
        <div class="col-sm-12">
          <div style='margin-bottom: 6px;'>
            <label style='margin:0'>Customer</label>&nbsp;&nbsp;&nbsp;
            <span style='font-family:"Lato";font-size:18px;color:#999'><%= story.customer.name %></span>
          </div>
          <div>
            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
            <label style='margin:0'>Story Title</label>&nbsp;&nbsp;&nbsp;
          <!-- no turbolinks, so linkedin widgets load properly -->
          <!-- ref: http://stackoverflow.com/questions/17600093/rails-javascript-not-loading-after-clicking-through-link-to-helper -->
            <a href="<%= story.csp_story_path %>" class='story-title' data-turbolinks='false'
                style='font-family:"Lato";font-size:18px;color:#999'>
              <%= story.try(:title) %>
            </a>
          </div>
        </div>
      </div>

      <hr style='margin-bottom: 24px; border-top: 1px solid #e5e5e5'>

      <div id='story-settings' class='tab-pane fade in active'
           data-story-id='<%= story.try(:id) %>'
           data-success-name="<%= story.success.name %>">

        <%= render 'stories/edit/settings/settings',
              { company: company, story: story } %>

      </div>  <!-- story-settings -->

      <div id='story-content' class='tab-pane fade'>

        <%= render 'stories/edit/content/content', { company: company, story: story } %>

      </div>

      <div id='curate-contributors' class='tab-pane fade'>

        <button type='button' style='margin:0 0 10px 0;height:32px' class='btn btn-secondary btn-sm' data-toggle='modal' data-target='#new-contributor-modal'><i class='glyphicon glyphicon-plus-sign' style='font-size:15px;top:2px'></i>&nbsp;&nbsp;&nbsp;Add New Contributor&nbsp;</button>

        <%= render 'companies/crowdsource/contributors_table',
              { company: company, workflow_stage: 'curate' } %>

      </div>

    </div>
  </div>

</div>

