
<div id='curate-story-layout' class="layout layout-main-right layout-stack-sm"
    data-story-id="<%= story.try(:id) %>" data-success-id="<%= story.success.id %>" data-success-name="<%= story.success.name %>" data-customer-id="<%= story.customer.id %>" data-customer-slug="<%= story.customer.slug %>">

  <div class="col-md-3 col-sm-4 layout-sidebar">

    <%= render 'stories/edit/nav_tabs', { tab: tab } %>

  </div>

  <div class="col-md-9 col-sm-8 layout-main">
    <div class="tab-content stacked-content">

      <div id='story-edit-header' class='row'>
        <div class="col-sm-2">

          <div>
            <span><label>Customer</label></span>
          </div>
          <div>
            <span><label>Story Title</label></span>
          </div>

        </div>
        <div class="col-sm-7">

          <div>
            <span class="customer"><%= story.customer.name %></span>
          </div>
          <div>
          <!-- no turbolinks, so linkedin widgets load properly -->
          <!-- ref: http://stackoverflow.com/questions/17600093/rails-javascript-not-loading-after-clicking-through-link-to-helper -->
            <a href="<%= story.csp_story_path %>" class='story-title' data-turbolinks='false'>
              <%= story.try(:title) %>
            </a>
          </div>

        </div>
        <div class="col-sm-3 text-center">

          <%= link_to(
                story.csp_story_path + "/?preview=1",
                { class: "btn btn-secondary preview", target: "blank" }
              ) do %>
            <i class='fa fa-search fa-fw'></i>&nbsp;&nbsp;View Story&nbsp;
          <% end %>

        </div>
      </div>

      <div id='story-settings' class="tab-pane fade <%= (tab == '#story-settings' || tab.nil?) ? 'in active' : '' %>">

        <%= render({
              partial: 'stories/edit/settings/settings',
              locals: { company: company, story: story }
            }) %>

      </div>

      <div id='story-content' class="tab-pane fade <%= tab == '#story-content' ? 'in active' : '' %>">

        <%= render 'stories/edit/content/content',
              { company: company, story: story } %>

      </div>

      <div id='story-contributors' class="tab-pane fade <%= tab == '#story-contributors' ? 'in active' : '' %>">

        <button type='button' style='margin:0 0 10px 0;' class='btn btn-secondary btn-sm' data-toggle='modal' data-target='#new-contributor-modal'>
          <i class='fa fa-plus-circle fa-fw'></i>&nbsp;New Contributor&nbsp;
        </button>

        <%= render({
              partial: 'companies/1_prospect/contributors/contributors_table',
              locals: { company: company, workflow_stage: 'curate' }
            }) %>

      </div>

    </div>
  </div>

</div>

