
<div id='curate-story-layout' class="layout layout-main-right layout-stack-sm"
    data-story-id="<%= story.try(:id) %>" data-success-id="<%= story.success.id %>" data-success-name="<%= story.success.name %>" data-customer-id="<%= story.customer.id %>" data-customer-slug="<%= story.customer.slug %>">

  <div class="col-md-3 col-sm-4 layout-sidebar">

    <%= render 'stories/edit/nav_tabs', { tab: tab } %>

  </div>

  <div class="col-md-9 col-sm-8 layout-main">
    <div class="tab-content stacked-content">

      <div class='row' style='margin-top: -5px;'>
        <div class="col-sm-12">
          <div style='margin-bottom: 6px;'>
            <label style='margin:0'>Customer</label>&nbsp;&nbsp;&nbsp;
            <span style='font-family:"Lato";font-size:18px;color:#999'><%= story.customer.name %></span>
          </div>
          <div>
            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
            <label style='margin:0'>Story Title</label>&nbsp;&nbsp;&nbsp;
          <!-- no turbolinks, so linkedin widgets load properly -->
          <!-- ref: http://stackoverflow.com/questions/17600093/rails-javascript-not-loading-after-clicking-through-link-to-helper -->
            <a href="<%= story.csp_story_path %>" class='story-title' data-turbolinks='false'
                style='font-family:"Lato";font-size:18px;color:#999'>
              <%= story.try(:title) %>
            </a>
          </div>
        </div>
      </div>

      <hr style='margin-bottom: 24px; border-top: 1px solid #e5e5e5'>

      <div id='story-settings' class="tab-pane fade <%= (tab == 'settings' || tab.nil?) ? 'in active' : '' %>">

        <%= render({
              partial: 'stories/edit/settings/settings',
              locals: { company: company, story: story }
            }) %>

      </div>

      <div id='story-content' class="tab-pane fade <%= tab == 'content' ? 'in active' : '' %>">

        <%= render 'stories/edit/content/content',
              { company: company, story: story } %>

      </div>

      <div id='curate-contributors' class="tab-pane fade <%= tab == 'contributors' ? 'in active' : '' %>">

        <button type='button' style='margin:0 0 10px 0;' class='btn btn-secondary btn-sm' data-toggle='modal' data-target='#new-contributor-modal'>
          <i class='fa fa-plus-circle fa-fw'></i>&nbsp;New Contributor&nbsp;
        </button>

        <%= render({
              partial: 'companies/crowdsource/contributors/contributors_table',
              locals: { company: company, workflow_stage: 'curate' }
            }) %>

      </div>

    </div>
  </div>

</div>

