
<div id="edit-story-layout" 
    data-story-id="<%= story.try(:id) %>" data-success-id="<%= story.success.id %>" 
    data-success-name="<%= story.success.name %>" 
    data-customer-id="<%= story.customer.id %>" 
    data-customer-slug="<%= story.customer.slug %>">

  <div id="story-header__wrapper">

    <div id="story-header__spacekeeper"></div>

    <div id="story-header">
      <div>
        <span><label>Customer</label></span>
        <span><%= story.customer.name %></span>
        <span>
          <button type="button" data-toggle="modal" data-target="#edit-customer-modal" data-customer-id="<%= story.customer.id %>" class="btn btn-sm btn-secondary" style="width: 100%">
            <i class='fa fa-fw fa-pencil fa-fw'></i>&nbsp;&nbsp;Edit Customer&nbsp;
          </button>
        </span>
      </div>
      <div id="story-header__title">
        <span><label>Story Title</label></span>
        <span><%= story.title %></span>
        <span>
          <%= link_to(
                story.csp_story_path + "?preview=true",
                { class: "btn btn-sm btn-secondary pull-right", style: "width: 100%", target: "_blank" }
              ) do %>
            <i class='glyphicon glyphicon-new-window'></i>&nbsp;&nbsp;View Story&nbsp;
          <% end %>
        </span>
      </div>
      <div id="story-header__flash" class="<%= story.company.promote_tr? ? 'promote-enabled' : '' %>">
        <p>Story published successfully</p>
        <p>Errors when creating Promoted Story</p>
      </div>
    </div>

  </div>

  <div class="tab-content">

    <div id="story-settings" class="tab-pane fade <%= (tab == '#story-settings' || tab.nil?) ? 'in active' : '' %>">

      <%= render('stories/edit/settings/settings', { company: company, story: story }) %>

    </div>

    <div id="story-content" class="tab-pane fade <%= tab == '#story-content' ? 'in active' : '' %>">

      <%= render('stories/edit/content/content', { company: company, story: story }) %>

    </div>

    <div id="story-contributors" class="tab-pane fade <%= tab == '#story-contributors' ? 'in active' : '' %>">

      <%= render(
            'companies/1_prospect/contributors/contributors_table',
            { company: company, workflow_stage: 'curate' }
          ) %>

    </div>
 
  </div>

</div>

