
<div id="curate-filters">

  <div class="form-group">
    <label for="">Curator</label>
    <%= select_tag(
          nil,
          options_for_select(company.curators.select_options),
          { include_blank: true, class: "curate-filters__curator form-control", style: "width:100%" }
        ) %>
  </div>

  <div class="form-group">
    <label for="">Status</label>
    <%= select_tag(
          nil,
          options_for_select(
            [['Not published', '0'], ['Logo published', '1'], ['Preview published', '2'], ['Story published', '3']]
          ),
          { include_blank: true, class: "curate-filters__status form-control", style: "width:100%" }
        ) %>
  </div>

  <div class="form-group">
    <label for="">Customer</label>
    <%= select_tag(
          nil,
          options_for_select(company.customers.select_options),
          { include_blank: true, class: "curate-filters__customer form-control", style: "width:100%" }
        ) %>
  </div>

  <div class="form-group">
    <label for="">Category</label>
    <%= select_tag(
          nil,
          options_for_select(company.story_categories.select_options),
          { include_blank: true, class: "curate-filters__category form-control", style: "width:100%" }
        ) %>
  </div>

  <div class="form-group">
    <label for="">Product</label>
    <%= select_tag(
          nil,
          options_for_select(company.products.select_options),
          { include_blank: true, class: "curate-filters__product form-control", style: "width:100%" }
        ) %>
  </div>

</div>