
<%#= render 'companies/shared/new_customer_modal', { company: @company } %>

<% content_for :underscore_templates do %>
  <%= render 'companies/crowdsource/success_template' %>
  <%= render 'companies/crowdsource/contributor_template' %>
  <%= render 'companies/crowdsource/csp_linkedin_widget_template' %>
<% end %>

<!-- crowdsource -->
<div id='crowdsource-panel' role='tabpanel'
     class="<%= workflow_tab == 'crowdsource' ? 'active tab-pane fade in content' : 'tab-pane fade content' %>">

  <div class="content clip">
    <div class='container'>

      <div class="layout layout-main-right layout-stack-sm">
        <div class="col-md-3 col-sm-4 layout-sidebar">

          <div class="nav-layout-sidebar-skip">
            <strong>Tab Navigation</strong> / <a href="#settings-content">Skip to Content</a>
          </div>

          <ul class="nav nav-layout-sidebar nav-stacked">
            <li class="<%= workflow_sub_tab == 'successes' ? 'active' : (workflow_sub_tab.nil? ? 'active' : '')  %>">
              <a href="#successes-tab-pane" data-toggle="tab">
                <i class="fa fa-rocket"></i>
                &nbsp;&nbsp;Story Candidates
              </a>
            </li>
            <li class="<%= workflow_sub_tab == 'contributors' ? 'active' : '' %>">
              <a href="#contributors-tab-pane" data-toggle="tab">
                <i class="fa fa-users"></i>
                &nbsp;&nbsp;Success Contributors
              </a>
            </li>
        <!--     <li class="<%#= workflow_sub_tab == 'customers' ? 'active' : '' %>">
              <a href="#customers-tab-pane" data-toggle="tab">
                <i class="fa fa-handshake-o"></i>
                &nbsp;&nbsp;Customers
              </a>
            </li> -->
          </ul>

        </div>

        <div class="col-md-9 col-sm-8 layout-main">

          <div class="tab-content stacked-content">

            <div id='successes-tab-pane'
                 class="tab-pane fade <%= workflow_sub_tab == 'successes' ? 'in active' : (workflow_sub_tab.nil? ? 'in active' : '') %>">

              <label for="toggle-group-by-customer">
                <input type="checkbox" id="toggle-group-by-customer" checked>
                &nbsp;&nbsp;<span>Group by Customer</span>
              </label>

              <%= render 'companies/crowdsource/successes_table', { company: company } %>
            </div>

            <div id='contributors-tab-pane'
                 class="tab-pane fade <%= workflow_sub_tab == 'contributors' ? 'in active' : '' %>">

              <label for="toggle-group-by-success">
                <input type="checkbox" id="toggle-group-by-success" checked>
                &nbsp;&nbsp;<span>Group by Customer / Story Candidate</span>
              </label>

              <%= render 'companies/crowdsource/contributors_table',
                          { company: company } %>
            </div>

     <!--        <div id='customers-tab-pane'
                 class="tab-pane fade <%= workflow_sub_tab == 'customers' ? 'in active' : '' %>">

              <%#= render 'companies/crowdsource/customers_table', { company: company } %>
            </div> -->


          </div>

        </div>

      </div>
    </div>

  </div>  <!-- container -->

</div>  <!-- curate -->

