<!-- <div id='curate' class="<%#= current_user.linkedin_url && @company.persisted? ? 'tab-pane content active' : 'tab-pane content' %>" role='tabpanel'> -->
<!-- curate -->
<div id='curate' class="<%= @company.persisted? && current_user.linkedin_url && @linkedin_data.nil? ? 'active tab-pane content' : 'tab-pane content' %>" role='tabpanel'>
  <div class='container'>

    <!-- new story modal -->
    <button type="button" class="btn btn-secondary"
        style='margin-top: -25px; margin-bottom: 14px'
        data-toggle="modal" data-target="#new-story-modal">
      New story
    </button>

    <%= link_to 'Public stories index', company_stories_path(@company),
        { class: 'btn btn-secondary',
          style: 'margin-top: -25px; margin-bottom: 14px' } %>

    <div class='row'>
      <div class='portlet portlet-default '>
        <div class='portlet-body'>
          <div class='table-responsive'>

            <table class="table table-striped table-bordered thumbnail-table">
              <thead>
                <tr>
                  <th>Customer</th>
                  <th>Title</th>
                  <th>Status</th>
                  <th>Publish Date</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>

                <% @company.stories.each do |story| %>

                  <tr>
                    <td class='valign-middle'>
                      <%= story.success.customer.name %>
                    </td>
                    <td class='valign-middle'>
                      <%= story.title %>
                    </td>
                    <% if story.published? %>
                      <td class='valign-middle'>
                        <%= link_to 'Published', story_path(story) %>
                      </td>
                      <td class='valign-middle'>
                        <%= story.publish_date.strftime('%m/%d/%Y') %>
                      </td>
                    <% else %>
                      <td class='valign-middle'>
                        <%= link_to 'Pending curation', story_path(story) %>
                      </td>
                      <td class='valign-middle'>
                        N/A
                      </td>
                    <% end %>
                    <td class="text-center class='valign-middle'">
                      <%= link_to edit_story_path(story),
                          class: "btn btn-xs btn-primary" do %>
                        <i class="fa fa-pencil"></i>
                      <% end %>
                      <%= link_to story_path(story),
                          method: 'delete',
                          data: { confirm: 'Are you sure?' },
                          class: 'btn btn-xs btn-secondary' do %>
                        <i class="fa fa-times"></i>
                      <% end %>
                    </td>
                  </tr>

                <% end %>

              </tbody>
            </table>
          </div>  <!-- table-responsive -->
        </div>  <!-- portlet-body -->
      </div>  <!-- portlet -->
    </div>  <!-- row -->
  </div>  <!-- container -->
</div>  <!-- curate -->

<!-- new story modal -->
<!-- NOTE tabIndex = -1 must be removed for select2 to work in the modal -->
<div class="modal fade" id="new-story-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Customer Story</h4>
      </div>
      <div class="modal-body">

        <!-- Note: all form inputs name-spaced under 'story' -->
        <%= form_tag company_stories_path(@company), class: 'form-horizontal' do %>

          <div class='form-group required-input'>
            <%= label_tag 'Customer', nil, class: 'col-md-4 control-label' %>
            <div class='col-md-8'>

              <% if @customers.length == 1 %>

                <%= text_field_tag 'story[customer]', nil,
                  class: 'form-control',
                  style: 'width: 100%', autofocus: 'true',
                  placeholder: 'add a customer' %>

              <% else %>

                <%= select_tag 'story[customer]',
                    options_for_select(@customers),
                    class: 'new-story-customer new-story-tags form-control',
                    style: 'width: 100%' %>

              <% end %>

            </div>
          </div>

          <div class='form-group required-input'>
            <%= label_tag 'Story title', nil, class: 'col-md-4 control-label' %>
            <div class='col-md-8'>
              <%= text_field_tag 'story[title]', nil, class: 'form-control',
                  placeholder: 'title' %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag 'Industry tags', nil,
                class: 'col-md-4 control-label' %>
            <div class='col-md-8'>
              <!-- Note the necessary '[]' notation below  -->
              <!-- if not present, will only return a single value  -->
              <%= select_tag "story[industry_tags][]",
                  options_for_select(@industries),
                  { multiple: 'true', class: 'new-story-tags form-control',
                    style: 'width:100%'} %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag 'Product Category tags', nil,
                class: 'col-md-4 control-label' %>
            <div class='col-md-8'>
              <%= select_tag "story[product_cat_tags][]",
                  options_for_select(@product_categories),
                  { multiple: 'true', class: 'new-story-tags form-control',
                    style: 'width:100%'} %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag 'Product tags', nil, class: 'col-md-4 control-label' %>
            <div class='col-md-8'>
              <%= select_tag "story[product_tags][]",
                  options_for_select(@products),
                  { multiple: 'true', class: 'new-story-tags form-control',
                    style: 'width:100%'} %>
            </div>
          </div>

      </div>
      <div class="modal-footer">

        <button class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>

          <%= submit_tag 'Create Story', class: 'btn btn-primary' %>

        <% end %>  <!-- form_for -->

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal