-->
<div id='measure-panel' class="<%= workflow_tab == 'measure' ? 'active tab-pane content' : 'tab-pane content' %>" role='tabpanel'>

  <div class="content" style='margin-top:30px;overflow:hidden'>

    <div class="container">

      <div class="layout layout-main-right layout-stack-sm">

        <div class="col-md-3 col-sm-4 layout-sidebar">

          <div class="nav-layout-sidebar-skip">
            <strong>Tab Navigation</strong> / <a href="#settings-content">Skip to Content</a>
          </div>

          <ul class="nav nav-layout-sidebar nav-stacked">

            <li class='active'>
              <a href="#measure-activity-container" data-toggle="tab">
              <i class="fa fa-line-chart"></i>
              &nbsp;&nbsp;Recent Activity
              </a>
            </li>

            <li>
              <a href="#measure-visitors-container" data-toggle="tab">
              <i class="fa fa-users"></i>
              &nbsp;&nbsp;Visitors
              </a>
            </li>

            <li>
              <a href="#measure-stories-container" data-toggle="tab">
              <i class="fa fa-newspaper-o"></i>
              &nbsp;&nbsp;Stories
              </a>
            </li>

            <li>
              <a href="#measure-charts" data-toggle="tab">
              <i class="fa fa-pie-chart"></i>
              &nbsp;&nbsp;Charts
              </a>
            </li>

            <!-- <li class="active">
              <a href="#crowdsource" data-toggle="tab">
                <i class="fa fa-bar-chart-o"></i>
                &nbsp;&nbsp;Channel Contribution
              </a>
            </li> -->


        <!--     <li>
              <a href="#rev_product" data-toggle="tab">
              <i class="fa fa-pie-chart"></i>
              &nbsp;&nbsp;Contribution to Product
              </a>
            </li> -->

          </ul>

        </div> <!-- /.col -->


        <div class="col-md-9 col-sm-8 layout-main">

          <div id="settings-content" class="tab-content stacked-content">

            <!-- <div class="tab-pane fade in active" id="crowdsource">

              <div class="heading-block">
                <h3>
                  Revenue Contribution by channel
                </h3>
              </div>

                          <figure class="feature-figure">
                <%#= image_tag 'mvp-landing/homepage-features/rev_channel.png',
                  { class: 'img-responsive figure-shadow center-block',
                    style: 'width: 90%;', alt: '' } %>
              </figure>
            </div>  -->

   <!--          <div class="tab-pane fade" id="rev_product">

              <div class="heading-block">
                <h3>
                  Story Contribution to Product Lines
                </h3>
              </div>

                          <figure class="feature-figure">
                <%#= image_tag 'mvp-landing/homepage-features/rev_product.png',
                  { class: 'img-responsive figure-shadow center-block',
                    style: 'width: 70%;', alt: '' } %>
              </figure>

                  </div>  -->

            <div class="tab-pane fade in active" id="measure-activity-container">


            </div>



            <div class="tab-pane fade" id="measure-visitors-container">



          <table id='measure-visitors-table' width='100%'
                 class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Visitor ID</th>
                <th>Organization</th>
                <th>Location</th>
                <th>Total visits</th>
                <th>Last visited</th>
              </tr>
            </thead>
            <tbody>

              <% Visitor.includes(:visitor_sessions)
                        .company_all(company.id).each do |visitor| %>

                <tr>
                  <td><%= visitor.clicky_uid %></td>
                  <td><%= visitor.visitor_sessions.take.organization %></td>
                  <td><%= visitor.visitor_sessions.take.location %></td>
                  <td><%= visitor.visitor_sessions.length %></td>
                  <td><%= visitor.visitor_sessions.order(timestamp: :desc).take.timestamp.strftime("%m/%d/%y") %></td>
                </tr>

              <% end %>

            </tbody>
          </table>

            </div> <!-- /.tab-pane -->

            <div class="tab-pane fade" id="measure-stories-container">

          <table id='measure-stories-table' width='100%'
                 class="table table-striped table-bordered">

            <thead>
              <tr>
                <th>Title</th>
                <th>Publish date</th>
                <th>Unique visitors</th>
                <th>Total views</th>
                <th>Landing</th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <td><em>index</em></td>
                <td></td>
                <td><%= @company_index_unique_visitors.length %></td>
                <td><%= company_index_views_count.to_i %></td>
                <td><%= "#{((company_index_views_count / company_page_views_count) * 100).round(1)}%" %></td>
              </tr>


              <% Story.includes(:visitor_actions, :visitors)
                      .company_published(company.id).each do |story| %>
                      <!-- include :page_views results in error -->
                <tr>
                  <td><%= story.title %></td>
                  <td><%= story.publish_date.strftime("%m/%d/%y") %></td>
                  <td><%= Set.new(story.visitors).length %></td>
                  <td><%= story.page_views.length %></td>
                  <td><%= "#{((story.page_views.length.to_f / company_page_views_count) * 100).round(1)}%" %></td>
                </tr>

              <% end %>

            </tbody>

          </table>

            </div>  <!-- stories data -->

            <div class="tab-pane fade" id="measure-charts">

              <div class="heading-block">
                <h3>Charts</h3>
              </div> <!-- /.heading-block -->

            </div>

        </div> <!-- /.col -->

      </div> <!-- layout -->


    </div> <!-- container -->

  </div> <!-- content -->

</div>  <!-- measure -->