<!-- new story modal -->
<!-- NOTE tabIndex = -1 must be removed for select2 to work in the modal -->
<div class="modal fade" id="new-story-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Customer Story</h4>
      </div>
      <div class="modal-body">

        <!-- Note: all form inputs name-spaced under 'story' -->
        <%= form_tag company_stories_path(company), remote: true,
              class: 'form-horizontal' do %>

          <div class='form-group required-input'>
            <%= label_tag 'story[customer]', 'Customer',
                  class: 'col-md-3 control-label' %>
            <div class='col-md-9'>

              <!-- if no customers (just empty placeholder) -->
              <% if company.customers.select_options.length == 1 %>

                <%= text_field_tag 'story[customer]', nil,
                  class: 'form-control',
                  style: 'width: 100%', autofocus: 'true' %>

              <% else %>

                <%= select_tag 'story[customer]',
                    options_for_select(company.customers.select_options),
                    class: 'new-story-customer form-control',
                    style: 'width: 100%' %>

              <% end %>

            </div>
          </div>

          <div class='form-group required-input'>
            <%= label_tag 'Story title', nil, class: 'col-md-3 control-label' %>
            <div class='col-md-9'>
              <%= text_field_tag 'story[title]', nil, class: 'form-control',
                  placeholder: 'title' %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag "story[category_tags][]", 'Category tag(s)',
                class: 'col-md-3 control-label' %>
            <div class='col-md-9'>
              <!-- Note the necessary '[]' notation below  -->
              <!-- if not present, will only return a single value  -->
              <%= select_tag "story[category_tags][]",
                  options_for_select(company.story_categories.select_options),
                  { multiple: 'true', class: 'new-story-tags form-control',
                    style: 'width:100%'} %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag "story[product_tags][]", 'Product tag(s)',
                  class: 'col-md-3 control-label' %>
            <div class='col-md-9'>
              <%= select_tag "story[product_tags][]",
                  options_for_select(company.products.select_options),
                  { multiple: 'true', class: 'new-story-tags form-control',
                    style: 'width:100%'} %>
            </div>
          </div>

      </div>
      <div class="modal-footer">

        <button class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>

          <%= submit_tag 'Create Story', class: 'btn btn-success', disabled: true %>

        <% end %>  <!-- form_for -->

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal