<!-- promote -->
<div id='promote' class="<%= @mainnav_tab == 'promote' ? 'active tab-pane content' : 'tab-pane content' %>" role='tabpanel'>
  <div class='container'>
    <div class='row'>
      <div class='portlet portlet-default'>

        <div class="portlet-header">
          <h5 class="portlet-title">

            <b>Ad Networks: </b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <span style='display:inline-block'>&nbsp;&nbsp; &nbsp;

                <% if @company.feature_flag == 'alpha' %>

                  <span class='tooltip-wrapper-promote' style='display:inline-block'
                      data-title='Coming soon'>
                    <input type="checkbox" style='pointer-events:none' disabled>
                    <label>Enable Retargeting</label> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;

                    <input type="checkbox" style='pointer-events:none' disabled>
                    <label>Enable CRM Targeting</label> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;

                    <input type="checkbox" style='pointer-events:none' disabled>
                    <label>Enable Audience Targeting</label>
                  </span>

                <% else %>

                  <span>
                    <input type="checkbox">
                    <label>Enable Retargeting</label> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;

                    <input type="checkbox">
                    <label>Enable CRM Targeting</label> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;

                    <input type="checkbox">
                    <label>Enable Audience Targeting</label>
                  </span>

                <% end %>

            </span>
          </h5>
        </div>

        <div class='portlet-body'>

          <% @company.stories.each do |story| %>

            <% if story.success.results.present? %>

              <div class="row">
                <div class="col-sm-4">
                  <div id="ad-wrap1">
                    <img id="ad-logo" src="<%= @company.logo_url %>">
                    <div id="ad1-text">
                      <%= story.success.results.take.description %>
                    </div>
                    <button type='button' id="ad-btn">Read Story</button>
                    <img id="ad-powered" src="http://content.screencast.com/users/danlindblom/folders/Jing/media/2572803a-857a-40a8-b31a-e507bad0aa1b/00001977.png">
                  </div> <br><br><br>
                </div><!-- /.col -->
                <div class="col-sm-8">
                  <div id="ad-wrap2">
                    <img id="ad-logo" src="<%= @company.logo_url %>"  />
                    <div id="ad2-text">
                      <%= story.success.results.take.description %>
                    </div>
                    <button type='button' id="ad-btn">Read Story</button>
                    <img id="ad-powered" src="http://content.screencast.com/users/danlindblom/folders/Jing/media/2572803a-857a-40a8-b31a-e507bad0aa1b/00001977.png"  />
                  </div> <br><br><br>
                </div>
              </div>

            <% end %>

          <% end %>

        </div>

      </div>  <!-- portlet -->
    </div>  <!-- row -->
  </div>  <!-- container -->
</div>  <!-- promote