<!-- promote -->
<div id='promote' class="<%= @mainnav_tab == 'promote' ? 'active tab-pane content' : 'tab-pane content' %>" role='tabpanel'>
  <div class='container'>
    <div class='row'>
      <div class='portlet portlet-default'>

        <div class="portlet-header">
          <h5 class="portlet-title">

            <b>Ad Networks: </b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <span style='display:inline-block'>&nbsp;&nbsp; &nbsp;

                <% if ['alpha', 'beta'].include? @company.feature_flag %>

                  <span class='tooltip-wrapper-promote' style='display:inline-block'
                      data-title='Coming soon'>
                    <input type="checkbox" style='pointer-events:none' disabled>
                    <label>Enable Retargeting</label> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;

                    <input type="checkbox" style='pointer-events:none' disabled>
                    <label>Enable CRM Targeting</label> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;

                    <input type="checkbox" style='pointer-events:none' disabled>
                    <label>Enable Audience Targeting</label>
                  </span>

                <% else %>

                  <span>
                    <input type="checkbox">
                    <label>Enable Retargeting</label> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;

                    <input type="checkbox">
                    <label>Enable CRM Targeting</label> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;

                    <input type="checkbox">
                    <label>Enable Audience Targeting</label>
                  </span>

                <% end %>

            </span>
          </h5>
        </div>

        <div class='portlet-body'>

          <% @company.stories.each do |story| %>
            <% if story.success.results.present? %>
              <% story.success.results.each do |result| %>

                <% result.description[0] = result.description[0].downcase %>

                <div class="row">

                  <div class="col-sm-4">
                    <div class="ad1-wrap">
                      <img class='ad1-logo' src="<%= @company.logo_url %>">
                      <div class="ad1-text">
                        <%= story.success.customer.name + " " +
                            result.description + " with " + @company.name + " " +
                            story.success.products.try(:[], 0).name %>
                      </div>
                      <button id='ad-btn' type='button'>Read Story</button>
                      <img class="ad-powered" src="http://content.screencast.com/users/danlindblom/folders/Jing/media/2572803a-857a-40a8-b31a-e507bad0aa1b/00001977.png">
                    </div> <br><br><br>
                  </div><!-- /.col -->

                  <div class="col-sm-8">
                    <div class="ad2-wrap">
                      <img class="ad2-logo" src="<%= @company.logo_url %>"  />
                      <div class="ad2-text">
                        <%= story.success.customer.name + " " +
                            result.description + " with " + @company.name + " " +
                            story.success.products.try(:[], 0).name %>
                      </div>
                      <button id='ad-btn' type='button'>Read Story</button>
                      <img class='ad-powered' src="http://content.screencast.com/users/danlindblom/folders/Jing/media/2572803a-857a-40a8-b31a-e507bad0aa1b/00001977.png"  />
                    </div> <br><br><br>
                  </div>

                </div>

              <% end %>
            <% end %>
          <% end %>

        </div>

      </div>  <!-- portlet -->
    </div>  <!-- row -->
  </div>  <!-- container -->
</div>  <!-- promote