<!-- company settings -->
<div id='company-settings' role='tabpanel'
    class="<%= @company.new_record? ? 'active tab-pane content' : 'tab-pane content' %>">
  <div class='container'>
    <div class='row'>
      <div class='portlet portlet-default'>
        <div class='portlet-body'>

          <% if @company.new_record? %>  <!-- new company -->

            <h3>Please register your company</h3><br>

            <%= form_for @company, url: companies_path,
                  html: { class: 'form-horizontal col-md-7 directUpload',
                           data: {
                             'form-data' => (@s3_direct_post.fields),
                                   'url' => @s3_direct_post.url,
                                  'host' => URI.parse(@s3_direct_post.url).host
                                  } } do |f| %>
                                     <!-- multipart: 'true' } do |f| -->

              <div class="form-group required-input">
                <%= f.label :name, class: 'col-md-3 control-label' %>
                <div class='col-md-9'>
                  <%= f.text_field :name, class: 'form-control', autofocus: 'true' %>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag 'Industries served', nil,
                    class: 'col-md-3 control-label' %>
                <div class='col-md-9'>
                  <%= select_tag 'industry_tags[]',
                      options_for_select(INDUSTRIES),
                      { multiple: 'true', class: 'industry-tags form-control',
                        # placeholder: doesn't work from here, set in js
                        style: 'width:100%' } %>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag 'Product categories', nil,
                    class: 'col-md-3 control-label' %>
                <div class='col-md-9'>
                  <%= select_tag 'product_cat_tags[]',
                      # none presently exist, so pass empty array...
                      options_for_select([]),
                      { multiple: 'true', class: 'prod-cat-tags-reg form-control',
                        style: 'width:100%' } %>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag 'Products', nil,
                    class: 'col-md-3 control-label' %>
                <div class='col-md-9'>
                  <%= select_tag 'products[]',
                      # none presently exist, so pass empty array...
                      options_for_select([]),
                      { multiple: 'true', class: 'products-reg form-control',
                        style: 'width:100%' } %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label "Logo", nil, class: 'col-md-3 control-label' %>
                <div class='col-md-9'>
                  <%= f.file_field :logo_url, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <div class='col-md-9 col-md-offset-3'>
                  <input type='submit' id="new-company-submit"
                      class='btn btn-primary' value="Register">
                </div>
              </div>

            <% end %>  <!-- form_for -->

          <% else %>

          <!-- Company Update -->

          <h2>Update Company</h2>

          <% end  %>

        </div>  <!-- portlet-body -->
      </div>  <!-- portlet -->
    </div>  <!-- row -->
  </div>  <!-- container -->
</div>  <!-- company settings