
<!-- note the group_type is coming from a ruby hash key, hence underscore notation -->
<thead>
  <tr>
    <% if group_type == :story_views %>

      <th>Date / time</th>
      <th>Story title</th>
      <th>Organization</th>
      <th>Location</th>
      <th>Source</th>

    <% elsif group_type == :stories_published ||
             group_type == :stories_logo_published ||
             group_type == :stories_created %>

      <th>Date</th>
      <th>Curator</th>
      <th>Customer</th>
      <th>Story title</th>

    <% elsif group_type == :contributions_submitted ||
             group_type == :contribution_requests_received %>

      <th>Date / time</th>
      <th>Customer</th>
      <th>Contributor</th>
      <th>Story title</th>

    <% end %>

  </tr>
</thead>
<tbody>

  <% group_items.each do |item| %>
    <tr>

      <% if group_type == :story_views %>

<td><%= local_time(DateTime.parse(item[:timestamp]), "%m-%d-%y %l:%M%p") %></td>
<td><a href="<%= item[:story_view]['success']['story']['csp_story_path'] %>">
  <%= item[:story_view]['success']['story']['title'] %>
</a></td>
<td><%= item[:story_view]['visitor_session']['organization'] %></td>
<td><%= item[:story_view]['visitor_session']['location'] %></td>
<td><%= item[:story_view]['visitor_session']['referrer_type'] %></td>

      <% elsif group_type == :stories_published ||
               group_type == :stories_created ||
               group_type == :stories_logo_published %>

<td ><%= local_time(DateTime.parse(item[:timestamp]), '%m-%d-%y') %></td>
<td><%= item[:story]['success']['curator']['full_name'] %></td>
<td><%= item[:story]['success']['customer']['name'] %></td>
<td><a href="<%= item[:story]['csp_story_path'] %>">
  <%= item[:story]['title'] %>
</a></td>

      <% elsif group_type == :contributions_submitted ||
               group_type == :contribution_requests_received %>

<td ><%= local_time(DateTime.parse(item[:timestamp]), '%m-%d-%y %l:%M %p') %></td>
<td><%= item[:contribution]['success']['customer']['name'] %></td>
<td><%= item[:contribution]['contributor']['full_name'] %></td>
<td>
  <a href="<%= (item[:contribution]['success']['story'] && item[:contribution]['success']['story']['csp_edit_story_path']) || '#' %>">
    <%= (item[:contribution]['success']['story'] && item[:contribution]['success']['story']['title']) ||
          item[:contribution]['success']['name'] %>
  </a>
</td>

      <% end %>

    </tr>
  <% end %>

</tbody>

