
<div id='activity-groups'>
  <table width='100%' class="table table-hover table-striped">

    <thead>
      <tr>
        <th></th>
        <th>Activity type</th>
        <th>Total (last 7 days)</th>
      </tr>
    </thead>
    <tbody>
      <!-- this is just filler so the "No data available" message doesn't appear -->
      <!-- <tr class='hidden'><td></td><td></td><td></td></tr> -->

      <!-- story views -->
      <tr class='accordion-toggle' data-toggle='collapse'
          data-parent='#activity-groups' data-target='.story-views'>
        <td><i class='fa fa-chevron-right'></i></td>
        <td>Story views</td>
        <td><%= activity[:story_views].count %></td>
      </tr>

      <tr>
        <td colspan='3' class='hiddenRow'>
          <div class='accordion-body collapse story-views'>
            <table class='table table-bordered <%= activity[:story_views].length < 10 ? 'short' : '' %>' width='100%' id='story-views-table'>
              <thead>
                <tr>
                  <th>Date / time</th>
                  <th>Story title</th>
                  <th>Organization</th>
                  <th>Location</th>
                </tr>
              </thead>
              <tbody>
                <% activity[:story_views].each do |story_view| %>

                  <tr>

    <td><%= DateTime.parse(story_view[:timestamp]).strftime('%-m/%-d/%y %-l:%M %p') %></td>
    <td><a href="<%= story_view[:story_view]['success']['story']['csp_story_path'] %>">
      <%= story_view[:story_view]['success']['story']['title'] %>
    </a></td>
    <td><%= story_view[:story_view]['visitor_session']['organization'] %></td>
    <td><%= story_view[:story_view]['visitor_session']['location'] %></td>

                  </tr>

                <% end %>

              </tbody>
            </table>
          </div>
        </td>
      </tr>

      <!-- stories published -->
      <tr class='accordion-toggle' data-toggle='collapse'
          data-parent='#activity-groups' data-target='.stories-published'>
        <td><i class='fa fa-chevron-right'></i></td>
        <td>Stories published</td>
        <td><%= activity[:stories_published].count %></td>
      </tr>

      <tr>
        <td colspan='3' class='hiddenRow'>
          <div class='accordion-body collapse stories-published'>
            <table id='stories-published-table'
                   class="table table-bordered <%= activity[:stories_published].length < 10 ? 'short' : '' %>" width='100%'>
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Curator</th>
                  <th>Customer</th>
                  <th>Story title</th>
                </tr>
              </thead>
              <tbody>
                <% activity[:stories_published].each do |story| %>

                  <tr>

    <!-- parse the timestamp b/c it was stored in cache as a string -->
    <td ><%= DateTime.parse(story[:timestamp]).strftime('%-d/%-m/%y') %></td>
    <td><%= story[:story]['success']['curator']['full_name'] %></td>
    <td><%= story[:story]['success']['customer']['name'] %></td>
    <td><a href="<%= story[:story]['csp_story_path'] %>">
      <%= story[:story]['title'] %>
    </a></td>

                  </tr>

                <% end %>

              </tbody>
            </table>
          </div>
        </td>
      </tr>

      <!-- contributions submitted -->
      <tr class='accordion-toggle' data-toggle='collapse'
          data-parent='#activity-groups' data-target='.contributions-submitted'>
        <td><i class='fa fa-chevron-right'></i></td>
        <td>Contributions submitted</td>
        <td><%= activity[:contributions_submitted].count %></td>
      </tr>

      <tr>
        <td colspan='3' class='hiddenRow'>
          <div class='accordion-body collapse contributions-submitted'>
            <table id='contributions-submitted-table'
                   class="table table-bordered <%= activity[:contributions_submitted].length < 10 ? 'short' : '' %>" width='100%'>
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Customer</th>
                  <th>Contributor</th>
                  <th>Story title</th>
                </tr>
              </thead>
              <tbody>
                <% activity[:contributions_submitted].each do |contribution| %>

                  <tr>

    <!-- parse the timestamp b/c it was stored in cache as a string -->
    <td ><%= DateTime.parse(contribution[:timestamp]).strftime('%-m/%-d/%y %-l:%M %p') %></td>
    <td><%= contribution[:contribution]['success']['customer']['name'] %></td>
    <td><%= contribution[:contribution]['contributor']['full_name'] %></td>
    <td><a href="<%= contribution[:contribution]['success']['story']['csp_edit_story_path'] %>">
      <%= contribution[:contribution]['success']['story']['title'] %>
    </a></td>

                  </tr>

                <% end %>

              </tbody>
            </table>
          </div>
        </td>
      </tr>

      <!-- contribution requests received -->
      <tr class='accordion-toggle' data-toggle='collapse'
          data-parent='#activity-groups' data-target='.requests-received'>
        <td><i class='fa fa-chevron-right'></i></td>
        <td>Contribution requests received</td>
        <td><%= activity[:contribution_requests_received].count %></td>
      </tr>

      <tr>
        <td colspan='3' class='hiddenRow'>
          <div class='accordion-body collapse requests-received'>
            <table id='requests-received-table' width='100%'
                   class="table table-bordered <%= activity[:contribution_requests_received].length < 10 ? 'short' : '' %>" >
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Customer</th>
                  <th>Contributor</th>
                  <th>Story title</th>
                </tr>
              </thead>
              <tbody>
                <% activity[:contribution_requests_received].each do |contribution| %>

                  <tr>

    <!-- parse the timestamp b/c it was stored in cache as a string -->
    <td ><%= DateTime.parse(contribution[:timestamp]).strftime('%-m/%-d/%y %-l:%M %p') %></td>
    <td><%= contribution[:contribution]['success']['customer']['name'] %></td>
    <td><%= contribution[:contribution]['contributor']['full_name'] %></td>
    <td><a href="<%= contribution[:contribution]['success']['story']['csp_story_path'] %>">
      <%= contribution[:contribution]['success']['story']['title'] %>
    </a></td>

                  </tr>

                <% end %>

              </tbody>
            </table>
          </div>
        </td>
      </tr>

      <tr class='accordion-toggle' data-toggle='collapse'
          data-parent='#activity-groups' data-target='.logos-published'>
        <td><i class='fa fa-chevron-right'></i></td>
        <td>Logos published</td>
        <td><%= activity[:stories_logo_published].count %></td>
      </tr>

      <tr>
        <td colspan='3' class='hiddenRow'>
          <div class='accordion-body collapse logos-published'>
            <table id='logos-published-table' width='100%'
                   class='table table-bordered <%= activity[:stories_logo_published].length < 10 ? 'short' : '' %>'>
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Curator</th>
                  <th>Customer</th>
                  <th>Story title</th>
                </tr>
              </thead>
              <tbody>

                <% activity[:stories_logo_published].each do |story| %>

                  <tr>

    <!-- parse the timestamp b/c it was stored in cache as a string -->
    <td><%= DateTime.parse(story[:timestamp]).strftime('%-m/%-d/%y') %></td>
    <td><%= story[:story]['success']['curator']['full_name'] %></td>
    <td><%= story[:story]['success']['customer']['name'] %></td>
    <td><a href="<%= story[:story]['csp_story_path'] %>">
      <%= story[:story]['title'] %>
    </a></td>

                  </tr>

                <% end %>

              </tbody>
            </table>
          </div>
        </td>
      </tr>  <!-- logos published -->

      <!-- stories created -->
      <tr class='accordion-toggle' data-toggle='collapse'
          data-parent='#activity-groups' data-target='.stories-created'>
        <td><i class='fa fa-chevron-right'></i></td>
        <td>Stories created</td>
        <td><%= activity[:stories_created].count %></td>
      </tr>
      <tr>
        <td colspan='3' class='hiddenRow'>
          <div class='accordion-body collapse stories-created'>
            <table id='stories-created-table'
                   class='table table-bordered <%= activity[:stories_created].length < 10 ? 'short' : '' %>' width='100%'>
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Curator</th>
                  <th>Customer</th>
                  <th>Story title</th>
                </tr>
              </thead>
              <tbody>
                <% activity[:stories_created].each do |story| %>

                  <tr>

    <!-- parse the timestamp b/c it was stored in cache as a string -->
    <td ><%= DateTime.parse(story[:timestamp]).strftime('%-m/%-d/%y') %></td>
    <td><%= story[:story]['success']['curator']['full_name'] %></td>
    <td><%= story[:story]['success']['customer']['name'] %></td>
    <td><a href="<%= story[:story]['csp_story_path'] %>">
      <%= story[:story]['title'] %>
    </a></td>

                  </tr>

                <% end %>

              </tbody>
            </table>
          </div>
        </td>
      </tr>


    </tbody>
  </table>

</div>