
<div id='new-contributor-modal' class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Contributor</h4>
      </div>

      <div class="modal-body">

        <%= form_for(
              Contribution.new,
              url: company_contributions_path(company),
              html: {
                id: 'new-contributor-form',
                remote: true,
                class: 'form-horizontal'
              }
            ) do |contribution_form| %>

          <%= contribution_form.hidden_field(:success_id) %>

          <%= contribution_form.fields_for(
                :success,
                contribution_form.object.build_success
              ) do |success_form| %>

            <%= success_form.hidden_field(:id) %>
            <%= success_form.hidden_field(:name) %>
            <%= success_form.hidden_field(:customer_id) %>
            <%= success_form.hidden_field(:curator_id, value: current_user.id) %>

            <%= success_form.fields_for(:customer,
                  success_form.object.build_customer) do |customer_form| %>
              <%= customer_form.hidden_field(:id) %>
              <%= customer_form.hidden_field(:name) %>
              <%= customer_form.hidden_field(:company_id, value: company.id) %>
            <% end %>

          <% end %>

          <div class="form-group customer required-input">

            <label class='col-sm-3 control-label'>
              Customer
            </label>
            <div class="col-sm-9">

              <%= collection_select(nil, nil,
                    company.customers.sort_by { |customer| customer.name.downcase },
                    :id, :name,
                    { include_blank: true,
                          # disabled: lambda { |customer| customer.successes.blank? }
                    },
                    { class: 'new-contributor customer form-control',
                      style: 'width:100%',
                      required: true }) %>

              <span class="help-block">Required</span>

            </div>

          </div>

          <div class="form-group success required-input">

            <label class='col-sm-3 control-label'>
              Customer Win
            </label>
            <div class="col-sm-9">

              <%= select(
                    nil, 
                    nil,
                    company.successes.sort_by { |s| s.name }.map { |s| [s.name, s.id] },
                    { include_blank: true },
                    { class: 'new-contributor success form-control', style: 'width:100%', required: true }
                  ) %>

              <span class="help-block">Required</span>

            </div>

          </div>

          <div class="form-group contributor required-input">

            <label for="contribution_contributor_id" class='col-sm-3 control-label'>
              Contributor
            </label>
            <div class="col-sm-9">

              <%= contribution_form.collection_select(:contributor_id,
                    (company.contributors - company.referrers - company.curators).sort_by do |contributor|
                      contributor.last_name
                    end.unshift(
                      User.new(id: 0, first_name: '- Create New Contributor -', last_name:'')
                    ),
                    :id, :full_name,
                    { include_blank: true },
                    { class: 'new-contributor contributor form-control',
                      style: 'width:100%',
                      required: true }) %>

              <span class="help-block">Required</span>

            </div>

          </div>

          <%= render(
                'companies/shared/create_contact',
                { form: 'new-contributor', contribution_form: contribution_form, contact_type: 'contributor' }
              ) %>

          <div class="form-group invitation-template">

            <label for="contribution_invitation_template_id" class='col-sm-3 control-label'>
              <span>Invitation Template</span>
            </label>

            <div class="col-sm-9">
              <%= contribution_form.collection_select(:invitation_template_id,
                    company.invitation_templates.sort_by() { |t| t.name },
                    :id, :name, { include_blank: true },
                    { class: 'new-contributor invitation-template form-control',
                      style: 'width:100%' }) %>
            </div>

          </div>

          <div class="form-group referrer">

            <label for='contribution_referrer_id' class='col-sm-3 control-label'>
              Referred by
            </label>

            <div class="col-sm-9">

              <%= contribution_form.collection_select(
                    :referrer_id,
                    company.referrers.sort_by do |referrer|
                      referrer.last_name
                    end.unshift(
                      User.new(id: 0, first_name: '- Create New Contact -', last_name:'')
                    ),
                    :id, :full_name, { include_blank: true },
                    { class: 'new-contributor referrer form-control',
                      style: 'width:100%' }
                  ) %>

            </div>

          </div>

          <%= render(
                'companies/shared/create_contact',
                { form: 'new-contributor', contribution_form: contribution_form, contact_type: 'referrer' }
              ) %>

        <% end %>

      </div>

      <div class="modal-footer">
        <!-- <button type="reset" class="btn btn-default" data-dismiss='modal'>Cancel</button> -->
        <button type="submit" class="btn btn-success text-center" style='width:132px' form='new-contributor-form'>
          <span>Add Contributor</span>
          <i class='fa fa-spin fa-circle-o-notch' style='display:none'></i>
          <i class='fa fa-check' style='display:none'></i>
        </button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->