
<div class="mobile">

  <div class="mobile__selector">

    <a class="left carousel-control" href="#<%= mobile_id %>" role="button" data-slide="prev">
      <i class="fa fa-fw fa-chevron-left"></i>
      <span class="sr-only">Previous</span>
    </a>
    <button type="button">
      <i class="fa fa-fw fa-play" style="display: none"></i>
      <i class="fa fa-fw fa-pause"></i>
    </button>
    <!-- <ol class="carousel-indicators">
      <li data-target="#<%#= mobile_id %>" data-slide-to="0" class="active"></li>
      <li data-target="#<%#= mobile_id %>" data-slide-to="1"></li>
      <li data-target="#<%#= mobile_id %>" data-slide-to="2"></li>
    </ol> -->
    <a class="right carousel-control" href="#<%= mobile_id %>" role="button" data-slide="next">
      <i class="fa fa-fw fa-chevron-right"></i>
      <span class="sr-only">Next</span>
    </a>

  </div>

  <div class="mobile__button"></div>

  <div id="<%= mobile_id %>" class="mobile__screen carousel slide" data-ride="carousel" data-pause="null">

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <!-- <div style="background: red"></div> -->
        <%= render('adwords_ads/previews/image1_300x250', { is_mobile: true }) %>
      </div>
      <div class="item">
        <!-- <div style="background: green"></div> -->
        <%= render('adwords_ads/previews/native2_300x250', { is_mobile: true }) %>
      </div>
      <div class="item">
        <!-- <div style="background: blue"></div> -->
        <%= render('adwords_ads/previews/text1_300x250', { is_mobile: true }) %>
      </div>
    </div>

  </div>

</div>