
<div id="websites-desktop" style="padding-top: 40px;" role="tabpanel" class="tab-pane fade">

  <div class="ad image-ad tower">
    <%= render('adwords_ads/ads_by_google') %>
    <div class="landscape-image" style="background-image: url(<%= @image_url %>)"></div>
    <div class="spacer" style="height: 30px"></div>
    <div>
      <div class="short-headline">
        <span style="font-size: <%= @ads_params[:tower][:sh_font_size] %>"><%= @short_headline %></span>
      </div>
      <div class="spacer" style="height: 24px"></div>
      <div class="logo" style="background-image: url(<%= @logo_url %>)"></div>
      <div class="spacer" style="height: 12px"></div>
      <div class="description">
        <span style="font-size: <%= @ads_params[:tower][:desc_font_size] %>"><%= @description %></span>
      </div>
      <div class="spacer" style="height: 18px"></div>
      <div class="button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><polyline fill="none" points="42,32 60,50 42,68" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke="rgba(0,0,0,1)"></polyline></svg>
      </div>
    </div>
    <div class="spacer" style="height: 60px"></div>
  </div>

  <div class="ad image-ad banner">
    <%= render('adwords_ads/ads_by_google') %>
    <div class="landscape-image" style="background-image: url(<%= @image_url %>)"></div>
    <div class="logo" style="background-image: url(<%= @logo_url %>)"></div>
    <div class="short-headline">
      <span><%= @short_headline %></span>
    </div>
    <div class="description">
      <span><%= @description %></span>
    </div>
    <div class="button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><polyline fill="none" points="42,32 60,50 42,68" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke="rgba(0,0,0,1)"></polyline></svg>
    </div>
    <div class="spacer"></div>
  </div>

  <%= render('adwords_ads/previews/image1_300x250', { is_mobile: false }) %>

  <%= render('adwords_ads/previews/text1_300x250', { is_mobile: false }) %>

  <div class="ad native-ad native-1">
    <%= render('adwords_ads/ads_by_google') %>
    <div class="landscape-image" style="background-image: url(<%= @image_url %>)"></div>
    <div>
      <div class="description">
        <a><%= @description %></a>
      </div>
      <div class="spacer" style="height: 11px;"></div>
      <div class="business-name">
        <div class="ad-box ad-box-green"><span>Ad</span></div>
        <a href="javascript:;"><%= @company.name %></a>
      </div>
      <div class="spacer" style="height: 10px;"></div>
      <div class="call-to-action">
        <a href="javascript:;"><%= @call_to_action %></a>
      </div>
    </div>
  </div>

  <div class="ad native-ad native-sm">
    <%= render('adwords_ads/ads_by_google') %>
    <div class="square-image" style="background-image: url(<%= @square_image_url %>)"></div>
    <div>
      <div class="description">
        <a href="javascript:;"><%= @description %></a>
      </div>
      <div>
        <div class="business-name">
          <div class="ad-box ad-box-green"><span>Ad</span></div>
          <a><%= @company.name %></a>
        </div>
        <div class="call-to-action">
          <a href="javascript:;"><%= @call_to_action %></a>
        </div>
      </div>
    </div>
  </div>

  <%= render('adwords_ads/previews/native2_300x250', { is_mobile: false }) %>

</div>