
<div id="youtube-desktop" style="padding-top: 40px;" class="tab-pane fade">

  <div class="ad image-ad banner">
    <%= render('adwords_ads/ads_by_google') %>
    <div class="landscape-image" style="background-image: url(<%= @image_url %>)"></div>
    <div class="logo" style="background-image: url(<%= @logo_url %>)"></div>
    <div class="short-headline">
      <span><%= @short_headline %></span>
    </div>
    <div class="description">
      <span><%= @description %></span>
    </div>
    <button class="<%= @button_background %>" style="background-color: <%= @accent_color %>"></button>
    <div class="spacer"></div>
  </div>

  <%= render('adwords_ads/previews/image_1_300x250', { is_mobile: false }) %>

</div>