<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Promoted Story Previews</title>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="<%= asset_path('google/ads_preview.css') %>">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- masonry -->
  <script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <!-- csp -->
  <script src="<%= asset_path('google/ads_preview.js') %>"></script>
  <script src="<%= asset_path('jquery-textfill/source/jquery.textfill.js') %>"></script>
</head>
<body>

  <header>
    <h4>Promoted Story Preview</h4>
  </header>

<!--   <h2>Promoted Stories</h2>
  <p>Customer Stories automatically creates a set of responsive creatives to match publisher formats.</p>
  <p><u>Formats</u></p>
  <ul style='list-style-type:none'>
    <li><strong>Native:</strong>&nbsp;&nbsp;Integrates with the look, feel, and content of a publisher’s site</li>
    <li><strong>Image:</strong>&nbsp;&nbsp;Standard format used commonly on publishers' sites</li>
    <li><strong>Text:</strong>&nbsp;&nbsp;Displays even when ad-blocking is enabled</li>
  </ul> -->

  <%= render('adwords_ads/previews_nav') %>

  <div class="container-fluid">

    <div class="hidden" style="display: flex; margin: 30px 60px; font-family: 'Open Sans', arial , sans-serif">
      <!-- <label style="font-size: 16px; font-weight: 600; color: #999; margin-right: 20px;">Formats</label> -->
      <ul class="list-unstyled" style="padding-top: 2px">
        <li style="line-height: 1.8em;"><span style="font-weight: 600">Image:</span>&nbsp;&nbsp;Standard format used commonly on publishers' sites</li>
        <li style="line-height: 1.8em;"><span style="font-weight: 600">Native:</span>&nbsp;&nbsp;Integrates with the look, feel, and content of a publisher’s site</li>
        <li style="line-height: 1.8em;"><span style="font-weight: 600">Text:</span>&nbsp;&nbsp;Displays even when ad-blocking is enabled</li>
      </ul>
    </div>

    <div class="tab-content">

      <div id="websites" aria-controls="websites" role="tabpanel" class="tab-pane fade active in">

        <div class="tab-content">
          <div id="websites-mobile" class="tab-pane fade active in">
            <%= render('adwords_ads/mobile', { mobile_id: 'mobile--websites' }) %></li>
          </div>
          <div id="websites-desktop" style="padding-top: 40px;" role="tabpanel" class="tab-pane fade">
            <%= render(
                  'adwords_ads/image_ads/tower_160x600', 
                  { 
                    includes_logo: true,
                    sh_font_size: @ads_params[:tower][:sh_font_size],
                    desc_font_size: @ads_params[:tower][:desc_font_size]
                  }
                ) %>
            <%= render(
                  'adwords_ads/native_ads/native_2_300x250', 
                  { is_mobile: false, long_headline_only: false }
                ) %>
            <%= render(
                  'adwords_ads/native_ads/native_2_300x250', 
                  { is_mobile: false, long_headline_only: true }
                ) %>
            <%= render(
                  'adwords_ads/native_ads/native_1_480x120',
                  show_description: @long_headline.length <= 65 
                ) %>
            <%= render('adwords_ads/native_ads/native_3_373x116') %>
            <%= render('adwords_ads/image_ads/image_1_300x250', { is_mobile: false }) %>
            <%= render('adwords_ads/text_ads/text_1_300x250', { is_mobile: false }) %>
            <%= render(
              'adwords_ads/image_ads/tower_160x600', 
                  { 
                    includes_logo: false,
                    sh_font_size: @ads_params[:tower_sans_logo][:sh_font_size],
                    desc_font_size: @ads_params[:tower_sans_logo][:desc_font_size]
                  }
                ) %>
            <%= render('adwords_ads/image_ads/banner_728x90', { includes_logo: true }) %>
            <%= render('adwords_ads/image_ads/banner_728x90', { includes_logo: false }) %>
          </div>
        </div>

      </div>

      <div id="youtube" role="tabpanel" class="tab-pane fade">

        <div class="tab-content">
          <div id="youtube-mobile" class="tab-pane fade active in">
            <%= render('adwords_ads/mobile', { mobile_id: 'mobile--youtube' }) %></li>
          </div>
          <div id="youtube-desktop" style="padding-top: 40px;" class="tab-pane fade">
            <%= render('adwords_ads/image_ads/banner_728x90', { includes_logo: false }) %>
            <%= render('adwords_ads/image_ads/image_1_300x250', { is_mobile: false }) %>
          </div>
        </div>
        
      </div>

      <div id="gmail" role="tabpanel" class="tab-pane fade">

        <div class="tab-content">
          <div id="gmail-mobile" class="tab-pane fade active in">
            <h4>gmail mobile</h4>

            <ul class="list-unstyled list-inline">
              <li><%#= render('adwords_ads/mobile') %></li>
              <li><%#= render('adwords_ads/mobile') %></li>
            </ul>

          </div>
          <div id="gmail-desktop" class="tab-pane fade">
            <h4>gmail desktop</h4>
          </div>
        </div>

      </div>

    </div>

  </div>

</body>
</html>