
(function (window, document) {

  "use strict";

  var $, jqUrl = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js",
      isDemo = window.location.href.match(/(plugins\/demo|weebly)/);

  if (window.jQuery === undefined) {
    createScriptTag(jqUrl, function () {
        // at this point jQuery (global) is defined and local $ is not
        $ = window.jQuery.noConflict(false);
        main();
      });
  } else if (jQueryIsOld(window.jQuery.fn.jquery)) {
    createScriptTag(jqUrl, function () {
        /**
         * grid_overlays will end up using the old version of jQuery,
         * but that's ok because it's bootstrap that needs a min. version of jQuery
         */
        $ = window.jQuery.noConflict(true);
        main();
      });
  } else {
    $ = window.jQuery;
    main();
  }

  function main () {

    $(function () {

      var $container, $script,
          env = "<%= ENV['HOST_NAME'] %>",
          uid = "<%= @uid %>",
          type = '<%= @type %>',
          $stylesheet = $("<link>", { rel: "stylesheet", type: "text/css", href: '<%= @stylesheet_url %>' }),
          xsBreakpoint = 768,
          preSelectedStorySlug = (new URL(window.location)).searchParams.get('cs') ||
                                 (new URL(window.location)).searchParams.get('story');

      // no stylesheet means type couldn't be id'ed => fatal
      if (!'<%= @stylesheet_url %>') return false;

      if (uid) {
        // need to grab the last because (inexplicably) multiple script tags may be returned and only the last will have data attributes
        $script = $('script[src*="' + uid + '"]').last();
        $container = $script.prev();
      } else {
        // type IN ['gallery', 'carousel', 'tabbed_carousel']
        if (type === 'gallery') {
          $script = $('script[src*="gallery/cs"]').last();
          $container = $('#cs-gallery');
        } else if (type === 'carousel') {
          $script = $('script[src*="carousel/cs"], script[src*="varmour/cs"]').last();
          $container = $("#cs-carousel, #cs-varmour-container").first();
        } else if (type === 'tabbed_carousel') {
          $script = $('script[src*="tabbed_carousel/cs"], script[src*="tab/cs"], script[src*="widget/cs"]').last();
          $container = $("#cs-tabbed-carousel, #cs-tab-container, #cs-container").first();
        }
      }

      if ($script.data('demo')) var isDemo = true;
      if (!$container.hasClass('cs-plugin')) $container.addClass('cs-plugin');

      $stylesheet
        .appendTo('head')
        .on('load', getPlugin($container, $script, isDemo, env, preSelectedStorySlug))
        .on('load', function () {
          if (preSelectedStorySlug) {
            // z-index is just a touch greater than the 100000 that is set on .cs-main when an overlay is opened
            // TODO: constantize this number
            $('body').append(`
              <div id="cs-loading-pre-select" style="z-index:100001; display:block; position:fixed; height:${window.innerHeight}px; top:0; left:0; right:0; background-color:${(window.innerWidth < xsBreakpoint ? 'rgba(242,242,242,0.9)' : 'rgba(0,0,0,0.75)')}; transition: opacity 0.12s">
                <div style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%)">
                  <img src="<%= asset_url('icons/180-ring.svg', alt: 'loading') %>" style="height: 50px !important; color: ${window.innerWidth < xsBreakpoint ? '#555' : 'rgba(255,255,255,0.85)'} !important">
                </div>
              </div>
            `);

            // $container[0].scrollIntoView({ block:'center' });

            // remove loading screen and query param on timeout
            setTimeout(function () {
              if ($('#cs-loading-pre-select').length) {
                $('#cs-loading-pre-select').remove();

                // get rid of ?cs==
                history.replaceState({}, null, window.location.pathname)
              };
            }, 7000)
          }
        });

    });
  }

  // root_url provides a company-specific url (via subdomain)
  function getPlugin ($container, $script, isDemo, env, preSelectedStorySlug) {
    return function () {
      $.ajax({
        url: "<%= URI.join(root_url(subdomain: @company.subdomain), plugin_view_path(@type)) %>",
        method: 'GET',
        dataType: 'jsonp',
        data: {
          is_demo: isDemo,
          stories: $script.data('stories'),
          title: $script.data('title'),
          skip: $script.data('skip'),
          category: $script.data('category'),
          product: $script.data('product'),
          preselected_story: (
            (new URL(window.location)).searchParams.get('cs') || (new URL(window.location)).searchParams.get('story')
          ),
          background: $script.data('background'),
          tab_color: $script.data('tab-color'),
          text_color: $script.data('text-color') || $script.data('font-color'),
          logos_only: $script.data('logos-only'),
          grayscale: $script.data('grayscale'),
          window_width: window.innerWidth
        }
      })
        .done(function (data) {
          $container.html(data.html);
          $container.find('*').addClass('cs');
          if (preSelectedStorySlug) {
            var $preSelectedStoryCard = $container.find('a[href*="' + preSelectedStorySlug + '"]'),
                preSelectedStoryIndex = $container.is('#cs-gallery') ? $preSelectedStoryCard.index() : $preSelectedStoryCard.parent().index();
          }

          adjustForWeebly();
          
          // wait for all images to load so dimension calculations are correct
          var $images = $container.find('img'), loadedImages = 0;
          $images.on('load', function (e) {
            if (++loadedImages === $images.length) {
              initPlugin('<%= @type %>', $container, $script, isDemo, env, preSelectedStoryIndex);
            }
          });

          // if images are coming from cache they won't trigger the load event;
          // changing the src will trigger load;
          // img.src = '' necessary for webkit if it previously held a value, per comments here:
          // https://stackoverflow.com/questions/12354865
          $images.each(function () {
            var temp = this.src
            this.src = '';
            this.src = temp;
          });
        });
    };
  }

  function initPlugin (type, $container, $script, isDemo, env, preSelectedStoryIndex) {
    var initOverlays = $.Deferred(),
        maxGalleryRows = parseInt($script.data('max-rows'), 10),
        tabbedCarouselDelay = ((type === 'tabbed_carousel') && parseInt($script.data('delay'), 10) || 0);
    
    trackPluginVisitor($container, isDemo, env);

    if (type !== 'tabbed_carousel') {
      $.getScript("<%= asset_url('plugins/cs_overlays.js') %>", function () {
          cspInitOverlays($, $container, '<%= @company.subdomain %>', isDemo, env);
          initOverlays.resolve();
        });
    } else {
      initOverlays.resolve();
    }

    $.when([initOverlays]).done(function () {
        $.ajax({
          url: "<%= URI.join(root_url(subdomain: @company.subdomain), plugin_init_path(@type)) %>",
          method: 'GET',
          dataType: 'script'
        })
          .done(function (data, status, xhr) {
            if (type === 'gallery') cspInitGallery($, $container, maxGalleryRows, preSelectedStoryIndex);
            else if (type === 'carousel') cspInitCarousel($, $container, preSelectedStoryIndex, '<%= @company.subdomain %>');
            else if (type === 'tabbed_carousel') {
              // plugin must be defined and called in this scope
              slideDrawerPlugin($container);
              cspInitTabbedCarousel($, $container, tabbedCarouselDelay, isDemo);
            }

            // open pre-selected story
            if ($container.find('.story-card.cs-loaded').length) {
              $container.find('.story-card.cs-loaded a')[0].click();
            }

          });
      });
  }

  // on weebly, get the Montserrat font to emulate proxima-nova
  function adjustForWeebly () {
    if (window.location.href.includes('weebly')) {
      $('.wsite-section-content > .container').css('padding', '0');
      $('#wsite-content p').each(function () {
        $(this)[0].style.setProperty('color', '#444', 'important');
      });
    }
  }

  function trackPluginVisitor ($container, isDemo, env) {
    if (env === 'customerstories.net' && !isDemo) {
      $container.append(
          '<iframe class="cs-iframe" height="0" width="0" style="display:none" ' +
              'src="https://' + '<%= @company.subdomain %>' + '.customerstories.net/plugins/track"></iframe>'
        );

      // old approach:
      // var trackingDoc = $('#cs-container').find('iframe')[0].contentWindow.document,
      //     trackingHost = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com"),
      //     trackingUrl = trackingHost + '/j/roundtrip.js';
      // trackingDoc.open();
      // trackingDoc.write("<html><head><script>adroll_adv_id='" + advId + "';adroll_pix_id='" + pixId + "';</script><script src='" + trackingUrl + "'></script><script>setTimeout(function(){try{__adroll.record_user({'adroll_segments':'" + segmentId + "'})}catch(err){};},1000);</script></head></html>");
      // trackingDoc.close();
    }
  }

  function slideDrawerPlugin ($container) {

    var drawer = {

      init: function (options, div) {

        if (options.showDrawer === true && options.slideTimeout === true) {
          setTimeout(function() {
            drawer.slide(div, options.drawerHiddenHeight, options.slideSpeed);
          }, options.slideTimeoutCount);
        } else if (options.showDrawer === 'slide') {
          // Set drawer hidden with slide effect
          drawer.slide(div, options.drawerHiddenHeight, options.slideSpeed);
        } else if (options.showDrawer === false) {
          // Set drawer to hide
          drawer.hide(options, div);
        }
        $container.on('click', '.cs-toggle', function (e) {
          if (e.target.closest('button.cs-close')) return false;
          drawer.toggle(options, div);
        });
      },
      toggle: function (options, div) {
        ($(div).height() + options.borderHeight === options.drawerHeight) ?
          drawer.slide( div, options.drawerHiddenHeight, options.slideSpeed ) :
          drawer.slide( div, options.drawerHeight - options.borderHeight, options.slideSpeed );
      },
      slide: function (div, height, speed) {
        $(div).animate({ 'height': height }, speed, 'swing', function () {
          $container.find('header').toggleClass('open closed');
        });
      },
      hide: function (options, div) {
        $(div).css('height', options.drawerHiddenHeight);
      },

    };

    // Function wrapper
    $.fn.slideDrawer = function (options) {

      var $drawerContent = $container.find('.cs-drawer-content'),  /* Content height of drawer */
          borderHeight = parseInt($drawerContent.css('border-top-width')); /* Border height of content */

      var drawerHeight = this.height() + borderHeight; /* Total drawer height + border height */
      var drawerContentHeight = $drawerContent.outerHeight(); //- borderHeight; /* Total drawer content height minus border top */
      var drawerHiddenHeight = (drawerHeight - drawerContentHeight) - borderHeight; /* How much to hide the drawer, total height minus content height */
      var defaults = {
        showDrawer: 'slide', /* Drawer hidden on load by default, options (true, false, slide) */
        slideSpeed: 400, /* Slide drawer speed 3 secs by default */
        slideTimeout: true, /* Sets time out if set to true showDrawer false will be ignored */
        slideTimeoutCount: 5000, /* How long to wait before sliding drawer */
        drawerContentHeight: drawerContentHeight, /* Div content height no including tab or border */
        drawerHeight: drawerHeight, /* Full div height */
        drawerHiddenHeight: drawerHiddenHeight, /* Height of div when hidden full height minus content height */
        borderHeight: borderHeight /* border height if set in css you cann overwrite but best just leave alone */
      };

      /* Overwrite defaults */
      var pluginOptions = $.extend(defaults, options);

      return this.each(function () {
        drawer.init(pluginOptions, this);
      });
    };

  }

  function createScriptTag (url, callback) {
    var scriptTag = document.createElement('script');
    scriptTag.setAttribute("type", "text/javascript");
    scriptTag.setAttribute("src", url);
    if (typeof callback !== "undefined") {
      if (scriptTag.readyState) {
        /* For old versions of IE */
        scriptTag.onreadystatechange = function () {
          if (this.readyState === 'complete' || this.readyState === 'loaded') {
            callback();
          }
        };
      } else {
        scriptTag.onload = callback;
      }
    }
    (document.getElementsByTagName("head")[0] || document.documentElement).appendChild(scriptTag);
  }

  // bootstrap requires >= v1.9 of jquery
  function jQueryIsOld (jqVer) {
    var majorRel = jqVer.split('.')[0],
        minorRel = jqVer.split('.')[1];
    if (majorRel === '1' && parseInt(minorRel, 10) < 9) {
      return true;
    } else {
      return false;
    }
  }


}(window, document));

