<!-- EDIT password-->

<div id="wrapper">
  <div class="masthead">



  <div class="content">

    <div class="container">

      <hr class="spacer-sm">

      <div class="account-wrapper">

        <div class="account-body">

<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class='form-group'>
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class='form-group'>
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="form-group">
              <%= button_tag(type: 'submit', tabindex: '4',
                  class: "btn btn-success btn-block btn-lg") do %>
                Change Password &nbsp; <i class="fa fa-play-circle"></i>
              <% end %>
            </div>

<% end %>



       </div> <!-- /.account-body -->



      </div> <!-- /.account-wrapper -->


      <br><br><br>


    </div> <!-- /.container -->
  </div> <!-- /.content -->
 </div> <!-- /.masthead -->
</div> <!-- /#wrapper -->

<%= render 'shared/csp_landing_footer' %>