
<% if (is_mobile) %>

  <div class="mobile__abstract--navigation">
    <div class="menu-icon"><i class="fa fa-fw fa-bars"></i></div>
    <div class="headline"></div>
    <div class="search-icon"><i class="fa fa-fw fa-search"></i></div>
  </div>

  <div class="mobile__abstract--paragraph">
    <div class="long-line"></div>
    <div class="long-line"></div>
    <div class="long-line"></div>
    <div class="short-line"></div>
  </div>

<% end %>

<div class="ad image-ad image-1 <%= is_mobile ? 'mobile-ad' : '' %>">

  <%= render('adwords_ads/ads_by_google') %>

  <div class="landscape-image" style="background-image: url(<%= @image_url %>)"></div>

  <div class="short-headline <%= @short_headline_background %>" style="<%= 'background-color:' + @main_color %>">
    <span><%= @short_headline %></span>
  </div>

  <div>
    <div class="logo" style="background-image: url(<%= @logo_url %>)"></div>
    <div class="description">
      <p style="font-size: <%= @ads_params[:image_1][:desc_font_size] %>"><%= @description %></p>
    </div>
    <button class="<%= @button_background %>" style="background-color: <%= @accent_color %>"></button>
  </div>

  <div class="spacer"></div>

</div>

<% if (is_mobile) %>

  <div class="mobile__abstract--paragraph">
    <div class="long-line"></div>
    <div class="long-line"></div>
    <div class="long-line"></div>
    <div class="short-line"></div>
  </div>

  <div class="mobile__abstract--paragraph">
    <div class="long-line"></div>
    <div class="short-line"></div>
  </div>

<% end %>