
<% if (is_mobile) %>

  <div class="mobile__abstract--navigation">
    <div class="menu-icon"><i class="fa fa-fw fa-bars"></i></div>
    <div class="headline"></div>
    <div class="search-icon"><i class="fa fa-fw fa-search"></i></div>
  </div>

  <div class="mobile__abstract--paragraph">
    <div class="long-line"></div>
    <div class="long-line"></div>
    <div class="long-line"></div>
    <div class="short-line"></div>
  </div>

<% end %>

<div class="ad native-ad native-2 <%= is_mobile ? 'mobile-ad' : '' %>">

  <%= render('adwords_ads/ads_by_google') %>

  <div class="landscape-image" style="background-image: url(<%= @image_url %>)"></div>

  <div class="first-row">
    <div class="logo" style="background-image: url(<%= @logo_url %>)"></div>
    <div class="headlines">
      <div class="short-headline">
        <span><%= @short_headline %></span>
      </div>
      <div class="description">
        <a><%= @description %></a>
      </div>
    </div>
  </div>

  <div class="second-row">

    <div class="business-name">
      <a><%= @company.name %></a>
    </div>

    <div class="call-to-action">
      <a href="javascript:;"><%= @call_to_action %></a>
      <div>
        <svg class="rhsvgpngicon" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" height="13px" width="8px" viewBox="0 0 26 42" enable-background="new 0 0 26 42" xml:space="preserve"><polyline fill="none" stroke="#212121" stroke-width="5" stroke-miterlimit="10" points="2.875,2.958 21.166,20.957 2.917,38.916"></polyline></svg>
      </div>
    </div>

  </div>

</div>

<% if (is_mobile) %>

  <div class="mobile__abstract--paragraph">
    <div class="long-line"></div>
    <div class="long-line"></div>
    <div class="long-line"></div>
    <div class="short-line"></div>
  </div>

  <div class="mobile__abstract--paragraph">
    <div class="long-line"></div>
    <div class="short-line"></div>
  </div>

<% end %>