
<% if (is_mobile) %>

  <div class="mobile__abstract--navigation">
    <div class="menu-icon"><i class="fa fa-fw fa-bars"></i></div>
    <div class="headline"></div>
    <div class="search-icon"><i class="fa fa-fw fa-search"></i></div>
  </div>

  <div class="mobile__abstract--paragraph">
    <div class="long-line"></div>
    <div class="long-line"></div>
    <div class="long-line"></div>
    <div class="short-line"></div>
  </div>

<% end %>

<div class="ad text-ad text-1 <%= is_mobile ? 'mobile-ad' : '' %>">

  <%= render('adwords_ads/ads_by_google') %>

  <div>
    <div class="short-headline">
      <a href="javascript:;"><%= @short_headline %></a>
    </div>
    <div class="business-name">
      <a href="javascript:;"><%= @business_name %></a>
    </div>
    <div class="description">
      <a href="javascript:;" style="font-size: <%= @ads_params[:text_1][:desc_font_size] %>">
        <%= @description %>
      </a>
    </div>
  </div>

  <div style="background-color: <%= (@main_color === '#ffffff' || @accent_color === '#ffffff') ? '#eeeeee' : @main_color %>">
    <div class="call-to-action">
      <a class="<%= (@main_color === '#ffffff' || @accent_color === '#ffffff') ? 'dark-background' : @cta_background %>"
         style="<%= (@main_color === '#ffffff' || @accent_color === '#ffffff') ? 'background-color: #324148' : '' %>">
         <%= @cta_text %>
      </a>
    </div>
  </div>

</div>

<% if (is_mobile) %>

  <div class="mobile__abstract--paragraph">
    <div class="long-line"></div>
    <div class="long-line"></div>
    <div class="long-line"></div>
    <div class="short-line"></div>
  </div>

  <div class="mobile__abstract--paragraph">
    <div class="long-line"></div>
    <div class="short-line"></div>
  </div>

<% end %>