
<div class="mobile__abstract--youtube-home-top">
  <div class="header">
    <%= render('adwords_ads/youtube_logo') %>
    <div class="profile-image"></div>
  </div>
  <div class="video-info">
    <div></div>
    <div class="mobile__abstract--paragraph">
      <div class="long-line"></div>
      <div class="long-line"></div>
      <div class="short-line"></div>
    </div>
    <div>
      <i class="fa fa-fw fa-ellipsis-v"></i>
    </div>
  </div>

</div>

<div class="ad youtube--home">
  <div class="landscape-image" style="background-image: url(<%= @image_url %>)"></div>
  <div class="short-headline">
    <a href="javascript:;"><%= @short_headline %></a>
  </div>
  <div class="description">
    <a href="javascript:;" style="font-size: <%= @ads_params[:youtube_home][:desc_font_size] %>"><%= @description %></a>
  </div>
  <div>
    <div class="business-name">
      <a href="javascript:;"><%= @business_name %></a>
      <div class="ad-box ad-box-yellow">Ad</div>
    </div>
    <div class="call-to-action">
      <a href="javascript:;"><%= @cta_text %></a>
    </div>
  </div>
</div>

<div class="mobile__abstract--youtube-home-bottom">
  <div class="video-content"></div>
</div>