
<tr class="accordion-toggle <%= group_items.empty? ? 'no-data' : '' %>"
    data-toggle='collapse' data-parent='#activity-groups'
    data-target=".<%= group_type %>">

  <% last_7_days = group_items.select { |item| Date.parse(item[:timestamp]) >= 7.days.ago } %>

  <td><i class='fa fa-chevron-right'></i><i class='fa fa-chevron-down'></i></td>
  <td><%= group_type == :story_views ? group_label + ' (limit 7 days)' : group_label %></td>
  <td><%= last_7_days.count if last_7_days.count > 0 %>
      <span class="<%= last_7_days.count > 0 ? 'hidden' : '' %>">&#8211;</span></td>
  <td><%= group_type == :story_views ? (story_views_30_day_count if story_views_30_day_count > 0) :
          group_items.count if group_items.count > 0 %>
      <span class="<%= group_type == :story_views ? (story_views_30_day_count > 0 ? 'hidden' : '') :               group_items.count > 0 ? 'hidden' : '' %>">&#8211;</span></td>

</tr>

<tr>

  <td colspan='4' class='hiddenRow'>
    <div class="accordion-body collapse <%= group_type %>">
      <table class='datatable table table-bordered <%= group_items.count < 10 ? 'short' : '' %>'
             id="<%= group_type %>-table" width='100%' >

        <%= render 'companies/4_measure/activity_group_table_data',
                   { group_items: group_items, group_type: group_type } %>

      </table>
    </div>
  </td>
  <td class='hidden'></td>
  <td class='hidden'></td>
  <td class='hidden'></td>

</tr>