
<% if curator_with_logo? %>

  <%= link_to @company.website, class: 'navbar-brand', target: '_blank' do %>
    <%= image_tag current_user.company.logo_url, alt: "#{@company.name} logo" %>
  <% end %>

<% elsif curator_without_logo? %>

  <%= link_to @company.website, class: "navbar-brand", target: '_blank' do %>
    <%= image_tag "company-logo-missing.png",
          alt: "#{@company.name} logo placeholder" %>
  <% end %>

<% elsif registered_user_without_company? %>

  <% if controller_name == 'stories' %>

    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag(@company.logo_url, alt: "#{@company.name} logo") unless @company.logo_url.blank? %>
    <% end %>

  <% else %>

    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag "mvp-landing/logo_full.png", alt: 'CSP Logo' %>
    <% end %>

  <% end %>

<% else %>

  <%= link_to @company.website, class: "navbar-brand #{production? ? 'clicky_log_outbound' : ''}", target: '_blank' do %>
    <%= image_tag @company.logo_url, alt: "#{@company.name} logo" %>
  <% end unless @company.logo_url.blank? %>

<% end %>

<% if stories? %>

  <h3>Customer Stories</h3>

<% end %>

