<% if user_signed_in? && controller_name == 'stories' && action_name == 'show' %>

  <style>
    .mainnav-main:after { content: none; }
  </style>

<% end %>

<%= javascript_tag do %>

  $(function () {
    var company = <%= raw @company.to_json %>;

    if (company.feature_flag == 'alpha') {
      $(".tooltip-wrapper-tabs").tooltip({ placement: 'right', container: 'body' });
      $(".tooltip-wrapper-promote").tooltip({ placement: 'top' });
    }

  });

<% end %>

<div class='mainnav mainnav-main'
    style="<%= user_signed_in? ? 'margin-bottom:0' : '' %>">
  <div class='container'>

    <div class="navbar-header">
      <a class="mainnav-toggle"
        data-toggle="collapse" data-target=".mainnav-collapse">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-bars"></i>
    </a>
    </div>

    <div class="collapse mainnav-collapse" role="navigation">
      <ul class='nav nav-tabs mainnav-menu col-sm-4' role='tablist' style='border-bottom:0'>

        <% if @company.feature_flag == 'alpha' %>
        <!--   <li id='pipeline-tab' class='tooltip-wrapper-tabs'
              style='margin-bottom: 0px; display:inline-block'
              data-title="This section is currently disabled">
            <a href='#pipeline' role='tab' aria-controls='pipeline'
                style='pointer-events:none' disabled>
              Pipeline
            </a>
          </li> -->
        <% else %>
          <li id='pipeline-tab' class="<%= @mainnav_tab == 'pipeline' ? 'active' : '' %>"
              role='presentation' style='margin-bottom: 0px'>
            <a href='#pipeline' role='tab' data-toggle='tab' aria-controls='pipeline'>
              Pipeline
            </a>
          </li>
        <% end %>

        <li id='curate-tab' class="<%= @mainnav_tab == 'curate' ? 'active' : '' %>"
            role='presentation' style='margin-bottom: 0px'>
          <a href='#curate' role='tab' data-toggle='tab' aria-controls='curate'>
            Curate
          </a>
        </li>

        <li id='promote-tab' class="<%= @mainnav_tab == 'promote' ? 'active' : '' %>"
            role='presentation' style='margin-bottom: 0px'>
          <a href='#promote' role='tab' data-toggle='tab' aria-controls='promote'>
            Promote
          </a>
        </li>

        <% if @company.feature_flag == 'alpha' %>
          <li id='measure-tab' class='tooltip-wrapper-tabs'
              style='margin-bottom: 0px; display:inline-block'
              data-title="This section is currently disabled">
            <a href='#measure' role='tab' aria-controls='measure'
                style='pointer-events:none' disabled>
              Measure
            </a>
          </li>
        <% else %>
          <li id='measure-tab' class="<%= @mainnav_tab == 'measure' ? 'active' : '' %>"
              role='presentation' style='margin-bottom: 0px'>
            <a href='#measure' role='tab' data-toggle='tab' aria-controls='measure'>
              Measure
            </a>
          </li>
        <% end %>
      </ul>

      <% if controller_name == 'stories' && action_name == 'index' %>
        <form class="form-inline col-sm-6 text-center" style='padding-top: 5px'>
          <div class="form-group text-left">
           <%= label_tag :industries, "Industries", class: 'control-label' %>
           <%= select_tag :industries, options_for_select(@industries),
                  { class: 'stories-filter form-control',
                    style: 'min-width: 140px',
                    disabled: (true if @company.feature_flag == 'alpha') }
                    %>
          </div>&nbsp;&nbsp;
          <div class="form-group text-left">
           <%= label_tag :products, "Products", class: 'control-label' %>
           <%= select_tag :products, options_for_select(@industries),
                  { disabled: true,
                    class: 'stories-filter form-control',
                    style: 'min-width: 140px' } %>
          </div>
        </form>
      <% end %>

      <ul class='nav nav-tabs mainnav-menu col-sm-2 pull-right'
          role='tablist' style='border-bottom:0'>

        <% if user_signed_in? && current_user.company_id.present? %>

          <li class="dropdown pull-right">

            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
              <span class="visible-xs-inline" style="display: inline !important">
                <i class='glyphicon glyphicon-cog'></i> &nbsp;
              </span>
              <i class="fa fa-caret-down"></i>
            </a>

            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to edit_company_path(current_user.company_id) do %>
                  Company Settings
                <% end %>
              </li>
            </ul>

          </li>

        <% end %>

        <li class="dropdown pull-right">

          <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
            <span class="visible-xs-inline" style="display: inline !important">
              <i class='glyphicon glyphicon-user'></i> &nbsp;
            </span>
            <i class="fa fa-caret-down"></i>
          </a>

          <ul class="dropdown-menu" role="menu">

            <% if current_user.company_id.present? %>
              <li>
                <%= link_to edit_profile_path do %>
                  <%= current_user.full_name %>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to edit_profile_no_company_path do %>
                  <%= current_user.full_name %>
                <% end %>
              </li>
            <% end %>

          </ul>
        </li>
      </ul>

    </div>
  </div>  <!-- container -->
</div>  <!-- mainnav -->