<% if curator_story_view? %>

  <style>.mainnav-main:after { content: none; }</style>

<% end %>

<%= javascript_tag do %>

  $(function () {
    var company = <%= raw @company.to_json %>;

    if (company.feature_flag == 'alpha' || company.feature_flag == 'beta') {
      $(".tooltip-wrapper-tabs").tooltip({ placement: 'right', container: 'body' });
      $(".tooltip-wrapper-promote").tooltip({ placement: 'top' });
    }

  });

<% end %>

<div class='mainnav mainnav-main' style="margin-bottom:0">
  <div class='container'>

    <% if gallery_view? %>
      <div class="navbar-header">
        <a class="mainnav-toggle"
            data-toggle="collapse" data-target=".mainnav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </a>
      </div>
    <% end %>

    <!-- <div class="collapse mainnav-collapse" role="navigation">
    </div> -->

    <div class="col-md-4">

      <%= render 'shared/mainnav_workflow_tabs' %>

    </div>

    <% if gallery_view? %>

      <div class="col-md-6">

        <%= render 'stories/shared/filters' %>

      </div>

    <% end %>

    <div class="col-xs-3 col-md-2 pull-right">

      <%= render 'shared/mainnav_account_dropdowns' %>

    </div>

  </div>  <!-- container -->
</div>  <!-- mainnav -->