<% if curator_story_view? %>

  <style>.mainnav-main:after { content: none; }</style>

<% end %>

<%= javascript_tag do %>

  $(function () {
    var company = <%= raw @company.to_json %>;

    if (company.feature_flag == 'alpha' || company.feature_flag == 'beta') {
      $(".tooltip-wrapper-tabs").tooltip({ placement: 'right', container: 'body' });
      $(".tooltip-wrapper-promote").tooltip({ placement: 'top' });
    }

  });

<% end %>

<nav class='mainnav mainnav-main' style="margin-bottom:0">
  <div class='container'>

    <div id='mainnav-workflow'
        class="col-xs-8 col-sm-6 col-md-4 <%= gallery_view? ? 'hidden-xs hidden-sm' : '' %>">

      <%= render 'shared/mainnav_workflow_tabs' %>

    </div>

    <div id='collapsed-workflow-tabs'
        class="col-xs-1 <%= gallery_view? ? '' : 'hidden-xs hidden-sm' %> hidden-md hidden-lg ">
      <ul class='nav nav-tabs mainnav-menu' role='tablist' style='border-bottom:0'>

          <li class="dropdown">

            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
              <span class="visible-xs-inline" style="display: inline !important">
                <i class='glyphicon glyphicon-align-justify'></i> &nbsp;
              </span>
              <!-- <i class="fa fa-caret-down"></i> -->
            </a>

            <ul class="dropdown-menu" role="menu">
              <% unless ['alpha', 'beta'].include? @company.feature_flag %>
                <li>
                  <a href="javascript:;" role='tab' aria-controls='pipeline'>
                    Pipeline
                  </a>
                </li>
              <% end %>
              <li>
                <a href="javascript:;" role='tab' aria-controls='curate'>
                  Curate
                </a>
              </li>
              <li>
                <a href="javascript:;" role='tab' aria-controls='promote'>
                  Promote
                </a>
              </li>
              <li>
                <a href='javascript:;' role='tab' aria-controls='measure'
                    disabled="<%= ['alpha', 'beta'].include?(@company.feature_flag) ? true : false %>">
                  Measure
                </a>
              </li>

            </ul>

          </li>

      </ul>
    </div>

    <% if gallery_view? %>

      <div class="col-sm-8 col-md-6">

        <%= render 'stories/shared/filters' %>

      </div>

    <% end %>

    <div class="col-xs-3 col-md-2 pull-right">

      <%= render 'shared/mainnav_account_dropdowns' %>

    </div>

  </div>  <!-- container -->
</nav>  <!-- mainnav -->