
<% if flash.any? %>

  <%= render 'shared/flash' %>
<!-- This partial will only render if there is something in the flash hash
     In case of AJAX request / JS response, render below -->

<% else %>

  <div class='container' style='z-index:999; position:fixed; width:100%' >
    <div id='flash'
       class="hidden col-md-6 col-md-offset-3 text-center alert"
       role="alert">
      <!-- <button type="button" class="close" data-dismiss="alert"
              aria-hidden="true">&times;</button> -->
    </div>
  </div>

<% end %>

<header class="navbar" role="banner" style="<%= admin_navbar_style %>">
  <div class="container">

    <div class="navbar-header col-sm-2">

      <%= render 'shared/admin_navbar_logo' %>

      <button class="navbar-toggle" type="button"
              data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="glyphicon glyphicon-align-justfy" ></i>
      </button>

    </div><!--

 --><div class="col-sm-8 text-center" style="font-size:20px; margin-top:13px">

      <%= render 'shared/admin_navbar_title' %>

    </div>

    <%= render 'shared/admin_navbar_session' %>

  </div>
</header>