
<ul class="nav navbar-nav navbar-right mainnav-menu">

  <li>
    <a href="/">
      Home
    </a>
  </li>

  <li>
    <a href="/product">
      Product
    </a>
  </li>

  <li>
    <a href="/plans">
      Plans
    </a>
  </li>

  <% if user_signed_in? && current_user.company_id.present? %>

    <%= link_to File.join( request.protocol + current_user.company.subdomain +
                           "." + request.domain + request.port_string,
                           company_path(current_user.company_id) ) do %>

      <% if current_user.company.logo_url.present? %>
        <%= image_tag current_user.company.logo_url, class: 'navbar-brand navbar-brand-img' %>
      <% else %>
        <%= image_tag 'company-logo-missing.png', class: 'navbar-brand navbar-brand-img' %>
      <% end %>
    <% end %>

  <% else %>

    <li role="menu">
      <%= link_to new_user_session_path do %>
        Sign in
        <!--  <i class="fa fa-pencil-square-o dropdown-icon"></i> -->
      <% end %>
    </li>

    <li role="menu">
      <%= link_to new_user_registration_path do %>
        Sign up
        <!--  <i class="fa fa-pencil-square-o dropdown-icon"></i> -->
      <% end %>
    </li>

  <% end %>
</ul>



