
<div id="filters-md-lg" class="visible-md-block visible-lg-block">

  <%= form_tag(search_company_stories_path(company.id), method: :GET, remote: true, id: 'search-stories-form') do %>

    <%= hidden_field_tag(:search_string, '') %>

    <div class="form-group" style="position: relative; margin-bottom: 15px;">

      <a href="javascript:;" style="position: absolute; padding: 6px 10px; top: 1px; right: 1px; font-size: 14px; color: #666; border-top-right-radius: 3px; border-bottom-right-radius: 3px;">
        <i class="fa fa-search fa-fw"></i>
      </a>

      <%= text_field_tag(:search_input, nil, class: 'form-control', style: 'padding-right: 34px', placeholder: 'Search') %>

    </div>


  <% end %>

  <div style="margin-bottom: 15px; text-align: right">
    <a href="javascript:;">Clear filters</a>
  </div>

  <% if include_category_filter?(company) %>

    <% cache(category_select_cache_key, skip_digest: true) do %>

      <div class="form-group" style="margin-bottom: 15px">

        <%= label_tag(:category_select, "Category") %>
        <%= select_tag(:category_select,
              options_for_select(
                company.story_categories.public_select_options,
                pre_selected_filter[:tag] == 'category' ? [pre_selected_filter[:id]] : []
              ),
              {
                include_blank: true,
                class: 'stories-filter category-select form-control',
                style: 'width: 100%'
              }
            ) %>

      </div>

    <% end %>

  <% end %>

  <% if include_product_filter?(company) %>

    <% cache(product_select_cache_key, skip_digest: true) do %>

      <div class="form-group" style="margin-bottom: 15px">

        <%= label_tag(:product_select, "Product") %>
        <%= select_tag(:product_select,
              options_for_select(
                company.products.public_select_options,
                pre_selected_filter[:tag] == 'product' ? [pre_selected_filter[:id]] : []
              ),
              {
                include_blank: true,
                class: 'stories-filter product-select form-control',
                style: 'width: 100%'
              }
            ) %>

      </div>

    <% end %>

  <% end %>

</div>