
<section class='cs-drawer' style='visibility:hidden'>
  <div class="cs-row cs-header-row">
    <div class="visible-xs col-xs-12 text-center">
      <header class='cs-header' style="<%= widget.tab_style %>">
        &nbsp;&nbsp;<span>
          <span><%= title %></span>&nbsp;
          <i class='fa fa-chevron-up'></i><i class='fa fa-chevron-down'></i>
        </span>&nbsp;&nbsp;
      </header>
    </div>
    <div class="hidden-xs col-sm-4 col-sm-offset-7 col-md-3 col-md-offset-8 text-right">
      <header class='cs-header' style="<%= widget.tab_style %>">
        &nbsp;&nbsp;<span>
          <span><%= title %></span>&nbsp;
          <i class='fa fa-chevron-up'></i><i class='fa fa-chevron-down'></i>
        </span>&nbsp;&nbsp;
      </header>
    </div>
    <div class="col-xs-2 col-sm-1">
      <!-- filler -->
    </div>
  </div>
  <div class='cs-drawer-content' style='border-top-color:<%= widget.tab_color %>'>
    <div class='cs-drawer-items'>
      <div class='cs-row cs-pagination-row text-center'>
      </div>

      <div class="cs-row">

        <div class="cs-scroll hidden-xs col-sm-1">
          <div class='cs-scroll-left'></div>
        </div>

        <div class="col-xs-12 col-sm-10" style='padding:0'>

          <div class='cs-row row-horizon text-center'>

          <!-- the bootstrap styling starts to break down after 30 stories -->
          <!-- mobile styling gets weird after 18 -->
          <% stories.first(18).each do |story|  %>

            <div class='col-xs-8 col-sm-5 col-md-3'>

              <a href="<%= story[:path] %>" class='cs-thumbnail'
                 target="<%= native ? '' : '_blank' %>">

                <div class="cs-thumbnail-view">

                <% if story[:is_published] %>
                  <p class='cs-thumbnail-view-hover'>
                    <%= story[:title] %>
                  </p>
                <% end %>

                  <img class='cs-img' src="<%= story[:logo] %>" alt=''>

                </div>

              </a>

            </div>

          <% end %>

          </div>
        </div>

        <div class="cs-scroll hidden-xs col-sm-1">
          <div class='cs-scroll-right'></div>
        </div>

      </div>
    </div>
  </div>
</section>
