  <!--   SOME OLD NOTES
    Note the absence of method:put and remote:true
    We are only using this form for the S3 upload (necessary data attributes)
    Submission must be triggered by file select, however calling $.submit()
      messes with the response type called for by remote:true (instead of
      javascript it gets changed to HTML, resulting in server error: unknown format)
    So, submission is done via AJAX. See stories.js
    UPDATE: ajax upload happens in the S3 config function (application.js)
   -->

  <div>
    <%= customer_form.label(:customer_logo_url, 'Customer Logo') %>
  </div>

  <div class="well fileinput customer-logo <%= story.customer.logo_url.present? ? 'fileinput-exists' : 'fileinput-new' %>" data-provides="fileinput">

    <label class="checkbox-inline">
      <%= customer_form.check_box(:show_name_with_logo, {}, 'true', 'false') %>
      Show name with logo
    </label>

    <div class="text-center">

      <div class="fileinput-new thumbnail" data-trigger='fileinput'>
        <%= image_tag(LOGO_PLACEHOLDER_URL, alt: 'logo') %>
      </div>

      <div class="fileinput-preview fileinput-exists thumbnail" data-trigger="fileinput">
        <%= image_tag(story.customer.logo_url, alt: "logo") %>
        <!-- setting the line height prevents the jasny bootstrap js from assigning a bogus line height to .customer-name -->
        <div class="customer-name" style="line-height: 18px !important; <%= story.customer.show_name_with_logo ? '' : 'display: none' %>">
          <span><%= story.customer.name %></span>
        </div>
      </div>

    </div>

    <div class="btn-file">
      <%= customer_form.file_field(:logo_url) %>
    </div>

    <i class='change-image glyphicon glyphicon-pencil'></i>

    <!-- bootstrap validator -->
    <!-- <div style='height:20px' class="help-block with-errors"></div> -->

<!--     <div class="col-sm-5">
      <span id='story-edit-logo-buttons' class="btn btn-default btn-file">
        <span class="fileinput-new">
          Select
        </span>
        <span class="fileinput-exists">
          Change
        </span>
        <%#= file_field_tag :customer_logo_url %>
      </span>
      <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">
        Remove
      </a>
    </div> -->

  </div>  <!-- /.fileupload -->
