
<div class="hidden">

  <%= form_for(
        story,
        url: story_path(story.id),
        authenticity_token: true,
        html: {
          id: 'story-settings-form',
          method: 'put',
          remote: true,
          class: 'form-horizontal'
        }
      ) do |story_form| %>

    <div id="story-settings__ads-inputs">
      <!-- topic -->
      <input type="hidden"
             name="story[topic_ad_attributes][id]"
             value="<%= story.topic_ad.try(:id) %>" disabled>
      <input type="hidden"
             name="story[topic_ad_attributes][_destroy]"
             value="false" disabled>
      <input type="checkbox" class="hidden"
             name="story[topic_ad_attributes][_destroy]"
             value="true" disabled>
      <input type="hidden"
             name="story[topic_ad_attributes][adwords_ad_group_id]"
             value="<%= story.company.topic_campaign.ad_group.id %>" disabled>
      <input type="hidden"
             name="story[topic_ad_attributes][ad_id]"
             value="<%= story.topic_ad.try(:ad_id) %>" disabled>

      <!-- retarget -->
      <input type="hidden"
             name="story[retarget_ad_attributes][id]"
             value="<%= story.retarget_ad.try(:id) %>" disabled>
      <input type="hidden"
             name="story[retarget_ad_attributes][_destroy]"
             value="false" disabled>
      <input type="checkbox" class="hidden"
             name="story[retarget_ad_attributes][_destroy]"
             value="true" disabled>
      <input type="hidden"
             name="story[retarget_ad_attributes][adwords_ad_group_id]"
             value="<%= story.company.retarget_campaign.ad_group.id %>" disabled>
      <input type="hidden"
             name="story[retarget_ad_attributes][ad_id]"
             value="<%= story.retarget_ad.try(:ad_id) %>" disabled>

      <!-- new stories start in ENABLED state -->
      <% if story.company.promote_tr? %>
        <input type="hidden"
               name="story[topic_ad_attributes][status]"
               value="ENABLED" disabled>
        <input type="hidden"
               name="story[retarget_ad_attributes][status]"
               value="ENABLED" disabled>
      <% end %>

    </div>

    <%= story_form.fields_for(:success) do |success_form| %>
    <%= success_form.fields_for(:customer) do |customer_form| %>

    <%= hidden_field_tag('settings', true) %>

    <div class="row">

      <div class="form-group required-input">
        <%= story_form.label(:title, class: 'control-label col-sm-3') %>
        <div class="col-sm-7">
          <%= story_form.text_field(:title, class: 'form-control') %>
        </div>
        <div class="col-sm-2"></div>
      </div>

      <div class="form-group tags">
        <label class="control-label col-sm-3" for='story_success_attributes_story_category_ids'>
          Category Tags
        </label>
        <div class="col-sm-7">
          <%= success_form.collection_select(
                :story_category_ids,
                company.story_categories,
                :id,
                :name,
                {},
                {
                  class: 'story-settings story-tags form-control',
                  multiple: true,
                  style: 'width:100%'
                }
              ) %>
        </div>
        <div class="col-sm-2"></div>
      </div>

      <div class="form-group tags">
        <label class="control-label col-sm-3" for='story_success_attributes_product_ids'>
          Product Tags
        </label>
        <div class="col-sm-7">
          <%= success_form.collection_select(
                :product_ids,
                company.products,
                :id,
                :name,
                {},
                {
                  class: 'story-settings story-tags form-control',
                  multiple: true,
                  style: 'width:100%'
                }
              ) %>
        </div>
        <div class="col-sm-2"></div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="#story-ctas-select">CTAs</label>
        <div class="col-sm-7">
          <%= select_tag(
                'ctas[]',
                grouped_options_for_select(
                  company.ctas.select_options,
                  { selected: story.ctas.pluck(:id), disabled: ['none available'] }
                ),
                {
                  id: 'story-ctas-select',
                  class: 'form-control',
                  multiple: true,
                  style: 'width:100%'
                }
              ) %>
        </div>
        <div class="col-sm-2"></div>
      </div>

      <div class="story__hidden-link form-group">
        <%= story_form.label(nil, 'Hidden Link', class: 'control-label col-sm-3') %>
        <div class="col-sm-7">
          <div class="input-group"> 
            <%= story_form.text_field(
                  :hidden_link, 
                  class: 'form-control', 
                  placeholder: 'Click the Refresh button to generate a link',
                  readonly: true
                ) %>
            <span class="input-group-btn">
              <button type="button" class="story__refresh-hidden-link btn btn-default" 
                  style="border-radius: 0; border-left: 0"
                  data-toggle="tooltip" data-container="body" data-placement="top" title="Refresh">
                <i class="fa fa-refresh"></i>
              </button>
            </span>
            <span class="input-group-btn">
              <button type="button" 
                  class="story__copy-hidden-link btn btn-default <%= story.hidden_link.blank? ? 'disabled' : '' %>" 
                  data-toggle="tooltip" data-container="body" data-placement="top" title="Copy">
                <i class="fa fa-clipboard"></i>
              </button>
            </span>
          </div>
          <span class="help-block" style="margin-bottom: 0">
            Allows for early access without regard to publication status. Refreshing the link will automatically expire any previous links. 
          </span>
        </div>
      </div>

      <div class="form-group publish">
        <label class="col-sm-3 control-label">Publish</label>
        <div class="col-sm-7" style="display: flex; justify-content: space-evenly">
          <div class="publish-control">
            <label>Logo</label>
            <%= story_form.check_box(
                  :logo_published,
                  class: 'bs-switch publish-control form-control',
                  data: {
                    'on-text': '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
                    'off-text': '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
                  }
                ) %>
          </div>
          <div class="publish-control">
            <label>Preview</label>
            <%= story_form.check_box(
                  :preview_published,
                  class: "bs-switch publish-control form-control",
                  data: {
                    'on-text': '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
                    'off-text': '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
                  }
                ) %>
          </div>
          <div class="publish-control" style="position: relative">
            <label>Story</label>
            <%= story_form.check_box(
                  :published,
                  class: "bs-switch publish-control form-control",
                  data: {
                    'on-text': '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
                    'off-text': '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
                  }
                ) %>

            <span style="position: absolute; top: 1px; right: 0">
              <%#= link_to('Approval', story_approval_path(story.id, format: :pdf),
                    id: 'approval-pdf', target: '_blank',
                    data: { missing_curator_info: story.curator.missing_info.to_json,
                            missing_company_info: company.missing_info.to_json,
                            turbolinks: false },
                    ) %>
            </span>

          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-7 col-sm-offset-3" style="padding: 0">
        <hr style="margin-top:0">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-7 col-sm-offset-3">
        <div class="form-group text-right">

          <button type="submit" class="btn btn-success text-center" style="width: 114px">
            <span>Save changes</span>
            <i class='fa fa-spin fa-circle-o-notch' style='display:none'></i>
            <i class='fa fa-check' style='display:none'></i>
          </button>

        </div>
      </div>
    </div>

    <% end %>
    <% end %>

  <% end %>

</div>