
<%= form_for(story, url: story_path(story.id), authenticity_token: true,
      html: { method: 'put', remote: true, id: 'story-settings-form',
              class: 'directUpload',
              data: { 'form-data' => (@s3_direct_post.fields),
                      'url' => @s3_direct_post.url,
                      'host' => URI.parse(@s3_direct_post.url).host
              } }) do |f| %>

  <%= hidden_field_tag('story[form]', 'settings') %>


  <div class="row">
    <div class="col-sm-4">

      <div id='publish-control' class="form-inline">

        <div class="form-group" style='margin-right:30px'>
          <div>
            <label for="logo_published">Publish Logo</label>&nbsp;
          </div>
          <%= f.check_box(:logo_published, class: "bs-switch form-control",
                value: true) %>
        </div>

        <div class="form-group">
          <div>
            <label for='published'>Publish Story</label>&nbsp;
          </div>
          <%= f.check_box(:published, class: "bs-switch form-control") %>
        </div>
        &nbsp;
        <%= link_to('Approval', story_approval_path(story.id, format: :pdf),
              id: 'approval-pdf-btn', style: 'vertical-align: bottom; ',
              data: { missing_curator_info: story.curator.missing_info.to_json,
                      missing_company_info: company.missing_info.to_json,
                      turbolinks: false },
              target: '_blank') %>

      </div>  <!-- publish control -->

    </div>
    <div class="col-sm-8">

      <div class="form-group required-input">
        <%= f.label(:title) %>
        <%= f.text_field(:title, class: 'form-control') %>
      </div>

    </div>
  </div>

  <div class="row">

    <div class="col-sm-6">

      <%= render 'stories/edit/settings/customer_logo', { story: story, f: f } %>

    </div>

    <div class="col-sm-6">

      <div class="form-group">

        <%= label_tag "category_tags[]", 'Category Tags' %>
        <!-- Note the necessary '[]' notation below  -->
        <!-- if not present, will only return a single value  -->
        <%= select_tag "category_tags[]",
            options_for_select(
              company.story_categories.present? ? company.story_categories.select_options : ['none available'],
              { selected: story.category_tags.pluck(:id),
                disabled: ['none available'] }
            ),
            { multiple: 'true', class: 'story-tags form-control', tabIndex: '-1',
              style: 'width:100%' } %>

      </div>

      <div class="form-group">

        <%= label_tag "product_tags[]", 'Product Tags' %>
        <%= select_tag "product_tags[]",
            options_for_select(
              company.products.present? ? company.products.select_options : ['none available'],
              { selected: story.product_tags.pluck(:id),
                disabled: ['none available'] }
            ),
            { multiple: 'true', class: 'story-tags form-control', tabIndex: '-1',
              style: 'width:100%' } %>

      </div>

      <div class="form-group">

        <label for="#story-ctas-select">CTAs</label>
        <%= select_tag 'ctas[]',
              grouped_options_for_select(
                company.ctas.select_options,
                { selected: story.ctas.pluck(:id), disabled: ['none available'] }
              ), { id: 'story-ctas-select', class: 'form-control', multiple: true,
                   style: 'width:100%' } %>

      </div>

    </div>

  </div>

  <hr>

  <%= render 'shared/form_submit' %>

<% end %>