
(function () {
  var company = <%= raw @company.to_json({
          only: [],
          include: {
            customers: { only: [:id, :name] },
            contributors: { only: [:id], methods: [:full_name] },
            referrers: { only: [:id], methods: [:full_name] }
          }
        }) %>,
      newSuccess = <%= @success ? true : false %> && <%= raw @success.to_json({
          only: [:id],
          include: { curator: { only: [:id] } }
        }) %>,
      newSuccesses = <%= @successes ? true : false %> && <%= raw @successes.to_json({ only: [:id] }) %>,
      /**
       * the datatable filter state persists through a reload,
       */
      cbDone = function (successes, isImport) {
        return function () {
          if (isImport) {
            var $newSuccesses = $('#new-success-modal').find('.new-records ul'),
                $button = $('#new-success-modal').find('button[type="submit"]');
            $('#new-success-modal').find('form, .new-records').toggle();
            $button.attr('type', 'button');
            $button.find('span').text('Ok')
            $button[0].blur();
            $('.crowdsource.curator-select').val('0').trigger('change'  );
            // console.log(newSuccesses)
            successes.forEach(function (success) {
              if (newSuccesses.find(function (s) { return s.id === success.id; })) {
                $newSuccesses.append('<li>' + success.name + '</li>')
              }
            })
          } else {
            // ref: https://stackoverflow.com/questions/6677035
            $('html, body')
              .animate({ scrollTop: 65 }, 200)
              .promise()
              .then(function () {
                $('.successes.curator-select').val(successes[0].curator.id).trigger('change.select2')
                $('#successes-filter').val('success-' + successes[0].id).trigger('change');
                $('#successes-table td.success-details').trigger('click');
                $('#successes-filter').select2('focus');
                // don't let modal reset actions trigger the unfocus
                $(document).one('click', '#new-success-modal *', function (e) {
                  e.stopPropagation();
                })
                $(document).one('click', function (e) {
                  $('#successes-filter').next().removeClass('select2-container--focus');
                })
                $('#new-success-modal').modal('hide')
              });
          }
        }
      };

  $('#successes-table').DataTable().ajax.reload(function (successes) {
    $('#prospect-contributors-table').DataTable().ajax.reload(function (contributions) {
      updateSelectOptions(company, successes);
      if (newSuccess) {
        toggleFormDone($('#new-success-form'), false, cbDone([newSuccess], false));
      } else {
        toggleFormDone($('#new-success-form'), false, cbDone(successes, true));
      }
    });
  });

}());