
(function () {
  var company = <%= raw @company.to_json({
          only: [],
          include: {
            customers: { only: [:id, :name] },
            contributors: { only: [:id], methods: [:full_name] },
            referrers: { only: [:id], methods: [:full_name] }
          }
        }) %>,
      newSuccess = <%= @success ? true : false %> && <%= raw @success.to_json({
          only: [:id],
          include: { curator: { only: [:id] } }
        }) %>,
      newSuccesses = <%= @successes ? true : false %> && <%= raw @successes.to_json({ only: [:id] }) %>
      /**
       * the datatable filter state persists through a reload,
       */
      updateSelectOptions = function (successes, contributions) {
        var emptyOptions = function () {
              $('.dt-filter').find('optgroup').empty();
              $('#new-success-form select:not(.curator), #new-contributor-form select:not(.invitation-template)')
                .find('option:not([value=""]):not([value="0"])').remove();
              $('#curate-filters, #new-story-form').find('select.customer option:not([value=""])').remove();
              $('#new-story-form').find('select.success option:not([value=""])').remove();
            },
            resetSelect2 = function () {
              $('select').each(function () {
                if ($(this).data('select2')) {
                  $(this).select2('destroy');
                }
              });
              initSelect2();
            }
            updateSuccessOptions = function () {
              successes.forEach(function (success) {
                $('.dt-filter optgroup[label="Customer Win"]').append(
                  $('<option value="success-' + success.id + '" data-column="success">' + success.name + '</option>')
                )
                $('select.success').append(
                  $('<option value="' + success.id + '">' + success.name + '</option>')
                )
              })
            },
            updateCustomerOptions = function () {
              company.customers.forEach(function (customer) {
                $('.dt-filter optgroup[label="Customer"]').append(
                  $('<option value="customer-' + customer.id + '" data-column="customer">' + customer.name + '</option>')
                )
                $('select.customer').append(
                  $('<option value="' + customer.id + '">' + customer.name + '</option>')
                )
              })
            },
            updateReferrerOptions = function () {
              company.referrers.forEach(function (referrer) {
                $('select.referrer').append(
                  $('<option value="' + referrer.id + '">' + referrer.full_name + '</option>')
                )
              })
            }
            updateContributorOptions = function () {
              _.filter(company.contributors, function (contributor) {
                return !_.findWhere(company.referrers, contributor);
              })
                .forEach(function (contributor) {
                  $('#contributors-filter optgroup[label="Contributor"]').append(
                    $('<option value="contributor-' + contributor.id + '" data-column="contributor">' + contributor.full_name + '</option>')
                  )
                  $('select.contributor').append(
                    $('<option value="' + contributor.id + '">' + contributor.full_name + '</option>')
                  )
                })
            }
        emptyOptions();
        updateSuccessOptions();
        updateCustomerOptions();
        updateReferrerOptions();
        updateContributorOptions();
        resetSelect2();
      },
      cbDone = function (successes, isImport) {
        return function () {
          if (isImport) {
            var $newSuccesses = $('#new-success-modal').find('.new-records ul'),
                $button = $('#new-success-modal').find('button[type="submit"]');
            $('#new-success-modal').find('form, .new-records').toggle();
            $button.attr('type', 'button');
            $button.find('span').text('Ok')
            $button[0].blur();
            $('.crowdsource.curator-select').val('0').trigger('change'  );
            successes.forEach(function (success) {
              if (newSuccesses.find(function (s) { return s.id === success.id; })) {
                $newSuccesses.append('<li>' + success.name + '</li>')
              }
            })
          } else {
            // ref: https://stackoverflow.com/questions/6677035
            $('html, body')
              .animate({ scrollTop: 65 }, 200)
              .promise()
              .then(function () {
                $('.successes.curator-select').val(successes[0].curator.id).trigger('change.select2')
                $('#successes-filter').val('success-' + successes[0].id).trigger('change');
                $('#successes-table td.success-details').trigger('click');
                $('#successes-filter').select2('focus');
                $(document).one('click', function () {
                  $('#successes-filter').next().removeClass('select2-container--focus');
                })
                $('#new-success-modal').modal('hide')
              });
          }
        }
      }

  $('#successes-table').DataTable().ajax.reload(function (successes) {
    $('#prospect-contributors-table').DataTable().ajax.reload(function (contributions) {
      updateSelectOptions(successes, contributions);
      if (newSuccess) {
        toggleFormDone($('#new-success-form'), false, cbDone([newSuccess], false));
      } else {
        toggleFormDone($('#new-success-form'), false, cbDone(successes, true));
      }
    })
  })

}());