
<!-- it's actually a contributions table, but presented to user as Contributors -->
<table id='contributors-table' class='datatable table table-hover table-striped table-bordered'
       cellspacing='0' width='100%'>

  <thead>
    <tr>
      <th class='contributor-details'></th>
      <th>Contributor</th>
      <th>Story Candidate</th>
      <th>Email Template</th>
      <th>Status</th>
      <th class='actions-dropdown'>Actions</th>
    </tr>
  </thead>

  <tbody>

    <% company.contributions.each() do |contribution| %>

      <tr data-contribution-id="<%= contribution.id %>"
          data-contributor-id="<%= contribution.contributor.id %>">

        <td class='contributor-details'>
          <i class='fa fa-caret-right'></i>
          <i class='fa fa-caret-down' style='display:none'></i>
        </td>

        <td class='contributor-name'>
          <span>
            <i class='glyphicon glyphicon-pencil'></i>
            <span><%= contribution.contributor.full_name %></span>
          </span>
        </td>

        <td><%= ("<span style='font-weight:600'>#{contribution.customer.name}</span>" +
                 "&nbsp;&nbsp;&#8211;&nbsp;&nbsp;" +
                 "<a href='#{ contribution.story.try(:published) ? contribution.story.csp_story_path : ( contribution.story.present? ? edit_story_path(contribution.story) : 'javascript:;' ) }'>" +
                   "#{contribution.story.try(:title) || 'Opportunity name'}</a>").html_safe %></td>

        <td class='contribution-email-template'>
        </td>

        <td class='contribution-status'>
          <%= render 'companies/crowdsource/contributors_status',
                    { contribution: contribution } %>
        </td>

        <td class='dropdown actions-dropdown'>
          <div style='position:relative'>  <!-- div for styling only -->
            <%= render 'companies/crowdsource/contributors_dropdown',
                       { contribution: contribution } %>
          </div>
        </td>

      </tr>

    <% end %>

  </tbody>
</table>