
<% if ['contribution', 'feedback'].include?(contribution.status) %>

  <a tabindex='0' role='button' class="<%= contribution.status %>"
     data-toggle='popover' data-placement='top' data-trigger='focus'
     data-content="<%= contribution.status == 'contribution' ? contribution.contribution : contribution.feedback %>"
     title="<%= contribution.status.capitalize + ' from ' + contribution.contributor.full_name %>"><%= contribution.table_status %></a>

<% else %>

  <span><%= contribution.table_status %></span>

<% end %>