
<div id='crowdsource' role='tabpanel'
    class="tab-pane fade <%= workflow_stage == 'crowdsource' ? 'active in' : '' %>">

  <div class='container clip'>

    <div class="layout layout-main-right layout-stack-sm">
      <div class="col-md-3 col-sm-4 layout-sidebar">

        <ul class="nav nav-layout-sidebar nav-stacked">

          <li class="<%= tab == '#successes' ? 'active' : '' %>">
            <a href="#successes" data-toggle="tab">
              <i class="fa fa-rocket"></i>
              &nbsp;&nbsp;Story Candidates
            <!--   <span class='pull-right'>
                <i class='fa fa-spinner fa-pulse' style='color:#666'></i>
              </span> -->
            </a>
          </li>

          <li class="<%= tab == '#crowdsource-contributors' ? 'active' : ''%>">
            <a href="#crowdsource-contributors" data-toggle="tab">
              <i class="fa fa-users"></i>
              &nbsp;&nbsp;Success Contributors
              <!-- <span class='pull-right'>
                <i class='fa fa-spinner fa-pulse' style='color:#666'></i>
              </span> -->
            </a>
          </li>

        </ul>

      </div>

      <div class="col-md-9 col-sm-8 layout-main">

        <div class="tab-content stacked-content">

          <div id='successes'
              class="tab-pane fade <%= tab == '#successes' ? 'active in' : ''%>">
            <%= render 'companies/crowdsource/successes_table', { company: company } %>
          </div>

          <div id='crowdsource-contributors'
              class="tab-pane fade <%= tab == '#crowdsource-contributors' ? 'active in' : ''%>">
            <%= render 'companies/crowdsource/contributors_table',
                    { company: company, workflow_stage: 'crowdsource' } %>
          </div>

        </div>

      </div>

    </div>  <!-- .layout -->

  </div>

</div>

