
<div id='new-contributor-modal' class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Success Contributor</h4>
      </div>

      <div class="modal-body">

        <!-- :id will be filled in when a success is selected -->
        <%= form_for(Contribution.new, url: company_contributions_path(company.id),
              html: { id: 'new-contribution-form', remote: true,
                      class: 'form-horizontal' }) do |contribution_form| %>

          <div class="form-group required-input">

            <label for="contribution_success_customer_id" class='col-sm-3 control-label'>
              Customer
            </label>

            <div class="col-sm-9">

              <%= contribution_form.fields_for(:success) do |success_form| %>

                <%= success_form.collection_select(:customer_id,
                      company.customers.sort_by() { |customer| customer.name.downcase },
                      :id, :name,
                      { include_blank: true,
                        disabled: lambda { |customer| customer.successes.blank? } },
                      { class: 'new-contributor customer form-control',
                        style: 'width:100%', required: true }) %>

              <% end %>

            </div>
          </div>

          <div class="form-group required-input">

            <label for="contribution_success_id" class='col-sm-3 control-label'>
              Story Candidate
            </label>

            <div class="col-sm-9">

              <%= contribution_form.collection_select(:success_id,
                    company.successes.sort_by() { |success| success.name },
                    :id, :name, { include_blank: true },
                    { class: 'new-contributor success form-control',
                      style: 'width:100%', disabled: true, required: true }) %>
            </div>

          </div>

          <div class="form-group required-input">

            <label for="contribution_user_id" class='col-sm-3 control-label'>
              Contributor
            </label>

            <div class="col-sm-9">

              <%= contribution_form.collection_select(:user_id,
                    company.contributors.sort_by() do |contributor|
                      contributor.last_name
                    end.unshift(
                      User.new(id: 0, first_name: '- New Contributor -', last_name:'')
                    ),
                    :id, :full_name, { include_blank: true },
                    { class: 'new-contributor contributor form-control',
                      style: 'width:100%', disabled: true, required: true }) %>

            </div>

          </div>

          <div class="create-contributor hidden">

            <%= contribution_form.fields_for(:user) do |contributor_form| %>

              <div class="form-group required-input">

                <label for="contribution_user_first_name" class='col-sm-3 control-label'>
                  First Name
                </label>

                <div class="col-sm-9">
                  <%= contributor_form.text_field(:first_name, class: 'form-control',
                        placeholder: 'Contributor first name') %>
                </div>

              </div>

              <div class="form-group required-input">

                <label for="contribution_user_last_name" class='col-sm-3 control-label'>
                  Last Name
                </label>

                <div class="col-sm-9">
                  <%= contributor_form.text_field(:last_name, class: 'form-control',
                        placeholder: 'Contributor last name') %>
                </div>

              </div>

              <div class="form-group required-input">

                <label for="contribution_user_email" class='col-sm-3 control-label'>
                  Email
                </label>

                <div class="col-sm-9">
                  <%= contributor_form.email_field(:email, class: 'form-control',
                        placeholder: 'Contributor email') %>
                </div>

              </div>

            <% end %>

          </div>

          <div class="form-group">

            <label for="contribution_crowdsourcing_template_id" class='col-sm-3 control-label' style='position:relative'>
              <span style='position:absolute;left:48px;top:-3px'>Crowdsourcing</span>
              <span style='position:absolute;left:48px;top:15px'>Template</span>
            </label>

            <div class="col-sm-9">
              <%= contribution_form.collection_select(:crowdsourcing_template_id,
                    company.crowdsourcing_templates.sort_by() { |t| t.name },
                    :id, :name, { include_blank: true },
                    { class: 'new-contributor template form-control',
                      style: 'width:100%' }) %>
            </div>

          </div>

          <div class="form-group referral">

            <label for='contribution_referrer_id' class='col-sm-3 control-label'>
              Referred by
            </label>

            <div class="col-sm-9">

              <%= contribution_form.collection_select(:referrer_id,
                    company.curators, :id, :full_name, { include_blank: true },
                    { class: 'new-contributor referrer form-control',
                      style: 'width:100%' }) %>

            </div>

          </div>

        <% end %>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="submit" form='new-contribution-form' class="btn btn-success" disabled>
          Add Contributor
        </button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->