
<div id='new-contributor-modal' class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Success Contributor</h4>
      </div>

      <div class="modal-body">

        <!-- :id will be filled in when a success is selected -->
        <%= form_for(Contribution.new, url: company_contributions_path(company.id),
              html: { id: 'new-contribution-form', remote: true,
                      class: 'form-horizontal' }) do |f| %>

          <div class="form-group required-input">
            <label for="success_customer" class='col-sm-3 control-label'>
              Customer
            </label>
            <div class="col-sm-9">
              <%= select_tag 'contribution[customer_id]',
                    options_for_select(company.customers.select_options),
                    { class: 'new-contributor-customer form-control',
                      style: 'width:100%', autofocus: true } %>
            </div>
          </div>

          <div class="form-group required-input">
            <label for="success_name" class='col-sm-3 control-label'>
              Story Candidate
            </label>
            <div class="col-sm-9">
              <%= f.select :success_id, [], {},
                    { class: 'new-contributor-success form-control',
                      style: 'width:100%' } %>
            </div>
          </div>

          <div class="form-group">
            <label class='col-sm-3 control-label'>
              Referred by
            </label>
            <div class="col-sm-9">
              <%= f.select :referrer_id,
                    options_for_select(company.curators.map() { |curator| [ curator.full_name, curator.id ] }.unshift([''])), {},
                    { class: 'new-contributor-referrer form-control',
                      style: 'width:100%' } %>
            </div>
          </div>

          <div class="form-group">
            <label class='col-sm-3 control-label'>
              Success Contact
            </label>
            <div class="col-sm-9">
              <%= select_tag 'contribution[success_contact]', [],
                    { class: 'new-contributor-success-contact form-control',
                      style: 'width:100%' } %>
            </div>
          </div>

          <div class="form-group required-input">
            <label for="" class='col-sm-3 control-label'>
              Crowdsourcing Template
            </label>
            <div class="col-sm-9">
              <%= f.select :role, ['Customer', 'Partner', 'Sales'], {},
                    { class: 'new-contributor-role form-control',
                      style: 'width:100%' } %>
            </div>
          </div>

          <div class="form-group new-or-existing-contributor buttons">
            <label for="" class='col-sm-3 control-label'>
              Contributor
            </label>


        <!--     <div class="col-sm-9 btn-group" data-toggle='buttons'>
              <label class='radio-inline' data-toggle='tooltip' data-placement='top' title='To select an existing Contributor, first select a Customer for which Contributors exist'>
                <input name='contribution[existing_contributor]' type="radio" value='yes' disabled>
                Yes
              </label>
              <label class='radio-inline'>
                <input name='contribution[existing_contributor]' type="radio" value='no' checked>
                No
              </label>
            </div> -->
          </div>

          <div class='new-or-existing-contributor new'>

            <div class="form-group required-input">
              <label for="" class='col-sm-3 control-label'>
                First Name
              </label>
              <div class="col-sm-9">
                <%= text_field_tag 'contribution[contributor_first_name]', nil,
                      class: 'form-control', placeholder: 'Contributor first name' %>
              </div>
            </div>

            <div class="form-group required-input">
              <label for="" class='col-sm-3 control-label'>
                Last Name
              </label>
              <div class="col-sm-9">
                <%= text_field_tag 'contribution[contributor_last_name]', nil,
                      class: 'form-control', placeholder: 'Contributor last name' %>
              </div>
            </div>

            <div class="form-group required-input">
              <label for="" class='col-sm-3 control-label'>
                Email
              </label>
              <div class="col-sm-9">
                <%= email_field_tag 'contribution[contributor_email]', nil,
                      class: 'form-control', placeholder: 'Contributor email' %>
              </div>
            </div>
          </div>

          <div class="form-group new-or-existing-contributor existing required-input" style='display:none'>
            <label class='col-sm-3 control-label'>
              Contributor
            </label>
            <div class="col-sm-9">
              <%= select_tag('contribution[contributor_id]', [],
                    { class: 'new-contributor-existing form-control',
                      style: 'width:100%' }) %>
            </div>
          </div>

        <% end %>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" form='new-contribution-form' class="btn btn-success">Add Contributor</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->