
<table id='successes-table' class='datatable table table-hover table-bordered'
       width='100%'>

  <thead>
    <tr>
      <th class='success-details'></th>
      <th>Project / Deal / Opportunity</th>
      <th>Customer</th>
      <th>Success Contact</th>
      <th>Curator</th>
      <th class='actions-dropdown'>Actions</th>
    </tr>
  </thead>

  <tbody>

    <% company.successes.each() do |success| %>

      <tr data-success-id='<%= success.id %>'>
        <td class='success-details'>
          <i class='fa fa-caret-right'></i>
          <i class='fa fa-caret-down' style='display:none'></i>
        </td>
        <td><%= success.story.try(:title) %></td>
        <td><%= success.customer.name %></td>
        <td></td>
        <td><%= success.curator.full_name %></td>
        <td class='dropdown actions-dropdown'>
          <div style='position:relative'>  <!-- div for styling only -->

            <%= render 'companies/crowdsource/successes_dropdown', { success: success } %>

          </div>
        </td>

      </tr>

    <% end %>

  </tbody>
</table>