
<% content_for :head do %>

  <%= render 'ctas/cta_template' %>

<% end %>

<div class="wrapper">

  <%= render 'shared/company_navbar', { company: @company, workflow_tab: @workflow_tab } %>

  <div class="content">
    <div class="container">
      <div class="layout layout-main-right layout-stack-sm">

        <div class="col-sm-3 layout-sidebar">

          <%= render 'companies/shared/side_tabs' %>

        </div> <!-- /.col -->

        <div class="col-sm-9 layout-main">
          <div class="tab-content stacked-content">

            <div class="tab-pane fade in active" id="company-profile">

              <%= render 'companies/shared/profile_form', { company: @company } %>

            </div>

            <div class="tab-pane fade" id="email-templates">
              <%= render 'companies/shared/edit/email_templates',
                         { templates_select: @templates_select } %>
            </div>

            <div class="tab-pane fade" id="story-tags">
              <%= render 'companies/shared/edit/story_tags', { company: @company } %>
            </div>

            <div class="tab-pane fade" id="story-ctas">
              <%= render 'companies/shared/edit/story_ctas', { company: @company } %>
            </div>

          </div> <!-- /.tab-content -->
        </div> <!-- /.col -->

      </div> <!-- /.row -->
    </div>  <!-- container -->
  </div>  <!-- content -->
</div>  <!-- wrapper