
<% content_for :head do %>

  <meta name="turbolinks-cache-control" content="no-cache">

<% end %>

<%= render('companies/settings/new_cta_modal', { company: @company, }) %>

<div class="wrapper">

  <%= render 'shared/navbars/company_nav', { company: @company, workflow_stage: @workflow_stage } %>

  <div class="container clip">
    <div class="layout layout-main-right layout-stack-sm">

      <div class="col-sm-3 layout-sidebar">

        <%= render 'companies/settings/tabs' %>

      </div>

      <div class="col-sm-9 layout-main">
        <div class="tab-content stacked-content">

          <div class="tab-pane fade" id="company-profile">
            <%= render 'companies/settings/company_form', { company: @company, form_options: @form_options } %>
          </div>

          <div class="tab-pane fade" id="crowdsource-settings">
            <%= render 'companies/settings/crowdsourcing_templates',
                   { company: @company, templates_select: @templates_select } %>
          </div>

          <div class="tab-pane fade" id="story-tags">
            <%= render 'companies/settings/story_tags', { company: @company } %>
          </div>

          <div class="tab-pane fade" id="ctas" role="tabpanel"  >
            <%= render 'companies/settings/ctas', { company: @company } %>
          </div>

          <div class="tab-pane fade" id="stories-plugin">
            <%= render 'widgets/config',
                  { company: @company, widget: @company.widget } %>
          </div>

        </div> <!-- /.tab-content -->
      </div> <!-- /.col -->

    </div> <!-- /.row -->
  </div>  <!-- container -->
</div>  <!-- wrapper -->