<div id='wrapper'>

  <%= render 'shared/mainnav' %>

  <div class='tab-content' style='margin-top:40px'>

    <%= render 'companies/shared/pipeline' %>

    <%= render 'companies/shared/curate' %>

    <%= render 'companies/shared/promote' %>

    <%= render 'companies/shared/measure' %>

  </div>  <!-- tab content -->

</div>  <!-- wrapper -->
