
<% content_for :head do %>
  <!-- challenge: get the cache preview to be responsive to tab selection
       workaround: no preview-cache  -->
  <meta name="turbolinks-cache-control" content="no-preview">
<% end %>

<% content_for :underscore_templates do %>
  <%= render 'companies/crowdsource/success_details_template' %>
  <%= render 'companies/crowdsource/contributor_template' %>
  <%= render 'companies/crowdsource/csp_linkedin_widget_template' %>
  <%= render 'companies/crowdsource/successes_table_header_template' %>
  <%= render 'companies/crowdsource/successes_dropdown_template' %>
  <%= render 'companies/crowdsource/contributors_table_header_template' %>
  <%= render 'companies/crowdsource/contributors_dropdown_template' %>
<% end %>

<%= render 'companies/crowdsource/new_success_modal', { company: @company } %>
<%= render 'companies/shared/new_story_modal', { company: @company } %>
<%= render 'contributions/shared/new_contributor_modal' %>


<div id='wrapper'>

  <%= render 'shared/company_navbar',
        { company: @company, workflow_tab: @workflow_tab } %>

  <div class='tab-content'>

    <%= render 'companies/crowdsource/crowdsource',
               { company: @company, workflow_tab: @workflow_tab,
                 workflow_sub_tab: @workflow_sub_tab } %>

    <%= render 'companies/curate/curate', { company: @company,
          workflow_tab: @workflow_tab, workflow_sub_tab: @workflow_sub_tab } %>

    <%= render 'companies/promote/promote',
               { company: @company, workflow_tab: @workflow_tab,
                 workflow_sub_tab: @workflow_sub_tab } %>

    <%= render 'companies/measure/measure',
                { company: @company, workflow_tab: @workflow_tab,
                  recent_activity: @recent_activity,
                  story_views_30_day_count: @story_views_30_day_count } %>

  </div>  <!-- tab content -->

</div>  <!-- wrapper -->
