
<% content_for :head do %>
  <!-- challenge: get the cache preview to be responsive to tab selection
       workaround: no preview-cache  -->
       <!-- changed to no-cache for consistency with edit -->
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<!-- include templates for both companies#show and stories#edit -->
<% content_for :underscore_templates do %>
  <%= render 'companies/crowdsource/success_details_template' %>
  <%= render 'companies/crowdsource/contributor_template' %>
  <%= render 'companies/crowdsource/csp_linkedin_widget_template' %>
  <%= render 'companies/crowdsource/successes_table_header_template' %>
  <%= render 'companies/crowdsource/successes_dropdown_template' %>
  <%= render 'companies/crowdsource/contributors_table_header_template' %>
  <%= render 'companies/crowdsource/contributors_dropdown_template' %>
  <%= render 'companies/promote/adwords_status_dropdown_template' %>
  <%= render 'stories/shared/stories_index_template', { company: @company } %>
  <%= render 'stories/edit/content/results_templates' %>
  <%= render 'stories/edit/content/video_templates' %>
<% end %>

<!-- include modals for both companies#show and stories#edit -->
<%= render 'companies/crowdsource/new_success_modal', { company: @company } %>
<%= render 'companies/crowdsource/new_contributor_modal', { company: @company } %>
<%= render 'companies/shared/new_story_modal', { company: @company } %>
<%= render 'stories/shared/video_modal' %>

<div id='wrapper'>

  <%= render 'shared/company_navbar',
        { company: @company, workflow_stage: @workflow_stage } %>

  <div class='tab-content'>

    <%= render 'companies/crowdsource/crowdsource',
          { company: @company, workflow_stage: @workflow_stage,
            tab: @crowdsource_tab } %>

    <%= render 'companies/curate/curate', { company: @company, story: @story,
            workflow_stage: @workflow_stage, curate_view: @curate_view,
            tab_select: @tab_select } %>

    <%= render 'companies/promote/promote',
          { company: @company, workflow_stage: @workflow_stage, } %>

    <%= render 'companies/measure/measure',
                { company: @company, workflow_stage: @workflow_stage,
                  recent_activity: @recent_activity,
                  story_views_30_day_count: @story_views_30_day_count } %>

  </div>  <!-- tab content -->

</div>  <!-- wrapper -->
