
<div id='wrapper'>

  <%= render 'shared/mainnav' %>

  <div class='tab-content' style='margin-top:40px'>

    <%= render partial: 'companies/shared/pipeline',
                locals: { mainnav_tab: @mainnav_tab, company: @company } %>

    <%= render partial: 'companies/shared/curate',
                locals: { mainnav_tab: @mainnav_tab,
                              company: @company,
                            customers: @customers,
                           categories: @categories,
                             products: @products } %>

    <%= render partial: 'companies/shared/promote',
                locals: { mainnav_tab: @mainnav_tab, company: @company} %>

    <%= render partial: 'companies/shared/measure',
                locals: { mainnav_tab: @mainnav_tab, company: @company} %>

  </div>  <!-- tab content -->

</div>  <!-- wrapper -->
