
<% content_for :head do %>
  <!-- challenge: get the cache preview to be responsive to tab selection
       workaround: no preview-cache  -->
       <!-- changed to no-cache for consistency with edit -->
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<!-- include templates for both companies#show and stories#edit -->
<% content_for :underscore_templates do %>
  <%= render 'companies/prospect//successes/successes_table_header_template' %>
  <%= render 'companies/prospect/successes/success_details_template' %>
  <%= render 'companies/prospect/successes/success_actions_dropdown_template' %>
  <%= render 'companies/prospect/contributors/contributors_table_header_template' %>
  <%= render 'companies/prospect/contributors/contributor_details_template' %>
  <%= render 'companies/prospect/contributors/contributor_actions_dropdown_template' %>
  <%= render 'companies/prospect/contributors/csp_linkedin_widget_template' %>
  <%= render 'companies/promote/adwords_status_dropdown_template' %>
  <%= render 'companies/promote/promoted_story_actions_dropdown_template' %>
  <%= render 'stories/index/index_template', { company: @company } %>
  <%= render 'stories/edit/content/results_templates' %>
  <%= render 'stories/edit/content/video_templates' %>
<% end %>

<!-- include modals for both companies#show and stories#edit -->
<%= render 'companies/prospect/successes/new_success_modal', { company: @company } %>
<%= render 'companies/prospect/contributors/new_contributor_modal', { company: @company } %>
<%= render 'companies/prospect/contributors/contribution_request_modal', { company: @company} %>
<%= render 'companies/prospect/contribution_content_modal' %>
<%= render 'stories/shared/new_story_modal', { company: @company } %>
<%= render 'stories/show/video_modal', { is_widget: false } %>

<div id='wrapper'>

  <%= render 'shared/navbars/company_nav',
        { company: @company, workflow_stage: @workflow_stage } %>

  <div class='tab-content'>

    <%= render 'companies/prospect/prospect',
          { company: @company, workflow_stage: @workflow_stage, tab: @prospect_tab } %>

    <%= render 'companies/curate/curate', { company: @company, story: @story,
            workflow_stage: @workflow_stage, curate_view: @curate_view,
            curate_story_tab: @curate_story_tab } %>

    <%= render 'companies/promote/promote',
          { company: @company, workflow_stage: @workflow_stage, tab: @promote_tab} %>

    <%= render 'companies/measure/measure',
                { company: @company, workflow_stage: @workflow_stage,
                  recent_activity: @recent_activity,
                  story_views_30_day_count: @story_views_30_day_count } %>

  </div>  <!-- tab content -->

</div>  <!-- wrapper -->
