
<% content_for :head do %>
  <!-- challenge: get the cache preview to be responsive to tab selection
       workaround: no preview-cache  -->
  <meta name="turbolinks-cache-control" content="no-preview">
<% end %>

<div id='wrapper'>

  <%= render 'shared/company_navbar', { company: @company, workflow_tab: @workflow_tab } %>

  <div class='tab-content'>

    <%= render 'companies/shared/crowdsource',
               { company: @company, workflow_tab: @workflow_tab } %>

    <%= render 'companies/shared/curate',
               { company: @company, workflow_tab: @workflow_tab } %>

    <%= render 'companies/shared/promote',
               { company: @company, workflow_tab: @workflow_tab,
                 workflow_sub_tab: @workflow_sub_tab } %>

    <%= render 'companies/shared/measure',
                { company: @company, workflow_tab: @workflow_tab,
                  recent_activity: @recent_activity,
                  story_views_30_day_count: @story_views_30_day_count } %>

  </div>  <!-- tab content -->

</div>  <!-- wrapper -->
