
<%= form_for(
      contribution,
      url: contributor_submission_path(contribution.access_token),
      method: 'PUT',
      html: { id: 'submission-form' }
    ) do |contribution_form| %>

  <%= hidden_field_tag("submission", true) %>
  <%= contribution_form.hidden_field(:status, value: type + '_submitted') %>

  <% if type == 'contribution' %>

    <!-- ref https://stackoverflow.com/questions/4853373 -->
    <% contribution.questions.each_with_index do |question, index| %>

      <%= contribution_form.fields_for(
            :contributor_answers,
            contribution.answers.to_question(question.id).take || ContributorAnswer.new
          ) do |answer_fields| %>

        <%= answer_fields.hidden_field(:id, value: answer_fields.object.try(:id) || '') %>
        <%= answer_fields.hidden_field(:contribution_id, value: contribution.id) %>
        <%= answer_fields.hidden_field(:contributor_question_id, value: question.id) %>

        <div class="form-group question <%= index == 0 ? 'active' : '' %>">

          <%= answer_fields.label(:answer, question.question) %>

          <%= answer_fields.text_area(:answer, rows: 3, class: 'form-control') %>

          <div class="next-question">
            <div class="visible-xs-block">
              <button class="btn btn-success btn-sm">Ok</button>
            </div>
            <div class="hidden-xs">
              <button class="btn btn-success">Ok</button>
            </div>
          </div>

        </div>

      <% end %>

    <% end %>

  <% else %>

    <div class="form-group feedback">
      <%= contribution_form.label(:feedback, 'Please tell us about your experience and any actions you recommend.') %>
      <%= contribution_form.text_area(:feedback, rows: 5, class: 'form-control') %>
    </div>

  <% end %>

  <div class="form-group submit text-center hidden-xs">
    <button type="submit" form="submission-form" class="btn btn-success" style="width: 60%" >
      <span><%= type == 'contribution'? 'Submit Answers' : 'Submit' %></span>
      <i class='fa fa-spin fa-circle-o-notch' style='display:none'></i>
      <i class='fa fa-check' style='display:none'></i>
    </button>
  </div>

  <div class="form-group submit text-center visible-xs-block" >
    <button type="submit" form="submission-form" class="btn btn-success" style="width: 60%" >
      <span><%= type == 'contribution'? 'Submit Answers' : 'Submit' %></span>
      <i class='fa fa-spin fa-circle-o-notch' style='display:none'></i>
      <i class='fa fa-check' style='display:none'></i>
    </button>
  </div>


  <div class='form-group tos text-center'>
    <p class='tos'>
      By submitting you are agreeing to the <%= link_to 'Terms of Service', "#{ request.protocol + request.domain + request.port_string + '/terms' }", target: '_blank' %>
    </p>
  </div>

<% end %>