<!-- @contribution, @linkedin_connect -->
<div class="container">
  <div class="contribution-submission col-xs-12 col-md-10 col-md-offset-1 col-md-offset-1 col-lg-8 col-lg-offset-2" style='margin-top:40px'>


    <div class='row'>
      <div class="col-xs-12">
        <% if @contribution.status == 'contribution' %>
          <h3>Thank you for submitting your contribution.</h3>
        <% else %>
          <h3>Thank you for submitting your feedback.</h3>
        <% end %>
      </div>
    </div> <br>

    <% if @contribution.status == 'contribution' %>
      <p>Once the story is finished, we will send an email with instructions for adding a media link to your LinkedIn profile.</p>
    <% else %>
      <p>Once we review your feedback, we may reach out in an effort to address any issues.</p>
    <% end %>

    <br><br>
    <p>Your story curator</p>
    <!-- http://www.no-margin-for-errors.com/blog/2009/12/10/css-tip-float-an-image-without-text-wrapping-under-it/ -->
    <div id='curator-info' class='col-xs-12 col-sm-7'>

      <img id='curator-photo' src="<%= @contribution.success.curator.photo_url %>"
            alt="curator photo">
      <%= @curator.full_name %> <br>
      <%= @curator.title %> <br>
      <%= @curator.company.name %> <br>
      <a href="mailto:<%= @curator.email %>"><%= @curator.email %></a> <br>
      <%= @curator.phone %>
    </div>
    <div class="col-sm-5 hidden-xs text-right" style="position:relative; min-height:105px">
      <%= image_tag 'CS-powered-by.png', alt:'powered-by-csp', style:"position:absolute; right:0; bottom:0" %>
    </div>
    <div class="col-xs-12 visible-xs text-center">
      <br>
      <%= image_tag 'CS-powered-by.png', alt:'powered-by-csp' %>
    </div>
    <br>



  </div>
</div>
