
<div id="submission-header" style="background-color:<%= @company.header_color_2 %>">

  <% if @submission_type == 'contribution' %>

    <span class="<%= @company.color_contrast %>">Thank you for contributing to the success story</span>

  <% else %>

    <span class="<%= @company.color_contrast %>">Thank you for your feedback</span>

  <% end %>

</div>

<div class="container">
  <div class="row">

    <div class='col-centered col-xs-12 col-sm-10 col-lg-8'>

      <%= render('contributions/submission_form',
            { contribution: @contribution, type: @submission_type }) %>

      <%= render('contributions/submission_footer', { contribution: @contribution }) %>

    </div>

  </div>
</div>

