<br><br>

<div class="container">
  <div class='col-xs-12 col-sm-10 <%= (@response_type == 'contribution' || @response_type == 'feedback') ? 'show' : 'hidden' %>' style='background-color:white; padding-left:35px;
    padding-right:35px; padding-top:35px; margin-top:-45px; border: 1px solid #CCC'>

    <% if @response_type == 'contribution' %>

      <%= render partial: 'contributions/shared/contribution_form',
                  locals: {      curator: @curator,
                            contribution: @contribution,
                           response_type: @response_type,
                       story_example_url: @story_example_url } %> <br>

    <% elsif @response_type == 'feedback' %>

      <%= render partial: 'contributions/shared/feedback_form',
                  locals: {      curator: @curator,
                            contribution: @contribution,
                           response_type: @response_type } %> <br>

    <% end %>

  </div>

  <div class="col-sm-8 <%= (@response_type == 'unsubscribe' || @response_type == 'opt_out') ? 'show' : 'hidden' %>">

    <% if @response_type == 'unsubscribe' %>

      <p>Thanks for your response. We won't send you any more emails about this success story.</p>

      <p>To opt out of all future requests, <a href="https://<%= @curator.company.subdomain %>/contributions/<%= @contribution.access_token %>/opt_out">click here</a>.</p>

    <% elsif @response_type == 'opt_out' %>

      <p>Thanks for your response.</p>

      <p><%= @contribution.contributor.email %> will be permanently removed from our list.</p>

    <% end %>

  </div>
</div>
