
<div id="submission-header" style="background-color:<%= @company.header_color_2 %>">

  <% if @submission_type == 'contribution' %>

    <span class="<%= @company.color_contrast %>">Thank you for contributing to the success story</span>

  <% else %>

    <span class="<%= @company.color_contrast %>">Thank you for your feedback</span>

  <% end %>

</div>

<div class="container">
  <div class="row">

    <div class='col-centered col-xs-12 col-sm-10 col-lg-8'>

      <%= render('contributions/submission_form',
            { contribution: @contribution, type: @submission_type }) %>

      <%= render('contributions/submission_footer', { contribution: @contribution }) %>

    </div>

  </div>
</div>

<!--   <div class="web-submission col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 <%#= (@submission_type == 'unsubscribe' || @submission_type == 'opt_out') ? 'show' : 'hidden' %>">

    <%# if @submission_type == 'unsubscribe' %>

      <p>Thanks for your response. We won't send you any more emails about this success story.</p>

      <p>To opt out of all future requests, <a href="<%#= @opt_out_link %>">click here</a></p>

    <%# elsif @submission_type == 'opt_out' %>

      <p>Thanks for your response.</p>

      <p><%#= @contribution.contributor.email %> will be permanently removed from our list.</p>

    <%# end %>

  </div> -->

