
<div id="submission-header" style="background-color:<%= @company.header_color_2 %>">

  <% if @submission_type == 'contribution' %>

    <span class="<%= color_shade(@company.header_color_2) %>">
      <%= @contribution.invitation_template&.contribution_page_title %>
    </span>

  <% else %>

    <span class="<%= color_shade(@company.header_color_2) %>">
      <%= @contribution.invitation_template&.feedback_page_title %>
    </span>

  <% end %>

</div>

<div class="container">
  <div class="row">

    <div class='col-centered col-xs-12 col-sm-10 col-lg-8'>

      <%= render('contributions/submission_form',
            { contribution: @contribution, type: @submission_type }) %>

      <%= render('contributions/submission_footer', { contribution: @contribution }) %>

    </div>

  </div>
</div>

<div id="submission-progress" class="container-fluid <%= @submission_type == 'feedback' ? 'hidden' : '' %>">

  <div class="row visible-xs-block">
    <div class="col-xs-12 text-center">
      <span class="progress-label">0 of <%= @contribution.contributor_questions.length %> answered</span>
    </div>
  </div>

  <div class="row hidden-xs">

    <div class="col-sm-4">
      <span class="progress-label">0 of <%= @contribution.contributor_questions.length %> answered</span>
    </div>

    <div class="col-sm-8">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
          <span class="sr-only">0% answered</span>
        </div>
      </div>
    </div>

  </div>

</div>

