<br><br>

<div class="container">
  <div class='contribution-submission col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 <%= (@response_type == 'contribution' || @response_type == 'feedback') ? 'show' : 'hidden' %>'>

    <% if @response_type == 'contribution' %>

      <%= render partial: 'contributions/shared/contribution_form',
                  locals: {      curator: @curator,
                            contribution: @contribution,
                           response_type: @response_type, } %> <br>

    <% elsif @response_type == 'feedback' %>

      <%= render partial: 'contributions/shared/feedback_form',
                  locals: {      curator: @curator,
                            contribution: @contribution,
                           response_type: @response_type } %> <br>

    <% end %>

  </div>

  <div class="contribution-submission col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 <%= (@response_type == 'unsubscribe' || @response_type == 'opt_out') ? 'show' : 'hidden' %>">

    <% if @response_type == 'unsubscribe' %>

      <p>Thanks for your response. We won't send you any more emails about this success story.</p>

      <p>To opt out of all future requests, <a href="https://<%= @curator.company.subdomain %>/contributions/<%= @contribution.access_token %>/opt_out">click here</a>.</p>

    <% elsif @response_type == 'opt_out' %>

      <p>Thanks for your response.</p>

      <p><%= @contribution.contributor.email %> will be permanently removed from our list.</p>

    <% end %>

  </div>
</div>
