
<div class="layout layout-main-right layout-stack-sm">

  <div class="col-md-3 col-sm-4 layout-sidebar">

    <%= render 'stories/edit/side_tabs' %>

  </div>

  <div class="col-md-9 col-sm-8 layout-main">
    <div class="tab-content stacked-content">

      <div class="row">
        <h4><%= story.try(:title) %></h4>
      </div>

      <div id='story-settings-tab-pane' class="tab-pane fade in active"
           data-success-id="<%= story.try(:success).try(:id) %>"
           data-story-id="<%= story.try(:id) %>" >

      </div>

      <div id='story-content-tab-pane' class="tab-pane">

      </div>

      <div id='curate-contributors-tab-pane' class="tab-pane fade">

        <%= render 'companies/crowdsource/contributors_table',
              { company: company, workflow_stage: 'curate' } %>

      </div>

    </div>
  </div>

</div>

