
<div class="layout layout-main-right layout-stack-sm" style='visibility:hidden'>
  <div class="col-md-3 col-sm-4 layout-sidebar">

    <ul class="nav nav-layout-sidebar nav-stacked">

      <li>
        <a href='javascript:Turbolinks.visit("/companies/<%= company.id %>");'
           class='all-stories'>
          <i class='fa fa-chevron-circle-left'></i>
          &nbsp;&nbsp;All Stories
          <span class='pull-right'>
            <i id='loading-stories' class='fa fa-spinner fa-pulse' style='display:none; color:#666'></i>
          </span>
        </a>
      </li>

      <li class="active">
        <a href="#story-settings-tab-pane" data-toggle="tab">
          <i class="fa fa-gear"></i>
          &nbsp;&nbsp;Story Settings
        </a>
      </li>

      <li>
        <a href="#story-settings-tab-pane" data-toggle="tab">
          <i class="fa fa-edit"></i>
          &nbsp;&nbsp;Story Content
        </a>
      </li>

      <li>
        <a href="#curate-contributors-tab-pane" data-toggle="tab">
          <i class="fa fa-users"></i>
          &nbsp;&nbsp;Success Contributors
        </a>
      </li>

    </ul>

  </div>

  <div class="col-md-9 col-sm-8 layout-main">
    <div class="tab-content stacked-content">

      <div class="row">
        <h4><%= story.title %></h4>
      </div>

      <div id='story-settings-tab-pane' class="tab-pane fade in active"
           data-success-id="<%= story.success.id %>" data-story-id="<%= story.id %>" >

      </div>

      <div id='story-content-tab-pane' class="tab-pane">

      </div>

      <div id='curate-contributors-tab-pane' class="tab-pane">

        <%= render 'companies/crowdsource/contributors_table',
              { company: company, workflow_stage: 'curate' } %>

      </div>

    </div>
  </div>
</div>

<!-- styling adjustments -->
<%= javascript_tag do %>
(function () {

  $('#curate-panel > .content').addClass('clip');
  $('#curate-panel .layout').css('visibility', 'visible');
  $('#curate-panel .layout-sidebar, #curate-panel .layout-main').css('padding-top', '40px');

}());
<% end %>


