<%= render 'stories/shared/new_contributor_modal' %>

<div class='container'>

  <!-- nav back to Curate -->
  <%= link_to company_path(current_user.company), class: 'csp-nav' do %>
    <span class='glyphicon glyphicon-chevron-left'
        style='color:#337ab7; margin-top:20px; margin-right:5px'>
    </span><span>Curate Stories</span>
  <% end %>
  <hr>

  <!-- settings, title, quote, video -->
  <div class='row' style='margin-top:15px'>

    <div class='col-md-4'>  <!-- story settings -->

      <p class='lead'>Story Settings</p>
      <%= render 'stories/shared/story_edit_settings.html.erb' %>

    </div>  <!-- story settings -->

    <!-- title and quote -->
    <div class="col-md-4">

      <p class='lead'>Title</p>
      <%= render 'stories/shared/story_edit_title' %>

      <p class='lead'>Customer Quote</p>
      <%= render 'stories/shared/story_edit_customer_quote' %>

    </div>  <!-- title and quote -->

    <!-- video -->
    <div class='col-md-4'>

      <p class='lead'>Video</p>
      <%= render 'stories/shared/story_edit_video' %>

    </div>  <!-- video -->

  </div>  <!-- settings, title, quote, video -->

  <div class="row" style='margin-bottom: 15px'>
    <!-- tags form -->
    <div class="col-sm-7">
    <!-- tags -->
    <p class='lead' style='display:inline-block'>Tags</p>
    <button type='submit' class='edit-tags hidden btn btn-sm btn-primary'
        style='display:inline-block; margin-left:15px; margin-bottom:8px' form='tags-form'>
      Save changes
    </button>
    <button id='edit-tags-cancel' class='edit-tags hidden btn btn-sm btn-default'
        style='display:inline-block; margin-bottom:8px'>
      Cancel
    </button>  <!-- tags -->
      <div class="well">
        <!-- <div class="container-fluid"> -->

          <%= render 'stories/shared/story_edit_tags_form' %>

        <!-- </div> -->
      </div>
    </div>  <!-- tags form -->


    <div class="col-sm-5">
      <p class='lead' style='display:inline-block'>Results</p>
      <div class="well" style="position:relative">

        <%= form_tag story_path(@story), remote: true, method: :put,
              class: 'form-inline' do %>
          <%= text_field_tag "story[new_result]", nil, class: 'form-control',
                  id: 'new-result', style: 'width:89%', placeholder: 'Add a result' %>
          <%= button_tag type: "submit", class: "btn btn-secondary", disabled: true do %>
            <i class='glyphicon glyphicon-plus'></i>
          <% end %>

        <% end %> <br>

        <div class='container-fluid' id='results-list'>

          <% @results.each_with_index do |result, index| %>
            <div class="row">

              <div class="modify-result">
                <div id="edit-story-result-<%= index %>"
                    style='position:absolute; right:55px; margin-top:-3px'>
                  <i class='glyphicon glyphicon-pencil bip-clickable'></i>
                </div>

                <div class='delete-result' id="delete-story-result-<%= index %>"
                    data-id="<%= result.id %>"
                    data-action="<%= File.join( @base_url, "results/#{result.id}" ) %>"
                    style='position:absolute; right:20px; margin-top:-3px'>
                  <i class='glyphicon glyphicon-remove bip-clickable'></i>
                </div>
              </div>

              <div id='story-result-<%= index %>' class="story-result col-md-9">
                <!-- http://stackoverflow.com/questions/13561533 -->
                <%= best_in_place result, :description,
                          url: story_path(@story) + "?result_id=#{result.id}",
                   html_attrs: { style: 'width:100%' },
                    activator: "#edit-story-result-#{index}" %>
              </div>

            </div>  <!-- row --> <br>
          <% end %>

        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <p class='lead'>Contributions</p>
    </div>
    <div class="col-md-6">
      <p class='lead'>Story Narration</p>
    </div>
  </div>

  <div class="row">  <!-- content -->

    <!-- <div class="layout layout-main-right layout-stack-sm"> -->

      <!-- Contributors nav -->
      <div class="col-md-2 col-sm-4 layout-sidebar" style='padding-top:0'>

        <ul id="contributions-nav" class="nav nav-layout-sidebar nav-stacked">

          <li class="active">
            <a href="#pre-request" data-toggle="tab">
              <i class="fa fa-play-circle"></i>
              &nbsp;&nbsp;Contributors
            </a>
          </li>

          <li>
            <a href="#in-progress" data-toggle="tab">
              <i class="fa fa-line-chart"></i>
              &nbsp;&nbsp;Progress
            </a>
          </li>

          <li>
            <a href="#feedback" data-toggle="tab">
              <i class="fa fa-comment-o"></i>
              &nbsp;&nbsp;Feedback
            </a>
          </li>

          <li>
            <a href="#contributions" data-toggle="tab">
              <i class="fa fa-users"></i>
              &nbsp;&nbsp;Contributions
            </a>
          </li>

          <li>
            <a href="#connections" data-toggle="tab">
              <i class="fa fa-linkedin-square"></i>
              &nbsp;&nbsp;Connections
            </a>
          </li>

        </ul>
      </div> <!-- .col-md-2 contributions navigation -->

      <!-- Contributors list -->
      <div class="col-md-4 col-sm-8 layout-main" style='padding-top:0'>
      <hr style='margin-top:0'>

        <div class="tab-content stacked-content">

          <%= render 'stories/shared/story_edit_pre_request_contributions' %>

          <%= render 'stories/shared/story_edit_in_progress_contributions' %>

          <%= render 'stories/shared/story_edit_feedback_contributions' %>

          <%= render 'stories/shared/story_edit_contribution_contributions' %>

          <%= render 'stories/shared/story_edit_connection_contributions' %>

        </div> <!-- tab-content -->

      </div>  <!-- Contributors list -->

      <!-- Story content -->
      <div class='col-md-6'>
        <!-- <p class='lead'>Story Narration</p> -->
        <div class="well" style='position:relative'>
          <div class="container-fluid">

            <div class="row" style='margin-top:10px'>

              <div id='edit-story-situation'
                    style='position:absolute; right:20px; margin-top:-3px'>
                  <span class='glyphicon glyphicon-pencil bip-clickable'></span>
              </div>

              <div class='col-md-11' id='story-situation'>
                <strong>Situation:&nbsp&nbsp</strong>
                <%= best_in_place @story, :situation, as: :textarea, url: story_path(@story),
                    activator: '#edit-story-situation',
                    place_holder: 'Add story situation ...',
                    html_attrs: { style: 'width:100%' } %>
              </div>

            </div> <br>

            <div class="row">

              <div id='edit-story-challenge'
                    style='position:absolute; right:20px; margin-top:-3px'>
                  <span class='glyphicon glyphicon-pencil bip-clickable'></span>
              </div>

              <div class='col-md-11' id='story-challenge'>
                <strong>Challenge:&nbsp&nbsp</strong>
                <%= best_in_place @story, :challenge, as: :textarea, url: story_path(@story),
                    activator: '#edit-story-challenge',
                    place_holder: 'Add story challenge ...',
                    html_attrs: { style: 'width:100%' } %>

              </div>
            </div> <br>

            <div class="row">

              <div id='edit-story-solution'
                    style='position:absolute; right:20px; margin-top:-3px'>
                  <span class='glyphicon glyphicon-pencil bip-clickable'></span>
              </div>

              <div class='col-md-11' id='story-solution'>
                <strong>Solution:&nbsp&nbsp</strong>
                <%= best_in_place @story, :solution, as: :textarea, url: story_path(@story),
                    activator: '#edit-story-solution',
                    place_holder: 'Add story solution ...',
                    html_attrs: { style: 'width:100%' } %>

              </div>
            </div> <br>

            <div class="row">

              <div id='edit-story-benefits'
                    style='position:absolute; right:20px; margin-top:-3px'>
                  <span class='glyphicon glyphicon-pencil bip-clickable'></span>
              </div>

              <div class='col-md-11' id='story-benefits'>
                <strong>Benefits:&nbsp&nbsp</strong>
                <%= best_in_place @story, :benefits, as: :textarea, url: story_path(@story),
                    activator: '#edit-story-benefits',
                    place_holder: 'Add story benefits ...',
                    html_attrs: { style: 'width:100%' } %>

              </div>

            </div>  <!-- row -->
          </div>
        </div>  <!-- well -->
      </div>  <!-- col-md-6 Story content -->

    <!-- </div>  --> <!-- layout -->

  </div>  <!-- row -->
</div>  <!-- container -->

<!-- pre-request template -->
<script type="text/template" id="pre-request-template">
  {{ contributors.forEach(function (contributor) { }}
    <div class="well" data-contribution-id="{{= contributor.contribution_id }}">
      <div class="row">
        <div class='col-sm-7'>
          {{= contributor.full_name }} <br>
          {{= contributor.email }} <br>
          {{= contributor.role }}
        </div>
        <div class='col-sm-5 text-right'>
          <form class="button_to" method="post"
              action="/contributions/{{= contributor.contribution_id }}/request_contribution"
              data-remote="true">
            <input type="hidden" name="_method" value="put">
            <input class="btn btn-sm btn-secondary" type="submit"
                    value="Send Request">
          </form>
        </div>
      </div>
      {{ if (contributor.referrer) { }}
        <br>
        <div class="row">
          <div class="col-sm-12">
            Referred by {{= contributor.referrer }}
          </div>
        </div>
      {{ } }}
    </div>
  {{ }); }}
</script>

<!-- in-progress template -->
<script type="text/template" id="in-progress-template">
  <div class="well" data-contribution-id="{{= contributor.contributionId }}">
    <div class="row">
      <div class='col-md-12'>
        {{= contributor.fullName }} <br>
        {{= contributor.email }} <br>
        {{= contributor.role }} <br><br>
        {{= contributor.contributionStatus }}
      </div>
    </div>
  </div>
</script>

<!-- Results -->
<script type="text/template" id="results-template">
  <div class="row">

    <div class='modify-result'>
      <div id="edit-story-result-{{= index }}"
          style='position:absolute; right:55px; margin-top:-3px'>
        <i class='glyphicon glyphicon-pencil bip-clickable'></i>
      </div>

      <div id="delete-story-result-{{= index }}" class="delete-result"
          data-id="{{= result.id }}"
          data-action="{{= baseUrl }}/results/{{= result.id }}"
          style='position:absolute; right:20px; margin-top:-3px'>
        <i class='glyphicon glyphicon-remove bip-clickable'></i>
      </div>
    </div>

    <div id='story-result-{{= index }}' class="story-result col-sm-9">
      <span data-bip-type="input" data-bip-attribute="description"
            data-bip-activator="#edit-story-result-{{= index }}"
            data-bip-html-attrs="{&quot;style&quot;:&quot;width:100%&quot;}"
            data-bip-object="result"
            data-bip-original-content="{{= result.description }}"
            data-bip-url="/stories/{{= storyId }}?result_id={{= result.id }}"
            data-bip-value="{{= result.description }}"
            class="best_in_place"
            id="best_in_place_result_{{= result.id }}_description">
        {{= result.description }}
      </span>
    </div>

  </div> <br>
</script>





