<%= render 'stories/shared/new_contributor_modal' %>

<div class='container'>

  <!-- nav back to Curate -->
  <%= link_to company_path(current_user.company), class: 'story-nav' do %>
    <span class='glyphicon glyphicon-chevron-left'
        style='color:#337ab7; margin-top:20px; margin-right:5px'>
    </span><span>Curate Stories</span>
  <% end %>
  <hr>

  <!-- settings, title, quote, video -->
  <div class='row' style='margin-top:15px'>

    <div class='col-md-4'>  <!-- story settings -->

      <p class='lead'>Story Settings</p>
      <div class='row'>

        <div class='col-md-4 text-center'>
          <img src="https://logo.clearbit.com/<%= @story.success.customer.name.downcase %>.com"
              style="height:100px">
        </div>

        <div class='col-md-8 text-center'>

        <%= link_to 'Preview Story Page', story_path(@story),
                class: 'btn btn-secondary' %> <br><br>

          <div class="form-horizontal">

            <div class="form-group">
              <label for="publish-story" class='col-md-6 control-label'>Publish Story</label>
              <div class="col-md-6 text-left" style='padding-left:0'>
                <input type="checkbox" id='publish-story' class='form-control'>
              </div>
            </div>

            <div class="form-group">
              <label for="publish-logo" class='col-md-6 control-label'>Publish Logo</label>
              <div class="col-md-6 text-left" style='padding-left:0'>
                <input type="checkbox" id='publish-logo' class='form-control'>
              </div>
            </div>

          </div>  <!-- form -->

        </div>

      </div>  <!-- row -->

    </div>  <!-- story settings -->

    <div class="col-md-4">  <!-- title and quote -->

      <p class='lead'>Title</p>

      <div class='row'>

        <div class='well'>
          <div class="container-fluid">
            <div class="row">

              <div id='edit-story-title'
                  style='position:absolute; right:20px; margin-top:-3px'>
                <span class='glyphicon glyphicon-pencil bip-clickable'></span>
              </div>

              <div id='story-title' class='col-md-11'>
                <%= best_in_place @story, :title, as: :textarea, url: story_path(@story),
                    html_attrs: { style: 'width:100%' },
                    activator: '#edit-story-title', place_holder: "Add a title ..." %>
              </div>

            </div>
          </div>
        </div>  <!-- well -->

      </div>  <!-- title row -->

      <p class='lead'>Customer Quote</p>

      <div class='row'>


        <div class="well" id='story-quote-well' style='position:relative'>
          <div class='container-fluid'>

            <div class="row">

              <div id='edit-story-quote'
                  style='position:absolute; right:20px; margin-top:-3px'>
                <span class='glyphicon glyphicon-pencil bip-clickable'></span>
              </div>

              <div id='story-quote' class="col-md-11">
                <!-- http://stackoverflow.com/questions/13561533 -->
                <%= best_in_place @story, :quote, as: :textarea, url: story_path(@story),
                    display_with: lambda { |text| story_quote(text) }, sanitize: false,
                    html_attrs: { style: 'width:100%' },
                    activator: '#edit-story-quote',
                    place_holder: "Add a customer quote ..." %>
              </div>

            </div>  <!-- row --> <br>

            <div class="row">

              <div id='edit-story-quote-attr'
                  style='position:absolute; right:20px; margin-top:-3px'>
                <span class='glyphicon glyphicon-pencil bip-clickable'></span>
              </div>

              <div id='story-quote-attr' class='col-md-11'>

                <%= best_in_place @story, :quote_attr, url: story_path(@story),
                    activator: '#edit-story-quote-attr',
                    place_holder: "Add an attribution ...",
                    html_attrs: { style: 'width: 100%' } %>

              </div>

            </div> <!-- row -->

          </div>  <!-- container -->
        </div>  <!-- well -->
      </div>  <!-- quote row -->
    </div>  <!-- title and quote -->

    <div class='col-md-4'>  <!-- video -->
      <p class='lead'>Video</p>
      <div class='well' id='story-embed-well' style='position:relative'>

        <!-- http://stackoverflow.com/questions/13725683 -->

        <iframe id='embed-iframe' width="320" height="180"
            src="<%= @story.embed_url %>" frameborder="0"></iframe> <br><br>

        <div class="container-fluid">
          <div class="row">
            <div id='edit-story-embed'
                style='position:absolute; right:20px; margin-top:-3px'>
              <span class='glyphicon glyphicon-pencil bip-clickable'></span>
            </div>

            <div id='story-embed' class='col-md-10' style='overflow:auto'>
              <%= best_in_place @story, :embed_url, url: story_path(@story),
                  activator: '#edit-story-embed',
                  place_holder: 'Add a video (Youtube URL) ...',
                  html_attrs: { style: 'width:100%' } %>
            </div>
          </div>
        </div>


      </div>  <!-- well -->
    </div>  <!-- video -->  <!-- settings, title, quote, video -->
  </div>  <!-- settings, title, quote, video -->

  <!-- tags -->
  <p class='lead' style='display:inline-block'>Tags</p>
  <button type='submit' class='edit-tags hidden btn btn-sm btn-primary'
      style='display:inline-block; margin-left:15px; margin-bottom:8px' form='tags-form'>
    Save changes
  </button>
  <button id='edit-tags-cancel' class='edit-tags hidden btn btn-sm btn-default'
      style='display:inline-block; margin-bottom:8px'>
    Cancel
  </button>

  <div class="row" style='margin-bottom: 15px'>  <!-- tags form -->
    <div class="col-md-12">
      <div class="well">
        <div class="container-fluid">

          <%= form_tag story_path(@story), remote: true, method: "put",
                id: 'tags-form', class: 'form-inline' do %>

            <div class="form-group col-md-4" style='margin-bottom:10px'>
              <%= label_tag 'Industry', nil, class: 'control-label' %>
              <!-- Note the necessary '[]' notation below  -->
              <!-- if not present, will only return a single value  -->
              <%= select_tag "story[industry_tags][]",
                  options_for_select(@industries_select, @industries_preselect),
                  { multiple: 'true', class: 'story-tags form-control',
                    style: 'width:100%'} %>
            </div>

            <div class="form-group col-md-4" style='margin-bottom:10px'>
              <%= label_tag 'Product Category', nil, class: 'control-label' %>
              <%= select_tag "story[product_cat_tags][]",
                  options_for_select(@product_cats_select, @product_cats_preselect),
                  { multiple: 'true', class: 'story-tags form-control',
                    style: 'width:100%'} %>
            </div>

            <div class="form-group col-md-4" style='margin-bottom:10px'>
              <%= label_tag 'Product', nil, class: 'control-label' %>
              <%= select_tag "story[product_tags][]",
                  options_for_select(@products_select, @products_preselect),
                  { multiple: 'true', class: 'story-tags form-control',
                    style: 'width:100%'} %>
            </div>

          <% end %>

        </div>
      </div>
    </div>
  </div>  <!-- tags form -->

  </br></br>

  <div class="row">  <!-- content -->
    <div class="layout layout-main-right layout-stack-sm">
      <div class="col-md-2 col-sm-4 layout-sidebar">

        <button type="button" class="btn btn-secondary"
          style='margin-top: -25px; margin-bottom: 14px'
          data-toggle="modal" data-target="#new-contributor-modal">
            Add Contributor
        </button>

         <!-- <div class="nav-layout-sidebar-skip">
          <strong>Tab Navigation</strong> / <a href="#settings-content">Skip to Content</a>
        </div> -->

        <ul id="contributions-nav" class="nav nav-layout-sidebar nav-stacked">

          <li class="active">
            <a href="#pre-request" data-toggle="tab">
              <i class="fa fa-play-circle"></i>
              &nbsp;&nbsp;Contributor
            </a>
          </li>

          <li>
            <a href="#in-progress" data-toggle="tab">
              <i class="fa fa-line-chart"></i>
              &nbsp;&nbsp;Progress
            </a>
          </li>

          <li>
            <a href="#feedback" data-toggle="tab">
              <i class="fa fa-comment-o"></i>
              &nbsp;&nbsp;Feedback
            </a>
          </li>

          <li>
            <a href="#contribution" data-toggle="tab">
              <i class="fa fa-users"></i>
              &nbsp;&nbsp;Contribution
            </a>
          </li>

        </ul>
      </div> <!-- .col-md-2 contributions navigation -->

      <!-- Contributors list -->
      <div class="col-md-4 col-sm-8 layout-main">
        <div class="tab-content stacked-content">
          <!-- pre-request -->
          <div class="tab-pane fade in active" id="pre-request">

            <div class="heading-block">
              <h4>Contributors Waiting for Request</h4>
            </div> <!-- /.heading-block -->

            <div id='pre-request-contributors'>

              <% @contributions.select { |cont| cont.status == 'pre-request'} %>
              <%   .each do |contribution| %>

                <div class="well">
                  <div class="row">
                    <div class='col-sm-12'>
                      <%= contribution.user.first_name %>
                      <%= contribution.user.last_name %> <br>
                      <%= contribution.user.email %>
                    </div>
                  </div> <br>
                  <div class="row">
                    <div class="col-sm-6">
                      <%= contribution.role %>
                    </div>
                    <div class="col-sm-6 text-right">
                      <button class='btn btn-sm btn-secondary'>
                        Send Request
                      </button>
                    </div>
                  </div>
                </div>

              <% end %>

            </div>

          </div> <!-- /.tab-pane pre-request -->

          <div class="tab-pane fade" id="in-progress">

            <div class="heading-block">
              <h4>Contributions in Progress</h4>
            </div> <!-- /.heading-block -->

            <div id='in-progress-contributors'>

              <% @contributions.select { |cont| cont.status == 'request1' ||
                                                cont.status == 'request2' ||
                                                cont.status == 'request3' ||
                                                cont.status == 'did_not_respond' } %>
              <%   .each do |contribution| %>
                <div class="well">
                  <div class="row">
                    <div class='col-sm-12'>
                      <%= contribution.user.first_name %>
                      <%= contribution.user.last_name %> <br>
                      <%= contribution.user.email %> <br>
                      <%= contribution.role %> <br><br>
                      <%= contribution_status(contribution.status) %>
                    </div>
                  </div>
                </div>
              <% end %>

            </div>
          </div> <!-- /.tab-pane in-progress -->

          <div class="tab-pane fade" id="feedback">

            <div class="heading-block">
              <h4>Feedback from Contributors</h4>
            </div> <!-- /.heading-block -->

            <div id='feedback-contributors'>

              <% @contributions.select { |cont| cont.status == 'feedback' }
                  .each_with_index do |contribution, index| %>

                <div class="well">

                  <div class="row">
                    <div class='col-sm-12'>
                      <%= contribution.user.first_name %>
                      <%= contribution.user.last_name %> <br>
                      <%= contribution.user.email %> <br> <br>
                      <%= contribution.role %> <br>
                    </div>
                  </div> <br>

                  <div class="accordion" id="accordion-feedback-<%= index %>">
                    <div class="accordion-group">

                      <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse"
                           data-parent="#accordion-feedback-<%= index %>" href="#collapse-feedback-<%= index %>">
                          Status: Provided Constructive Feedback
                        </a>
                      </div>

                      <div id="collapse-feedback-<%= index %>" class="accordion-body collapse">
                        <div class="accordion-inner">
                          <%= contribution.feedback %>
                        </div>
                      </div>

                    </div>  <!-- accordian-group -->
                  </div>  <!-- accordian -->
                </div>  <!-- well -->
              <% end %>
            </div>  <!-- feedback contributors -->
          </div> <!-- tab-pane feedback -->

          <div class="tab-pane fade" id="contribution">

            <div class="heading-block">
              <h4>Successful Contribution</h4>
            </div> <!-- /.heading-block -->

            <div id='contribution-contributors'>

              <div class="well">
                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/jeffhaslem"
                  data-format="inline" data-related="true" data-width='200'></script>

                <div class="accordion" id="accordion-contribution-linkedin">
                  <div class="accordion-group">

                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse"
                         data-parent="#accordion-contribution-linkedin"
                         href="#collapse-contribution-linkedin">
                        Read Contribution
                      </a>
                    </div>

                    <div id="collapse-contribution-linkedin" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <p><%= FFaker::Lorem.paragraph %></p><br>
                      </div>
                    </div>

                  </div>
                </div>
              </div>  <!-- linked_in profile -->

              <% @contributions.select { |cont| cont.status == 'contribution' }
                  .each_with_index do |contribution, index| %>

                <div class="well">

                  <div class="row">
                    <div class='col-sm-12'>
                      <%= contribution.user.first_name %>
                      <%= contribution.user.last_name %> <br>
                      <%= contribution.user.email %> <br> <br>
                      <%= contribution.role %> <br>
                    </div>
                  </div> <br>

                  <div class="accordion"
                      id="accordion-contribution-<%= index %>">
                    <div class="accordion-group">

                      <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse"
                           data-parent="#accordion-contribution-<%= index %>" href="#collapse-contribution-<%= index %>">
                          Status: Contributed
                        </a>
                      </div>

                      <div id="collapse-contribution-<%= index %>"
                          class="accordion-body collapse">
                        <div class="accordion-inner">
                          <%= contribution.contribution %>
                        </div>
                      </div>

                    </div>  <!-- accordian-group -->
                  </div>  <!-- accordian -->
                </div>  <!-- well -->
              <% end %>
            </div>  <!-- contribution contributors -->
          </div>  <!-- tab-panel -->
        </div>
      </div>  <!-- col-md-4 -->

      <!-- Story content -->
      <div class='col-md-6'>
        <p class='lead'>Story Narration</p>
        <div class="well" style='position:relative'>
          <div class="container-fluid">

            <div class="row" style='margin-top:10px'>

              <div id='edit-story-situation'
                    style='position:absolute; right:20px; margin-top:-3px'>
                  <span class='glyphicon glyphicon-pencil bip-clickable'></span>
              </div>

              <div class='col-md-11' id='story-situation'>
                <strong>Situation:&nbsp&nbsp</strong>
                <%= best_in_place @story, :situation, as: :textarea, url: story_path(@story),
                    activator: '#edit-story-situation',
                    place_holder: 'Add story situation ...',
                    html_attrs: { style: 'width:100%' } %>
              </div>

            </div> <br>

            <div class="row">

              <div id='edit-story-challenge'
                    style='position:absolute; right:20px; margin-top:-3px'>
                  <span class='glyphicon glyphicon-pencil bip-clickable'></span>
              </div>

              <div class='col-md-11' id='story-challenge'>
                <strong>Challenge:&nbsp&nbsp</strong>
                <%= best_in_place @story, :challenge, as: :textarea, url: story_path(@story),
                    activator: '#edit-story-challenge',
                    place_holder: 'Add story challenge ...',
                    html_attrs: { style: 'width:100%' } %>

              </div>
            </div> <br>

            <div class="row">

              <div id='edit-story-solution'
                    style='position:absolute; right:20px; margin-top:-3px'>
                  <span class='glyphicon glyphicon-pencil bip-clickable'></span>
              </div>

              <div class='col-md-11' id='story-solution'>
                <strong>Solution:&nbsp&nbsp</strong>
                <%= best_in_place @story, :solution, as: :textarea, url: story_path(@story),
                    activator: '#edit-story-solution',
                    place_holder: 'Add story solution ...',
                    html_attrs: { style: 'width:100%' } %>

              </div>
            </div> <br>

            <div class="row">

              <div id='edit-story-results'
                    style='position:absolute; right:20px; margin-top:-3px'>
                  <span class='glyphicon glyphicon-pencil bip-clickable'></span>
              </div>

              <div class='col-md-11' id='story-results'>
                <strong>Results:&nbsp&nbsp</strong>
                <%= best_in_place @story, :results, as: :textarea, url: story_path(@story),
                    activator: '#edit-story-results',
                    place_holder: 'Add story results ...',
                    html_attrs: { style: 'width:100%' } %>

              </div>
            </div> <br>

          </div>
        </div>  <!-- well -->
      </div>  <!-- col-md-6 Story content -->

    </div>  <!-- layout -->
  </div>  <!-- row -->

</div>  <!-- container -->

<!-- pre-request template -->
<script type="text/template" id="pre-request-template">
  {{ contributors.forEach(function (contributor) { }}
    <div class="well" data-id="{{= contributor.contribution_id }}">
      <div class="row">
        <div class='col-sm-12'>
          {{= contributor.user_name }} <br>
          {{= contributor.user_email }}
        </div>
      </div> <br>
      <div class="row">
        <div class="col-sm-6">
          {{= contributor.role }}
        </div>
        <div class="col-sm-6 text-right">
          <button class='btn btn-sm btn-secondary'>
            Send Request
          </button>
        </div>
      </div>
    </div>
  {{ }); }}
</script>








