<div class='container'>

<!--   <div class='row' style='margin-top:15px'>
    <div class='col-md-4'>
      <h4 class='lead'>Story Title</h4>
    </div>
    <div class='col-md-4'>
      <h5>Customer Quote</h5>
    </div>
    <div class='col-md-4'>
      <h5>Video</h5>
    </div>
  </div> -->

  <div class='row' style='margin-top:15px'>

    <div class='col-md-4'>

      <p class='lead'>Story Title</p>

      <div class='row'>

        <div class='well'>
          <div class="container-fluid">
            <div class="row">

              <div id='edit-story-title'
                  style='position:absolute; right:20px; margin-top:-3px'>
                <span class='glyphicon glyphicon-pencil bip-clickable'></span>
              </div>

              <div id='story-title' class='col-md-11'>
                <%= best_in_place @story, :title, as: :textarea, url: story_path(@story),
                    html_attrs: { style: 'width:100%' },
                    activator: '#edit-story-title', place_holder: "Add a title..." %>
              </div>

            </div>
          </div>
        </div>  <!-- well -->

      </div>  <!-- row -->

      <div class='row'>

        <div class='col-md-4 text-center'>
          <img src="https://logo.clearbit.com/<%= @story.success.customer.name %>.com"
              style="height:100px"> <br><br>
        </div>

        <div class='col-md-8'>
          <label for="publish-story">Publish Story</label>
          <input type="checkbox" id='publish-story'>
          <label for="publish-logo" style='margin-top: 15px'>Publish Logo</label>
          <input type="checkbox" id='publish-logo'>
          <%= link_to 'Preview', story_path(@story),
              class: 'btn btn-primary', style: "margin-top:15px" %>
        </div>

      </div>  <!-- row -->


    </div>  <!-- col-md-4 -->



    <div class="col-md-4">
    <p class='lead'>Customer Quote</p>
    <div class="well" id='story-quote-well' style='position:relative'>
      <div class='container-fluid'>

        <div class="row">

          <div id='edit-story-quote'
              style='position:absolute; right:20px; margin-top:-3px'>
            <span class='glyphicon glyphicon-pencil bip-clickable'></span>
          </div>

          <div id='story-quote' class="col-md-11">
            <!-- http://stackoverflow.com/questions/13561533 -->
            <%= best_in_place @story, :quote, as: :textarea, url: story_path(@story),
                display_with: lambda { |text| story_quote(text) }, sanitize: false,
                html_attrs: { style: 'width:100%' },
                activator: '#edit-story-quote', place_holder: "Add a customer quote..." %>
          </div>

        </div>  <!-- row --> <br>

        <div class="row">

          <div id='edit-story-quote-attr'
              style='position:absolute; right:20px; margin-top:-3px'>
            <span class='glyphicon glyphicon-pencil bip-clickable'></span>
          </div>

          <div id='story-quote-attr' class='col-md-11'>

            <%= best_in_place @story, :quote_attr, url: story_path(@story),
                activator: '#edit-story-quote-attr', place_holder: "Quote attribution...",
                html_attrs: { style: 'width: 100%' } %>

          </div>

        </div> <!-- row -->

      </div>  <!-- container -->
    </div>  <!-- well -->
    </div>

    <div class='col-md-4'>
      <p class='lead'>Video</p>
      <div class='well' id='story-embed-well' style='position:relative'>


        <!-- only load something if it's a video -->
        <iframe id='embed-iframe' width="320" height="180"
            src="<%= @story.embed_url %>" frameborder="0"></iframe> <br><br>

        <div class="container-fluid">
          <div class="row">
            <div id='edit-story-embed'
                style='position:absolute; right:20px; margin-top:-3px'>
              <span class='glyphicon glyphicon-pencil bip-clickable'></span>
            </div>

            <div id='story-embed' class='col-md-10' style='overflow:auto'>
              <%= best_in_place @story, :embed_url, url: story_path(@story),
                  activator: '#edit-story-embed', html_attrs: { style: 'width:100%' } %>
            </div>
          </div> <br>
          <p>NOTE: must be the embed url</p>
        </div>


      </div>  <!-- well -->
    </div>  <!-- col-md-4 -->

  </div>  <!-- row -->

  <div class='row' style='margin-top: 15px'>

    <div class="form-inline">

      <div class="form-group col-md-3">
        <%= label_tag 'Industry tags', nil, class: 'control-label' %>
        <!-- Note the necessary '[]' notation below  -->
        <!-- if not present, will only return a single value  -->
        <%= select_tag "story[:industry_tags][]",
            options_for_select(@industries_select),
            { multiple: 'true', class: 'story-tags form-control',
              style: 'width:100%'} %>
      </div>
    <!-- </div> -->

    <!-- <div class="form-inline"> -->
      <div class="form-group col-md-3">
        <%= label_tag 'Product Category tags', nil, class: 'control-label' %>
        <%= select_tag "story[:product_cat_tags][]",
            options_for_select(@product_cats_select),
            { multiple: 'true', class: 'story-tags form-control',
              style: 'width:100%'} %>
      </div>
    <!-- </div> -->

    <!-- <div class="form-inline"> -->
      <div class="form-group col-md-3">
        <%= label_tag 'Product tags', nil, class: 'control-label' %>
        <%= select_tag "story[:product_tags][]",
            options_for_select(@products_select),
            { multiple: 'true', class: 'story-tags form-control',
              style: 'width:100%'} %>
      </div>

      <!-- <div class="col-md-1">
        <button>submit tags</button>
      </div> -->


    </div>  <!-- form -->
  </div>  <!-- row -->

</div>



