<div class='container'>

  <%= link_to company_path(current_user.company), class: 'story-nav' do %>
    <span class='glyphicon glyphicon-chevron-left'
        style='color:#337ab7; margin-top:20px; margin-right:5px'>
    </span><span>Curate Stories</span>
  <% end %>
  <hr>

  <div class='row' style='margin-top:15px'>

    <div class='col-md-4'>  <!-- story settings -->

      <p class='lead'>Story Settings</p>
      <div class='row'>

        <div class='col-md-4 text-center'>
          <img src="https://logo.clearbit.com/<%= @story.success.customer.name.downcase %>.com"
              style="height:100px">
        </div>

        <div class='col-md-8 text-center'>

        <%= link_to 'Preview Story Page', story_path(@story),
                class: 'btn btn-secondary' %> <br><br>

          <div class="form-horizontal">

            <div class="form-group">
              <label for="publish-story" class='col-md-6 control-label'>Publish Story</label>
              <div class="col-md-6 text-left" style='padding-left:0'>
                <input type="checkbox" id='publish-story' class='form-control'>
              </div>
            </div>

            <div class="form-group">
              <label for="publish-logo" class='col-md-6 control-label'>Publish Logo</label>
              <div class="col-md-6 text-left" style='padding-left:0'>
                <input type="checkbox" id='publish-logo' class='form-control'>
              </div>
            </div>

          </div>  <!-- form -->

        </div>

      </div>  <!-- row -->

    </div>  <!-- story settings -->

    <div class="col-md-4">  <!-- title and quote -->

      <p class='lead'>Title</p>

      <div class='row'>

        <div class='well'>
          <div class="container-fluid">
            <div class="row">

              <div id='edit-story-title'
                  style='position:absolute; right:20px; margin-top:-3px'>
                <span class='glyphicon glyphicon-pencil bip-clickable'></span>
              </div>

              <div id='story-title' class='col-md-11'>
                <%= best_in_place @story, :title, as: :textarea, url: story_path(@story),
                    html_attrs: { style: 'width:100%' },
                    activator: '#edit-story-title', place_holder: "Add a title ..." %>
              </div>

            </div>
          </div>
        </div>  <!-- well -->

      </div>  <!-- title row -->

      <p class='lead'>Customer Quote</p>

      <div class='row'>


        <div class="well" id='story-quote-well' style='position:relative'>
          <div class='container-fluid'>

            <div class="row">

              <div id='edit-story-quote'
                  style='position:absolute; right:20px; margin-top:-3px'>
                <span class='glyphicon glyphicon-pencil bip-clickable'></span>
              </div>

              <div id='story-quote' class="col-md-11">
                <!-- http://stackoverflow.com/questions/13561533 -->
                <%= best_in_place @story, :quote, as: :textarea, url: story_path(@story),
                    display_with: lambda { |text| story_quote(text) }, sanitize: false,
                    html_attrs: { style: 'width:100%' },
                    activator: '#edit-story-quote',
                    place_holder: "Add a customer quote ..." %>
              </div>

            </div>  <!-- row --> <br>

            <div class="row">

              <div id='edit-story-quote-attr'
                  style='position:absolute; right:20px; margin-top:-3px'>
                <span class='glyphicon glyphicon-pencil bip-clickable'></span>
              </div>

              <div id='story-quote-attr' class='col-md-11'>

                <%= best_in_place @story, :quote_attr, url: story_path(@story),
                    activator: '#edit-story-quote-attr',
                    place_holder: "Add an attribution ...",
                    html_attrs: { style: 'width: 100%' } %>

              </div>

            </div> <!-- row -->

          </div>  <!-- container -->
        </div>  <!-- well -->
      </div>  <!-- quote row -->
    </div>  <!-- title and quote -->

    <div class='col-md-4'>  <!-- video -->
      <p class='lead'>Video</p>
      <div class='well' id='story-embed-well' style='position:relative'>

        <!-- http://stackoverflow.com/questions/13725683 -->

        <iframe id='embed-iframe' width="320" height="180"
            src="<%= @story.embed_url %>" frameborder="0"></iframe> <br><br>

        <div class="container-fluid">
          <div class="row">
            <div id='edit-story-embed'
                style='position:absolute; right:20px; margin-top:-3px'>
              <span class='glyphicon glyphicon-pencil bip-clickable'></span>
            </div>

            <div id='story-embed' class='col-md-10' style='overflow:auto'>
              <%= best_in_place @story, :embed_url, url: story_path(@story),
                  activator: '#edit-story-embed',
                  place_holder: 'Add a video (Youtube URL) ...',
                  html_attrs: { style: 'width:100%' } %>
            </div>
          </div>
        </div>


      </div>  <!-- well -->
    </div>  <!-- video -->  <!-- settings, title, quote, video -->
  </div>  <!-- settings, title, quote, video -->

  <p class='lead' style='display:inline-block'>Tags</p>
  <button type='submit' class='edit-tags hidden btn btn-sm btn-primary'
      style='display:inline-block; margin-left:15px; margin-bottom:8px' form='tags-form'>
    Save changes
  </button>
  <button id='edit-tags-cancel' class='edit-tags hidden btn btn-sm btn-default'
      style='display:inline-block; margin-bottom:8px'>
    Cancel
  </button>

  <div class="row" style='margin-bottom: 15px'>  <!-- tags form -->
    <div class="col-md-12">
      <div class="well">
        <div class="container-fluid">

          <%= form_tag story_path(@story), remote: true, method: "put",
                id: 'tags-form', class: 'form-inline' do %>

            <div class="form-group col-md-4" style='margin-bottom:10px'>
              <%= label_tag 'Industry', nil, class: 'control-label' %>
              <!-- Note the necessary '[]' notation below  -->
              <!-- if not present, will only return a single value  -->
              <%= select_tag "story[industry_tags][]",
                  options_for_select(@industries_select, @industries_preselect),
                  { multiple: 'true', class: 'story-tags form-control',
                    style: 'width:100%'} %>
            </div>

            <div class="form-group col-md-4" style='margin-bottom:10px'>
              <%= label_tag 'Product Category', nil, class: 'control-label' %>
              <%= select_tag "story[product_cat_tags][]",
                  options_for_select(@product_cats_select, @product_cats_preselect),
                  { multiple: 'true', class: 'story-tags form-control',
                    style: 'width:100%'} %>
            </div>

            <div class="form-group col-md-4" style='margin-bottom:10px'>
              <%= label_tag 'Product', nil, class: 'control-label' %>
              <%= select_tag "story[product_tags][]",
                  options_for_select(@products_select, @products_preselect),
                  { multiple: 'true', class: 'story-tags form-control',
                    style: 'width:100%'} %>
            </div>

          <% end %>

        </div>
      </div>
    </div>
  </div>  <!-- tags form -->

</br>
</br>
  <div class="row">  <!-- content -->
     
  
      <div class="container">


      <div class="layout layout-main-right layout-stack-sm">



        <div class="col-md-2 col-sm-4 layout-sidebar">
          
      <button type="button" class="btn btn-secondary"
        style='margin-top: -25px; margin-bottom: 14px'
        data-toggle="modal" data-target="#new-story-modal">
      Add Contributor
    </button>

          <div class="nav-layout-sidebar-skip">
            <strong>Tab Navigation</strong> / <a href="#settings-content">Skip to Content</a>
          </div>

          <ul id="myTab" class="nav nav-layout-sidebar nav-stacked">
              <li class="active">

              <a href="#crowdsource" data-toggle="tab">

              <i class="fa fa-play-circle"></i>
              &nbsp;&nbsp;Contributor
              </a>
            </li>

            <li>
              <a href="#rev_product" data-toggle="tab">
              <i class="fa fa-line-chart"></i>
              &nbsp;&nbsp; Progress
              </a>
            </li>

              <li>
              <a href="#contributors" data-toggle="tab">
              <i class="fa fa-comment-o"></i>
              &nbsp;&nbsp;Feedback
              </a>
            </li>

   <li>
              <a href="#seo" data-toggle="tab">
              <i class="fa fa-users"></i>
              &nbsp;&nbsp;Contribution
              </a>
            </li>



          </ul>

        </div> <!-- /.col -->



        <div class="col-md-4 col-sm-8 layout-main">




          <div id="settings-content" class="tab-content stacked-content">



            <div class="tab-pane fade in active" id="crowdsource">

              <div class="heading-block">
                   <h4>
                  Contributors Waiting for Request
                </h4>
              </div> <!-- /.heading-block -->

  <div class="well" style='position:relative'>
<p>Name: John Doe   </p>
<p>Email: john@gmail.com </p>
<p>Role: Customer</p>
 <p>  <%= link_to 'Request Contribution', story_path(@story),
                class: 'pull-right btn btn-secondary' %>  </p>
                </br>
 </div>
            </div> <!-- /.tab-pane -->




            <div class="tab-pane fade" id="rev_product">

              <div class="heading-block">
         <h4>
                  Contribution in Process
                </h4>
              </div> <!-- /.heading-block -->

    <div class="well" style='position:relative'>
<p >Bill Smith </p>
<p >bill@gmail.com </p>
<p >Partner</p>
<p >Status: Request in process, 3 days remaining</p> 
 </div>
    <div class="well" style='position:relative'>
<p >Sally Johnson </p>
<p >bill@gmail.com </p>
<p >Customer</p>
<p >Status: Request in process, 1 day remaining</p> 
 </div>

<div class="well" style='position:relative'>
 <p >Tom Collins, Partner  </p>
<p >tom@gmail.com </p>
<p >Status: Did not respond</p> 
 </div>


                  </div> <!-- /.tab-pane -->



            <div class="tab-pane fade" id="contributors">
 <div class="heading-block">
         <h4>
                  Feedback from Contributors
                </h4>
              </div> <!-- /.heading-block -->
             <div class="well" style='position:relative'>
 <p >Fred Green  </p>
<p >fred@gmail.com </p>
<p >Customer</p>
 <div class="accordion" id="accordionfeedback">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionfeedback" href="#collapsefeedback">
        Status: Provided Constructive Feedback
      </a>
    </div>
    <div id="collapsefeedback" class="accordion-body collapse">
      <div class="accordion-inner">
    <p> I would very much like to contribute to a success story however we have one outstanding issue to resolve.  We need to have the customer success team deliver 5 sample templates to use when reporting the ROI to the executive team.   </p><br>
      </div>
    </div>
  </div>
</div>
 </div>


              </div> <!-- /.tab-pane -->



            <div class="tab-pane fade" id="seo">
 <div class="heading-block">
         <h4>
                  Successful Contribution
                </h4>
              </div> <!-- /.heading-block -->
 <div class="well" style='position:relative'>
  <p >Stan Hawley  </p>
<p >stan@gmail.com </p>
<p >Sales Team</p>


 <div class="accordion" id="accordion5">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapse5">
        Read Contribution
      </a>
    </div>
    <div id="collapse5" class="accordion-body collapse">
      <div class="accordion-inner">
    <p><%= @story.situation %></p><br>
      </div>
    </div>
  </div>
</div>

 
                </div>


 <div class="well" style='position:relative'>
        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/jeffhaslem" data-format="inline" data-related="false" data-width='200'></script>
<div class="accordion" id="accordion1">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse1">
        Read Contribution
      </a>
    </div>
    <div id="collapse1" class="accordion-body collapse">
      <div class="accordion-inner">
    <p><%= @story.situation %></p><br>
      </div>
    </div>
  </div>
</div>
                </div>
     
              
             <div class="well" style='position:relative'>  
        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/allan-lo/2/80/214" data-format="inline" data-related="false" data-width='200'></script>
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
        Read Contribution
      </a>
    </div>
    <div id="collapse2" class="accordion-body collapse">
      <div class="accordion-inner">
    <p><%= @story.situation %></p><br>
      </div>
    </div>
  </div>
</div>
              </div>
              
             <div class="well" style='position:relative'>  
        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/joakim-lindblom/0/4aa/999" data-format="inline" data-related="false" data-width='200'></script>
<div class="accordion" id="accordion3">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse3">
        Read Contribution
      </a>
    </div>
    <div id="collapse3" class="accordion-body collapse">
      <div class="accordion-inner">
    <p><%= @story.situation %></p><br>
      </div>
    </div>
  </div>
</div>
              </div>
              
             <div class="well" style='position:relative'>  
        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/jeffweiner08" data-format="inline" data-related="false" data-width='200'></script>
<div class="accordion" id="accordion4">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse4">
        Read Contribution
      </a>
    </div>
    <div id="collapse4" class="accordion-body collapse">
      <div class="accordion-inner">
    <p><%= @story.situation %></p><br>
      </div>
    </div>
  </div>
</div>
                
                
              </div>
       </div> <!-- /.tab-pane -->



            <div class="tab-pane fade" id="retargeting">

              <div class="heading-block">
                <h3>
                  Intelligent story promotion thru onlime media channels with retargeting
                </h3>
              </div> <!-- /.heading-block -->

              <p>Automatically and Intelligently promote your success stories in online media to any prospect that has shown interest in your products or services.  No need for the prospect to register, they are simply retargeted with an ad whenever they visit your website or your customer story page.  This method serves as a reminder of your companies offering with the #1 most compelling content:  peer success stories from your advocate.  </p>


              </div> <!-- /.tab-pane -->



            <div class="tab-pane fade" id="crm-targeting">

              <div class="heading-block">
                <h3>
                  Automatically promote stories to your CRM database in relevant online media
                </h3>
              </div> <!-- /.heading-block -->

              <p>Connect your CRM database and Customer Stories will intelligently promote your stories to your list, not by email, but by online advertising.  This highly targeted approach gives you a subtle but powerful communication channel to your CRM database even if they are not aware of your products and offerings.  This provides incentive for sales people to add their target prospects in your CRM.  Other use cases is an effective and persuasive marketing channel to prospects that use your competition. </p>




              </div> <!-- /.tab-pane -->



            <div class="tab-pane fade" id="audience-targeting">

              <div class="heading-block">
                <h3>
                  Look-alike model your existing customers and promote to a multiplied audience
                </h3>
              </div> <!-- /.heading-block -->

              <p>Customer Stories can intelligently model your existing customers to identify ideal buyer persona.   Automatically promote your success stories to this multiplied audience of unknown prospects.  Scale your reach to a 10X or more prospect list by engaging this ideal audience with your compelling customer successes. </p>


              </div> <!-- /.tab-pane -->



            <div class="tab-pane fade" id="reporting">

              <div class="heading-block">
                <h3>
                  Analytics & reporting showing attribution to closed deals proving ROI of program
                </h3>
              </div> <!-- /.heading-block -->

              <p>With intelligent online tracking, ROI of program is easy to prove.   By engaging a prospect with customer stories at every stage of the buying journey, customer story attribution is validated.   Reports and analytics show how closed deals was influenced by customer, product, media channel, and time.  Funding during budgeting cycles will be easy to get.</p>



              </div> <!-- /.tab-pane -->



            <div class="tab-pane fade" id="integrations">

              <div class="heading-block">
                <h3>
                  Easy integrations to the most popular CRM applications
                </h3>
              </div> <!-- /.heading-block -->

              <p>Customer Stories integrates into the most popular CRM tools through Zapier.  The use case integrations include:
<li>Upon closed deal, automatically creates a story pipeline in Customer Stories ready for curation decision </li>
<li>For Audience targeting, connects to your list for look-alike modeling and ad channel matching</li>
<li>Automatically push customer stories into CRM customer reference dashboard</li>
</p>



              </div> <!-- /.tab-pane -->

          </div> <!-- /.tab-content -->

        </div> <!-- /.col -->

      </div> 
   
  
  
  
  
    <div class='col-md-6'>
      <p class='lead'>Story Narration</p>
      <div class="well" style='position:relative'>
        <div class="container-fluid">

          <div class="row" style='margin-top:10px'>

            <div id='edit-story-situation'
                  style='position:absolute; right:20px; margin-top:-3px'>
                <span class='glyphicon glyphicon-pencil bip-clickable'></span>
            </div>

            <div class='col-md-11' id='story-situation'>
              <strong>Situation:&nbsp&nbsp</strong>
              <%= best_in_place @story, :situation, as: :textarea, url: story_path(@story),
                  activator: '#edit-story-situation',
                  place_holder: 'Add story situation ...',
                  html_attrs: { style: 'width:100%' } %>
            </div>

          </div> <br>

          <div class="row">

            <div id='edit-story-challenge'
                  style='position:absolute; right:20px; margin-top:-3px'>
                <span class='glyphicon glyphicon-pencil bip-clickable'></span>
            </div>

            <div class='col-md-11' id='story-challenge'>
              <strong>Challenge:&nbsp&nbsp</strong>
              <%= best_in_place @story, :challenge, as: :textarea, url: story_path(@story),
                  activator: '#edit-story-challenge',
                  place_holder: 'Add story challenge ...',
                  html_attrs: { style: 'width:100%' } %>

            </div>
          </div> <br>

          <div class="row">

            <div id='edit-story-solution'
                  style='position:absolute; right:20px; margin-top:-3px'>
                <span class='glyphicon glyphicon-pencil bip-clickable'></span>
            </div>

            <div class='col-md-11' id='story-solution'>
              <strong>Solution:&nbsp&nbsp</strong>
              <%= best_in_place @story, :solution, as: :textarea, url: story_path(@story),
                  activator: '#edit-story-solution',
                  place_holder: 'Add story solution ...',
                  html_attrs: { style: 'width:100%' } %>

            </div>
          </div> <br>

          <div class="row">

            <div id='edit-story-results'
                  style='position:absolute; right:20px; margin-top:-3px'>
                <span class='glyphicon glyphicon-pencil bip-clickable'></span>
            </div>

            <div class='col-md-11' id='story-results'>
              <strong>Results:&nbsp&nbsp</strong>
              <%= best_in_place @story, :results, as: :textarea, url: story_path(@story),
                  activator: '#edit-story-results',
                  place_holder: 'Add story results ...',
                  html_attrs: { style: 'width:100%' } %>

            </div>
          </div> <br>

        </div>
      </div>  <!-- well -->
    </div>  <!-- col-md-8 -->
    


</div>  <!-- container -->
 </div> <!-- /.container -->
