
<% content_for :head do %>
  <!-- turbolinks caching problematic with linkedin widgets  -->
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<!-- include templates for both show and edit -->
<% content_for :underscore_templates do %>
  <%= render 'companies/crowdsource/success_details_template' %>
  <%= render 'companies/crowdsource/contributor_template' %>
  <%= render 'companies/crowdsource/csp_linkedin_widget_template' %>
  <%= render 'companies/crowdsource/successes_table_header_template' %>
  <%= render 'companies/crowdsource/successes_dropdown_template' %>
  <%= render 'companies/crowdsource/contributors_table_header_template' %>
  <%= render 'companies/crowdsource/contributors_dropdown_template' %>
  <%= render 'companies/promote/adwords_status_dropdown_template' %>
  <%= render 'stories/shared/edit/video_template' %>
  <%= render 'stories/shared/edit/prompt_template' %>
  <%= render 'stories/shared/edit/result_template' %>
<% end %>

<div id="wrapper">

  <%= render 'shared/company_navbar',
          { company: @company, workflow_stage: 'curate' } %>

  <div class="content clip">
    <div class='container'>

      <div class="layout layout-main-right layout-stack-sm">
        <div class="col-md-3 col-sm-4 layout-sidebar">

          <%= render 'stories/edit/side_tabs' %>

        </div>

        <div class="col-md-9 col-sm-8 layout-main">
          <div class="tab-content stacked-content">

            <div class="row">
              <h4><%= @story.title %></h4>
            </div>

            <div id='story-settings-tab-pane' class="tab-pane fade in active"
                 data-success-id="<%= @story.success.id %>" data-story-id="<%= @story.id %>" >

            </div>

            <div id='story-content-tab-pane' class="tab-pane">

            </div>

            <div id='curate-contributors-tab-pane' class="tab-pane">

              <%= render 'companies/crowdsource/contributors_table',
                    { company: @company, workflow_stage: 'curate' } %>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>


