
<% content_for :head do %>
  <!-- turbolinks caching problematic with linkedin widgets  -->
  <meta name="turbolinks-cache-control" content="no-cache">
  <%= render 'stories/shared/contribution_cards_template' %>
  <%= render 'stories/shared/edit_prompts_template' %>
  <%= render 'stories/shared/edit_results_template' %>
<% end %>

<%= render 'stories/shared/new_contributor_modal' %>
<%= render 'stories/shared/email_confirmation_modal' %>

<div class="wrapper">

  <%= render 'shared/mainnav' %>

  <div class="content">
    <div class='container' style='margin-top:30px'>
      <!-- settings, title, quote, video -->
      <div class='row'>

        <div class='col-sm-4' style='margin-top:-8px'>  <!-- story settings -->

          <h2 style='color:#444444; margin-bottom:12px'>
            <%= @customer.name %>
          </h2>

          <%= render 'stories/shared/story_edit_settings.html.erb' %>

        </div><!--

     --><div class="col-sm-4">

          <p class='lead'>Title</p>
          <%= render 'stories/shared/story_edit_title' %>

          <p class='lead'>Customer Quote</p>
          <%= render 'stories/shared/story_edit_quote' %>

        </div>  <!-- title and quote -->

        <!-- video -->
        <div class='col-sm-4'>

          <p class='lead'>Video</p>
          <%= render 'stories/shared/story_edit_video' %>

        </div>  <!-- video -->

      </div>  <!-- settings, title, quote, video -->

      <!-- tags -->
      <p class='lead' style='display:inline-block'>Tags</p>
      <button type='submit' class='edit-tags hidden btn btn-sm btn-primary'
        style='display:inline-block; margin-left:15px; margin-bottom:8px' form='story-tags-form'>
        Save changes
      </button>
      <!-- <button id='edit-tags-cancel' class='edit-tags hidden btn btn-sm btn-default'
          style='display:inline-block; margin-bottom:8px'>
        Cancel
      </button>  --> <!-- tags -->

      <!-- tags form -->
      <div class="row" style='margin-bottom: 15px'>
        <div class="col-sm-12">
          <div class="well" style='margin-bottom:10px'>
            <div class="container-fluid">

              <%= render 'stories/shared/story_edit_tags_form',
                          { story: @story,
                            categories: @categories,
                            categories_pre_select: @categories_pre_select,
                            products: @products,
                            products_pre_select: @products_pre_select } %>

            </div>
          </div>
        </div>
      </div>  <!-- tags form -->

      <!-- prompts and results-->
      <div class="row">

        <div class="col-sm-6">
          <p class='lead' style='display:inline-block'>Prompts</p>
          <div class="well" style="position:relative">

            <%= render '/stories/shared/story_edit_prompts' %>

          </div>
        </div>

        <div class="col-sm-6">
          <p class='lead' style='display:inline-block'>Results</p>
          <div class="well" style="position:relative">

            <%= render '/stories/shared/story_edit_results' %>

          </div>
        </div>

      </div>  <!-- prompts and results -->

      <div class="row">
        <div class="col-sm-6">
          <p class='lead'>Contributions</p>
        </div>
        <div class="col-sm-6" style='position:relative'>
          <p class='lead' style='display:inline-block;margin-right:10px'>
            Story Narration
          </p>
          <span id='edit-story-content' style='position:absolute'
                class='glyphicon glyphicon-pencil bip-clickable'></span>
          <button type='submit' class='hidden btn btn-sm btn-primary'
                  form='story-content-form' style='position:absolute;left:205px'>
            Save changes
          </button>
          <input type='reset' class='hidden btn btn-sm btn-default'
                  form='story-content-form' style='position:absolute;left:310px'
                  value='Cancel'>
        </div>
      </div>

      <div class="row">  <!-- content -->

        <!-- <div class="layout layout-main-right layout-stack-sm"> -->

          <!-- Contributors nav -->
          <div class="col-sm-4 col-md-2 layout-sidebar" style='padding-top:0'>

            <%= render 'stories/shared/contributions_side_tabs' %>

          </div> <!-- .col-sm-2 contributions navigation -->

          <!-- Contributors list -->
          <div class="col-sm-8 col-md-4 layout-main" style='padding-top:0'>

            <div class="tab-content stacked-content contribution-cards">

              <%= render 'stories/shared/story_edit_pre_request_contributions' %>

              <%= render 'stories/shared/story_edit_in_progress_contributions' %>

              <%= render 'stories/shared/story_edit_nextsteps_contributions' %>

              <%= render 'stories/shared/story_edit_contribution_contributions' %>

              <%= render 'stories/shared/story_edit_connection_contributions' %>

            </div> <!-- tab-content -->

          </div>  <!-- Contributors list -->

          <!-- Story content -->
          <div class='col-sm-6'>
            <%= form_for @story,
                  url: story_path(@story.id), html: { id: 'story-content-form' },
                  method: :put, remote: true do |f| %>

              <%= f.text_area :content, id: 'story-content-editor',
                    data: { provider: 'summernote' } %>

            <% end %>
          </div>

        <!-- </div>  --> <!-- layout -->

      </div>  <!-- row -->
    </div>  <!-- container -->
  </div>
</div>  <!-- wrapper -->










