<div class='container'>
  <div class='row' style='margin-top: 15px'>

    <div class="col-md-2">

      <div>
        <label for="publish-story">Publish</label>
        <input type="checkbox" id='publish-story'>
      </div>

      <div class='row text-center'>
        <%= link_to 'Preview', story_path(@story),
          class: 'btn btn-primary' %>
      </div class='row'>

    </div>

    <div class="form-inline">

      <div class="form-group col-md-3">
        <%= label_tag 'Industry tags', nil, class: 'control-label' %>
        <!-- Note the necessary '[]' notation below  -->
        <!-- if not present, will only return a single value  -->
        <%= select_tag "story[:industry_tags][]",
            options_for_select(@industries_select),
            { multiple: 'true', class: 'story-tags form-control',
              style: 'width:100%'} %>
      </div>
    <!-- </div> -->

    <!-- <div class="form-inline"> -->
      <div class="form-group col-md-3">
        <%= label_tag 'Product Category tags', nil, class: 'control-label' %>
        <%= select_tag "story[:product_cat_tags][]",
            options_for_select(@product_cats_select),
            { multiple: 'true', class: 'story-tags form-control',
              style: 'width:100%'} %>
      </div>
    <!-- </div> -->

    <!-- <div class="form-inline"> -->
      <div class="form-group col-md-3">
        <%= label_tag 'Product tags', nil, class: 'control-label' %>
        <%= select_tag "story[:product_tags][]",
            options_for_select(@products_select),
            { multiple: 'true', class: 'story-tags form-control',
              style: 'width:100%'} %>
      </div>

      <!-- <div class="col-md-1">
        <button>submit tags</button>
      </div> -->


    </div>  <!-- form -->
  </div>  <!-- row -->



  <div class='row' style='margin-top:15px'>

    <div class= 'col-md-3'>
      <div class='row'>
        <div class='col-md-11 text-center'>
          <img src="https://logo.clearbit.com/<%= @story.success.customer.name %>.com"
              style="height:180px; width:180px">
        </div>
      </div>
    </div>

    <div class="col-md-4 well" id='story-quote-well'>

      <div class='container-fluid'>

        <div class="row">

          <div id='edit-story-quote' class='col-md-2 pull-right'
              style='margin-top:-2px'>
            <span class='glyphicon glyphicon-pencil bip-clickable'></span>
          </div>

          <div id='story-quote' class="col-md-10">
            <!-- http://stackoverflow.com/questions/13561533 -->
            <%= best_in_place @story, :quote, as: :textarea, url: story_path(@story),
              display_with: lambda { |text| story_quote(text) }, sanitize: false,
              html_attrs: { style: 'width: 100%' },
              activator: '#edit-story-quote', place_holder: "Add a customer quote..."
              %>
          </div>

        </div>  <!-- row --> <br>

        <div class="row">

          <div id='edit-story-quote-attr' class='col-md-2 pull-right'
              style='margin-top:-4px'>

            <span class='glyphicon glyphicon-pencil bip-clickable'></span>

          </div>

          <div id='story-quote-attr' class='col-md-10'>

            <%= best_in_place @story, :quote_attr, url: story_path(@story),
              activator: '#edit-story-quote-attr', place_holder: "Quote attribution...",
              html_attrs: { style: 'width: 100%' } %>

          </div>

        </div> <!-- row -->

      </div>  <!-- container -->
    </div>  <!-- well -->

</div>



