
<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
  <%= render_seo_meta_tags('index', @company) if production? %>
<% end %>

<% content_for(:underscore_templates) do %>

  <%= render 'stories/index/index_template', { company: @company } %>
  <%#= render 'companies/1_prospect/contributors/csp_linkedin_widget_template' %>

<% end %>

<%= render('shared/navbars/stories_header', { company: @company, story: nil }) %>

<div class="container grid-container">

  <%= render(
        'stories/shared/search_and_filters_xs_sm',
        {
          company: @company,
          pre_selected_filters: @pre_selected_filters,
          applied_filters_results: @applied_filters_results,
          category_results: @category_results,
          product_results: @product_results
        }
      ) %>

  <!-- if no filters, the search input will appear in the header -->
  <% if include_category_filter?(@company) || include_product_filter?(@company) %>

    <%= render(
          'stories/shared/search_and_filters_md_lg',
          {
            company: @company,
            category_select_cache_key: @category_select_cache_key,
            product_select_cache_key: @product_select_cache_key,
            pre_selected_filters: @pre_selected_filters,
            applied_filters_results: @applied_filters_results,
            category_results: @category_results,
            product_results: @product_results,
            both_filters_present: include_category_filter?(@company) && include_product_filter?(@company)
          }
        ) %>

  <% end %>

  <%= render(
        'stories/shared/gallery',
        {
          company: @company,
          stories: @stories,
          cache_key: @stories_gallery_cache_key,
          no_filters_present: !include_category_filter?(@company) && !include_product_filter?(@company),
        }
      ) %>

</div>

<%= render('stories/shared/sign_in_footer') unless user_signed_in? %>
