
<% content_for :head do %>

  <meta name="turbolinks-cache-control" content="no-cache">

  <!-- seo meta tags -->
  <% if production? %>
    <% cache("#{@company.subdomain}/stories-index-meta-tags", expires_in: 1.week) do %>
      <%= render 'stories/index/index_meta_tags', { company: @company } %>
    <% end %>
  <% end %>

<% end %>

<% content_for(:underscore_templates) do %>

  <%= render 'stories/index/index_template', { company: @company } %>
  <%= render 'companies/crowdsource/contributors/csp_linkedin_widget_template' %>

<% end %>

<%= render('shared/navbars/header_2', { company: @company, action: 'index', story: nil }) %>

<div class="container grid-container">

  <div class="visible-xs-block">

    <% if include_filters?(@company) %>

      <%= render(
            'stories/shared/filters/filters_xs',
            { company: @company, pre_selected_filter: @pre_selected_filter }
          ) %>

    <% end %>

    <%= render(
          'stories/shared/gallery',
          { company: @company, stories: @stories, cache_key: @stories_index_cache_key }
        ) %>

  </div>

  <div class="visible-sm-block">

    <% if include_filters?(@company) %>

      <%= render(
            'stories/shared/filters/filters_sm',
            { company: @company, pre_selected_filter: @pre_selected_filter }
          ) %>

    <% end %>

    <%= render(
          'stories/shared/gallery',
          { company: @company, stories: @stories, cache_key: @stories_index_cache_key }
        ) %>

  </div>

  <div class="visible-md-block visible-lg-block">

    <% if include_filters?(@company) %>

      <%= render(
            'stories/shared/filters/filters_md_lg',
            {
              company: @company,
              category_select_cache_key: @category_select_cache_key,
              product_select_cache_key: @product_select_cache_key,
              pre_selected_filter: @pre_selected_filter
            }
          ) %>

    <% end %>

    <div>
      <%= render(
            'stories/shared/gallery',
            { company: @company, stories: @stories, cache_key: @stories_index_cache_key }
          ) %>

    </div>

  </div>

</div>
