
<% content_for :head do %>

  <meta name="turbolinks-cache-control" content="no-cache">

  <%= render 'stories/shared/stories_index_template', { company: @company } %>

  <% cache("#{@company.subdomain}/stories-index-meta-tags", expires_in: 1.week) do %>
    <%= render 'stories/shared/stories_index_meta_tags', { company: @company } %>
  <% end %>

<% end %>

<!-- <div id='wrapper'> -->

  <% if @is_curator %>

    <%= render 'shared/company_navbar',
         { company: @company, is_curator: true, workflow_tab: nil,
           category_select_cache_key: @category_select_cache_key,
           product_select_cache_key: @product_select_cache_key,
           pre_selected_filter: [@filtered_tag_id] } %>

  <% else %>

    <div class="mainnav">
      <div class="container">
        <div class="row">

           <%= render 'stories/shared/stories_filters_xs',
             { company: @company, is_curator: false,
               category_select_cache_key: @category_select_cache_key,
               product_select_cache_key: @product_select_cache_key,
               pre_selected_filter: [@filtered_tag_id] } %>

           <%= render 'stories/shared/stories_filters',
             { company: @company, is_curator: false,
               category_select_cache_key: @category_select_cache_key,
               product_select_cache_key: @product_select_cache_key,
               pre_selected_filter: [@filtered_tag_id] } %>

        </div>
      </div>
    </div>

  <% end %>

  <div id='stories-gallery-content' class="content">
    <div class="container">
      <div class="portlet portlet-default">
        <!--  <div> -->
          <div class='grid' id="stories-gallery">

            <% cache "#{@company.subdomain}/stories-index-memcache-iterator-#{@company.stories_index_memcache_iterator}" do %>

              <% @stories.each do |story| %>

                <% if @is_curator %>

                  <%= render 'stories/shared/curator_story_tile',
                    { company: @company, story: story, customer: story.success.customer } %>

                <% else %>

                  <%= render 'stories/shared/public_story_tile',
                    { company: @company, story: story, customer: story.success.customer } %>

                <% end %>  <!-- if @is_curator -->

              <% end %>  <!-- @stories.each -->

            <% end %>

          </div>
       <!--  </div> -->  <!-- portlet-body -->
      </div>  <!-- portlet -->
    </div>  <!-- container -->
  </div>  <!-- content -->
</div>  <!-- wrapper -->

