
<%= javascript_tag do %>

  $(function () {
    var company = <%= raw @company.to_json %>;

    $('.nav-tabs .active').removeClass('active');

    $('a[role=tab]').on('click', function() {
      window.location =
        '/companies/' + company.id + '?mainnav_tab=' + $(this).attr('aria-controls')
    });
  });

<% end %>

<div id='wrapper'>

  <% if user_signed_in? %>
    <%= render 'shared/mainnav' %>,
  <% else %>

    <div class="mainnav" style='padding-top:5px'>
      <div class="container">
        <form class="form-inline col-sm-7 col-sm-offset-1">
          <div class="form-group text-left">
           <%= label_tag :industries, "Industries", class: 'control-label' %>
           <%= select_tag :industries, options_for_select(@industries),
                  class: 'stories-filter form-control',
                  style: 'min-width: 140px',
                  disabled: (true if @company.feature_flag == 'alpha') %>
          </div>&nbsp;&nbsp;
          <div class="form-group text-left">
           <%= label_tag :products, "Products", class: 'control-label' %>
           <%= select_tag :products, options_for_select(@industries),
                  { class: 'stories-filter form-control',
                    style: 'min-width: 140px',
                 disabled: true } %>

          </div>
        </form>
      </div>
    </div>

  <% end %>

  <div class="content" style='margin-top:30px'>
    <div class="container">
      <div class="portlet portlet-default">
        <div class="portlet-body"
            data-company-id="<%= @company.id %>">

          <div id="stories-gallery">
            <% @story_tiles.each_slice(5) do |stories_row| %>
              <div class='container row' style='margin: 0 auto'>
                <% stories_row.each do |story| %>

                  <div class="col-md-2 text-center" style='margin-left:26px'>
                    <a href="<%= story.published? ?
                        public_story_path(story.success.customer.slug,
                                          story.success.products[0].slug, story.slug) :
                                          'javascript:;' %>" class='story-link'>
                      <div class="thumbnail" style='position:relative'>
                        <!-- <div class="thumbnail-view"> -->

                        <img src="<%= asset_path('video.png') %>" alt="video tag"
                            style='position:absolute; height:25px; left:130px'>

                        <img src="<%= story.success.customer.logo_url || asset_path('company-logo-missing') %>" style='width:95px' >

                        <!-- </div> -->
                      </div> <!-- /.thumbnail -->
                    </a>
                  </div> <!-- /.col -->

                <% end %>
              </div><br><br>
            <% end %>
          </div>
        </div>  <!-- portlet-body -->
      </div>  <!-- portlet -->
    </div>  <!-- container -->
  </div>  <!-- content -->
</div>  <!-- wrapper -->

<!-- underscore template -->
<script type="text/template" id="stories-template">
  {{ successes.each_slice(5, function (successes_row) { }}
    <div class='container row' style='margin: 0 auto'>
      {{ successes_row.forEach (function (success) { }}
        <div class="col-md-2 text-center" style='margin-left:26px'>
          <a href='/stories/{{= success.customer.slug }}/{{= success.products[0].slug }}/{{= success.story.slug }}'
              class='story-link'>
            <div class="thumbnail" style='position:relative'>
              <img src="<%= asset_path('video.png') %>" alt="video tag"
                   style='position:absolute; height:25px; left:130px'>
              {{ if (success.customer.logo_url) { }}
                <img src="{{= success.customer.logo_url }}"
                     style='height:95px' >
              {{ } else { }}
                <img src="<%= asset_path('company-logo-missing.png') %>"
                     style='height:95px' >
              {{ } }}
            </div>
          </a>
        </div>
      {{ }); }}
    </div>
  {{ }); }}
</script>