
<% content_for :head do %>

  <meta name="turbolinks-cache-control" content="no-cache">

  <%= render 'stories/shared/stories_index_template', { company: @company, cached: true } %>

  <%= render 'stories/shared/stories_index_meta_tags', { company: @company, cached: true } %>

<% end %>

<!-- <div id='wrapper'> -->

  <% if company_curator? @company.id %>

    <%= render 'shared/mainnav',
               { company: @company,
                 category_select_options: @category_select_options,
                 category_pre_selected_options: @category_pre_selected_options,
                 product_select_options: @product_select_options,
                 product_pre_selected_options: @product_pre_selected_options,
                 cached: true } %>

  <% else %>

    <div class="mainnav">
      <div class="container">
        <div class="row">

          <%= render 'stories/shared/filters',
                      { company: @company,
                        category_select_options: @category_select_options,
                        category_pre_selected_options: @category_pre_selected_options,
                        product_select_options: @product_select_options,
                        product_pre_selected_options: @product_pre_selected_options,
                        cached: true } %>

        </div>
      </div>
    </div>

  <% end %>

  <div id='stories-gallery-content' class="content">
    <div class="container">
      <div class="portlet portlet-default">
        <!--  <div> -->
          <div class='grid' id="stories-gallery">

            <% @stories.each do |story| %>

              <% if @is_curator %>

                <%= render 'stories/shared/curator_story_tile',
                  { company: @company, story: story, customer: story.success.customer } %>

              <% else %>

                <%= render 'stories/shared/public_story_tile',
                  { company: @company, story: story, customer: story.success.customer } %>

              <% end %>  <!-- if @is_curator -->

            <% end %>  <!-- @stories.each -->

          </div>
       <!--  </div> -->  <!-- portlet-body -->
      </div>  <!-- portlet -->
    </div>  <!-- container -->
  </div>  <!-- content -->
</div>  <!-- wrapper -->

