
<% content_for :head do %>

  <meta name="turbolinks-cache-control" content="no-cache">
  <%= render 'stories/shared/stories_index_template', { company: @company } %>
  <%= render 'stories/shared/stories_index_meta_tags', { company: @company } %>

<% end %>

<!-- <div id='wrapper'> -->

  <% if company_curator? @company.id %>

    <%= render 'shared/mainnav',
                  { company: @company,
                    category_select_options: @category_select_options,
                    category_pre_selected_options: @category_pre_selected_options,
                    product_select_options: @product_select_options,
                    product_pre_selected_options: @product_pre_selected_options } %>

  <% else %>

    <div class="mainnav">
      <div class="container">
        <div class="row">

          <%= render 'stories/shared/filters',
                      { company: @company,
                        category_select_options: @category_select_options,
                        category_pre_selected_options: @category_pre_selected_options,
                        product_select_options: @product_select_options,
                        product_pre_selected_options: @product_pre_selected_options } %>

        </div>
      </div>
    </div>

  <% end %>

  <div id='stories-gallery-content' class="content">
    <div class="container">
      <div class="portlet portlet-default">
        <!--  <div> -->
          <div class='grid' id="stories-gallery">

            <% @stories.each do |story| %>

              <a href="<%= grid_item_link(@company.id, story) %>"
                 style="<%= !@is_curator && !story.published ? 'pointer-events:none' : ''%>">
                <div class="grid-item thumbnail
                     <%= !@is_curator && !story.published ? 'no-caption' : '' %>">

                    <img src="<%= story.success.customer.logo_url || asset_path('company-logo-missing.png') %>">

                  <% if @is_curator || story.logo_published? %>
                    <div class="caption"
                        style="<%= grid_item_caption_style(@company, story) %>">
                      <%= grid_item_caption_text(@company.id, story) %>
                    </div>
                  <% end %>

                </div>
              </a>

            <% end %>

          </div>
       <!--  </div> -->  <!-- portlet-body -->
      </div>  <!-- portlet -->
    </div>  <!-- container -->
  </div>  <!-- content -->
</div>  <!-- wrapper -->

<!-- currently unused template
<script type='text/template' id='stories-filters-template'>
  <div id='stories-filters'
       class="form-inline hidden-xs {{= isCurator ? 'curator' : '' }} ">

    {{ if (categorySelectOptions.length > 2) { }}

      <div class='form-group'>
        <label for='category_select'>Category</label>
        <select name='category_select' id='category_select'
                class='stories-filter form-control'
                tabindex='-1'>
          {{ categorySelectOptions.forEach(function (option, index) { }}
               {{ if (index === 0) { }}
                    <option value="0">All</option>
               {{ } else { }}
                    <option data-slug="{{= option[2].data.slug }}"
                            value="{{= option[1] }}">
                      {{= option[0] }}
                    </option>
               {{ } }}
          {{ }); }}
        </select>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;

    {{ } }}

    {{ if (productSelectOptions.length > 2) { }}

      <div class='form-group'>
        <label for='product_select'>Product</label>
        <select name='product_select' id='product_select'
                class='stories-filter form-control'
                tabindex='-1'>
          {{ productSelectOptions.forEach(function (option, index) { }}
               {{ if (index === 0) { }}
                    <option value="0">All</option>
               {{ } else { }}
                    <option data-slug="{{= option[2].data.slug }}"
                            value="{{= option[1] }}">
                      {{= option[0] }}
                    </option>
               {{ } }}
          {{ }); }}
        </select>
      </div>

    {{ } }}

  </div>
</script>
-->
