
<%= javascript_tag do %>

  $(function () {
    var company = <%= raw @company.to_json %>;

    $('.nav-tabs .active').removeClass('active');

    $('.mainnav a[role=tab]').on('click', function() {
      if ((company.feature_flag == 'alpha' ||
           company.feature_flag == 'beta') &&
           $(this).attr('aria-controls') === 'measure') {
        return false;
      } else {
        window.location =
          '/companies/' + company.id + '?mainnav_tab=' + $(this).attr('aria-controls')
      }
    });
  });

<% end %>

<%= render 'stories/shared/story_index_meta_tags', { company: @company } %>

<!-- <div id='wrapper'> -->

  <% if company_curator? @company.id %>

    <%= render 'shared/mainnav',
                  { company: @company,
                    category_select_options: @category_select_options,
                    category_pre_selected_options: @category_pre_selected_options,
                    product_select_options: @product_select_options,
                    product_pre_selected_options: @product_pre_selected_options } %>

  <% else %>

    <div class="mainnav">
      <div class="container">
        <div class="row">

          <%= render 'stories/shared/filters',
                      { company: @company,
                        category_select_options: @category_select_options,
                        category_pre_selected_options: @category_pre_selected_options,
                        product_select_options: @product_select_options,
                        product_pre_selected_options: @product_pre_selected_options } %>

        </div>
      </div>
    </div>

  <% end %>

  <div id='stories-gallery-content' class="content">
    <div class="container">
      <div class="portlet portlet-default">
       <!--  <div
            > -->
          <div class='grid' id="stories-gallery" data-company-id="<%= @company.id %>"
              style='visibility:hidden'>

            <% @story_tiles.each do |success| %>

              <div class="grid-item thumbnail
                   <%= !@is_curator && !success.story.published ? 'no-caption' : '' %>">

                <a data-no-turbolink href="<%= grid_item_link(@company.id, success.story) %>">
                  <img src="<%= success.customer.logo_url || asset_path('company-logo-missing.png') %>">
                </a>

                <% if @is_curator || success.story.logo_published? %>
                <div class="caption"
                    style="<%= grid_item_caption_style(@company, success.story) %>">
                  <%= grid_item_caption_text(@company.id, success.story) %>
                </div>
                <% end %>

              </div>

            <% end %>

          </div>
       <!--  </div> -->  <!-- portlet-body -->
      </div>  <!-- portlet -->
    </div>  <!-- container -->
  </div>  <!-- content -->
</div>  <!-- wrapper -->

<!-- underscore template -->
<script type="text/template" id="stories-template">
  {{ storyTiles.forEach(function (success) { }}

    <div class="grid-item thumbnail
          {{= !isCurator && !success.story.published ? 'no-caption' : '' }}">

      <a data-no-turbolink href="{{= success.path || 'javascript:;' }}">
        {{ if (success.customer.logo_url) { }}
          <img src="{{= success.customer.logo_url }}">
        {{ } else { }}
          <img src="<%= asset_path('company-logo-missing.png') %>">
        {{ } }}
      </a>

      {{ if (success.story.published) { }}

        <div class="caption"
          style="background-color:<%= @company.nav_color_1 %>;
                 color:<%= @company.nav_text_color %>;}}">
          Read story
        </div>

      {{ } else if (isCurator) { }}

        <div class="caption"
          style="background-color:{{= '#f5f5f5' }}">
          {{= success.story.logo_published ? 'Logo published' : 'Pending curation' }}
        </div>

      {{ } }}

    </div>

  {{ }); }}
</script>