
<% content_for :head do %>

  <meta name="turbolinks-cache-control" content="no-cache">

  <!-- underscore template -->
  <script type="text/template" id="stories-template">

    {{ stories.forEach(function (story) { }}

      <div class="grid-item thumbnail
            {{= !isCurator && !story.published ? 'no-caption' : '' }}">

        <a href="{{= (story.published && story.csp_story_path) || (isCurator && '/stories/' + story.id + '/edit') || 'javascript:;' }}">
          {{ if (story.success.customer.logo_url) { }}
            <img src="{{= story.success.customer.logo_url }}">
          {{ } else { }}
            <img src="<%= asset_path('company-logo-missing.png') %>">
          {{ } }}
        </a>

        {{ if (story.published) { }}

          <div class="caption"
            style="background-color:<%= @company.nav_color_1 %>;
                   color:<%= @company.nav_text_color %>;}}">
            Read story
          </div>

        {{ } else if (isCurator) { }}

          <div class="caption" style="background-color:#f5f5f5">
            {{= story.logo_published ? 'Logo published' : 'Pending curation' }}
          </div>

        {{ } }}

      </div>

    {{ }); }}
  </script>

<% end %>

<%= render 'stories/shared/story_index_meta_tags', { company: @company } %>

<!-- <div id='wrapper'> -->

  <% if company_curator? @company.id %>

    <%= render 'shared/mainnav',
                  { company: @company,
                    category_select_options: @category_select_options,
                    category_pre_selected_options: @category_pre_selected_options,
                    product_select_options: @product_select_options,
                    product_pre_selected_options: @product_pre_selected_options } %>

  <% else %>

    <div class="mainnav">
      <div class="container">
        <div class="row">

          <%= render 'stories/shared/filters',
                      { company: @company,
                        category_select_options: @category_select_options,
                        category_pre_selected_options: @category_pre_selected_options,
                        product_select_options: @product_select_options,
                        product_pre_selected_options: @product_pre_selected_options } %>

        </div>
      </div>
    </div>

  <% end %>

  <div id='stories-gallery-content' class="content">
    <div class="container">
      <div class="portlet portlet-default">
       <!--  <div
            > -->
          <div class='grid' id="stories-gallery" data-company-id="<%= @company.id %>">

            <% @stories.each do |story| %>

              <div class="grid-item thumbnail
                   <%= !@is_curator && !story.published ? 'no-caption' : '' %>">

                <a href="<%= grid_item_link(@company.id, story) %>">
                  <img src="<%= story.success.customer.logo_url || asset_path('company-logo-missing.png') %>">
                </a>

                <% if @is_curator || story.logo_published? %>
                  <div class="caption"
                      style="<%= grid_item_caption_style(@company, story) %>">
                    <%= grid_item_caption_text(@company.id, story) %>
                  </div>
                <% end %>

              </div>

            <% end %>

          </div>
       <!--  </div> -->  <!-- portlet-body -->
      </div>  <!-- portlet -->
    </div>  <!-- container -->
  </div>  <!-- content -->
</div>  <!-- wrapper -->

<!-- currently unused template
<script type='text/template' id='stories-filters-template'>
  <div id='stories-filters'
       class="form-inline hidden-xs {{= isCurator ? 'curator' : '' }} ">

    {{ if (categorySelectOptions.length > 2) { }}

      <div class='form-group'>
        <label for='category_select'>Category</label>
        <select name='category_select' id='category_select'
                class='stories-filter form-control'
                tabindex='-1'>
          {{ categorySelectOptions.forEach(function (option, index) { }}
               {{ if (index === 0) { }}
                    <option value="0">All</option>
               {{ } else { }}
                    <option data-slug="{{= option[2].data.slug }}"
                            value="{{= option[1] }}">
                      {{= option[0] }}
                    </option>
               {{ } }}
          {{ }); }}
        </select>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;

    {{ } }}

    {{ if (productSelectOptions.length > 2) { }}

      <div class='form-group'>
        <label for='product_select'>Product</label>
        <select name='product_select' id='product_select'
                class='stories-filter form-control'
                tabindex='-1'>
          {{ productSelectOptions.forEach(function (option, index) { }}
               {{ if (index === 0) { }}
                    <option value="0">All</option>
               {{ } else { }}
                    <option data-slug="{{= option[2].data.slug }}"
                            value="{{= option[1] }}">
                      {{= option[0] }}
                    </option>
               {{ } }}
          {{ }); }}
        </select>
      </div>

    {{ } }}

  </div>
</script>
-->
