
<% content_for :head do %>

  <meta name="turbolinks-cache-control" content="no-cache">

  <% if production? %>
    <% cache("#{@company.subdomain}/stories-index-meta-tags", expires_in: 1.week) do %>
      <%= render 'stories/shared/stories_index_meta_tags', { company: @company } %>
    <% end %>
  <% end %>

<% end %>

<% if @is_curator %>

  <%= render 'shared/company_navbar',
       { company: @company, is_curator: true, workflow_tab: nil,
         category_select_cache_key: @category_select_cache_key,
         product_select_cache_key: @product_select_cache_key,
         pre_selected_filter: @pre_selected_filter } %>

<% else %>

  <div class="mainnav">
    <div class="container">
      <div class="row">

         <%= render 'stories/shared/stories_filters_xs',
           { company: @company, is_curator: false,
             category_select_cache_key: @category_select_cache_key,
             product_select_cache_key: @product_select_cache_key,
             pre_selected_filter: @pre_selected_filter } %>

         <%= render 'stories/shared/stories_filters',
           { company: @company, is_curator: false,
             category_select_cache_key: @category_select_cache_key,
             product_select_cache_key: @product_select_cache_key,
             pre_selected_filter: @pre_selected_filter } %>

      </div>
    </div>
  </div>

<% end %>

<div class="container grid-container">
  <ul class='list-unstyled text-center' id="stories-gallery">

    <% cache(@stories_index_cache_key, skip_digest: true) do %>

      <% if @is_curator %>

        <% @stories.each do |story| %>

          <%= render 'stories/shared/curator_story_tile',
              { company: @company, story: story,
                customer: story.success.customer } %>

        <% end %>

      <% else %>

        <% @stories.each do |story| %>

          <%= render 'stories/shared/public_story_tile',
              { company: @company, story: story,
                customer: story.success.customer } %>

        <% end %>

      <% end %>

    <% end %>

  </ul>
</div>

<%= render 'stories/shared/stories_index_template', { company: @company } %>
