<div id='wrapper'>
  <div class="content">
    <div class="container">

      <!-- .mainnav class puts the fading graphic underneath the headline -->
      <div class="mainnav"
           style="color:#999999; margin-bottom:35px; min-height:55px">
        <div class="row" style='padding-top:10px;'>

          <div class="col-sm-2 vcenter">
            <% if user_signed_in? %>
              <%= link_to company_path(current_user.company), class: 'csp-nav' do %>
                <span class='glyphicon glyphicon-chevron-left'
                    style='color:#337ab7; margin-right:5px'>
                </span><span>Curate Stories</span>
              <% end %>
            <% end %>
          </div><!--

       --><div class="col-sm-10 vcenter">
             <div class="form-horizontal">
             <%= label_tag :industries, "Filter", class: 'control-label col-sm-1' %>
             <div class="col-sm-11">
             <%= select_tag "industries", options_for_select(@industries),
                    { class: 'stories-filter form-control',
                      style: 'width:25%' } %>
             </div>
             </div>
          </div>

        </div>
      </div>  <!-- mainnav -->

      <div class="portlet portlet-default">
        <div id='stories-gallery' class="portlet-body"
            data-company-id="<%= @company.id %>">

          <!-- TODO: Make this responsive -->
          <% @stories.each_slice(5) do |stories_row| %>
            <div class='container row' style='margin: 0 auto'>
              <% stories_row.each do |story| %>

                <div class="col-md-2 text-center" style='margin-left:26px'>
                  <a href='/stories/<%= story.id %>' class='story-link'>
                    <div class="thumbnail" style='position:relative'>
                      <!-- <div class="thumbnail-view"> -->

                      <img src="<%= asset_path('video.png') %>" alt="video tag"
                          style='position:absolute; height:25px; left:130px'>

                      <img src="<%= story.success.customer.logo_url || asset_path('company-logo-missing') %>" style='width:95px' >

                      <!-- </div> -->
                    </div> <!-- /.thumbnail -->
                  </a>
                </div> <!-- /.col -->

              <% end %>
            </div><br><br>
          <% end %>

        </div>  <!-- portlet-body -->
      </div>  <!-- portlet -->
    </div>  <!-- container -->
  </div>  <!-- content -->
</div>  <!-- wrapper -->

<!-- underscore template -->
<script type="text/template" id="stories-template">
  {{ stories.each_slice(5, function (stories_row) { }}
    <div class='container row' style='margin: 0 auto'>
      {{ stories_row.forEach (function (story) { }}
        <div class="col-md-2 text-center" style='margin-left:26px'>
          <a href='/stories/{{= story.story.id }}' class='story-link'>
            <div class="thumbnail" style='position:relative'>
              <img src="<%= asset_path('video.png') %>" alt="video tag"
                   style='position:absolute; height:25px; left:130px'>
              {{ if (story.customer.logo_url) { }}
                <img src="{{= story.customer.logo_url }}.com"
                     style='height:95px' >
              {{ } else { }}
                <img src="<%= asset_path('company-logo-missing.png') %>"
                     style='height:95px' >
              {{ } }}
            </div>
          </a>
        </div>
      {{ }); }}
    </div>
  {{ }); }}
</script>