<div id='wrapper'>
  <div class="content">
    <div class="container">

      <% if user_signed_in? %>
        <!-- provide a link to Curation only if logged in -->
        <%= link_to company_path(current_user.company), class: 'csp-nav' do %>
          <span class='glyphicon glyphicon-chevron-left'
              style='color:#337ab7; margin-top:20px; margin-right:5px'>
          </span><span>Curate Stories</span>
        <% end %>
      <hr>
      <% end %>

      <!-- .mainnav class puts the fading graphic underneath the headline -->
      <div class="mainnav"
           style="color:#999999; margin-top:5px; margin-bottom:40px">
        <div class="row">
          <div class='col-md-2 text-center vcenter'>

            <img src="<%= @company.logo_url %>"
                alt="Company Logo" style="width:125px">

          </div>
          <!-- <div class="col-md-2 vcenter">

            <h2 style="margin:0">Customers</h2>

          </div> -->
          <div class="col-md-2 vcenter">

             <%= select_tag "industries", options_for_select(@industries),
                    { class: 'stories-filter form-control',
                      style: 'width:100%' } %>
          </div>
        </div>
      </div>  <!-- mainnav -->

      <div class="portlet portlet-default">
        <div id='stories-gallery' class="portlet-body"
            data-company-id="<%= @company.id %>">

          <!-- TODO: Make this responsive -->
          <% @stories.each_slice(5) do |stories_row| %>
            <div class='container row' style='margin: 0 auto'>
              <% stories_row.each do |story| %>

                <div class="col-md-2 text-center" style='margin-left:26px'>
                  <a href='/stories/<%= story.id %>' class='story-link'>
                    <div class="thumbnail" style='position:relative'>
                      <!-- <div class="thumbnail-view"> -->

                      <img src="<%= asset_path('video.png') %>" alt="video tag"
                          style='position:absolute; height:25px; left:130px'>

                      <img src="https://logo.clearbit.com/<%= story.success.customer.name.downcase %>.com" style='height:95px' >

                      <!-- </div> -->
                    </div> <!-- /.thumbnail -->
                  </a>
                </div> <!-- /.col -->

              <% end %>
            </div><br><br>
          <% end %>

        </div>  <!-- portlet-body -->
      </div>  <!-- portlet -->
    </div>  <!-- container -->
  </div>  <!-- content -->
</div>  <!-- wrapper -->

<!-- underscore template -->
<script type="text/template" id="stories-template">
  {{ stories.each_slice(5, function (stories_row) { }}
    <div class='container row' style='margin: 0 auto'>
      {{ stories_row.forEach (function (story) { }}
        <div class="col-md-2 text-center" style='margin-left:26px'>
          <a href='/stories/{{= story.story.id }}' class='story-link'>
            <div class="thumbnail" style='position:relative'>
              <img src="<%= asset_path('video.png') %>" alt="video tag"
                  style='position:absolute; height:25px; left:130px'>
              <img src="https://logo.clearbit.com/{{= story.customer.name.toLowerCase() }}.com" style='height:95px' >
            </div>
          </a>
        </div>
      {{ }); }}
    </div>
  {{ }); }}
</script>