
<%= javascript_tag do %>

  $(function () {
    var company = <%= raw @company.to_json %>;

    $('.nav-tabs .active').removeClass('active');

    $('.mainnav a[role=tab]').on('click', function() {
      if ((company.feature_flag == 'alpha' ||
           company.feature_flag == 'beta') &&
           $(this).attr('aria-controls') === 'measure') {
        return false;
      } else {
        window.location =
          '/companies/' + company.id + '?mainnav_tab=' + $(this).attr('aria-controls')
      }
    });
  });

<% end %>

<div id='wrapper'>

  <% if company_curator? %>

    <%= render 'shared/mainnav' %>

  <% else %>

    <div class="mainnav">
      <div class="container">
        <div class="row">

          <%= render 'stories/shared/filters' %>

        </div>
      </div>
    </div>

  <% end %>

  <div class="content" style='margin-top:30px'>
    <!-- <div class="container"> -->
      <div class="portlet portlet-default">
        <div
            data-company-id="<%= @company.id %>">
          <div class='grid' id="stories-gallery">

            <% @success_tiles.each do |success| %>

              <div class="grid-item thumbnail">
<div>
                <a data-no-turbolink href="<%= success.story.published? ?
                      csp_story_path(success.story) : 'javascript:;' %>">
                  <img src="<%= success.customer.logo_url || asset_path('company-logo-missing.png') %>">
                </a>
              </div>

                <div class="caption" style="<%= grid_item_caption_style(success) %>">
                  <div><%= grid_item_caption_text(success) %></div>
                </div>

              </div>

            <% end %>

          </div>
        </div>  <!-- portlet-body -->
      </div>  <!-- portlet -->
    <!-- </div>  --> <!-- container -->
  </div>  <!-- content -->
</div>  <!-- wrapper -->

<!-- underscore template -->
<script type="text/template" id="stories-template">
  {{ successTiles.forEach(function (success) { }}
    <div class="grid-item thumbnail">
      <a data-no-turbolink href="{{= success.path || 'javascript:;' }}">
        {{ if (success.customer.logo_url) { }}
          <img src="{{= success.customer.logo_url }}">
        {{ } else { }}
          <img src="<%= asset_path('company-logo-missing.png') %>">
        {{ } }}
      </a>
      <div class="caption"
          style="background-color:<%= @company.nav_color_1 %>;
                 color:<%= @company.nav_text_color %>;
                 visibility:{{= success.story.published ? 'visible' : 'hidden' }}">
        <span>Read story</span>
      </div>
    </div>
  {{ }); }}
</script>