
<%= javascript_tag do %>

  $(function () {
    var company = <%= raw @company.to_json %>;

    $('.nav-tabs .active').removeClass('active');

    $('a[role=tab]').on('click', function() {
      window.location =
        '/companies/' + company.id + '?mainnav_tab=' + $(this).attr('aria-controls')
    });
  });

<% end %>

<div id='wrapper'>

  <% if user_signed_in? %>
    <%= render 'shared/mainnav' %>,
  <% else %>

    <div class="mainnav" style='padding-top:5px'>
      <div class="container">
        <form class="form-inline col-sm-7 col-sm-offset-1">
          <div class="form-group text-left">
           <%= label_tag :industries, "Industry", class: 'control-label' %>
           <%= select_tag :industries, options_for_select(@industries),
                  class: 'stories-filter form-control',
                  style: 'min-width: 140px' %>
          </div>&nbsp;&nbsp;
          <div class="form-group text-left">
           <%= label_tag :products, "Product", class: 'control-label' %>
           <%= select_tag :products, options_for_select(@products),
                  { class: 'stories-filter form-control',
                    style: 'min-width: 140px' } %>

          </div>
        </form>
      </div>
    </div>

  <% end %>

  <div class="content" style='margin-top:30px'>
    <div class="container">
      <div class="portlet portlet-default">
        <div class="portlet-body"
            data-company-id="<%= @company.id %>">
          <div class='grid' id="stories-gallery">

            <% @success_tiles.each do |success| %>
              <div class="grid-item thumbnail">
                <a href="<%= success.story.published? ?
                      public_story_path(
                          success.customer.slug,
                          success.products.try(:[], 0).slug || 'product missing',
                          success.story.slug) : 'javascript:;' %>">
                  <img src="<%= success.customer.logo_url || asset_path('company-logo-missing.png') %>" style='height:95px; width:95px'>
                </a>
                <div class="caption"
                    style="background-color:<%= @company.nav_color_1 %>;
                           color:<%= @company.nav_text_color %>;
                           visibility:<%= success.story.published? ?
                                            'visible' : 'hidden' %>">
                  <span>Read story</span>
                </div>
              </div>
            <% end %>

          </div>
        </div>  <!-- portlet-body -->
      </div>  <!-- portlet -->
    </div>  <!-- container -->
  </div>  <!-- content -->
</div>  <!-- wrapper -->

<!-- underscore template -->
<script type="text/template" id="stories-template">
  {{ successTiles.forEach(function (success) { }}
    <div class="grid-item thumbnail">
      {{ if (!success.products) { }}
        success.products = [{ slug:'product-missing' }];
      {{ } }}
      <a href="{{= success.story.published ? '/' + success.customer.slug + '/' + success.products[0].slug + '/' + success.story.slug : 'javascript:;' }}">
        {{ if (success.customer.logo_url) { }}
          <img src="{{= success.customer.logo_url }}"
              style='height:95px; width:95px' >
        {{ } else { }}
          <img src="<%= asset_path('company-logo-missing.png') %>"
              style='height:95px; width:95px' >
        {{ } }}
      </a>
      <div class="caption"
          style="background-color:<%= @company.nav_color_1 %>;
                 color:<%= @company.nav_text_color %>;
                 visibility:{{= success.story.published ? 'visible' : 'hidden' }}">
        <span>Read their story</span>
      </div>
    </div>
  {{ }); }}
</script>