
<%= javascript_tag do %>

  $(function () {
    var company = <%= raw @company.to_json %>;

    $('.nav-tabs .active').removeClass('active');

    $('a[role=tab]').on('click', function() {
      window.location =
        '/companies/' + company.id + '?mainnav_tab=' + $(this).attr('aria-controls')
    });

  });

<% end %>

<!-- SEO meta tags -->
<% content_for :head do %>
  <meta property='og:title' content="<%= @story.title %>">
  <meta property="og:url" content="<%= @story.csp_story_url %>">
  <meta property='og:image' content="<%= @company.logo_url %>">
  <meta property='og:description'
    content="<%= @company.name + '/' + @story.success.customer.name + ' Customer Story' %>">
  <meta property='og:type' content='article'>
  <meta property='og:site_name' content="Customer Stories">  <!-- ?? -->
  <meta property='fb:app_id' content="<facebook_app_id>">
  <!-- <meta name="twitter:site" content=""> -->
  <!-- <meta name="twitter:creator" content=""> -->
  <!-- <meta name="twitter:url" content="<%#= @story.csp_story_url %>"> -->
  <!-- <meta name="twitter:title" content="<%#= @story.title %>"> -->
  <!-- <meta name="twitter:description" content=""> -->
  <meta name="twitter:card" content="summary">
  <!-- <meta name="twitter:image" content="<%#= @company.logo_url %>"> -->
  <!-- <meta name="twitter:site" content="<%#= @company.website %>"> -->
<% end %>

<%= render 'stories/shared/video_modal' %>

<div class='wrapper'>

  <% if company_curator? @company.id %>

    <%= render 'shared/mainnav' %>

  <% end %>

  <!-- customer name, social sharing  -->
  <div class="mainnav">
    <div class="container">
      <div id='story-header' class="row">

        <div id='story-customer-name' class="hidden-xs col-sm-7 col-md-8">
          <h2><%= @story.success.customer.name %></h2>
        </div>

        <div id='story-customer-name-xs' class="col-xs-12 visible-xs-block">
          <h3><%= @story.success.customer.name %></h3>
        </div>

        <div id='social-buttons' class="col-sm-5 col-md-4 hidden-xs hidden-sm text-center">
          <%= render_shareable buttons: ['twitter', 'linkedin', 'facebook'] %>
        </div>

      </div>
    </div>   <!-- container -->
  </div>  <!-- mainnav -->

  <div id='story-section-testimonial'>
    <div class="container">

        <%= render 'stories/shared/story_show_testimonial',
              { story: @story } %>

    </div>  <!-- logo, quote, video -->
  </div>

  <!-- story content, results, contributing team -->
  <div id='story-section-content'>
    <div class="container">

      <div class='col-sm-6 col-md-7'>
        <div class='well story-narration'>

          <h3><%= @story.title %></h3>

          <div class="story-text visible-md-block visible-lg-block">
            <%= simple_format @story.content %>
          </div>
          <div class="story-text hidden-md hidden-lg">
            <%= simple_format @story.content %>
          </div>

        </div>
      </div>

      <div class='col-sm-6 col-md-5'>

        <div id='story-results' class="well story-text">
          <h3 class='text-center'>Results</h3>
          <% @story.success.results.each do |result| %>
            <i class='fa fa-check'></i>&nbsp;&nbsp;&nbsp;&nbsp;<%= result.description %></p>
          <% end %>
        </div>

        <div class="text-center">
          <h3>Contributing Team</h3>

          <% @contributors.each do |contributor| %>

              <!-- TODO: loading double the widgets due to this approach,
              try jquery instead -->
              <div class="visible-lg">
                <script type="IN/MemberProfile"
                        data-id="<%= contributor.linkedin_url %>"
                        data-format="inline"
                        data-related="true"
                        data-width='420'></script>
              </div>

              <div class="hidden-lg">
                <script type="IN/MemberProfile"
                        data-id="<%= contributor.linkedin_url %>"
                        data-format="inline"
                        data-related="true"
                        data-width='340'></script>
              </div>

          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>  <!-- wrapper -->

