
<!-- turbolinks caching problematic with linkedin widgets  -->
<% content_for :head do %>

  <meta name="turbolinks-cache-control" content="no-cache">

  <%= render 'stories/shared/csp_linkedin_widget_template' %>

  <% if production? %>
    <% cache("#{@company.subdomain}/story-#{@story.id}-meta-tags",
             skip_digest: true, expires_in: 1.week) do %>
      <%= render 'stories/shared/story_meta_tags',
            { company: @company, success: @story.success, story: @story } %>
    <% end %>
  <% end %>

<% end %>

<%= render 'stories/shared/video_modal' %>

<div class='wrapper'>

  <% if @is_curator %>

    <%= render 'shared/company_navbar', { company: @company, workflow_tab: nil } %>

  <% end %>

  <!-- customer name, social sharing  -->
  <!--  -->
  <div class="mainnav" style='min-height:42px!important'>

    <!-- clicky_log class present only for production, so separate the fragments -->
    <% if @is_curator && production? %>

      <% cache("#{@company.subdomain}/curator-story-header-production",
               skip_digest: true) do %>
        <%= render 'stories/shared/story_header',
            { story: @story, is_curator: true, production: true,
              customer: @story.success.customer } %>
      <% end %>

    <% elsif @is_curator %>

      <% cache("#{@company.subdomain}/curator-story-header-not-production",
               skip_digest: true) do %>
        <%= render 'stories/shared/story_header',
            { story: @story, is_curator: true, production: false,
              customer: @story.success.customer  } %>
      <% end %>

    <% elsif production? %>

      <% cache("#{@company.subdomain}/public-story-header-production",
               skip_digest: true) do %>
        <%= render 'stories/shared/story_header',
            { story: @story, is_curator: false, production: true,
              customer: @story.success.customer } %>
      <% end %>

    <% else %>

      <% cache("#{@company.subdomain}/public-story-header-not-production",
               skip_digest: true) do %>
        <%= render 'stories/shared/story_header',
            { story: @story, is_curator: false, production: false,
              customer: @story.success.customer } %>
      <% end %>

    <% end %>

  </div>

<!--   <div class="container">
    <div id='story-customer-name' class="row" style='margin-bottom:10px'>

      <div class='story-nav hidden-xs col-sm-2' style='padding-left:27px'>
        <%#= link_to root_path do %>
          <span class='glyphicon glyphicon-chevron-left'
              style='color:#337ab7; margin-right:5px'>
          </span>More stories</span>
        <%# end %>
      </div>

      <div class='col-xs-12 col-sm-8 text-center'>
        <h3 style='margin-bottom:0'><%#= @story.success.customer.name %></h3>
      </div>

      <div class="col-sm-2">
      </div>

    </div>
  </div> -->

  <div id='story-section-testimonial'>  <!-- includes video -->

    <% cache("#{@company.subdomain}/story-#{@story.id}-testimonial",
             skip_digest: true) do %>
      <%= render 'stories/shared/story_testimonial', { story: @story } %>
    <% end %>

  </div>

  <!-- video (xs only) -->
  <div id='story-section-video-xs'>

    <% cache("#{@company.subdomain}/story-#{@story.id}-video-xs",
             skip_digest: true) do %>
      <%= render 'stories/shared/story_video_xs', { story: @story } %>
    <% end %>

  </div>

  <div id='social-buttons-xs' class="visible-xs text-right">

    <% cache("story-social-buttons-xs", skip_digest: true) do %>
      <%= render 'stories/shared/social_buttons_xs', { story: @story } %>
    <% end %>

  </div>

  <!-- story content, results, contributing team -->
  <div id='story-section-content'>

    <%= render 'stories/shared/story_content',
        { company: @company, story: @story, contributors: @contributors } %>

  </div>

</div>  <!-- wrapper -->

