
<!-- turbolinks caching problematic with linkedin widgets  -->
<% content_for :head do %>

  <meta name="turbolinks-cache-control" content="no-cache">

  <%= render 'stories/shared/csp_linkedin_widget_template' %>

  <% if production? %>
    <% cache("#{@company.subdomain}/story-#{@story.id}-meta-tags",
             skip_digest: true, expires_in: 1.week) do %>
      <%= render 'stories/shared/story_meta_tags',
            { company: @company, success: @story.success, story: @story } %>
    <% end %>
  <% end %>

<% end %>

<%= render 'stories/shared/video_modal' %>

<section class='prev-next' style='font-size:10px;box-sizing:border-box;text-size-adjust:100%'>
  <div class='prev'>
    <a href="<%= @story.previous(@is_curator).csp_story_path %>">
      <div class='prev-arrow'>
        <svg xmlns="http://www.w3.org/2000/svg" role="presentation"
             width="15.8" height="30.3" viewBox="0 0 15.8 30.3"
             preserveAspectRatio="xMinYMin meet">
          <path d="M15.4 27l-11.9-11.9 11.9-11.8c.3-.3.4-.6.4-1s-.1-.7-.4-1c-.5-.5-1.4-.5-1.9 0l-13.2 13.2c-.2.1-.3.4-.3.6 0 .2.1.5.3.7l13.1 13.1c.3.3.6.4 1 .4s.7-.1 1-.4c.3-.3.4-.6.4-1s-.2-.7-.4-.9z"></path>
        </svg>
      </div>
      <img style='max-height:80px;max-width:80%;display:block;margin:auto'src="<%= @story.previous(@is_curator).success.customer.logo_url %>" alt="">
      <span class='link-text'><%= @story.previous(@is_curator).title %></span>
    </a>
    <!-- <a href="/" class='all-stories'>ALL STORIES</a> -->
  </div>
  <div class="next">
    <a href="<%= @story.next(@is_curator).csp_story_path %>">
      <div class='next-arrow'>
        <svg xmlns="http://www.w3.org/2000/svg" role="presentation"
             width="15.8" height="30.3" viewBox="0 0 15.8 30.3"
             preserveAspectRatio="xMinYMin meet">
          <path d="M15.4 27l-11.9-11.9 11.9-11.8c.3-.3.4-.6.4-1s-.1-.7-.4-1c-.5-.5-1.4-.5-1.9 0l-13.2 13.2c-.2.1-.3.4-.3.6 0 .2.1.5.3.7l13.1 13.1c.3.3.6.4 1 .4s.7-.1 1-.4c.3-.3.4-.6.4-1s-.2-.7-.4-.9z"></path>
        </svg>
      </div>
      <img style='max-height:80px;max-width:80%;display:block;margin:auto'src="<%= @story.next(@is_curator).success.customer.logo_url %>" alt="">
      <span class='link-text'><%= @story.next(@is_curator).title %></span>
    </a>
  </div>
</section>

<% if @is_curator %>

  <%= render 'shared/company_navbar', { company: @company, workflow_tab: nil } %>

<% end %>

<div class="mainnav" style='min-height:42px!important'>

  <!-- clicky_log class present only for production, so separate the fragments -->
  <% if @is_curator && production? %>

    <% cache("#{@company.subdomain}/curator-story-header-production",
             skip_digest: true) do %>
      <%= render 'stories/shared/story_header',
          { story: @story, is_curator: true, production: true,
            customer: @story.success.customer } %>
    <% end %>

  <% elsif @is_curator %>

    <% cache("#{@company.subdomain}/curator-story-header-not-production",
             skip_digest: true) do %>
      <%= render 'stories/shared/story_header',
          { story: @story, is_curator: true, production: false,
            customer: @story.success.customer  } %>
    <% end %>

  <% elsif production? %>

    <% cache("#{@company.subdomain}/public-story-header-production",
             skip_digest: true) do %>
      <%= render 'stories/shared/story_header',
          { story: @story, is_curator: false, production: true,
            customer: @story.success.customer } %>
    <% end %>

  <% else %>

    <% cache("#{@company.subdomain}/public-story-header-not-production",
             skip_digest: true) do %>
      <%= render 'stories/shared/story_header',
          { story: @story, is_curator: false, production: false,
            customer: @story.success.customer } %>
    <% end %>

  <% end %>

</div>

<div id='story-section-testimonial'>  <!-- includes video -->

  <% cache("#{@company.subdomain}/story-#{@story.id}-testimonial",
           skip_digest: true) do %>
    <%= render 'stories/shared/story_testimonial', { story: @story } %>
  <% end %>

</div>

<!-- video (xs only) -->
<div id='story-section-video-xs'>

  <% cache("#{@company.subdomain}/story-#{@story.id}-video-xs",
           skip_digest: true) do %>
    <%= render 'stories/shared/story_video_xs', { story: @story } %>
  <% end %>

</div>

<div id='social-buttons-xs' class="visible-xs text-right">

  <% cache("story-social-buttons-xs", skip_digest: true) do %>
    <%= render 'stories/shared/social_buttons_xs', { story: @story } %>
  <% end %>

</div>

<!-- story content, results, contributing team -->
<div id='story-section-content'>

  <%= render 'stories/shared/story_content',
      { company: @company, story: @story, contributors: @contributors } %>

</div>

