
<!-- turbolinks caching problematic with linkedin widgets  -->
<% content_for :head do %>

  <meta name="turbolinks-cache-control" content="no-cache">

  <%= render 'stories/shared/csp_linkedin_widget_template' %>

  <% if production? %>
    <% cache("#{@company.subdomain}/story-#{@story.id}-meta-tags",
                         expires_in: 1.week) do %>
      <%= render 'stories/shared/story_meta_tags',
            { company: @company, success: @story.success, story: @story } %>
    <% end %>
  <% end %>

<% end %>

<%= render 'stories/shared/video_modal' %>

<div class='wrapper'>

  <% if @company.curator?(current_user) %>

    <%= render 'shared/company_navbar', { company: @company, workflow_tab: nil } %>

  <% end %>

  <!-- customer name, social sharing  -->
  <div class="mainnav">

    <!-- clicky_log class present only for production, so separate the fragments -->
    <% if production? %>

      <% cache "#{@company.subdomain}/story-#{@story.id}-header" do %>
        <%= render 'stories/shared/story_header',
            { story: @story, customer: @story.success.customer } %>
      <% end %>

    <% else %>

      <% cache "#{@company.subdomain}/story-#{@story.id}-header-not-production" do %>
        <%= render 'stories/shared/story_header',
            { story: @story, customer: @story.success.customer } %>
      <% end %>

    <% end %>

  </div>

  <div id='story-section-testimonial'>  <!-- includes video -->

    <% cache "#{@company.subdomain}/story-#{@story.id}-testimonial" do %>
      <%= render 'stories/shared/story_testimonial', { story: @story } %>
    <% end %>

  </div>

  <!-- video (xs only) -->
  <div id='story-section-video-xs'>

    <% cache "#{@company.subdomain}/story-#{@story.id}-video-xs" do %>
      <%= render 'stories/shared/story_video_xs', { story: @story } %>
    <% end %>

  </div>

  <div id='social-buttons-xs' class="visible-xs text-right">

    <% cache "story-social-buttons-xs" do %>
      <%= render 'stories/shared/social_buttons_xs', { story: @story } %>
    <% end %>

  </div>

  <!-- story content, results, contributing team -->
  <div id='story-section-content'>

    <%= render 'stories/shared/story_content',
        { company: @company, story: @story, contributors: @contributors } %>

  </div>

</div>  <!-- wrapper -->

