
<!-- turbolinks caching problematic with linkedin widgets  -->
<% content_for :head do %>

  <meta name="turbolinks-cache-control" content="no-cache">

  <%= render 'stories/shared/csp_linkedin_widget_template' %>

  <% if production? %>
    <% Rails.cache.fetch("views/#{@company.subdomain}/story-meta-tags/#{@story.id}",
                         expires_in: 1.week) do %>

      <%= render 'stories/shared/story_meta_tags',
                  { company: @company, success: @story.success, story: @story,
                    products: @products_jsonld, contributors: @contributors_jsonld,
                    about: @about_jsonld } %>
    <% end %>
  <% end %>

<% end %>

<%= render 'stories/shared/video_modal' %>

<div class='wrapper'>

  <% if @company.curator?(current_user) %>

    <%= render 'shared/company_navbar', { company: @company, workflow_tab: nil } %>

  <% end %>

  <!-- customer name, social sharing  -->
  <div class="mainnav">

    <% cache "#{@company.subdomain}/story-header/#{@story.cache_key}" do %>
      <%= render 'stories/shared/story_header',
          { story: @story, customer: @story.success.customer } %>
    <% end %>

  </div>

  <div id='story-section-testimonial'>

    <% cache "#{@company.subdomain}/story-testimonial/#{@story.cache_key}" do %>
      <%= render 'stories/shared/story_testimonial', { story: @story } %>
    <% end %>

  </div>

  <!-- video (xs only) -->
  <div id='story-section-video-xs'>

    <% cache "#{@company.subdomain}/story-video-xs/#{@story.cache_key}" do %>
      <%= render 'stories/shared/story_video_xs', { story: @story } %>
    <% end %>

  </div>

  <div id='social-buttons-xs' class="visible-xs text-right">

    <% cache "#{@company.subdomain}/social-buttons-xs/#{@story.cache_key}" do %>
      <%= render 'stories/shared/social_buttons_xs', { story: @story } %>
    <% end %>

  </div>

  <!-- story content, results, contributing team -->
  <div id='story-section-content'>

    <% cache "#{@company.subdomain}/story-content/#{@story.cache_key}" do %>
      <%= render 'stories/shared/story_content',
          { story: @story, contributors: @contributors } %>
    <% end %>

  </div>

</div>  <!-- wrapper -->

