
<!-- turbolinks caching problematic with linkedin widgets  -->
<% content_for :head do %>

  <meta name="turbolinks-cache-control" content="no-cache">

  <%= render 'stories/shared/csp_linkedin_widget_template' %>

  <% if production? %>
    <% cache("#{@company.subdomain}/story-#{@story.id}-meta-tags",
             skip_digest: true, expires_in: 1.week) do %>
      <%= render 'stories/shared/story_meta_tags',
            { company: @company, success: @story.success, story: @story } %>
    <% end %>
  <% end %>

<% end %>

<%= render 'stories/shared/video_modal' %>

<!--
  why use memcache iterators here?
  because when a given story updates (title, csp_story_path, customer logo_url),
  this expires its prev/next navigation fragment, as well as the parent story.
  but how to know what the parent story is from the context of the story that's
  expiring its prev/next navigation cache?  That would require a costly lookup operation.
  instead, use memcache iterators
-->
<% cache("#{@company.subdomain}/#{@is_curator ? 'curator' : 'public'}/story-#{@story.id}-prev-next-mi-#{@prev_story.prev_next_memcache_iterator}-mi-#{@next_story.prev_next_memcache_iterator}", skip_digest: true) do %>

  <%= render 'stories/shared/prev_next_stories',
        { company: @company, story: @story,
          prev_story: @prev_story, next_story: @next_story } %>

<% end %>

<% if @is_curator %>

  <%= render 'shared/company_navbar', { company: @company, workflow_tab: nil } %>

<% end %>

<div class="mainnav" style='min-height:42px!important;position:relative'>

  <!-- clicky_log class present only for production, so separate the fragments -->
  <% if @is_curator && production? %>

    <% cache("#{@company.subdomain}/curator-story-#{@story.id}-header-production",
             skip_digest: true) do %>
      <%= render 'stories/shared/story_header',
          { story: @story, is_curator: true, production: true,
            customer: @story.success.customer } %>
    <% end %>

  <% elsif @is_curator %>

    <% cache("#{@company.subdomain}/curator-story-#{@story.id}-header-not-production",
             skip_digest: true) do %>
      <%= render 'stories/shared/story_header',
          { story: @story, is_curator: true, production: false,
            customer: @story.success.customer  } %>
    <% end %>

  <% elsif production? %>

    <% cache("#{@company.subdomain}/public-story-#{@story.id}-header-production",
             skip_digest: true) do %>
      <%= render 'stories/shared/story_header',
          { story: @story, is_curator: false, production: true,
            customer: @story.success.customer } %>
    <% end %>

  <% else %>

    <% cache("#{@company.subdomain}/public-story-#{@story.id}-header-not-production",
             skip_digest: true) do %>
      <%= render 'stories/shared/story_header',
          { story: @story, is_curator: false, production: false,
            customer: @story.success.customer } %>
    <% end %>

  <% end %>

</div>

<div id='story-section-testimonial'>  <!-- includes video -->

  <% cache("#{@company.subdomain}/story-#{@story.id}-testimonial",
           skip_digest: true) do %>
    <%= render 'stories/shared/story_testimonial', { story: @story } %>
  <% end %>

</div>

<!-- video (xs only) -->
<div id='story-section-video-xs'>

  <% cache("#{@company.subdomain}/story-#{@story.id}-video-xs",
           skip_digest: true) do %>
    <%= render 'stories/shared/story_video_xs', { story: @story } %>
  <% end %>

</div>

<div id='social-buttons-xs' class="visible-xs text-right">

  <% cache("story-social-buttons-xs", skip_digest: true) do %>
    <%= render 'stories/shared/social_buttons_xs', { story: @story } %>
  <% end %>

</div>

<!-- story content, results, contributing team -->
<div id='story-section-content' style='padding-bottom:15px'>

  <%= render 'stories/shared/story_content',
      { company: @company, story: @story, contributors: @contributors } %>

</div>

<% unless user_signed_in? %>
  <div class='hidden-xs'>
    <div class='container' style='padding:15px 0 15px 0' id='story-footer'>

      <div class="row" style='font-size:0'>
        <div class="col-sm-6" style='display:inline-block;float:none'>
          <a href="<%= csp_landing %>">
            <img src="<%= CS_POWERED_LOGO_URL %>" alt="Powered by Customer Stories">
          </a>
        </div>
        <div class="col-sm-6 text-right" style='display:inline-block;float:none;vertical-align:middle'>
          <h5 style='margin:0'>
          <%= @company.name %> Curators <%= link_to 'Login', new_user_session_path %>

          </h5>
        </div>
      </div>

    </div>
  </div>
<% end %>


</div>

