<div class='container'>

  <%= link_to company_path(current_user.company), class: 'story-nav' do %>
    <span class='glyphicon glyphicon-chevron-left'
        style='color:#337ab7; margin-top:20px; margin-right:5px'>
    </span><span>Curate Stories</span>
  <% end %>
  <hr>

  <%= render 'shared/social_sharing' %>

  <div class= 'col-md-3' style='margin-top:15px'>
    <div class='row'>
      <div class='col-md-11 text-center'>
        <img src="https://logo.clearbit.com/<%= @story.success.customer.name %>.com"
            style="height:180px; width:180px">
      </div>
    </div>
  </div>

  <div class= 'col-md-5' style='margin-top:15px'>
    <div class='row'>
      <div class='col-md-11'>
        <div class='content'>
          <!-- <div class='heading-block heading-minimal heading-center'> -->
            <p class='lead'><em>
              "<%= @story.quote %>"
            </em></p><br>
            <div class='row'>
              <div class='col-md-11 text-right'>
                <p>- <%= @story.quote_attr %></p>
              </div>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class= 'col-md-4' style='margin-top:15px'>
    <div class='row'>
      <iframe width="320" height="180" src="<%= @story.embed_url %>" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class='col-md-8'>
    <div class='well'>

      <h3 class='text-center'><%= @story.title %></h3><br>

      <p><strong>Situation: </strong><%= @story.situation %></p><br>

      <p><strong>Challenge: </strong><%= @story.challenge %></p><br>

      <p><strong>Solution: </strong><%= @story.solution %></p><br>

      <p><strong>Results: </strong><%= @story.results %></p><br>

    </div>
  </div>

  <div class='col-md-4'>
    <div class='well'>

      <h3 class='text-center'>Contributing Team</h3>



    </div>
  </div>


</div>
