
<%= javascript_tag do %>

  $(function () {
    var company = <%= raw @company.to_json %>;

    $('.nav-tabs .active').removeClass('active');

    $('a[role=tab]').on('click', function() {
      window.location =
        '/companies/' + company.id + '?mainnav_tab=' + $(this).attr('aria-controls')
    });

  });

<% end %>

<div class='wrapper'>

  <% if company_curator? @company.id %>

    <%= render 'shared/mainnav' %>

  <% end %>

  <!-- nav links, story title, social sharing  -->
  <div class="mainnav">
    <div class="container">
      <div id='story-banner' class="row">
        <!--
          data-no-turbolink attribute is necessary for linkedin widgets
          to properly load
          http://stackoverflow.com/questions/17600093/rails-javascript-not-loading-after-clicking-through-link-to-helper
        -->
        <div data-no-turbolink class='col-sm-2'>

          <% if company_curator? @company.id %>

            <%= link_to edit_story_path(@story.id), class: 'csp-nav' do %>
              <span class='glyphicon glyphicon-chevron-left'
                  style='color:#337ab7; margin-right:5px'>
              </span><span>Edit Story</span>
            <% end %>

          <% else %>

            <%= link_to root_path, class: 'csp-nav' do %>
              <span class='glyphicon glyphicon-chevron-left'
                  style='color:#337ab7; margin-right:5px'>
              </span><span>More Stories</span>
            <% end %>

          <% end %>

        </div>

        <div class="col-sm-8 text-center">
          <h2 style='margin-bottom:0'> <%= @story.success.customer.name %></h2>
        </div>

        <div class='col-sm-2'>
          <%#= render 'shared/social_sharing' %>
        </div>
      </div>
    </div>   <!-- container -->
  </div>  <!-- mainnav -->

  <div class="content">
    <div class="container">

      <!-- logo, quote, video -->
      <div id='story-show-row-1' class="row">

        <% if @story.embed_url.present? %>

          <%= render 'stories/shared/story_show_logo_quote_video',
                { story: @story } %>

        <% else %>

          <%= render 'stories/shared/story_show_logo_quote_novideo',
                { story: @story } %>

        <% end %>

      </div>  <!-- logo, quote, video -->

      <!-- story content, results, contributing team -->
      <div id='story-show-row-2' class="row" style='margin-top:20px'>
        <div class='col-sm-6 col-md-7 col-lg-8'>  <!-- content -->
          <div class='well story-narration'>

            <h3 class='text-center'><%= @story.title %></h3>

            <p><strong>Situation</strong></p>
            <div class="story-text visible-md-block visible-lg-block">
              <%= simple_format @story.situation %>
            </div>
            <div class="story-text hidden-md hidden-lg">
              <%= simple_format @story.situation %>
            </div>

            <p><strong>Challenge</strong></p>
            <div class="story-text visible-md-block visible-lg-block">
              <%= simple_format @story.challenge %>
            </div>
            <div class="story-text hidden-md hidden-lg">
              <%= simple_format @story.challenge %>
            </div>

            <p><strong>Solution</strong></p>
            <div class="story-text visible-md-block visible-lg-block">
              <%= simple_format @story.solution %>
            </div>
            <div class="story-text hidden-md hidden-lg">
              <%= simple_format @story.solution %>
            </div>

            <p><strong>Benefits</strong></p>
            <div class="story-text visible-md-block visible-lg-block">
              <%= simple_format @story.benefits %>
            </div>
            <div class="story-text hidden-md hidden-lg">
              <%= simple_format @story.benefits %>
            </div>

          </div>
        </div>  <!-- content -->

        <!-- results and contributing team -->
        <div class='col-sm-6 col-md-5 col-lg-4'>

          <div id='story-results' class="well story-text">
            <h3 class='text-center'>Results</h3>
            <% @story.success.results.each do |result| %>
              <p><%= result.description %></p>
            <% end %>
          </div>

          <div class='story-video hidden-lg text-center'>
            <div class='embed-responsive embed-responsive-16by9'>
              <iframe class='embed-responsive-item'
                  src="<%= @story.embed_url %>" allowfullscreen>
              </iframe>
            </div>
          </div>

          <div class="text-center">
            <h3>Contributing Team</h3>

            <% @contributors.each do |contributor| %>

                <script type="IN/MemberProfile" data-id="<%= contributor.linkedin_url %>" data-format="inline" data-related="true"
                  data-width='340'></script>

            <% end %>

          </div>
        </div>  <!-- results and contributing team -->
      </div>  <!-- story content, results, contributing team -->

    </div>  <!-- container -->
  </div>  <!-- content -->
</div>  <!-- wrapper -->

