
<!-- turbolinks caching problematic with linkedin widgets  -->
<% content_for :head do %>

  <meta name="turbolinks-cache-control" content="no-cache">

  <%= render 'stories/shared/csp_linkedin_widget_template' %>

  <% if production? %>
    <% cache("#{@company.subdomain}/story-#{@story.id}-meta-tags",
             skip_digest: true, expires_in: 1.week) do %>
      <%= render 'stories/shared/story_meta_tags',
            { company: @company, success: @story.success, story: @story } %>
    <% end %>
  <% end %>

<% end %>

<%= render 'stories/shared/video_modal' %>

<!-- <div id='social-share-side-btns'>
  <div>
    <a href="<%#= LINKEDIN_SHARE_URL + @story.csp_story_url %>" target="_blank"
       class="icon-button linkedin-share">
      <i class="fa fa-linkedin"></i><span></span>
    </a>
  </div>
  <div>
    <a href="<%#= TWITTER_SHARE_URL + @story.csp_story_url %>" target="_blank"
       class="icon-button twitter-share">
      <i class="fa fa-twitter"></i><span></span>
    </a>
  </div>
  <div>
    <a href="<%#= FACEBOOK_SHARE_URL + @story.csp_story_url %>" target="_blank"
       class="icon-button facebook-share">
      <i class="fa fa-facebook"></i><span></span>
    </a>
  </div>
</div> -->

<% if @more_stories.present? %>
  <div id='more-stories'>
    <%= render 'widgets/more_stories',
          { widget: @company.widget, stories: @more_stories,
            title: 'More Stories', native: true } %>
  </div>
<% end %>


<% @story.ctas.forms.each do |form| %>
  <%= render 'ctas/cta_form_modal', { form: form } %>
<% end %>


<% if @is_curator %>
  <%= render 'shared/company_navbar', { company: @company, workflow_tab: nil } %>
<% end %>

<div class="mainnav" style='min-height:42px!important;position:relative'>

  <!-- clicky_log class present only for production, so separate the fragments -->
  <% if @is_curator && production? %>

    <% cache("#{@company.subdomain}/curator-story-#{@story.id}-header-production",
             skip_digest: true) do %>
      <%= render 'stories/shared/story_header',
          { story: @story, is_curator: true, production: true,
            customer: @story.success.customer } %>
    <% end %>

  <% elsif @is_curator %>

    <% cache("#{@company.subdomain}/curator-story-#{@story.id}-header-not-production",
             skip_digest: true) do %>
      <%= render 'stories/shared/story_header',
          { story: @story, is_curator: true, production: false,
            customer: @story.success.customer  } %>
    <% end %>

  <% elsif production? %>

    <% cache("#{@company.subdomain}/public-story-#{@story.id}-header-production",
             skip_digest: true) do %>
      <%= render 'stories/shared/story_header',
          { story: @story, is_curator: false, production: true,
            customer: @story.success.customer } %>
    <% end %>

  <% else %>

    <% cache("#{@company.subdomain}/public-story-#{@story.id}-header-not-production",
             skip_digest: true) do %>
      <%= render 'stories/shared/story_header',
          { story: @story, is_curator: false, production: false,
            customer: @story.success.customer } %>
    <% end %>

  <% end %>

</div>

<!-- includes video -->
<div id='story-section-testimonial'
     class="<%= @story.embed_url.present? ? '' : 'no-video' %>">

  <% cache("#{@company.subdomain}/story-#{@story.id}-testimonial",
           skip_digest: true) do %>
    <%= render 'stories/shared/story_testimonial', { story: @story } %>
  <% end %>

</div>

<!-- video (xs only) -->
<div id='story-section-video-xs'
     class='visible-xs-block <%= @story.embed_url.present? ? '' : 'hidden' %>'>

  <% cache("#{@company.subdomain}/story-#{@story.id}-video-xs",
           skip_digest: true) do %>
    <%= render 'stories/shared/story_video_xs', { story: @story } %>
  <% end %>

</div>

<div id='social-buttons-xs' class="visible-xs-block text-right">

  <% cache("story-social-buttons-xs", skip_digest: true) do %>
    <%= render 'stories/shared/social_buttons_xs', { story: @story } %>
  <% end %>

</div>

<!-- story content, results, contributing team -->
<div id='story-section-content'>

  <%= render 'stories/shared/story_content',
      { company: @company, story: @story, contributors: @contributors } %>

</div>

<% unless user_signed_in? %>
  <div class='hidden-xs' style='border:1px solid #e3e3e3;z-index:1000'>
    <div class='container' style='padding:0 0 15px 0' id='story-footer'>

      <div class="row" style="display:flex;align-items:center;font-size:0;height:100px">
        <div class="col-sm-6">
          <a href="<%= csp_landing %>">
            <img src="<%= CS_POWERED_LOGO_URL %>" alt="Powered by Customer Stories">
          </a>
        </div>
        <div class="col-sm-6 text-right">
          <h5 style='margin:0'>
            <%= @company.name %> Curators <%= link_to 'Login', new_user_session_path %>
          </h5>
        </div>
      </div>

    </div>
  </div>
<% end %>


