
<!-- adwords image template -->
<% content_for :underscore_templates do %>

  <script id='adwords-image-template' type="text/template">

    <!-- // locals: image_index -->
    <li class='well adwords-image new-adwords-image hidden'>

      <label class="checkbox-inline">
        <input name="company[adwords_images_attributes][{{= image_index }}][company_default]" type="hidden" value="false">
        <input type="checkbox" value="true" name="company[adwords_images_attributes][{{= image_index }}][company_default]" id="company_adwords_images_attributes_{{= image_index }}_company_default">
        Make default
      </label>

      <div class="fileinput fileinput-exists" data-provides="fileinput">
        <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
        <input type="file"
               name="company[adwords_images_attributes][{{= image_index }}][image_url]"
               id="company_adwords_images_attributes_{{= image_index }}_image_url">
        <span><i class='change-image glyphicon glyphicon-pencil'></i></span>
        <span><i class='remove-image glyphicon glyphicon-remove'></i></span>
      </div>

    </li>

  </script>
<% end %>

<div class="row enable-promote-type form-group">
  <div class="col-sm-12">

    <%= render 'adwords/enable_promote_type', { company: company } %>

  </div>
</div>

<%= form_for company, url: promote_company_path(company),
      method: 'put', remote: 'true', authenticity_token: true,
      html: {
        id: 'promote-settings-form',
        class: 'directUpload',
        data: { 'form-data' => (@s3_direct_post.fields),
                'url' => @s3_direct_post.url,
                'host' => URI.parse(@s3_direct_post.url).host
      } } do |f| %>

  <div class="form-inline">
    <div class="form-group">

      <%= f.label :adwords_short_headline, "Headline (max 25 characters)", class: 'control-label' %>
      <%= f.text_field :adwords_short_headline, class: 'form-control', style: 'width:300px' %>

    </div>
  </div>

  <div class="row">

    <div class="col-sm-4 form-group">

      <div>
        <%= f.label :adwords_logo_url, 'Sponsored Stories Logo',
              class: 'adwords-logo' %>&nbsp;&nbsp;
        <a tabindex='0' class='adwords-logo image-requirements' role='button'
           data-toggle='popover' data-placement='top' data-trigger='focus'
           title='Requirements - Sponsored Stories Logo'
           data-min='128x128' data-ratio='1:1' data-suggest='1200x1200'>requirements</a>
      </div>

      <div class="well fileinput adwords-default adwords-logo <%= company.adwords_logo_url.blank? ? 'fileinput-new' : 'fileinput-exists' %>" data-provides="fileinput">

        <div class="fileinput-new thumbnail" data-trigger="fileinput">
          <%= image_tag ADWORDS_LOGO_PLACEHOLDER_URL, alt: 'logo image' %>
        </div>

        <div class="fileinput-preview fileinput-exists thumbnail" data-trigger="fileinput">
          <%= image_tag company.adwords_logo_url, alt: 'logo image' %>
        </div>

        <div class="btn-file">
          <%= f.file_field :adwords_logo_url %>
        </div>

        <i class='change-image glyphicon glyphicon-pencil'></i>

      </div>  <!-- /.fileupload -->

    </div>

    <div class="col-sm-8 form-group">

      <div>
        <%= f.label 'default_adwords_image_url', 'Sponsored Stories Image (default)',
              class: 'adwords-image' %>&nbsp;&nbsp;
        <a tabindex='0' class='adwords-image image-requirements' role='button'
           data-toggle='popover' data-placement='top' data-trigger='focus'
           title='Requirements - Sponsored Stories Image'
           data-min='600x314' data-ratio='1.91:1' data-suggest='1200x628'>requirements</a>
      </div>

      <div class="well fileinput adwords-default adwords-image <%= company.adwords_images.default.blank? ? 'fileinput-new' : 'fileinput-exists' %>" data-provides="fileinput">

        <div class="fileinput-new thumbnail" data-trigger='fileinput'>
          <%= image_tag ADWORDS_IMAGE_PLACEHOLDER_URL, alt: 'logo' %>
        </div>

        <div class="fileinput-preview fileinput-exists thumbnail" data-trigger="fileinput">
          <%= image_tag company.adwords_images.default.try(:image_url), alt: 'marketing image', data: { id: company.adwords_images.default.try(:id) } %>
        </div>

        <div class="btn-file">
          <%= f.file_field 'default_adwords_image_url' %>
        </div>

        <i class='change-image glyphicon glyphicon-pencil'></i>

      </div>  <!-- /.fileupload -->

    </div>
  </div>

  <label for="">Additional images for Sponsored Stories</label>&nbsp;&nbsp;

  <a tabindex='0' class='adwords-image image-requirements' role='button'
     data-toggle='popover' data-placement='top' data-trigger='focus'
     title='Requirements - Sponsored Stories Image'
     data-min='600x314' data-ratio='1.91:1' data-suggest='1200x628'>requirements</a>

  <div class='row'>
    <div class="col-sm-12">
      <button type='button' class='new-adwords-image btn btn-secondary'>Add image</button>
    </div>
  </div>

  <ul class='adwords-images list-inline text-center'>

    <%= f.fields_for :adwords_images do |image_f| %>

      <li class="well adwords-image <%= image_f.object.company_default? ? 'hidden' : '' %>">

        <label class="checkbox-inline">
          <%= image_f.check_box(:company_default, {}, 'true', 'false') %>
          Make default
        </label>

        <div class="fileinput fileinput-exists" data-provides="fileinput">
          <div class="fileinput-preview thumbnail" data-trigger="fileinput">
            <%= image_tag image_f.object.image_url, alt: 'adwords image' %>
          </div>
          <%= image_f.file_field(:image_url, class: 'hidden') %>
          <%= image_f.check_box(:_destroy, { class: 'hidden' }, 'true', 'false') %>
          <i class='change-image glyphicon glyphicon-pencil'></i>
          <i class='remove-image glyphicon glyphicon-remove'></i>
        </div>

      </li>

    <% end %>

  </ul>

  <hr>

  <div class="row">
    <div class="col-sm-12 text-right">
      <button type="submit" class="btn btn-success">
        Save changes
      </button>&nbsp;
      <button type="reset" class="btn btn-default">
        Cancel
      </button>
    </div>
  </div>

<% end %>





