<!-- NEW session-->
<div id="wrapper">
  <div class="masthead" style="height: 100vh">
    <div class="content">
      <div class="container">
        <!-- <hr class="spacer-sm"> -->
        <div class="account-wrapper">  <!-- style='width:450px' -->
          <div class="row">

            <%= render(
                  @zap_auth_initial_req || @zap_auth_retry ? 'account_body_zapier' : 'account_body_default',
                  { path: request.path, resource: resource, zap_auth_initial_req: @zap_auth_initial_req }
                ) %>

          </div>

          <div class="account-footer">

            <p>
              Forgot password? &nbsp;
              <% if request.path == '/users/sign_in' %>
                <%= link_to 'Reset', strip_subdomain(new_user_password_url) %>
              <% elsif request.path == '/admins/sign_in' %>
                <%= link_to 'Reset', new_admin_password_path %>
              <% end %>
            </p>

            <p>
              Don't have an account? &nbsp;
              <% if request.path == '/users/sign_in' %>
                <%= link_to 'Sign up', strip_subdomain(new_user_registration_url) %>
              <% elsif request.path == '/admins/sign_in' %>
                <%= link_to 'Sign up', new_admin_registration_path %>
              <% end %>
            </p>

            <p>
            <!-- Didn't get confirmation? &nbsp; -->
            <%#= link_to 'Resend email', new_user_confirmation_path %>
            </p>

          </div> <!-- /.account-footer -->

        </div> <!-- /.account-wrapper -->
      </div> <!-- /.container -->
    </div> <!-- /.content -->
  </div> <!-- /.masthead -->
</div> <!-- /#wrapper -->


