
<%= form_tag tags_company_path(company), method: 'put', remote: true,
      id: 'company-tags-form' do %>

  <div class="row">

    <div class="col-sm-6">

      <div class="form-group">

        <%= label_tag 'category_tags[]', 'Category tags', class: 'control-label' %>
        <%= select_tag 'category_tags[]',
              options_for_select(
                company.story_categories.select_options,
                company.story_categories.pluck(:id)   # all pre-selected
              ),
              { multiple: 'true', class: 'company-tags form-control',
                # placeholder: doesn't work from here, set in js
                style: 'width:100%' } %>

      </div>

    </div>

    <div class="col-sm-6">

      <div class="form-group">

        <%= label_tag 'product_tags[]', 'Product tags', class: 'control-label' %>
        <%= select_tag 'product_tags[]',
              options_for_select(
                company.products.select_options,
                company.products.pluck(:id)   # all pre-selected
              ),
              { multiple: 'true', class: 'company-tags form-control',
                style: 'width:100%' } %>

      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-right">

      <div class="form-group">

        <span class='ajax-confirm' style='display:none;color:#5cb85c'>
          <i class='fa fa-check'></i>
        </span>&nbsp;
        <input id='company-tags-submit' type='submit' class='btn btn-primary'
               value="Save" disabled>&nbsp;
        <button id='company-tags-reset' type="reset" class="btn btn-default" disabled>
          Cancel
        </button>

      </div>

    </div>
  </div>

<% end %>