<div id="wrapper">

  <div class="masthead">
    <!-- starts carousel -->
    <div id="masthead-carousel" class="carousel slide carousel-fade masthead-carousel">

      <div class="carousel-inner">

        <div class="item active">

          <br class="xs-30 sm-60">

          <div class="container">

            <div class="row">

              <div class="col-md-6 masthead-text animated fadeInDownBig">
                <h1 class="masthead-title">Customer Stories is Modern Marketing </h1>

                <p>
                <h2 class="masthead-subtitle">The Intelligent Customer Reference Platform to Grow Revenue </h2>
                </p>

                <br>

                <div class="masthead-actions">
                  <a href="#section-benefits" class="btn btn-transparent btn-jumbo">
                  Learn More
                  </a>

                  <a href="./users/sign_up" class="btn btn-primary btn-jumbo">
                  Join the beta program
                  </a>

                </div> <!-- /.masthead-actions -->

              </div> <!-- /.masthead-text -->

              <br class="xs-30 md-0">

              <div class="col-md-6 masthead-img animated fadeInUpBig">
                <%= image_tag 'mvp-landing/masthead/modern_marketing_v5.png',
                    { alt: 'slide2', class: 'img-responsive' } %>

              </div> <!-- /.masthead-img -->

            </div> <!-- /.row -->

          </div> <!-- /.container -->

        </div> <!-- /.item -->
</div>
</div>

  </div> <!-- /.masthead -->



  <div class="content">

    <section id="section-features" class="home-section">

      <br class="sm-30">

      <div class="container">

        <div class="heading-block heading-minimal heading-center">
          <h1>
            Why Customer Stories?
          </h1>
        </div> <!-- /.heading-block -->


        <div class="feature-lg">

          <div class="row">

            <div class="col-sm-6">
              <figure class="feature-figure">
                <%= image_tag 'mvp-landing/homepage-features/funnel-diagram-powerpoint.jpg',
                  { class: 'img-responsive figure-shadow center-block',
                    style: 'width: 35%;', alt: '' } %>
              </figure>
            </div><!-- /.col -->

            <div class="col-sm-6">

              <br class="xs-30 sm-0">

              <div class="feature-content">
                <h3>Modern customer stories is the new demand generation</h3>
                <p class="lead">Customer stories are the #1 most influential marketing content in driving new business opportunity.</p>
                <p class="lead">Customers trust peer stories more than any other marketing or sales information to learn about solutions and products.</p>

                </div> <!-- /.feature-content -->
            </div><!-- /.col -->

          </div> <!-- /.row -->

        </div> <!-- /.feature-lg -->


        <br class="xs-50 lg-100">


        <div class="feature-lg figure-right">

          <div class="row">

            <div class="col-sm-6 col-sm-push-6">
              <figure class="feature-figure">
                <%= image_tag 'mvp-landing/homepage-features/handshake.png',
                  { class: 'img-responsive figure-shadow center-block',
                  style: 'width: 35%;', alt: '' } %>
              </figure>
            </div><!-- /.col -->

            <div class="col-sm-6 col-sm-pull-6">

              <br class="xs-30 sm-0">

              <div class="feature-content">
                <h3>Persuasive customer stories is peer proof that closes deals</h3>

                <p class="lead">92% of enterprise buyers are highly influenced by customer stories in the purchasing cycle.</p>
                <p class="lead">Customers are 32% more likely to purchase when a customer story is encountered during the buying process.</p>

              </div> <!-- /.feature-content -->
            </div><!-- /.col -->

          </div> <!-- /.row -->

        </div> <!-- /.feature-lg -->


        <br class="xs-50 lg-100">


        <div class="feature-lg">

          <div class="row">

            <div class="col-sm-6">
              <figure class="feature-figure">
                <%= image_tag 'mvp-landing/homepage-features/bullhorn.png',
                  { class: 'img-responsive figure-shadow center-block',
                    style: 'width: 35%;', alt: '' } %>
              </figure>
            </div><!-- /.col -->

            <div class="col-sm-6">
              <br class="xs-30 sm-0">

              <div class="feature-content">
                <h3>Authentic customer stories is advocacy in action</h3>

                <p class="lead">Advocates are more likely to actively recommend when they have publically shared a customer story.</p>
                <p class="lead">Advocates spend two times more than the average customer.</p>

               </div> <!-- /.feature-content -->
            </div><!-- /.col -->

          </div> <!-- /.row -->

        </div> <!-- /.feature-lg -->

        </div> <!-- /.container -->

      </section>




      <section id="section-benefits" class="home-section" style="background-color: #f3f3f3;">

        <div class="container">

          <div class="heading-block heading-minimal heading-center">
            <h1
                id="how">How Customer Stories Works
            </h1>
          </div> <!-- /.heading-block -->


          <div class="row">

            <div class="col-sm-4">
              <div class="feature-sm">
                <i class="fa fa-users fa-3x text-secondary" style="padding: 40px;"></i>

                <h2 class="feature-lg-label text-secondary">CURATE</h2>

                <p class="feature-sm-content">
                  An intelligent platform to curate customer stories with contributions from customers, partners and employees involved in the success.
                </p>
              </div> <!-- /.feature-sm -->
            </div> <!-- /.col -->

            <div class="col-sm-4">
              <div class="feature-sm">
                <i class="fa fa-bullhorn  fa-3x text-secondary" style="padding: 40px;"></i>

                <h3 class="feature-lg-label text-secondary">PROMOTE</h3>

                <p class="feature-sm-content">
                  Automatically promote customer stories in all relevant online channels and engage prospects throughout their entire buying cycle.
                </p>
              </div> <!-- /.feature-sm -->
            </div> <!-- /.col -->

            <div class="col-sm-4">
              <div class="feature-sm">
                <i class="fa fa-tachometer  fa-3x text-secondary" style="padding: 40px;"></i>

                <h3 class="feature-lg-label text-secondary">MEASURE</h3>

                <p class="feature-sm-content">
                  Smart metrics that prove ROI of the program by connecting revenue attribution to deal, story, product, and media channel.
                </p>
              </div> <!-- /.feature-sm -->
            </div> <!-- /.col -->



          </div> <!-- /.row -->

      </div> <!-- /.container -->

    </section>




    <section id="section-quote" class="home-section">

        <div class="container">

          <div class="row">

            <div class="col-sm-10 col-lg-offset-1">
              <div class="feature-sm">

                <p class="lead">
                 “When you say it, it’s marketing. When your customer says it, it’s social proof.”
                </p>
                   <br class="xs-30">
               <p class="lead pull-right">
                 - Andy Crestodina, Co-founder Orbit Media
                </p>

              </div> <!-- /.feature-sm -->
            </div> <!-- /.col -->



          </div> <!-- /.row -->
        </div> <!-- /.container -->

      </section>


    <section id="section-contact" class="home-section" style="background-color: #f3f3f3; padding-top: 35px; padding-bottom: 35px;">

      <div class="container">

        <div class="row">
          <div class="col-sm-8">
            <h2>Join the beta program</h2>
            <p class="lead">Customer Stories is currently in beta.  Please contact us for more information on Customer Stories and learn how you can join the beta program.</p>
          </div>

          <div class="col-sm-4 text-center">

            <br class="xs-30">

            <a href="./users/sign_up" class="btn btn-primary btn-lg">&nbsp;&nbsp;&nbsp;&nbsp;Join the beta program&nbsp;&nbsp;&nbsp;&nbsp;</a>
          </div>
        </div>

      </div> <!-- /.container -->

    </section>

  </div> <!-- /.content -->

</div> <!-- /#wrapper -->

<%= render 'shared/csp_landing_footer.html.erb' %>