
<%= render 'site/shared/site_index_meta_tags' %>

<div id="wrapper">

  <div class="masthead">
    <div id="masthead-carousel" class="carousel slide carousel-fade masthead-carousel">
      <div class="carousel-inner">
        <div class="item active">
          <br class="xs-30 sm-60">

          <div class="container">
            <div class="row">

              <div class="col-md-6 masthead-text animated fadeInDownBig">
                <h1 class="masthead-title">Customer Stories is Modern Marketing</h1>
                <p>
                <h2 class="masthead-subtitle">The Intelligent Customer Reference Platform to Grow B2B Revenue</h2>
                </p> <br>

                <div class="masthead-actions">
                  <a href="#section-benefits" class="btn btn-transparent btn-jumbo">
                  Learn More
                  </a>

                  <a href="#section-testimonials" class="btn btn-success btn-jumbo">
                  Customer Examples
                  </a>

                </div> <!-- /.masthead-actions -->
              </div> <!-- /.masthead-text -->

              <br class="xs-30 md-0">

              <div class="col-md-6 masthead-img animated fadeInUpBig">
                <%= image_tag 'mvp-landing/masthead/modern_marketing_v5.png',
                    { alt: 'slide2', class: 'img-responsive' } %>

              </div> <!-- /.masthead-img -->

            </div> <!-- /.row -->
          </div> <!-- /.container -->

        </div> <!-- /.item -->
      </div>
     </div>
  </div> <!-- /.masthead -->

  <div class="content">

    <section id="section-features" class="home-section">
      <div class="container">

        <div class="heading-block heading-minimal heading-center">
          <h1>
            Why Customer Stories?
          </h1>
        </div> <!-- /.heading-block -->

        <div class="feature-lg">
          <div class="row">

            <div class="col-sm-5 text-right">
              <figure class="feature-figure">
                <%= image_tag 'mvp-landing/homepage-features/funnel-diagram-powerpoint.jpg',
                  { class: 'img-responsive figure-shadow center-block',
                    style: 'width: 50%;', alt: '' } %>
              </figure>
            </div><!-- /.col -->

            <div class="col-sm-6">
              <div class="feature-content">

                <h3>Modern customer stories is the new demand generation</h3>
                <p class="lead">Customer stories are the #1 most influential marketing content in driving new business opportunity.</p>
                <p class="lead">Customers trust peer stories more than any other marketing or sales information to learn about solutions and products.</p>

              </div> <!-- /.feature-content -->
            </div><!-- /.col -->

          </div> <!-- /.row -->
        </div> <!-- /.feature-lg --> <br class="xs-50 sm-80">

        <div class="feature-lg figure-right">
          <div class="row">

            <div class="col-sm-6 col-sm-offset-1">
              <div class="feature-content">
                <h3>Persuasive customer stories is peer proof that closes deals</h3>
                <p class="lead">
                  92% of enterprise buyers are highly influenced by customer stories in the purchasing cycle.
                </p>
                <p class="lead">
                  Customers are 32% more likely to purchase when a customer story is encountered during the buying process.
                </p>
              </div> <!-- /.feature-content -->
            </div><!-- /.col -->

            <div class="col-sm-5">
              <figure class="feature-figure">
                <%= image_tag 'mvp-landing/homepage-features/handshake.png',
                  { class: 'img-responsive figure-shadow center-block',
                    style: 'width: 50%;', alt: '' } %>
              </figure>
            </div><!-- /.col -->

          </div> <!-- /.row -->
        </div> <!-- /.feature-lg --> <br class="xs-50 sm-80">


        <div class="feature-lg">
          <div class="row">

            <div class="col-sm-5">
              <figure class="feature-figure">
                <%= image_tag 'mvp-landing/homepage-features/bullhorn.png',
                  { class: 'img-responsive figure-shadow center-block',
                    style: 'width: 50%;', alt: '' } %>
              </figure>
            </div><!-- /.col -->

            <div class="col-sm-6">
              <div class="feature-content">
                <h3>Authentic customer stories is advocacy in action</h3>
                <p class="lead">
                  Advocates are more likely to actively recommend when they have publicly shared a customer story.
                </p>
                <p class="lead">
                  Advocates spend two times more than the average customer.
                </p>
               </div> <!-- /.feature-content -->
            </div><!-- /.col -->

          </div> <!-- /.row -->
        </div> <!-- /.feature-lg -->
      </div> <!-- /.container -->
    </section>

    <section id="section-benefits" class="home-section">
      <div class="container">

        <div class="heading-block heading-minimal heading-center">
          <h1>How Customer Stories Works</h1>
        </div> <!-- /.heading-block -->

        <div class="row">

          <div class="col-sm-4">
            <div class="feature-sm text-center" style='padding'>
              <i class="fa fa-users fa-3x text-secondary"></i>
              <h2 class="feature-lg-label text-secondary">CURATE</h2>
              <p class="feature-sm-content text-left">
                An intelligent platform to curate customer stories with contributions from customers, partners and employees involved in the success.
              </p>
            </div> <!-- /.feature-sm -->
          </div> <!-- /.col -->

          <div class="col-sm-4">
            <div class="feature-sm text-center">
              <i class="fa fa-bullhorn fa-3x text-secondary"></i>
              <h2 class="feature-lg-label text-secondary">PROMOTE</h2>
              <p class="feature-sm-content text-left">
                Automatically promote customer stories in all relevant online channels and engage prospects throughout their entire buying cycle.
              </p>
            </div> <!-- /.feature-sm -->
          </div> <!-- /.col -->

          <div class="col-sm-4">
            <div class="feature-sm text-center">
              <i class="fa fa-tachometer fa-3x text-secondary"></i>
              <h2 class="feature-lg-label text-secondary">MEASURE</h2>
              <p class="feature-sm-content text-left">
                Smart metrics that prove ROI of the program by connecting revenue attribution to deal, story, product, and media channel.
              </p>
            </div> <!-- /.feature-sm -->
          </div> <!-- /.col -->

        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </section>

    <section id="section-testimonials" class="home-section">

      <div class="container">

        <div class="heading-block heading-minimal heading-center">
          <h1>
            Our Customers
          </h1>
        </div> <!-- /.heading-block -->

        <ul class="clients-list list-inline">
          <li>
            <a href="https://retailnext.net/en/home/" target='_blank'>
              <img src="https://s3-us-west-1.amazonaws.com/csp-production-assets/retailnext/retailnext.png" class="img-responsive" alt="RetailNext">

            </a>
          </li>
          <li>
            <a href="https://www.compas.global" target="_blank">
              <img src="https://s3-us-west-1.amazonaws.com/csp-production-assets/site/compas.png" class="img-responsive" alt="Compas Global">
            </a>
          </li>
          <li>
            <a href="https://www.varmour.com/" target='_blank'>
              <img src="https://s3-us-west-1.amazonaws.com/csp-production-assets/site/varmour.png" class="img-responsive" alt="vARMOUR">
            </a>
          </li>
          <li>
            <a href="http://www.trunity.com" target="_blank">
              <img src="https://s3-us-west-1.amazonaws.com/csp-production-assets/site/trunity.png" class="img-responsive" alt="Trunity Smart Textbooks">
            </a>
          </li>
          <li>
            <a href="http://centerforcustomerengagement.com/" target="_blank">
              <img src="https://s3-us-west-1.amazonaws.com/csp-production-assets/cce/cce.jpg" class="img-responsive" alt="Center for Customer Engagement">
            </a>
          </li>
        </ul>

        <ul class='testimonials-list list-inline'>

          <li>
            <div class="testimonial">

              <div class="testimonial-icon bg-secondary">
                <i class="fa fa-quote-left"></i>
              </div> <!-- /.testimonial-icon -->

              <div class="testimonial-content">
                Showcasing our existing customers' success is critical in scaling Compas’ business to new prospects. By using Customer Stories, it gave us a pragmatic approach to show and network customer stories that are promoted to our prospects to help close deals faster.
              </div> <!-- /.testimonial-content -->

            </div> <!-- /.testimonial -->
            <div class="linkedin-widget">
              <script type="IN/MemberProfile"
                      data-id="//www.linkedin.com/in/carlosramon/"
                      data-format="inline"
                      data-related="false"
                      data-width='340'></script>
            </div>
          </li>

          <li>
            <div class="testimonial">

              <div class="testimonial-icon bg-secondary">
                <i class="fa fa-quote-left"></i>
              </div> <!-- /.testimonial-icon -->

              <div class="testimonial-content">
                The business case for leveraging customers into marketing and sales activities is overwhelming. Especially success stories from marque customers as they exert tremendous peer influence enabling exponential new customer growth.
              </div> <!-- /.testimonial-content -->


            </div> <!-- /.testimonial -->

            <div class="linkedin-widget">
              <script type="IN/MemberProfile"
                      data-id="//www.linkedin.com/in/billglee"
                      data-format="inline"
                      data-related="false"
                      data-width='340'></script>
            </div>

          </li>

          <li>
            <div class="testimonial">

              <div class="testimonial-icon bg-secondary">
                <i class="fa fa-quote-left"></i>
              </div> <!-- /.testimonial-icon -->

              <div class="testimonial-content">
                Customer Stories makes it easy for Trunity to initiate a request for a story. Not only did we get some of the best quotes and responses from the platform, it also helped start the dialog for deeper engagements.
              </div> <!-- /.testimonial-content -->


            </div> <!-- /.testimonial -->
            <div class="linkedin-widget">
              <script type="IN/MemberProfile"
                      data-id="//www.linkedin.com/in/heatherannesley"
                      data-format="inline"
                      data-related="false"
                      data-width='340'></script>
            </div>
          </li>

        </ul>

      </div> <!-- /.container -->
    </section>

    <section id="section-contact" class="home-section">
      <div class="container">
        <div class="row">

          <div class="col-sm-8">
            <h2>Join the beta program</h2>
            <p class="lead">
              Customer Stories is currently in beta. Please contact us for more information on Customer Stories and learn how you can join the beta program.
            </p>
          </div>

          <div class="col-sm-4 text-center">
            <br><br>
            <a href="./users/sign_up" class="btn btn-success btn-lg">&nbsp;&nbsp;&nbsp;&nbsp;Join the beta program&nbsp;&nbsp;&nbsp;&nbsp;</a>
          </div>

        </div>
      </div> <!-- /.container -->
    </section>

  </div> <!-- /.content -->
</div> <!-- /#wrapper -->
