<div id="wrapper">

  <%= render 'shared/mvp_landing_navbar' %>

  <div class="masthead">
    <!-- starts carousel -->
    <div id="masthead-carousel" class="carousel slide carousel-fade masthead-carousel">

      <div class="carousel-inner">

        <div class="item active" style="background-color: #354b5e;">

          <br class="xs-30 sm-60">

          <div class="container">

            <div class="row">

              <div class="col-md-6 masthead-text animated fadeInDownBig">
                <h4 class="masthead-title">Customer Stories is Modern Marketing Gold</h4>

                <p>
                An intelligent platform to grow revenue from customer stories
                </p>

                <br>

                <div class="masthead-actions">
                  <a href="./page-tour.html" class="btn btn-transparent btn-jumbo">
                  Learn More
                  </a>

                  <a href="./account-signup.html" class="btn btn-primary btn-jumbo">
                  Create an Account
                  </a>

                </div> <!-- /.masthead-actions -->

              </div> <!-- /.masthead-text -->

              <br class="xs-30 md-0">

              <div class="col-md-6 masthead-img animated fadeInUpBig">
                <%= image_tag 'mvp-landing/masthead/mobile.png',
                    { alt: 'slide2', class: 'img-responsive' } %>
              </div> <!-- /.masthead-img -->

            </div> <!-- /.row -->

          </div> <!-- /.container -->

        </div> <!-- /.item -->

        <div class="item" style="height: 775px; background-color: #354b5e; background-image: url(<%= asset_path 'mvp-global/bg/shattered.png' %>);">

          <br class="xs-30 sm-60">

          <div class="container">

            <div class="row">

              <div class="col-md-10 col-md-offset-1 masthead-text text-center animated fadeIn">
                <h2 class="masthead-title">Create an Awesome, Engaging Landing Page for Your Next Project!</h2>

                <div class="masthead-actions">
                  <a href="./page-tour.html" class="btn btn-transparent btn-jumbo">
                  Take a Tour
                  </a>

                  <a href="./account-signup.html" class="btn btn-primary btn-jumbo">
                  Get Started Today
                  </a>

                </div> <!-- /.masthead-actions -->


                <br class="xs-50">

              </div> <!-- /.masthead-text -->

              <div class="col-md-12 masthead-img animated fadeInUpBig">
                <%= image_tag 'mvp-landing/masthead/browser.png',
                    { alt: 'slide2', class: 'img-responsive' } %>
              </div> <!-- /.masthead-img -->

            </div> <!-- /.row -->

          </div> <!-- /.container -->

        </div> <!-- /.item -->

        <div class="item  " style="background-color: #074444; background-image: url(<%= asset_path 'mvp-global/bg/bright-squares.png' %>);">

          <br class="xs-30 sm-60">

          <div class="container">

            <div class="row">

              <div class="col-md-6 masthead-text animated fadeInLeftBig">
                <h4 class="masthead-title">Customer Stories is Modern Marketing Gold</h4>

                <p>
                An intelligent platform to grow revenue from customer stories
                </p>

                <br>

                <div class="masthead-actions">
                  <a href="./page-tour.html" class="btn btn-transparent btn-jumbo">
                  Learn More
                  </a>
                </div> <!-- /.masthead-actions -->
              </div> <!-- /.masthead-text -->

              <br class="xs-30 md-0">

              <div class="col-md-6 masthead-img animated fadeInRightBig">
                <form class="form masthead-form well">

                  <h3 class="text-center">Start Your Free Trial!</h3>

                  <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, earum.</p>

                  <br>

                  <div class="form-group">
                    <!-- <label class="" for="full_name">Full Name</label> -->
                    <input type="text" id="full_name" placeholder="Your Name" class="form-control">
                  </div> <!-- /.form-group -->

                  <div class="form-group">
                    <!-- <label class="" for="email_address">Email Address</label> -->
                    <input type="text" id="email_address" placeholder="Your Email" class="form-control">
                  </div> <!-- /.form-group -->

                  <div class="form-group">
                    <!-- <label class="" for="organization">Organization</label> -->
                    <input type="text" id="organization" placeholder="Organization Name" class="form-control">
                  </div> <!-- /.form-group -->

                  <div class="form-group">
                    <button type="submit" class="btn btn-secondary btn-jumbo btn-block">Get Started Today!</button>
                  </div> <!-- /.form-group -->

                </form>

                <br class="xs-80">
              </div> <!-- /.masthead-img -->

            </div> <!-- /.row -->

          </div> <!-- /.container -->

        </div> <!-- /.item -->

        <div class="item " style="background-color: #354b5e;
            background-image: url(<%= asset_path 'mvp-global/bg/dark-mosaic.png' %>);")>

          <br class="xs-30 sm-60">

          <div class="container">

            <div class="row">

              <div class="col-md-6 masthead-text animated fadeInDownBig">
                <h4 class="masthead-title">Customer Stories is Modern Marketing Gold</h4>

                <p>
                An intelligent platform to grow revenue from customer stories
                </p>

                <br>

                <div class="masthead-actions">
                  <a href="./page-tour.html" class="btn btn-transparent btn-jumbo">
                  Learn More
                  </a>

                  <a href="./account-signup.html" class="btn btn-primary btn-jumbo">
                  Create an Account
                  </a>
                </div> <!-- /.masthead-actions -->

              </div> <!-- /.masthead-text -->

              <br class="xs-30 md-0">

              <div class="col-md-6 masthead-img animated pulse">
                <iframe src="https://player.vimeo.com/video/57175742?title=0&amp;byline=0&amp;portrait=0&amp;color=e2007a" style="width: 85%; height: 325px;"></iframe>

                <br class="xs-80">

              </div> <!-- /.masthead-img -->

            </div> <!-- /.row -->

          </div> <!-- /.container -->

        </div> <!-- /.item -->

      </div>  <!-- /.carousel-inner -->
      <!-- Carousel nav -->


      <div class="container">
        <div class="carousel-controls">
          <a class="carousel-control left" href="#masthead-carousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#masthead-carousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>

    </div> <!-- /.masthead-carousel -->

  </div> <!-- /.masthead -->



  <div class="content">

    <section id="section-features" class="home-section">

      <br class="sm-30">

      <div class="container">

        <div class="heading-block heading-minimal heading-center">
          <h1>
            Why Choose MVP Ready?
          </h1>
        </div> <!-- /.heading-block -->


        <div class="feature-lg">

          <div class="row">

            <div class="col-sm-6">
              <figure class="feature-figure">
                <%= image_tag 'mvp-landing/homepage-features/feature-1.png',
                  { class: 'img-responsive figure-shadow center-block',
                    style: 'width: 90%;', alt: '' } %>
              </figure>
            </div><!-- /.col -->

            <div class="col-sm-6">

              <br class="xs-30 sm-0">

              <div class="feature-content">
                <h3>Measure everything with a few clicks</h3>
                <p class="lead">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis.</p>
                <p>Magnis modipsae que lib voloratati andigen quis auctor daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped.</p>
                <ul class="icons-list">
                  <li>
                    <i class="icon-li fa fa-check text-primary"></i>
                    Voloratati andigen daepeditem quiate
                  </li>
                  <li>
                    <i class="icon-li fa fa-check text-primary"></i>
                    Laceaque quiae sitiorem
                  </li>
                  <li>
                    <i class="icon-li fa fa-check text-primary"></i>
                    Tumquam core posae
                  </li>
                </ul>
                <a href="./page-tour.html" class="btn btn-default">Learn More</a>
              </div> <!-- /.feature-content -->
            </div><!-- /.col -->

          </div> <!-- /.row -->

        </div> <!-- /.feature-lg -->


        <br class="xs-50 lg-100">


        <div class="feature-lg figure-right">

          <div class="row">

            <div class="col-sm-6 col-sm-push-6">
              <figure class="feature-figure">
                <%= image_tag 'mvp-landing/homepage-features/feature-4.png',
                  { class: 'img-responsive figure-shadow center-block',
                  style: 'width: 90%;', alt: '' } %>
              </figure>
            </div><!-- /.col -->

            <div class="col-sm-6 col-sm-pull-6">

              <br class="xs-30 sm-0">

              <div class="feature-content">
                <h3>Phasellus fermentum in dolor tesque facilisi</h3>

                <p class="lead">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis.</p>
                <p>Magnis modipsae que lib voloratati andigen daepeditem quiate es reporemus aut labor. Laceaque quiae sitiorem rest non restibusaes dem tumquam core posae volor remped modis volor. Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis lib dentibea autem inisita.</p>
                <ul class="icons-list">
                  <li>
                    <i class="icon-li fa fa-check text-primary"></i>
                    Tumquam core posae volor remped modis volor
                  </li>
                  <li>
                    <i class="icon-li fa fa-check text-primary"></i>
                    Non restibusaes dem tumquam
                  </li>
                  <li>
                    <i class="icon-li fa fa-check text-primary"></i>
                    Modipsae que lib voloratati andigen daepeditem
                  </li>
                </ul>
                <a href="./page-tour.html" class="btn btn-default">Learn More</a>
              </div> <!-- /.feature-content -->
            </div><!-- /.col -->

          </div> <!-- /.row -->

        </div> <!-- /.feature-lg -->


        <br class="xs-50 lg-100">


        <div class="feature-lg">

          <div class="row">

            <div class="col-sm-6">
              <figure class="feature-figure">
                <%= image_tag 'mvp-landing/homepage-features/feature-2.png',
                  { class: 'img-responsive figure-shadow center-block',
                    style: 'width: 90%;', alt: '' } %>
              </figure>
            </div><!-- /.col -->

            <div class="col-sm-6">
              <br class="xs-30 sm-0">

              <div class="feature-content">
                <h3>Phasellus fermentum in dolor tesque facilisi</h3>

                <p class="lead">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis.</p>
                <p>Magnis modipsae que lib voloratati andigen daepeditem quiate es reporemus aut labor. Laceaque quiae sitiorem rest non restibusaes dem tumquam core posae volor remped modis volor. Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis lib dentibea autem inisita.</p>
                <ul class="icons-list">
                  <li>
                    <i class="icon-li fa fa-check text-primary"></i>
                    Tumquam core posae volor remped modis volor
                  </li>
                  <li>
                    <i class="icon-li fa fa-check text-primary"></i>
                    Non restibusaes dem tumquam
                  </li>
                  <li>
                    <i class="icon-li fa fa-check text-primary"></i>
                    Modipsae que lib voloratati andigen daepeditem
                  </li>
                </ul>
                <a href="./page-tour.html" class="btn btn-default">Learn More</a>
              </div> <!-- /.feature-content -->
            </div><!-- /.col -->

          </div> <!-- /.row -->

        </div> <!-- /.feature-lg -->

        </div> <!-- /.container -->

      </section>




      <section id="section-benefits" class="home-section" style="background-color: #f3f3f3;">

        <div class="container">

          <div class="heading-block heading-minimal heading-center">
            <h1>
              Great Features & Benefits
            </h1>
          </div> <!-- /.heading-block -->


          <div class="row">

            <div class="col-sm-4">
              <div class="feature-sm">
                <i class="fa fa-anchor feature-sm-icon text-secondary"></i>

                <h3 class="feature-sm-label">Consectetur adipisicing</h3>

                <p class="feature-sm-content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation.
                </p>
              </div> <!-- /.feature-sm -->
            </div> <!-- /.col -->

            <div class="col-sm-4">
              <div class="feature-sm">
                <i class="fa fa-ils feature-sm-icon text-secondary"></i>

                <h3 class="feature-sm-label">Dolore magna aliqua</h3>

                <p class="feature-sm-content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation.
                </p>
              </div> <!-- /.feature-sm -->
            </div> <!-- /.col -->

            <div class="col-sm-4">
              <div class="feature-sm">
                <i class="fa fa-gift feature-sm-icon text-secondary"></i>

                <h3 class="feature-sm-label">Minim veniam</h3>

                <p class="feature-sm-content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation.
                </p>
              </div> <!-- /.feature-sm -->
            </div> <!-- /.col -->

          </div> <!-- /.row -->



          <div class="row">

            <div class="col-sm-4">
              <div class="feature-sm">
                <i class="fa fa-code feature-sm-icon text-secondary"></i>

                <h3 class="feature-sm-label">Nostrud exercitation</h3>

                <p class="feature-sm-content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation.
                </p>
              </div> <!-- /.feature-sm -->
            </div> <!-- /.col -->

            <div class="col-sm-4">
              <div class="feature-sm">
                <i class="fa fa-comments-o feature-sm-icon text-secondary"></i>

                <h3 class="feature-sm-label">Sed do eiusmod</h3>

                <p class="feature-sm-content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation.
                </p>
              </div> <!-- /.feature-sm -->
            </div> <!-- /.col -->

            <div class="col-sm-4">
              <div class="feature-sm">
                <i class="fa fa-cloud-download feature-sm-icon text-secondary"></i>

                <h3 class="feature-sm-label">Adipisicing elit</h3>

                <p class="feature-sm-content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation.
                </p>
              </div> <!-- /.feature-sm -->
            </div> <!-- /.col -->

          </div> <!-- /.row -->



          <div class="row">

            <div class="col-sm-4">
              <div class="feature-sm">
                <i class="fa fa-crosshairs feature-sm-icon text-secondary"></i>

                <h3 class="feature-sm-label">Quis nostrud exercitation</h3>

                <p class="feature-sm-content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation.
                </p>
              </div> <!-- /.feature-sm -->
            </div> <!-- /.col -->

            <div class="col-sm-4">
              <div class="feature-sm">
                <i class="fa fa-rocket feature-sm-icon text-secondary"></i>

                <h3 class="feature-sm-label">Incididunt ut labore</h3>

                <p class="feature-sm-content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation.
                </p>
              </div> <!-- /.feature-sm -->
            </div> <!-- /.col -->

            <div class="col-sm-4">
              <div class="feature-sm">
                <i class="fa fa-star feature-sm-icon text-secondary"></i>

                <h3 class="feature-sm-label">Enim ad minim</h3>

                <p class="feature-sm-content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation.
                </p>
              </div> <!-- /.feature-sm -->
            </div> <!-- /.col -->

          </div> <!-- /.row -->

      </div> <!-- /.container -->

    </section>

    <section id="section-testimonials" class="home-section">

        <div class="container">

          <div class="heading-block heading-minimal heading-center">
            <h1>
              Trusted by Thousands
            </h1>
          </div> <!-- /.heading-block -->

          <ul class="clients-list">
            <li>
              <%= image_tag 'mvp-global/clients/logo1-grayscale.png',
                { class: 'img-responsive', alt: '' } %>
            </li>
            <li>
              <%= image_tag 'mvp-global/clients/logo2-grayscale.png',
                { class: 'img-responsive', alt: '' } %>
            </li>
            <li>
              <%= image_tag 'mvp-global/clients/logo3-grayscale.png',
                { class: 'img-responsive', alt: '' } %>
            </li>
            <li>
              <%= image_tag 'mvp-global/clients/logo4-grayscale.png',
                { class: 'img-responsive', alt: '' } %>
            </li>
          </ul>

          <br class="xs-60">


     <!--      <div class="row"> -->
 <!-- TODO: Client quotes removed due to wrapping issue. Re-visit later -->
          <!-- </div> --> <!-- /.row -->

        </div> <!-- /.container -->

      </section>

    <section id="section-contact" class="home-section" style="background-color: #f3f3f3; padding-top: 35px; padding-bottom: 35px;">

      <div class="container">

        <div class="row">
          <div class="col-sm-8">
            <h2>Try out 30-days trial</h2>
            <p class="lead">Dolor sit amet, consectetur adipiscing elit. Aliquam ornare egestas eros, et scelerisque tortor venenatis condimentum. Nunc mattis feugiat justo vel faucibus. </p>
          </div>

          <div class="col-sm-4 text-center">
            <br class="xs-30">

            Fully compatible:
            &nbsp;&nbsp;
            <i class="fa fa-mobile fa-2x"></i>
            &nbsp;&nbsp;
            <i class="fa fa-tablet fa-2x"></i>
            &nbsp;&nbsp;
            <i class="fa fa-desktop fa-2x"></i>

            <br class="xs-20">

            <a href="./page-pricing-plans.html" class="btn btn-primary btn-lg">&nbsp;&nbsp;&nbsp;&nbsp;Signup Today!&nbsp;&nbsp;&nbsp;&nbsp;</a>
          </div>
        </div>

      </div> <!-- /.container -->

    </section>

  </div> <!-- /.content -->

</div> <!-- /#wrapper -->

<%= render 'shared/mvp_landing_footer.html.erb' %>