
<% if flash.any? %>

  <%= render 'shared/flash' %>
<!-- This partial will only render if there is something in the flash hash
     In case of AJAX request / JS response, render below -->

<% else %>

  <div class='container' style='z-index:999; position:fixed; width:100%; padding:0'>
    <div id='flash' style='font-size:16px;height:65px;border-radius:0;padding-top:19px'
       class="hidden col-xs-12 text-center alert"
       role="alert">
       <!-- <button type="button" class="close" data-dismiss="alert"
               aria-hidden="true">&times;</button> -->
    </div>
  </div>

<% end %>

<nav class="company-header company-header--<%= @company.subdomain %> navbar navbar-default admin <%= fixed_navbar?(@company, controller_name, action_name) ? 'navbar-fixed-top' : '' %>" role="banner" style="background:<%= @company ? @company.header_color_1 : Company::CSP.header_color_1 %>">
  <div class="container navbar-container">
    <div class="row">

      <div class="navbar-header <%= @company.try(:subdomain) %> <%= controller_name == 'stories' && (['index', 'show'].include?(action_name)) ? 'col-xs-8' : 'col-xs-12' %>">
        <%= render('shared/navbars/company_logo', { company: @company }) %>
      </div>

      <% if controller_name == 'stories' && (['index', 'show'].include?(action_name)) %>

        <div class='hidden-xs col-sm-4 text-right'>

        <% if @company.ctas.try(:primary).present? %>

          <div class="primary-cta">

            <%= link_to(
                  @company.ctas.primary.link_url,
                  class: 'btn',
                  style: "background-color: #{@company.primary_cta_background_color}"
                ) do %>
              <span><%= @company.ctas.primary.display_text %></span>
            <% end %>

            <div>
              <span style="color: <%= @company.primary_cta_text_color %>">
                <%= @company.ctas.primary.display_text %>
              </span>
            </div>

          </div>

        <% end %>

        </div>

      <% else %>

        <div class="hidden-xs col-sm-4">
        </div>

      <% end %>

    </div>
  </div>
</nav>