
<nav id="company-nav" class="<%= company.present? ? '' : 'unregistered' %>">
  <div class="container company-nav-container">
    <div class="row">

      <% if current_page?(controller: 'stories', action: 'index') %>

        <div class="col-sm-12">
          <%= render('companies/shared/company_nav_dropdowns', { company: company }) %>
        </div>

      <% else %>

        <div class="col-sm-7">

          <% if controller_name == 'profile' && !current_user.company_registered? %>

            <span>Are you a Customer Reference Program Manager?</span>&nbsp;&nbsp;
            <%= link_to('Register your Company', register_company_path) %>

          <% else %>

            <%= render('companies/shared/workflow_tabs', { company: company, workflow_stage: workflow_stage }) %>

          <% end %>

        </div>

        <div class="col-sm-5">
          <%= render("companies/shared/company_nav_dropdowns", { company: company }) %>
        </div>

      <% end %>

      <!-- <div id='collapsed-workflow-tabs'
           class="col-xs-1 <%#= gallery_view? ? '' : 'hidden-xs hidden-sm' %> hidden-md hidden-lg">
        <%#= render 'companies/shared/collapsed_workflow_tabs', { company: company } %>
      </div> -->

    </div>

  </div>
</nav>