
<nav id="company-nav" class="<%= company.present?  && company.persisted? ? '' : 'unregistered' %>">
  <div class="container company-nav-container">
    <div class="row">

      <% if current_page?(controller: 'stories', action: 'index') %>

        <div class="col-sm-12">
          <%= render('companies/shared/company_nav_dropdowns', { company: company }) %>
        </div>

      <% else %>

        <div class="col-sm-7">

          <% if controller_name == 'profile' && !current_user.company_registered? %>

            <span>Are you a Customer Reference Program Manager?</span>&nbsp;&nbsp;
            <%= link_to('Register your Company', register_company_path) %>

          <% else %>

            <!-- https://stackoverflow.com/questions/556153 -->
            <ul class="nav nav-tabs nav-workflow" role="tablist">

              <li id="prospect-tab" class="<%= workflow_stage == 'prospect' ? 'active' : '' %>"
                  role="presentation">
                <a href="#prospect" role="tab" data-toggle="tab"
                  aria-controls="prospect" data-turbolinks="false">
                  Prospect
                </a>
                <div></div>
              </li>

              <li id="curate-tab" class="<%= workflow_stage == 'curate' ? 'active' : '' %>"
                  role="presentation">
                <a href="#curate" role="tab" data-toggle="tab"
                  aria-controls="curate" data-turbolinks="false">
                  Curate
                </a>
                <div></div>
              </li>

              <li id="promote-tab" class="<%= workflow_stage == 'promote' ? 'active' : '' %>"
                  role="presentation">
                <a href="#promote" role="tab" data-toggle="tab"
                  aria-controls="promote" data-turbolinks="false">
                  Promote
                </a>
                <div></div>
              </li>

              <li id="measure-tab" class="<%= workflow_stage == 'measure' ? 'active' : '' %>"
                  role="presentation">
                <a href="#measure" role="tab" data-toggle="tab"
                  aria-controls="measure" data-turbolinks="false">
                  Measure
                </a>
                <div></div>
              </li>

            </ul>

          <% end %>

        </div>

        <div class="col-sm-5">
          <%= render("companies/shared/company_nav_dropdowns", { company: company }) %>
        </div>

      <% end %>

    </div>

  </div>
</nav>