
<% if flash.any? %>

  <%= render 'shared/flash' %>
<!-- This partial will only render if there is something in the flash hash
     In case of AJAX request / JS response, render below -->

<% else %>

  <div class='container' style='z-index:999; position:fixed; width:100%; padding:0'>
    <div id='flash' style='font-size:16px;height:70px;border-radius:0;padding-top:19px'
       class="hidden col-xs-12 text-center alert"
       role="alert">
       <!-- <button type="button" class="close" data-dismiss="alert"
               aria-hidden="true">&times;</button> -->
    </div>
  </div>

<% end %>

<nav class="navbar navbar-default admin <%= @company.subdomain == 'compas' ? 'navbar-fixed-top' : '' %>" role="banner" style="background:<%= @company ? @company.header_color_1 : Company::CSP.header_color_1 %>">
  <div class="container navbar-container">
    <div class="row">

      <div class="navbar-header <%= controller_name == 'stories' && (['index', 'show'].include?(action_name)) ? 'col-xs-8' : 'col-xs-12' %>">
        <%= render('shared/navbars/admin_navbar_header', { company: @company }) %>
      </div>

      <% if controller_name == 'stories' && (['index', 'show'].include?(action_name)) %>

        <div class='hidden-xs col-sm-4 text-right'>

          <% if @company.ctas.primary.present? %>

            <%= link_to(@company.ctas.primary.display_text,
                  @company.ctas.primary.link_url, target: '_blank',
                  id: 'primary-cta-btn', class: "btn cta-link #{@company.subdomain}",
                  style: primary_cta_style(@company)) %>

          <% end %>

        </div>

      <% else %>

        <div class="hidden-xs col-sm-4">
        </div>

      <% end %>

    </div>
  </div>
</nav>