
<ul class="nav navbar-nav navbar-right mainnav-menu">

  <li><a href="/">Home</a></li>

  <li><a href="/product">Product</a></li>

  <li><a href="/plans">Plans</a></li>

  <% if user_signed_in? && current_user.company_id.present? %>

    <li>
      <%= link_to(
            company_url(
              subdomain: current_user.company.subdomain,
              id: current_user.company_id
            ),
            class: 'navbar-brand' ) do %>

        <% if current_user.company.logo_url.present? %>
          <%= image_tag current_user.company.logo_url %>
        <% else %>
          <%= image_tag(LOGO_PLACEHOLDER_URL, alt: "logo") %>
        <% end %>
      <% end %>
    </li>

  <% else %>

    <li role="menu">
      <%= link_to new_user_registration_path do %>
        Sign up
        <!--  <i class="fa fa-pencil-square-o dropdown-icon"></i> -->
      <% end %>
    </li>

    <li role="menu">
      <%= link_to new_user_session_path do %>
        Sign in
        <!--  <i class="fa fa-pencil-square-o dropdown-icon"></i> -->
      <% end %>
    </li>

  <% end %>
</ul>



