
<nav id="nav-secondary" class="navbar navbar-default <%= company.subdomain %> <%= action %>">
  <div class="container navbar-container">
    <div class="row">
      <div class="navbar-header col-xs-12 col-sm-8">

        <h3>Customer Stories</h3>

      </div>

      <div class="social-buttons col-sm-4 hidden-xs text-right">
        <a href="<%= LINKEDIN_SHARE_URL + story.csp_story_url %>" target="_blank"
           class="icon-button linkedin-share">
          <i class="fa fa-linkedin"></i><span></span>
        </a>
        <a href="<%= TWITTER_SHARE_URL + story.csp_story_url %>" target="_blank"
           class="icon-button twitter-share">
          <i class="fa fa-twitter"></i><span></span>
        </a>
        <a href="<%= FACEBOOK_SHARE_URL + story.csp_story_url %>" target="_blank"
           class="icon-button facebook-share">
          <i class="fa fa-facebook"></i><span></span>
        </a>
      </div>

    </div>
    <!-- <div class="collapse navbar-collapse"></div> -->
  </div>
</nav>