
<div id="stories-header-wrapper" style="<%= company.subdomain == 'compas' ? 'background:' + company.header_color_2 : '' %>">
  <nav id="stories-header" class="navbar navbar-default <%= action_name %>" style="background:<%= company.header_color_2 %>">
    <div class="container navbar-container">

      <div class="visible-xs-block" style="height: 100%">
        <!-- don't add .visible-xs-block to .row, as the display: flex setting will be overridden -->
        <div class="row">
          <div class="navbar-header col-xs-12">
            <h4 class="<%= company.color_contrast %>">Customer Stories</h4>
          </div>
        </div>

      </div>

      <div class="row hidden-xs">

        <% if curator?(company) && current_page?(action: 'index') %>

          <div class="col-sm-6 navbar-header">
            <h4 class="<%= company.color_contrast %>">Customer Stories</h4>
            <div id="google_translate_element"></div>
          </div>

          <div class="col-sm-6 home">
            <a href="/curate" class="<%= company.color_contrast %>">
              <i class="glyphicon glyphicon-home"></i>
            </a>
          </div>

        <% elsif curator?(company) && current_page?(action: 'show') %>

          <div class="col-sm-5 navbar-header">
            <h4 class="<%= company.color_contrast %>">Customer Stories</h4>
          </div>

          <div class="col-sm-2 text-center edit-story">

            <% unless is_preview %>

              <%= link_to(
                    curate_story_path(story.customer.slug, story.slug),
                    { class: "#{company.color_contrast }" }
                  ) do %>
                <i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;Edit Story
              <% end %>

            <% end %>

          </div>

          <div class="col-sm-5">
            <%= render('stories/shared/social_buttons', { company: company, story: story }) %>
          </div>

        <% elsif current_page?(action: 'index') %>

          <div class="col-sm-6 navbar-header">
            <h4 class="<%= company.color_contrast %>">Customer Stories</h4>
          </div>

          <div class="col-sm-6">
            <% if company.category_tags.blank? && company.product_tags.blank? %>
              <%= render('stories/shared/filters/search_form', { company: company }) %>
            <% else %>
              <!-- filler -->
            <% end -%>
          </div>

        <% elsif current_page?(action: 'show') %>

          <div class="col-sm-6 navbar-header">
            <h4 class="<%= company.color_contrast %>">Customer Stories</h4>

            <% if ENV['HOST_NAME'] == 'customerstories.org' %>
              <script type="text/javascript">
                function googleTranslateElementInit() {
                  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement. InlineLayout.SIMPLE}, 'google_translate_element');
                }
              </script>
              <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            <% end %>

          </div>

          <div class="col-sm-6">
            <%= render('stories/shared/social_buttons', { company: company, story: story }) %>
          </div>

        <% end %>

      </div>

    </div>
  </nav>
</div>