
<nav class="<%= stories_header_class(company) %> <%= action_name %> navbar navbar-default" 
      style="<%= stories_header_custom_colors(company) %>">
  <div class="container navbar-container">

    <div class="visible-xs-block" style="height: 100%">
      <!-- don't add .visible-xs-block to .row, as the display: flex setting will be overridden -->
      <div class="row">
        <div class="col-xs-12 navbar-header">
          <h3 class="stories-header__title">Customer Stories</h3>
        </div>
      </div>
    </div>

    <div class="row hidden-xs">

      <% if curator?(company) && 
            (current_page?(action: 'index') || current_page?(action: 'search')) %>

        <div class="col-sm-6 navbar-header">
          <h3 class="stories-header__title">Customer Stories</h3>
        </div>

        <div class="col-sm-6">
          <a href="/curate" class="stories-header__home">
            <i class="glyphicon glyphicon-home"></i>
          </a>
        </div>

      <% elsif curator?(company) && current_page?(action: 'show') %>

        <div class="col-sm-5 navbar-header">
          <h3 class="stories-header__title">Customer Stories</h3>
        </div>

        <div class="col-sm-2 text-center" style="height: 100%">
          <% unless is_preview %>

            <%= link_to(
                  curate_story_path(story.customer.slug, story.slug),
                  class: "stories-header__edit"
                ) do %>
              <i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;Edit Story
            <% end %>

          <% end %>
        </div>

        <div class="col-sm-5">
          <%= render(
                'stories/shared/share_buttons', 
                { 
                  story: story, 
                  container_class: 'share-buttons',
                  button_class: 'share-button'
                }
              ) %>
        </div>

      <% elsif current_page?(action: 'index') || current_page?(action: 'search') %>

        <div class="col-sm-6 navbar-header">
          <h3 class="stories-header__title">Customer Stories</h3>
        </div>

        <div class="col-sm-6">
          <% if !include_category_filter?(company) && !include_product_filter?(company) %>
            <%= render('stories/shared/search_form', { company: company }) %>
          <% end %>
        </div>

      <% elsif current_page?(action: 'show') %>

        <div class="col-sm-6 navbar-header">
          <h3 class="stories-header__title">Customer Stories</h3>
        </div>

        <div class="col-sm-6">
          <%= render(
                'stories/shared/share_buttons', 
                { 
                  story: story, 
                  container_class: 'share-buttons',
                  button_class: 'share-button'
                }
              ) %>
        </div>

      <% end %>

    </div>

  </div>
</nav>