
<div id="stories-header-wrapper" style="<%= company.subdomain == 'compas' ? 'background:' + company.header_color_2 : '' %>">
  <nav id="stories-header" class="navbar navbar-default <%= action %>" style="background:<%= company.header_color_2 %>">
    <div class="container navbar-container">

      <div class="row visible-xs-block">
        <div class="navbar-header col-xs-12">
          <h3 class="<%= company.color_contrast %>">Customer Stories</h3>
        </div>
      </div>

      def stories_header_title_width (company)
    if curator?(company) && current_page?(action: 'index')
      'col-sm-6'
    elsif curator?(company) && current_page(action: 'show')
      # leave room for Edit Story button
      'col-sm-5'
    elsif company.category_tags.blank? && company.product_tags.blank?
      'col-sm-6'
    else
      'col-sm-12'
    end
  end

      <div class="row hidden-xs-block">

        <% if curator?(company) && current_page?(action: 'index') %>

          <div class="col-sm-6 navbar-header">
            <h3 class="<%= company.color_contrast %>">Customer Stories</h3>
          </div>

          <div class="col-sm-6 home">
            <a href="/curate" class="<%= company.color_contrast %>">
              <i class="glyphicon glyphicon-home"></i>
            </a>
          </div>

        <% elsif curator?(company) && current_page?(action: 'show') %>

          <div class="col-sm-5 navbar-header">
            <h3 class="<%= company.color_contrast %>">Customer Stories</h3>
          </div>

          <div class="col-sm-2 text-center edit-story">
            <%= link_to(
                  curate_story_path(story.customer.slug, story.slug),
                  { class: "#{company.color_contrast }" }
                ) do %>
              <i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;Edit Story
            <% end %>
          </div>

          <div class="col-sm-5">
            <%= render('stories/shared/social_buttons', { story: story }) %>
          </div>

        <% elsif current_page?(action: 'index') %>

          <div class="col-sm-6 navbar-header">
            <h3 class="<%= company.color_contrast %>">Customer Stories</h3>
          </div>

          <div class="col-sm-6">
            <%= render('stories/shared/search_form', { company: company }) %>
          </div>

        <% elsif current_page?(action: 'show') %>

        <% else %>


          <div class="col-sm-5">
            <!-- filler -->
          </div>

        <% end %>

      </div>

    </div>
  </nav>
</div>