
<%= form_for(user, 
      {
        url: registration_path(user), 
        method: 'PUT', 
        remote: true, 
        authenticity_token: true,
        html: {
          id: 'user-profile-form',
          autocomplete: 'off',
          class: 'user-profile directUpload form-horizontal',
          data: {
            'form-data' => (s3_direct_post.fields),
            'url' => s3_direct_post.url,
            'host' => URI.parse(s3_direct_post.url).host
          }
        }
      }
    ) do |f| %>

  <div class="visible-sm-block visible-md-block">

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= render('profile/user_photo', { user: user, user_form: f }) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label(:first_name, 'First Name', class: 'col-sm-3 control-label') %>
      <div class="col-sm-9 col-md-8">
        <%= f.text_field(:first_name, class: 'form-control') %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label(:last_name, 'Last Name', class: 'col-sm-3 control-label') %>
      <div class="col-sm-9 col-md-8">
        <%= f.text_field(:last_name, class: 'form-control') %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label(:title, 'Job Title', class: 'col-sm-3 control-label') %>
      <div class="col-sm-9 col-md-8">
        <%= f.text_field(:title, class: 'form-control') %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label(:email, 'Email', class: 'col-sm-3 control-label') %>
      <div class="col-sm-9 col-md-8">
        <%= f.email_field(:email, class: 'form-control') %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label(:phone, 'Phone', class: 'col-sm-3 control-label') %>
      <div class="col-sm-9 col-md-8">
        <%= f.telephone_field(:phone, class: 'form-control') %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12 col-md-offset-3 col-md-8 text-right">
        <button type="submit" class="btn btn-success" form="user-profile-form" style="width:114px">
          <span>Save changes</span>
          <i class='fa fa-spin fa-circle-o-notch' style="display: none"></i>
          <i class='fa fa-check' style="display: none"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="visible-lg-block">
    <div class="row">

      <div class="col-lg-3" style="display: flex; justify-content: flex-end; padding: 0">
        <div class="form-group">
          <%= render('profile/user_photo', { user: user, user_form: f }) %>
        </div>
      </div>

      <div class="col-lg-6">

        <div class="form-group">
          <%= f.label(:first_name, 'First Name', class: 'col-lg-4 control-label', style: 'width: 25%') %>
          <div class="col-lg-8" style="width: 75%">
            <%= f.text_field(:first_name, class: 'form-control') %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label(:last_name, 'Last Name', class: 'col-lg-4 control-label', style: 'width: 25%') %>
          <div class="col-lg-8" style="width: 75%">
            <%= f.text_field(:last_name, class: 'form-control') %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label(:title, 'Job Title', class: 'col-lg-4 control-label', style: 'width: 25%') %>
          <div class="col-lg-8" style="width: 75%">
            <%= f.text_field(:title, class: 'form-control') %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label(:email, 'Email', class: 'col-sm-3 control-label', style: 'width: 25%') %>
          <div class="col-lg-8" style="width: 75%">
            <%= f.email_field(:email, class: 'form-control') %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label(:phone, 'Phone', class: 'col-sm-3 control-label', style: 'width: 25%') %>
          <div class="col-lg-8" style="width: 75%">
            <%= f.telephone_field(:phone, class: 'form-control') %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-12 text-right">
            <button type="submit" class="btn btn-success" form="user-profile-form" style="width:114px">
              <span>Save changes</span>
              <i class='fa fa-spin fa-circle-o-notch' style="display:none"></i>
              <i class='fa fa-check' style="display: none"></i>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

<!--
  <%# if user.company.present? %>
    <div class="form-group">
      <label class="col-sm-3 control-label">Company</label>
      <div class="col-sm-9 col-md-6">
        <%#= text_field_tag(
              nil, 
              user.company.name,
              class: 'form-control',
              disabled: true
            ) %>
      </div>
    </div>
  <%# end %>
-->

<% end %>