
<div class="wrapper">

  <% if current_user.company_id.present? %>

    <%= render 'shared/mainnav' %>

  <% else %>

    <%= render 'shared/mainnav_no_company' %>

  <% end %>

  <div class="content" style='margin-top:30px; overflow:hidden'>
    <div class="container">
      <div class="layout layout-main-right layout-stack-sm">
        <div class="col-md-3 col-sm-4 layout-sidebar">

          <%= render 'profile/shared/side_tabs' %>

        </div> <!-- /.col -->

        <div class="col-md-9 col-sm-8 layout-main">
          <div class="tab-content stacked-content">
            <div class="tab-pane fade in active" id="profile-tab">

              <div class="heading-block">
                <% if current_user.linkedin_url.present? %>
                  <h3> Account Profile </h3>
                <% elsif current_user.company_id.blank? %>
                  <span style='font-size:14px'>
                    Want your LinkedIn profile to appear in a Customer Story?&nbsp;&nbsp;
                    <%= link_to "Connect to LinkedIn", linkedin_connect_no_company_path,
                        data: { turbolinks: false } %>
                  </span>
                <% else %>
                  <%= link_to "Connect to LinkedIn", linkedin_connect_path,
                      class: 'linkedin-connect btn btn-default',
                      data: { turbolinks: false },
                      style: 'background-color: #2672ae; color: white' %>
                <% end %>

                <br> <%= switch_user_select class: 'switch-user-select' %>

              </div>

              <%= form_for @user, url: registration_path(@user),
                    method: 'put', remote: 'true',
                    authenticity_token: true,
                   html: { class: 'directUpload',
                            data: { 'form-data' => (@s3_direct_post.fields),
                                          'url' => @s3_direct_post.url,
                                         'host' => URI.parse(@s3_direct_post.url).host
                                  } } do |f| %>

                <div class="col-md-3">
                  <label>Photo</label>  <!-- have to pull this out for proper styling -->
                  <div class="form-group">
                    <div class="fileinput <%= @user.photo_url.blank? ? 'fileinput-new' : 'fileinput-exists' %>" data-provides="fileinput" style='margin:0'>

                      <div class="fileinput-new thumbnail"
                          style="width: 100px; height: 100px;">
                        <%= image_tag "user-photo-missing.png", alt: 'photo missing' %>
                      </div>

                      <div class="fileinput-preview fileinput-exists thumbnail"
                          data-trigger="fileinput"
                          style="width: 100px; height: 100px;">
                        <img id='user-photo' src="<%= @user.photo_url %>" alt="Avatar">
                      </div>

                      <div>
                        <span class="btn btn-default btn-file">
                          <span class="fileinput-new">
                            Select image
                          </span>
                          <span class="fileinput-exists">
                            Change
                          </span>
                          <%= f.file_field :photo_url %>
                          <!-- below doesn't work, must use form builder -->
                          <!-- <input type="file" name="user[photo_url]" class='form-control' id='user_photo_url'> -->
                        </span>
                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">
                          Remove
                        </a>
                      </div>
                    </div>  <!-- /.fileupload -->
                  </div>

                  <div class="form-group">
                    <%= f.label "First Name", class: 'control-label' %>
                    <%= f.text_field :first_name, class: 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= f.label "Last Name", nil, class: 'control-label' %>
                    <%= f.text_field :last_name, class: 'form-control' %>
                  </div>

                </div>  <!-- col -->

                <div class="col-md-4">

                  <div class="form-group">
                    <%= f.label "Company", nil, class: 'control-label' %>
                    <%= f.text_field :company_id, class: 'form-control',
                          value: @company.try(:name), disabled: 'true' %>
                  </div>

                  <div class="form-group">
                    <%= f.label "Title", nil, class: 'control-label' %>
                    <%= f.text_field :title, class: 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= f.label "Email", nil, class: 'control-label' %>
                    <%= f.text_field :email, class: 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= f.label "Phone", nil, class: 'control-label' %>
                    <%= f.text_field :phone, class: 'form-control' %>
                  </div>

                </div>

                <div class="col-md-5">
                  <% if current_user.linkedin_url %>
                    <div class="form-group">
                      <%= f.label "LinkedIn url", class: 'control-label' %>
                      <%= f.text_field :linkedin_url, class: 'form-control' %>
                    </div>

                    <script type="IN/MemberProfile" data-id="<%= @user.linkedin_url %>" data-format="inline" data-width='300px' data-related="false"></script>
                  <% end %>
                </div>

                <div class="col-md-12">
                  <hr style='margin-top:0'>
                </div>

                <div class="col-md-4 col-md-offset-8 text-right">
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                      Save Changes
                    </button>
                    &nbsp;
                    <button type="reset" class="btn btn-default">
                      Cancel
                    </button>
                  </div>
                </div>

              <% end %>
            </div> <!-- /.tab-pane -->

            <div class="tab-pane fade" id="password-tab">
              <div class="heading-block">
                <h3>Change Password</h3>
              </div> <br> <!-- /.heading-block -->

              <%= form_for @user, url: user_registration_path,
                    remote: true, method: 'patch',
                    html: { class: 'form-horizontal',
                               id: 'password-update-form' } do |f| %>

                <div class="form-group">
                  <%= f.label :current_password, 'Old password',
                        class: 'col-sm-3 control-label' %>
                  <div class="col-sm-5">
                    <%= f.password_field :current_password, class: 'form-control',
                                          autocomplete: "off" %>
                    <span class="help-block">
                      Please enter current password to confirm changes
                    </span>
                  </div>
                </div>

                <hr>

                <div class="form-group">
                  <%= f.label :password, 'New password', class: 'col-sm-3 control-label' %>
                  <div class="col-sm-5">
                    <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
                    <!-- <span class="help-block">
                      leave blank if you don't want to change it
                    </span> -->
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :password_confirmation, 'Confirm new password',
                        class: 'col-sm-3 control-label' %>
                  <div class="col-sm-5">
                    <%= f.password_field :password_confirmation,
                          class: 'form-control', autocomplete: "off" %>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-5 col-sm-offset-3">
                    <button type="submit" class="btn btn-primary">
                      Save Changes
                    </button>
                    &nbsp;
                    <button type="reset" class="btn btn-default">
                      Cancel
                    </button>
                  </div>
                </div>

              <% end %>

            </div> <!-- /.tab-pane -->

            <div class="tab-pane fade" id="my-contributions-tab">

              <div class="heading-block">
                <h3>My Contributions</h3>
              </div> <!-- /.heading-block -->

            <!--   <div class='row'>
                <div class='portlet portlet-default '>
                  <div class='portlet-body'> -->

                    <div class='table-responsive'>

                      <table class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>Company</th>
                            <th>Curator</th>
                            <th>Product</th>
                            <th>View / Edit</th>
                            <th>LinkedIn Profile</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
    <!-- <tbody> -->
      <% @user.own_contributions.each do |contribution| %>

        <tr>
          <td class='valign-middle'>
            <%= contribution.success.customer.company.name %>
          </td>
          <td class='valign-middle'>
            <%= contribution.success.curator.full_name %>
          </td>
          <td class='valign-middle'>
            <%= contribution.success.products.take.try(:name) || "none" %>
          </td>
          <td class='valign-middle text-center'>

            <% unless contribution.success.story.try(:published?) %>
              <a href="javascript:;">
                <i class='glyphicon glyphicon-pencil'></i>
              </a>
            <% end %>

          </td>
          <td class='valign-middle text-center'>

          <!-- check_box method requires instance variable, not local variable -->
          <%= check_box get_contribution(contribution.id),
            :linkedin?, { checked: contribution.linkedin?,
                            class: 'linkedin-checkbox',
                             data: {
                                token: contribution.access_token,
                            subdomain: contribution.success.customer.company.subdomain
                             } }, "true", "false" %>

          </td>
          <td class='valign-middle'>

            <% if contribution.success.story.try(:published?) %>
              <%= link_to 'Published',
                    File.join( request.protocol +
                      contribution.success.customer.company.subdomain +
                      '.' + request.domain + request.port_string,
                      contribution.success.story.csp_story_path ) %>
            <% else %>
              <span>Pending Curation</span>
            <% end %>

          </td>
        </tr>

      <% end %>
    <!-- </tbody> -->
                        </tbody>
                      </table>
                    </div>  <!-- table-responsive -->

                 <!--  </div>  --> <!-- portlet-body -->
                <!-- </div> -->  <!-- portlet -->
              <!-- </div> -->  <!-- row -->

            </div> <!-- /.tab-pane -->

          </div> <!-- /.tab-content -->
        </div> <!-- /.col -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div> <!-- .content -->

</div>  <!-- wrapper -->


