
<% content_for :underscore_templates do %>

  <script id="ads-images-form-template" type="text/template">

    <form id="ads-images-form"
          action="/stories/{{= storyId }}/update_gads" accept-charset="UTF-8"
          method="put" data-remote="true" data-type="script" data-story-id="{{= storyId }}">

      <input type="hidden" name="story[topic_ad_attributes][id]" value="{{= topicAdId }}">
      <input type="hidden" name="story[retarget_ad_attributes][id]" value="{{= retargetAdId }}">

      {{ selectedImageIds.forEach(function (imageId) { }}

        <input type="hidden" name="story[topic_ad_attributes][adwords_image_ids][]" value="{{= imageId }}">
        <input type="hidden" name="story[retarget_ad_attributes][adwords_image_ids][]" value="{{= imageId }}">

      {{ }); }}

      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-success text-center" style="width: 125px" disabled>
        <span>Save selections</span>
        <i class="fa fa-spin fa-circle-o-notch" style='display:none'></i>
      </button>

    </form>

  </script>

<% end %>

<div id="ads-images-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Promoted Story Images</h4>
        <h5 class="story-title"></h5>
      </div>

      <div class="modal-body" style="display: flex; justify-content: space-around; margin-top: 15px">

        <div style="width: 56%">
          <h4 style="color: #888; text-align: center">Marketing Images</h4>
          <div>
            <ul class="marketing text-center list-inline">

              <% company.adwords_images.marketing.each do |ad_image| %>

                <li class="<%= ad_image_card_class_name(ad_image) %>" data-image-id="<%= ad_image.id %>"
                    data-toggle="popover">
                  <img src="<%= ad_image.image_url %>" alt="marketing image">
                  <div class="check">
                    <div>
                      <div></div>
                      <span class="fa-stack fa-lg">
                      <i class="fa fa-circle-o fa-stack-2x"></i>
                      <i class="fa fa-check fa-stack-1x"></i>
                    </div>
                  </div>
                </li>

              <% end %>

            </ul>
          </div>
        </div>
        <div style="width: 44%">
          <h4 style="color: #888; text-align: center">Logos</h4>
          <div>

            <ul class="logos text-center list-inline">

              <% company.adwords_images.logos.each do |ad_image| %>

                <li class="<%= ad_image_card_class_name(ad_image) %>" data-image-id="<%= ad_image.id %>">
                  <img src="<%= ad_image.image_url %>" alt="logo">
                  <div class="check">
                    <div>
                      <div></div>
                      <span class="fa-stack fa-lg">
                      <i class="fa fa-circle-o fa-stack-2x"></i>
                      <i class="fa fa-check fa-stack-1x"></i>
                    </div>
                  </div>
                </li>

              <% end %>

            </ul>

          </div>
        </div>

      </div>

      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>
