
<%= form_for(
      company,
      url: update_gads_company_path(company),
      method: 'put',
      remote: 'true',
      authenticity_token: true,
      html: {
        id: 'image-assets-form',
        class: "directUpload",
        data: {
          url: @s3_direct_post.url,
          host: URI.parse(@s3_direct_post.url).host,
          'form-data' => (@s3_direct_post.fields)
        }
      }
    ) do |f| %>

  <div class="form-group short-headline">

    <%= f.label(:adwords_short_headline, "Headline", class: 'control-label') %>
    <%= f.text_field(
          :adwords_short_headline,
          required: true,
          class: 'form-control',
          style: 'width:300px',
          maxlength: RESPONSIVE_AD_SHORT_HEADLINE_MAX.to_s,
          data: { 'required-error': 'Required field' }
        ) %>
    <!-- <span class="glyphicon form-control-feedback" aria-hidden="true"></span> -->
    <button type="submit" class="btn btn-success" style="display: none; width: 59px; margin-left: 10px">
      <span>Save</span>
      <i class="fa fa-spin fa-circle-o-notch" style="display:none"></i>
      <i class="fa fa-check" style="display:none"></i>
    </button>

    <span class="help-block with-errors" style="position: absolute; left: 72px; bottom: -25px">Max 30 characters</span>

  </div>

  <div class="image-library__header">
    <label>Image Library</label>
    <div class="btn-group">
      <a href="#image-library__marketing" class="btn btn-secondary active" data-toggle="tab">
        <i class="fa fa-fw fa-image"></i>
        Marketing
      </a>
      <a href="#image-library__logos" class="btn btn-secondary" data-toggle="tab" style="width: 122px">
        <i class="fa fa-fw fa-flag"></i>
        Logos
      </a>
    </div>

  </div>

  <div class="image-library tab-content">

    <div id="image-library__marketing" class="tab-pane fade in active">

      <div class="image-library__sub-header">
        <label>Marketing Images</label>
        <button type="button" class="btn-add" <%= missing_default_google_images?(company, 'marketing') ? 'disabled' : '' %>>
          <span class="fa-stack fa-lg">
          <i class="fa fa-circle-o fa-stack-2x"></i>
          <i class="fa fa-plus fa-stack-1x"></i>
        </button>
        <button type="button" class="image-requirements marketing" role="button"
                data-toggle="popover" data-placement="right" data-trigger="focus"
                data-square-min="300x300" data-square-ratio="1:1"
                data-landscape-min="600x314" data-landscape-ratio="1.91:1">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-question fa-stack-1x"></i>
          </span>
        </button>
      </div>
      <ul style="padding: 0">

        <%= render(
              'companies/3_promote/ad_image_card',
              {
                image_index: '0',
                ad_image: company.adwords_images.square_images.default.take ||
                  {
                    id: '',
                    type: 'SquareImage',
                    placeholder_image_url: RESPONSIVE_AD_SQUARE_IMAGE_PLACEHOLDER,
                    default: true
                  },
                is_required: true
              }
            ) %>

        <%= render(
              'companies/3_promote/ad_image_card',
              {
                image_index: '1',
                ad_image: company.adwords_images.landscape_images.default.take ||
                  {
                    id: '',
                    type: 'LandscapeImage',
                    placeholder_image_url: RESPONSIVE_AD_LANDSCAPE_IMAGE_PLACEHOLDER,
                    default: true
                  },
                is_required: true
              }
            ) %>

        <br>

        <% company.adwords_images.marketing.select { |image| !image.default? }
                  .each_with_index do |image, index| %>

            <%= render(
                  'companies/3_promote/ad_image_card',
                  {
                    image_index: (index + 2).to_s,
                    ad_image: image,
                    is_required: false
                  }
                ) %>

        <% end %>

      </ul>

    </div>


    <div id="image-library__logos" class="tab-pane fade">

      <div class="image-library__sub-header">
        <label>Logos</label>
        <button type="button" class="btn-add">
          <span class="fa-stack fa-lg">
          <i class="fa fa-circle-o fa-stack-2x"></i>
          <i class="fa fa-plus fa-stack-1x"></i>
        </button>
        <button type="button" class="image-requirements logos" role="button"
                data-toggle="popover" data-placement="right" data-trigger="focus"
                data-square-min="128x128" data-square-ratio="1:1" data-square-suggest="1200x1200"
                data-landscape-min="512x128" data-landscape-ratio="4:1" data-landscape-suggest="1200x300">
          <span class="fa-stack fa-lg">
          <i class="fa fa-circle-o fa-stack-2x"></i>
          <i class="fa fa-question fa-stack-1x"></i>
        </span>
        </button>
      </div>

      <ul style="padding: 0">

        <%= render(
              'companies/3_promote/ad_image_card',
              {
                image_index: gads_logos_index_offset(company, 0),
                ad_image: company.adwords_images.square_logos.default.take ||
                  {
                    id: '',
                    type: 'SquareLogo',
                    placeholder_image_url: RESPONSIVE_AD_SQUARE_LOGO_PLACEHOLDER,
                    default: true
                  },
                is_required: false
              }
            ) %>

        <%= render(
              'companies/3_promote/ad_image_card',
              {
                image_index: gads_logos_index_offset(company, 1),
                ad_image: company.adwords_images.landscape_logos.default.take ||
                  {
                    id: '',
                    type: 'LandscapeLogo',
                    placeholder_image_url: RESPONSIVE_AD_LANDSCAPE_LOGO_PLACEHOLDER,
                    default: true
                  },
                is_required: false
              }
            ) %>

        <br>

        <% company.adwords_images.logos.select { |logo| !logo.default? }
                  .each_with_index do |ad_image, index| %>

            <%= render(
                  'companies/3_promote/ad_image_card',
                  {
                    image_index: gads_logos_index_offset(company, index + 2),
                    ad_image: ad_image,
                    is_required: false
                  }
                ) %>

        <% end %>

      </ul>

    </div>

  </div>

<% end %>





