
<div id="promote"
     class="<%= workflow_stage == 'promote' ? 'active tab-pane fade in' : 'tab-pane fade' %>"
     role='tabpanel'>
  <div class="container clip">

    <div class="layout layout-main-right layout-stack-sm">
      <div class="col-md-3 col-sm-4 layout-sidebar">

        <div class="nav-layout-sidebar-skip">
          <strong>Tab Navigation</strong> / <a href="#settings-content">Skip to Content</a>
        </div>

        <ul class="nav nav-layout-sidebar nav-stacked">
          <li class="<%= tab == '#promoted-stories' ? 'active' : '' %>">
            <a href="#promoted-stories" data-toggle="tab">
              <i class="fa fa-bullhorn"></i>
              &nbsp;&nbsp;Promoted Stories
            </a>
          </li>
          <li class="<%= tab == '#content-settings' ? 'active' : '' %>">
            <a href="#content-settings" data-toggle="tab">
              <i class="fa fa-gear"></i>
              &nbsp;&nbsp;Content Settings
            </a>
          </li>
          <li class="<%= tab == '#image-assets' ? 'active' : '' %>">
            <a href="#image-assets" data-toggle="tab">
              <i class="fa fa-image"></i>
              <i class="fa fa-image"></i>
              &nbsp;&nbsp;Image Assets
            </a>
          </li>
        </ul>

        <% if admin_signed_in? %>

          <div id="gads-set-reset" class="text-center">
            <button type="button" class="btn btn-success" data-action="/companies/<%= company.id %>/set_reset_gads">
              <span>Set/Reset</span>
              <i class="fa fa-spin fa-circle-o-notch" style="display:none"></i>
            </button>
          </div>

          <label>Checklist</label>
          <ul id="gads-checklist">
            <li>company.promote_tr = true</li>
            <li>default headline</li>

            <li>default images w/ valid asset_id</li>
          </ul>

          <div id="gads-results__wrapper">
            <label>Results</label>
            <ul id="gads-results">
            </ul>
          </div>

        <% end %>

      </div>

      <div class="col-md-9 col-sm-8 layout-main">

        <div class="tab-content stacked-content" style="padding-top: 8px">

          <div id="promoted-stories" class="tab-pane fade <%= tab == '#promoted-stories' ? 'active in' : '' %>">
            <%= render 'companies/3_promote/promoted_stories_table', { company: company } %>
          </div>

          <div id="content-settings" class="tab-pane fade <%= tab == '#content-settings' ? 'active in' : '' %>">
            <%= render 'companies/3_promote/content_settings', { company: company } %>
          </div>

          <div id="image-assets" class="tab-pane fade <%= tab == '#image-assets' ? 'active in' : '' %>">
            <%= render 'companies/3_promote/image_assets', { company: company } %>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>  <!-- promote -->


