
<div id="promote" role='tabpanel'
     class="tab-pane fade <%= workflow_stage == 'promote' ? 'active in' : '' %>">

  <div class="working working--promote"><div><div><i class="fa fa-spin fa-circle-o-notch"></i></div></div></div>

  <div class="container">
    <div class="row">

      <div class="col-sm-5 col-md-4 col-lg-3 layout-sidebar">

        <ul class="nav">
          <li class="<%= tab == '#promoted-stories' ? 'active' : '' %>">
            <a href="#promoted-stories" data-toggle="tab">
              <i class="fa fa-bullhorn"></i>
              &nbsp;&nbsp;Promoted Stories
            </a>
          </li>
          <li class="<%= tab == '#promote-settings' ? 'active' : '' %>">
            <a href="#promote-settings" data-toggle="tab">
              <i class="fa fa-gear"></i>
              &nbsp;&nbsp;Settings
            </a>
          </li>
        </ul>

        <% if admin_signed_in? %>

          <div id="gads-set-reset" class="text-center">
            <button type="button" class="btn btn-primary" data-action="/companies/<%= company.id %>/set_reset_gads">
              <span>Set/Reset</span>
              <i class="fa fa-spin fa-circle-o-notch" style="display:none"></i>
            </button>
          </div>

          <label>Checklist</label>
          <ul id="gads-checklist">
            <li>company.promote_tr = true</li>
            <li>default headline</li>

            <li>default images w/ valid asset_id</li>
          </ul>

          <div id="gads-results__wrapper">
            <label>Results</label>
            <ul id="gads-results">
            </ul>
          </div>

        <% end %>

      </div>

      <div class="col-sm-7 col-md-8 col-lg-9 layout-main">
        <div class="tab-content">

          <div id="promoted-stories" class="tab-pane fade <%= tab == '#promoted-stories' ? 'active in' : '' %>">
            <%= render 'companies/3_promote/promoted_stories_table', { company: company } %>
          </div>

          <div id="promote-settings" class="tab-pane fade <%= tab == '#promote-settings' ? 'active in' : '' %>">
            <%= render 'companies/3_promote/gads_form', { company: company } %>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>  <!-- promote -->


