
<div id='new-success-modal' class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Customer Win</h4>
      </div>

      <div class="modal-body">

        <%= form_for Success.new, url: company_successes_path(company.id),
              html: { remote: true, id: 'new-success-form',
                      class: 'form-horizontal' } do |f| %>

          <div class="form-group required-input">
            <label for="success_customer" class='col-sm-3 control-label'>
              Customer
            </label>
            <div class="col-sm-9">
              <%= f.select :customer_id,
                    options_for_select(company.customers.select_options), {},
                    { class: 'new-success-customer form-control', style: 'width:100%',
                      autofocus: true, } %>
            </div>
          </div>

          <div class="form-group required-input">
            <label for="success_name" class='col-sm-3 control-label'>
              Opportunity
            </label>
            <div class="col-sm-9">
              <%= f.text_field :name, class: 'form-control',
                  placeholder: 'Name of Opportunity from CRM' %>
            </div>
          </div>

          <div class="form-group required-input">
            <label for="success_name" class='col-sm-3 control-label'>
              Referred by
            </label>
            <div class="col-sm-9">
              <%= select_tag 'success[referrer_id]',
                    options_for_select(company.curators.map() { |curator| [ curator.full_name, curator.id ] }.unshift([''])),
                    { class: 'new-success-referrer form-control', style: 'width:100%',
                      autofocus: true } %>
            </div>
          </div>

          <div class="form-group">
            <label for="success_description" class='col-sm-3 control-label'>
              Description
            </label>
            <div class="col-sm-9">
              <%= f.text_area :description, rows: 6, class: 'form-control',
                    placeholder: 'Opportunity description'  %>
            </div>
          </div>

        <% end %>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Create Customer Win</button>
      </div>

    </div>  <!-- /.modal-content -->
  </div>  <!-- /.modal-dialog -->
</div>  <!-- /.modal -->