
<div id='new-success-modal' class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Customer Win</h4>
      </div>

      <div class="modal-body">

        <%= form_for(
              Success.new,
              url: company_successes_path(company),
              html: { id: 'new-success-form', remote: true, class: 'form-horizontal' },
            ) do |success_form| %>

          <%= success_form.hidden_field(:customer_id) %>
          <%= success_form.fields_for(
                :customer,
                success_form.object.build_customer
              ) do |customer_form| %>
            <%= customer_form.hidden_field(:id) %>
            <%= customer_form.hidden_field(:name) %>
            <%= customer_form.hidden_field(:company_id, value: company.id) %>
          <% end %>
          <%= success_form.fields_for(
                :contributions,
                success_form.object.contributions.build
              ) do |contribution_form| %>
            <%= contribution_form.hidden_field(
                  :crowdsourcing_template_id,
                  value: company.crowdsourcing_templates.select do |template|
                      template.name == 'Customer Success'
                    end[0].id
                ) %>

          <div class="form-group customer required-input">

            <label class='col-sm-3 control-label'>Customer</label>
            <div class="col-sm-9">
              <%= collection_select(nil, nil,
                    company.customers.sort_by do |customer|
                      customer.name
                    end,
                    :id, :name, { include_blank: true },
                    { name: '', class: 'new-success customer form-control', style: 'width:100%', required: true }
                  ) %>
              <span class="help-block">Required</span>
            </div>

          </div>

          <div class="form-group name required-input">

            <label for="success_name" class='col-sm-3 control-label'>Name</label>
            <div class="col-sm-9">
              <%= success_form.text_field(:name,
                    class: 'form-control', required: true,
                    placeholder: 'Name of Project / Deal / Opportunity from CRM'
                  ) %>
              <span class="help-block">Required</span>
            </div>

          </div>


          <div class="form-group curator required-input">

            <%= label_tag(:curator_id, 'Curator', class: 'col-sm-3 control-label') %>
            <div class="col-sm-9">
              <%= success_form.collection_select(
                    :curator_id,
                    company.curators.sort_by { |c| c.last_name },
                    :id, :full_name,
                    { include_blank: true },
                    { class: 'new-success curator form-control', style: 'width:100%', required: true }
                  ) %>
              <span class="help-block">Required</span>
            </div>

          </div>

          <div class="form-group referrer">

            <%= label_tag(:referrer_id, 'Referred by', class: 'col-sm-3 control-label') %>
            <div class="col-sm-9">
              <%= contribution_form.collection_select(:referrer_id,
                    company.referrers.sort_by do |referrer|
                      referrer.last_name
                    end.unshift(
                      User.new(id: 0, first_name: '- Create New Contact -', last_name:'')
                    ),
                    :id, :full_name,
                    { include_blank: true },
                    # effectively disabled by default by giving it a blank name
                    { name: '', class: 'new-success referrer form-control',
                      style: 'width:100%' }
                  ) %>
            </div>

          </div>

          <%= render(
                'companies/shared/create_referrer',
                { form: 'new-success', contribution_form: contribution_form }
              ) %>

          <div class="form-group description">
            <label for="success_description" class='col-sm-3 control-label'>
              Description
            </label>
            <div class="col-sm-9">
              <%= success_form.text_area :description, rows: 4, class: 'form-control',
                    placeholder: 'Description of Project / Deal / Opportunity from CRM' %>
            </div>
          </div>

          <% end %>  <!-- contribution_form -->
        <% end %>

      </div>

      <div class="modal-footer">

        <!-- <button type="reset" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
        <button type="submit" class="btn btn-success text-center" style="width:166px" form="new-success-form">
          <span>Create Customer Win</span>
          <i class="fa fa-spin fa-circle-o-notch" style="display:none"></i>
          <i class="fa fa-check" style="display:none"></i>
        </button>

      </div>

    </div>  <!-- /.modal-content -->
  </div>  <!-- /.modal-dialog -->
</div>  <!-- /.modal -->