<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<html prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
  <title><%= title_helper(controller_name, action_name, @company, @story) %></title>
  <%= yield(:head) if content_for?(:head) %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= mvp_stylesheet %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px:400&amp;lang=en" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&amp;lang=en" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">

  <% if @company.try(:subdomain) == 'pixlee' %>
    <meta name="robots" content="noindex">
  <% end %>

  <%= custom_google_fonts(@company) %>

  <%= favicon_link_tag 'favicon.ico' %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.1.0/chance.min.js"></script>

</head>
<!-- TODO: fixed navbar - leave padding as below (false is temp. blocker) -->
<body class="<%= controller_name %> <%= action_name %> <%= @company ? @company.subdomain : '' %>"
      style="<%= @is_social_share_redirect ? 'visibility:hidden;' : '' %> <%= admin_navbar?(controller_name) && false ? 'padding-top:65px;' : '' %>">

  <% if @is_social_share_redirect %>

    <%= yield %>

  <% else %>

    <%= include_gon if include_gon?(controller_name, action_name) %>

    <% if admin_navbar?(controller_name) %>

      <%= render('shared/navbars/company_header', { company: @company }) %>

    <% elsif @zap_auth_initial_req %>

      <!-- nothing -->

    <% elsif controller_name == 'contributions' || @zap_auth_retry %>

      <!-- nothing (just flash) -->
      <%= render('shared/flash') if flash.any? %>

    <% else %>

      <!-- more logic within the navbar to handle signed in users... -->
      <%= render('shared/navbars/mvp_landing_navbar') %>

    <% end %>

    <%= yield %>

    <%= yield(:underscore_templates) %>

    <% if !(@zap_auth_initial_req || @zap_auth_retry) &&
          (devise_controller? || controller_name == 'site') %>

      <%= render('shared/landing_footer') %>

    <% end %>

    <% if production? && !user_signed_in? && ['site', 'stories'].include?(controller_name) %>

      <%= render('analytics/analytics', { company: @company }) %>

    <% end %>

  <% end %>

</body>
</html>
