<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<html>
<head>
  <title>Customer Stories</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- NOTE: the controller_name helper method will NOT work
       as argument to link / include methods below -->
  <!-- controller-specific stylesheets -->
  <%= stylesheet_link_tag params[:controller], 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- controller-specific js -->
  <%= javascript_include_tag params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Google Font: Open Sans, Oswald -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,300,700">
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

  <% if ['companies', 'stories', 'profile'].include? controller_name %>

    <%= render 'shared/mvp_admin_navbar' %>

  <% elsif controller_name == 'contributions' %>
    <!-- render nothing (just flash) -->
    <%= render 'shared/flash' if flash.any? %>

  <% else %>
    <!-- more logic within the navbar to handle signed in users... -->
    <%= render 'shared/mvp_landing_navbar' %>

  <% end %>

  <%= render 'layouts/footer_analytics' %>

  <%= yield %>

</body>
</html>
